{% extends 'baseAuthenticated.html.twig' %}

{% form_theme form _self %}

{% block title %}Edit Profile{% endblock %}

{% block body %}

    <h1>Edit Profile</h1>

    {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {% if user.photo %}
    <img src="{{ asset(uploaded_asset(user.photoPath))|imagine_filter('squared_thumbnail_small') }}" />
    {% endif %}
    {{ form_row(form.file) }}
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}

    {{ form_row(form.password) }}
    {{ form_row(form.rolesWillingToFulfill) }}
    {{ form_row(form.interests) }}
    {{ form_row(form.briefBio) }}
    {{ form_row(form.linkedinProfile) }}
    {{ form_row(form.phone) }}
    <button class="btn">Update</button>
    {{ form_end(form) }}

    <h2>Delete Profile</h2>
    {{ form_start(deleteForm, {attr: {'novalidate' : 'novalidate'}}) }}
    {{ form_row(deleteForm.delete) }}
    {{ form_end(deleteForm) }}

    {% if user.deactivated %}
        <h2>Reactivate Profile</h2>
        {{ form_start(reactivateForm, {attr: {'novalidate' : 'novalidate'}}) }}
        {{ form_row(reactivateForm.reactivate) }}
        {{ form_end(reactivateForm) }}
    {% else %}
        <h2>Deactivate Profile</h2>
        {{ form_start(deactivateForm, {attr: {'novalidate' : 'novalidate'}}) }}
        {{ form_row(deactivateForm.deactivate) }}
        {{ form_end(deactivateForm) }}
    {% endif %}

{% endblock %}
