{% extends 'baseAuthenticated.html.twig' %}

{% form_theme form _self %}

{% block title %}Edit Profile{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/profile.js') }}"></script>
{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" integrity="sha256-e47xOkXs1JXFbjjpoRr1/LhVcqSzRmGmPqsrUQeVs+g=" crossorigin="anonymous" />
 {% endblock %}


{% block body %}

    {% if user.isAdmin %}
        {% include 'profile/partials/_edit_admin_profile_form.html.twig' %}
    {% elseif user.isProfessional %}
        {% include 'profile/partials/_edit_professional_profile_form.html.twig' %}
    {% elseif user.isEducator %}

    {% elseif user.isStudent %}

    {% elseif user.isStateCoordinator %}

    {% elseif user.isRegionalCoordinator %}

    {% elseif user.isSchoolAdministrator %}
        {% include 'profile/partials/_edit_school_administrator_profile_form.html.twig' %}
    {% endif %}


    <h1>Photos</h1>
    <form action="{{ path('profile_photo_add', {
        id: user.id
    }) }}" method="POST" enctype="multipart/form-data" class="dropzone" id="photo-dropzone">
    </form>


   {# <form method="post" action="{{ path('company_resource_remove', {'company_id' : 2, 'resource_id' : 71}) }}">
        <input type="submit" value="submit">
    </form>#}

  {#  <form method="post" action="{{ path('company_resource_add', {'id' : 2}) }}" enctype="multipart/form-data">
        <input type="file" name="resource">
        <input type="text" name="title">
        <input type="text" name="description">
        <input type="submit" value="submit">
    </form>
#}

   {# <form method="post" action="{{ path('company_video_add', {'id' : 2}) }}">
        <input type="text" name="name">
        <input type="text" name="videoId">
        <input type="submit" value="submit">
    </form>#}


    {# <form method="post" action="{{ path('company_video_remove', {'company_id' : 2, 'video_id' : 1}) }}">
        <input type="submit" value="submit">
    </form>#}

   {# <form method="post" action="{{ path('company_photo_remove', {'company_id' : 2, 'photo_id' : 26}) }}">
        <input type="submit" value="submit">
    </form>#}

{#
    <form method="post" action="{{ path('lesson_resource_add', {'id' : 2}) }}" enctype="multipart/form-data">
        <input type="file" name="resource">
        <input type="text" name="title">
        <input type="text" name="description">
        <input type="submit" value="submit">
    </form>
#}

     <form method="post" action="{{ path('lesson_resource_remove', {'lesson_id' : 2, 'resource_id' : 73}) }}">
        <input type="submit" value="submit">
    </form>

{% endblock %}
