{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <a href="{{ path('profile_edit', {'id': user.id}) }}">Edit Profile</a>

    <br>
    {{ user.firstName }}
    <br>
    {{ user.lastName }}
    <br>
    {{ user.email }}
    <br>
    {{ user.username }}

    <form method="post" action="{{ path('company_join_request', {'id': '1'}) }}">
        <input type="submit" value="request to join">
    </form>

    <form method="post" action="{{ path('from_company_join_request', {'userID': '1', 'companyID': '3'}) }}">
        <input type="submit" value="request to join">
    </form>

{% endblock %}
