{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <a href="{{ path('profile_edit', {'id': user.id}) }}">Edit Profile</a>

    <br>
    {{ user.firstName }}
    <br>
    {{ user.lastName }}
    <br>
    {{ user.email }}
    <br>
    {{ user.username }}

    <form method="post" action="{{ path('request_join_company', {'id': '1'}) }}">
        <input type="submit" value="request to join">
    </form>
{% endblock %}
