{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Test API Routes{% endblock %}

{% block body %}



    {# <form method="post" action="{{ path('company_resource_remove', {'company_id' : 2, 'resource_id' : 71}) }}">
     <input type="submit" value="submit">
 </form>#}

    {#  <form method="post" action="{{ path('company_resource_add', {'id' : 2}) }}" enctype="multipart/form-data">
          <input type="file" name="resource">
          <input type="text" name="title">
          <input type="text" name="description">
          <input type="submit" value="submit">
      </form>
  #}

    {# <form method="post" action="{{ path('company_video_add', {'id' : 2}) }}">
         <input type="text" name="name">
         <input type="text" name="videoId">
         <input type="submit" value="submit">
     </form>#}


    {# <form method="post" action="{{ path('company_video_remove', {'id' : 1}) }}">
        <input type="submit" value="submit">
    </form>
#}
    {# <form method="post" action="{{ path('company_photo_remove', {'company_id' : 2, 'photo_id' : 26}) }}">
         <input type="submit" value="submit">
     </form>#}

    {#
        <form method="post" action="{{ path('lesson_resource_add', {'id' : 2}) }}" enctype="multipart/form-data">
            <input type="file" name="resource">
            <input type="text" name="title">
            <input type="text" name="description">
            <input type="submit" value="submit">
        </form>
    #}

    {# <form method="post" action="{{ path('lesson_resource_remove', {'lesson_id' : 2, 'resource_id' : 73}) }}">
        <input type="submit" value="submit">
    </form>#}

    {# <form method="post" action="{{ path('company_resource_remove', {'id' : 73}) }}">
         <input type="submit" value="submit">
     </form>
 #}

    {#<form method="post" action="{{ path('company_experience_file_edit', {'id' : 75}) }}" enctype="multipart/form-data">
        <input type="file" name="resource">
        <input type="text" name="title">
        <input type="text" name="description">
        <input type="submit" value="submit">
    </form>#}

    {#
        <form method="post" action="{{ path('company_resource_remove', {'id' : 71}) }}" enctype="multipart/form-data">
            <input type="file" name="resource">
            <input type="text" name="title">
            <input type="text" name="description">
            <input type="submit" value="submit">
        </form>#}

   {#  <form method="post" action="{{ path('company_experience_file_add', {'id' : 2}) }}" enctype="multipart/form-data">
         <input type="file" name="resource">
         <input type="text" name="title">
         <input type="text" name="description">
         <input type="submit" value="submit">
     </form>#}

    {#  <form method="post" action="{{ path('company_experience_file_remove', {'id' : 73}) }}" enctype="multipart/form-data">
          <input type="file" name="resource">
          <input type="text" name="title">
          <input type="text" name="description">
          <input type="submit" value="submit">
      </form>#}

   {# <form method="post" action="{{ path('school_photo_remove', {'id' : 71}) }}" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="submit">
    </form>#}

     <form method="post" action="{{ path('lesson_request_to_teach', {'lesson_id' : 1, 'professional_id' : 57}) }}" enctype="multipart/form-data">
         <input type="submit" value="submit">
     </form>

{% endblock %}
