<div class="uk-container">
    <div class="uk-grid" uk-grid>
        <div class="uk-width-2-3@m uk-width-1-1">
            <!-- PROFILE -->
            <div class="profile-card-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(user, 'photo') is defined and user.photo ) ? asset(uploaded_asset(user.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.getFullName }}</h3>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    Administrator
                                </p>
                            </div>
                            <div class="uk-width-auto">
                                <div class="uk-align-right">
                                    <a href="{{ path('profile_edit', {'id': user.id}) }}">
                                        <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br /><br />

            <!-- Manage Users -->
            <div class="quick-links-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Manage Users</h3>
                            </div>
                            <div class="uk-width-auto">
                                <div class="uk-align-right">
                                    <a href="{{ path('sites_admin_new') }}" class="uk-button uk-button-primary uk-button-small">Create a Site Admin</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-divider">
                            <li>
                                <a href="{{ path('manage_professionals') }}">Professionals</a>
                            </li>
                            <li>
                                <a href="{{ path('manage_site_admins') }}">Site Admins</a>
                            </li>
                            <li>
                                <a href="{{ path('manage_state_coordinators') }}">State Coordinators</a>
                            </li>
                            <li>
                                <a href="{{ path('manage_regional_coordinators') }}">Regional Coordinator</a>
                            </li>
                            <li>
                                <a href="{{ path('manage_school_administrators') }}">School Administrators</a>
                            </li>
                            <li>
                                <a href="{{ path('manage_students') }}">Students</a>
                            </li>
                            <li>
                                <a href="{{ path('manage_educators') }}">Educators</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="uk-width-1-3@m uk-width-1-1">
            <!-- Current Sites -->
            <div class="quick-links-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Domains</h3>
                            </div>
                            <div class="uk-width-auto">
                                <span class="uk-icon-link" uk-icon="info" uk-tooltip="Contact Chris Pears to add additional domains"></span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-divider">
                            {% for site in dashboards.sites %}
                                <li><a href="{{ site.fullyQualifiedBaseUrl }}" target="_blank">{{ site.baseUrl }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
