<div class="uk-container">
    <div class="uk-grid" uk-grid>
        <div class="uk-width-2-3@m uk-width-1-1">
            <!-- PROFILE -->
            <div class="profile-card-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(user, 'photo') is defined and user.photo ) ? asset(uploaded_asset(user.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                            </div>
                            <div class="uk-width-expand">
                                <a href="{{ path('profile_index', {'id': user.id}) }}">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.getFullName }}</h3>
                                </a>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    {# TODO: Add link to school view #}
                                    <a href="#">{{ user.school.name }}</a> - Educator
                                </p>
                            </div>
                            <div class="uk-width-auto">
                                <div class="uk-align-right">
                                    <a href="{{ path('profile_edit', {'id': user.id}) }}">
                                        <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        {% if user.briefBio %}
                            {{ user.briefBio }}
                        {% else %}
                            <p>Welcome to {{ get_site().name }}! <a href="{{ path('profile_edit', {'id': user.id}) }}">Add a brief bio</a> so others know more about you.</p>
                        {% endif %}
                            <div class="professional-links">
                                {% if user.email %}
                                    <a href="mailto:{{ user.email }}" class="uk-icon-button uk-margin-small-right" uk-icon="mail"></a>
                                {% endif %}
                            </div>
                    </div>
                </div>
            </div>

            <div class="uk-margin">
                <ul class="uk-tab" uk-switcher="connect: #tab-user-preferences" uk-tab>
                    <li class="uk-active"><a href="#user-preferences">My Calendar</a></li>
                    <li><a href="#user-favorites">Favorites</a></li>
                    <li><a href="#user-events">Experiences</a></li>
                    <li><a href="#user-students">My Students</a></li>
                </ul>
                <div class="uk-switcher" id="tab-user-preferences">
                    <div class="user_preferences_calendar">
                        <div class="react-events-embed" data-user-id="{{ user.id }}"></div>
                    </div>
                    <div class="user_preferences_favorites">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-body">
                                <h3 class="uk-card-title uk-margin-remove-bottom">My Favorites</h3>
                                <ul class="uk-tab" uk-switcher="connect: #tab-favorites" uk-tab>
                                    <li class="uk-active"><a href="#favorites-lessons">Lessons</a></li>
                                    <li><a href="#favorites-companies">Companies</a></li>
                                    <li><a href="#favorites-career-videos">Career Videos</a></li>
                                </ul>
                                <div class="uk-switcher" id="tab-favorites">
                                    <div class="tab-favorites__lessons">
                                        {% if user.lessonFavorites|length > 0 %}
                                            <ul class="uk-list uk-list-divider">
                                                {% for favorite in user.lessonFavorites %}
                                                    <li>
                                                        <a class="uk-link-text" href="{{ path('lesson_view', {'id': favorite.lesson.id}) }}">{{ favorite.lesson.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <p>No favorite lessons added yet.</p>
                                        {% endif %}
                                    </div>
                                    <div class="tab-favorites__companies">
                                        {% if user.companyFavorites|length > 0 %}
                                            <ul class="uk-list uk-list-divider">
                                                {% for favorite in user.companyFavorites %}
                                                    <li>
                                                        <a class="uk-link-text" href="{{ path('company_view', {'id': favorite.company.id}) }}">{{ favorite.company.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <p>No favorite companies added yet.</p>
                                        {% endif %}
                                    </div>

                                    <div class="tab-favorites__career_videos">
                                        {% if user.videoFavorites|length > 0 %}
                                            <ul class="uk-list uk-list-divider">
                                                <div id="companyVideos" class="uk-child-width-1-3@m" uk-grid="masonry: true" uk-lightbox="animation: slide; video-autoplay: 1">
                                                {% for favorite in user.videoFavorites %}
                                                    {% set video = favorite.video %}
                                                    <div class="company-video">
                                                        <a class="uk-inline" href="https://www.youtube.com/watch?v={{ video.videoId|trim }}">
                                                            <img src="http://i.ytimg.com/vi/{{ video.videoId|trim }}/hqdefault.jpg" alt="">
                                                            <div class="company-video__overlay">
                                                                <div class="company-video__overlay-title">
                                                                    {{ video.name }}
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                                </div>
                                            </ul>
                                        {% else %}
                                            <p>No favorite career videos added yet.</p>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user_preferences_events">
                        <div>

                            {% if user.school.allowEventCreation %}
                                <div class="uk-placeholder uk-text-center">
                                    <p><a class="uk-button uk-button-primary uk-button-small" href="{{ path('school_experience_create', {'id': user.school.id}) }}">Create an Experience</a></p>
                                </div>
                            {% endif %}

                            {% if user.school.schoolExperiences|length %}
                                <div class="school__educators">
                                    <dl class="uk-description-list uk-description-list-divider">
                                        {% for experience in user.school.schoolExperiences %}

                                            {% set experienceId = experience.id %}

                                            {% if experience.cancelled != 1 and experience.email == user.email %}
                                                <div class="uk-grid uk-flex-middle" uk-grid>
                                                    <div class="uk-width-expand">
                                                        <dt>{{ experience.title }}</dt>
                                                    </div>
                                                    <div class="uk-width-1-1 uk-width-auto@m">
                                                        <a href="{{ path('school_experience_view', { "id": experience.id }) }}" class="uk-button uk-button-default uk-button-small">View</a>

                                                        <a class="uk-button uk-button-danger uk-button-small" href="#modal-remove-school-event-{{ experience.id }}" uk-toggle>Delete</a>

                                                        <div id="modal-remove-school-event-{{ experience.id }}" uk-modal>
                                                            <div class="uk-modal-dialog uk-modal-body">
                                                                <h3>Delete Experience</h3>
                                                                <form class="uk-inline" method="post" action="{{ path('school_experience_remove', { "id": experience.id }) }}" >

                                                                    <label class="uk-form-label">Cancellation Message (this will be sent to all users currently registered to attend your experience):</label>
                                                                    <input type="hidden" name="schoolAdminId" value="{{ user.id }}">
                                                                    <textarea class="uk-textarea" name="cancellationMessage" style="width: 100%"></textarea>
                                                                    <p>
                                                                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                                                        <button class="uk-button uk-button-danger" type="submit">Remove</button>
                                                                    </p>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </dl>
                                </div>
                            {% endif %}

                            <div class="uk-card uk-card-default">
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">My Experiences</h3>
                                    <ul class="uk-tab" uk-switcher="connect: #tab-events" uk-tab>
                                        <li class="uk-active"><a href="#events-upcoming">Upcoming</a></li>
                                        <li><a href="#events-completed">Completed</a></li>
                                    </ul>
                                    <div class="uk-switcher" id="tab-events">
                                        <div class="tab-events__upcoming">
                                            {% if dashboards.upcomingEventsRegisteredForByUser|length > 0 %}
                                                <ul class="uk-list uk-list-divider">
                                                    {% for event in dashboards.upcomingEventsRegisteredForByUser %}
                                                        <li><a class="uk-link-text" href="{{ path('experience_view', {'id': event.id}) }}">{{ event.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>No upcoming experiences.</p>
                                            {% endif %}
                                        </div>
                                        <div class="tab-events__completed">
                                            {% if dashboards.completedEventsRegisteredForByUser|length > 0 %}
                                                <ul class="uk-list uk-list-divider">
                                                    {% for event in dashboards.completedEventsRegisteredForByUser %}
                                                        <li><a class="uk-link-text" href="{{ path('experience_view', {'id': event.id}) }}">{{ event.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>No completed experiences.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">My Reviews</h3>
                                    <ul class="uk-tab" uk-switcher="connect: #tab-reviews" uk-tab>
                                        <li class="uk-active"><a href="#reviews-todo">Todo</a></li>
                                        <li><a href="#reviews-submitted">Submitted</a></li>
                                    </ul>
                                    <div class="uk-switcher" id="tab-reviews">
                                        <div class="tab-reviews__todo">
                                            {% if dashboards.eventsMissingFeedback|length > 0 %}
                                                <ul class="uk-list uk-list-divider">
                                                    {% for eventProps in dashboards.eventsMissingFeedback %}
                                                        <li class="uk-position-relative" id="feedback_{{ eventProps.event.id }}">
                                                            <span class="uk-position-center-right"><button class="uk-button uk-button-text delete-feedback uk-text-danger" data-id="{{ eventProps.event.id }}">X</button></span> 
                                                            <a class="uk-link-text" href="{{ path('experience_feedback', {'id': eventProps.event.id}) }}">{{ eventProps.event.title }}</a> 
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>All reviews are up to date!</p>
                                            {% endif %}
                                        </div>
                                        <div class="tab-reviews__submitted">
                                            {% if dashboards.eventsWithFeedback|length > 0 %}
                                                <ul class="uk-list uk-list-divider">
                                                    {% for eventProps in dashboards.eventsWithFeedback %}
                                                        <li><a class="uk-link-text" href="{{ path('experience_feedback', {'id': eventProps.event.id}) }}">{{ eventProps.event.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>No experiences reviews have been submitted.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user_students">
                        <dl class="uk-description-list uk-description-list-divider">
                            {% if user.studentUsers|length > 0 %}
                                {% for studentUser in user.alphabeticallySortedStudentUsers %}

                                    {% if studentUser.activated != false and studentUser.deleted != true %}

                                        <div class="uk-grid uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(studentUser, 'photo') is defined and studentUser.photo ) ? asset(uploaded_asset(studentUser.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                                            </div>
                                            <div class="uk-width-expand">
                                                <dt>{{ studentUser.lastName }},  {{ studentUser.firstName }}</dt>
                                            </div>
                                            <div class="uk-width-auto">
                                                <a href="{{ path('profile_index', { "id": studentUser.id }) }}" class="uk-button uk-button-default uk-button-small">View</a>
                                            </div>
                                        </div>

                                    {% endif %}

                                {% endfor %}
                            {% else %}
                                <p>You currently do not have any students assigned to you.  You can change this in your <a href="{{ path('profile_edit', {'id': user.id}) }}">profile</a>.</p>
                            {% endif %}
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-3@m uk-width-1-1">

            <!-- What's New This Week -->
              <div class="quick-links-wrapper uk-margin">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">What's New This Week</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <h4>New Lessons (Created within past 7 days)</h4>
                        <hr>
                        <div style="text-align: left">
                            {% for lesson in lessons %}
                                <p><a href="/dashboard/lessons/{{lesson.id}}/view">{{lesson.title }}</a></p>
                            {% else %}
                                <p>No New Lessons exist at this time.</p>
                            {% endfor %}
                        </div>

                        {# Relevant School Events #}
                        <hr>
                        <h4>New School Experiences</h4>
                        <hr>
                        <div style="text-align: left">
                        {% for schoolExperience in schoolExperiences %}
                            <p><a href="/dashboard/schools/experiences/{{schoolExperience.id}}/view">{{ schoolExperience.title }}</a></p>
                            {% else %}
                            <p>No New School Experiences at this time.</p>
                        {% endfor %}
                        </div>

                        {# Relevant Company Events #}
                        <hr>
                        <h4>New Company Experiences</h4>
                        <hr>
                        <div style="text-align: left">
                        {% for companyExperience in companyExperiences %}
                            <p><a href="/dashboard/companies/experiences/{{companyExperience.id}}/view">{{ companyExperience.title }}</a></p>
                        {% else %}
                            <p>No New Company Experiences at this time.</p>
                        {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
            
            <!-- Quick Links -->
            <div class="quick-links-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Explore</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-list">
                            <li><a href="{{ path('lesson_index') }}">Find a Lesson</a></li>
                            <li><a href="{{ path('professional_index') }}">Search for Professionals</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Salary Exploration -->
            <div class="quick-links-wrapper uk-margin">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Salary Exploration</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <a class="uk-link" href="{{ path('salary_exploration_primary_industry') }}">Explore Salaries by Industry</a>
                    </div>
                </div>
            </div>

            <!-- My Lessons -->
            <div class="quick-links-wrapper uk-margin">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Lessons For My Class</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        {% if user.lessonTeachables|length > 0 %}
                            <ul class="uk-list uk-list-divider">
                                {% for teachable in user.lessonTeachables %}
                                    <li>
                                        <a class="uk-link-text" href="{{ path('lesson_view', {'id': teachable.lesson.id}) }}">{{ teachable.lesson.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No teachable lessons added yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="delete-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Delete Feedback Review Request</h2>  
            <p>Are you sure you do not want to provide feedback for this experience?</p>
            <div id="delete-feedback-request-form-holder">
            </div>
        </form>
    </div>
</div>