<div class="uk-container">

    <div class="uk-grid" uk-grid>
        {% if user.city is null %}
            <div class="uk-width-1-1">
                <div class="uk-alert-warning" uk-alert>
                    <h3>Warning: Incomplete Profile</h3>
                    <p>Your profile is incomplete. Please fill complete your profile so educators and students can find you. <br /><strong><a href="{{ path('profile_edit', {'id': user.id}) }}">Click here to begin.</a></strong></p>
                </div>
            </div>
        {% endif %}
        <div class="uk-width-2-3@m uk-width-1-1">
            <!-- PROFILE -->
            <div class="profile-card-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(user, 'photo') is defined and user.photo ) ? asset(uploaded_asset(user.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                            </div>
                            <div class="uk-width-expand">
                                <a href="{{ path('profile_index', {'id': user.id}) }}">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.getFullName }}</h3>
                                </a>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    {% if user.company is defined and user.company is not null %}
                                        <span><a href="{{ path('company_view', {'id': user.company.id}) }}">{{ user.company.name }}</a></span>
                                    {% else %}
                                        <span>Professional</span>
                                    {% endif %}

                                    {% if user.primaryIndustry is defined %}
                                        <span>- {{ user.primaryIndustry.name }}</span>
                                    {% endif %}
                                    {% if user.secondaryIndustries|length > 0 %}
                                        <span>- {{ user.secondaryIndustries[0].name }}</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="uk-width-auto">
                                <div class="uk-align-right">
                                    <a href="{{ path('profile_edit', {'id': user.id}) }}">
                                        <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                    </a>
                                </div>
                                <div class="uk-align-right">
                                    <a href="{{ path('profile_index', {'id': user.id}) }}">My Public Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        {% if user.briefBio %}
                            <div class="uk-margin">
                                {{ user.briefBio|raw }}
                            </div>
                        {% else %}
                            <p>Welcome to {{ get_site().name }}! <a href="{{ path('profile_edit', {'id': user.id}) }}">Add a brief bio</a> to let everyone know your strengths!</p>
                        {% endif %}
                        <div class="professional-links">
                            {% if user.emailAfterPrivacySettingsApplied %}
                                <a href="mailto:{{ user.emailAfterPrivacySettingsApplied }}" class="uk-icon-button uk-margin-small-right" uk-icon="mail"></a>
                            {% endif %}
                            {% if user.phoneAfterPrivacySettingsApplied and user.phoneExt %}
                                <a href="tel:{{ user.phoneAfterPrivacySettingsApplied }},{{user.phoneExt}}" class="uk-icon-button uk-margin-small-right" uk-icon="receiver"></a>
                            {% elseif user.phoneAfterPrivacySettingsApplied %}
                                <a href="tel:{{ user.phoneAfterPrivacySettingsApplied }}" class="uk-icon-button uk-margin-small-right" uk-icon="receiver"></a>
                            {% endif %}
                            {% if user.getLinkedinProfile %}
                                <a href="{{ user.linkedinProfile }}" class="uk-icon-button uk-margin-small-right" uk-icon="linkedin" target="_blank"></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-margin">
                <ul class="uk-tab" id="user-nav" uk-switcher="connect: #tab-user-preferences" uk-tab>
                    <li class="uk-active"><a href="#user-preferences">My Calendar</a></li>
                    <li><a href="#user-schools">My Schools</a></li>
                    <li><a href="#user-lessons">My Lessons</a></li>
                    <li><a href="#user-feedback">My Feedback</a></li>
                    <li><a href="#user-events">
                    Provide Feedback
                    {% if dashboards.eventsMissingFeedback|length > 0 %}
                        ({{ dashboards.eventsMissingFeedback|length }})
                    {% endif %}
                    </a></li>
                    <li><a href="#user-videos">My Videos</a></li>
                </ul>
                <div class="uk-switcher" id="tab-user-preferences">
                    <div class="user_preferences_calendar">
                        <div class="react-events-embed" data-user-id="{{ user.id }}"></div>
                    </div>
                    <div class="user_preferences_schools">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-header">
                                <div class="uk-grid-small uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    </div>
                                    <div class="uk-width-expand">
                                        <h3 class="uk-card-title uk-margin-remove-bottom">Schools I Volunteer At</h3>
                                    </div>
                                    <div class="uk-width-auto">
                                        <div class="uk-align-right">
                                            <a href="{{ path('profile_edit', {'id': user.id}) }}#account-details-profile-schools">
                                                Manage Schools <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-card-body">
                                {% if user.schools is defined and user.schools|length > 0 %}
                                    <ul class="uk-list uk-list-divider">
                                        {% for school in user.schools %}
                                            <li><a href="{{ path('school_view', { 'id': school.id }) }}">{{ school.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>You haven't added any schools yet.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="user_preferences_lessons">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-header">
                                <div class="uk-grid-small uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        <i class="fa fa-book" aria-hidden="true"></i>
                                    </div>
                                    <div class="uk-width-expand">
                                        <h3 class="uk-card-title uk-margin-remove-bottom">Lessons I Can Teach</h3>
                                    </div>
                                    <div class="uk-width-auto">
                                        <div class="uk-align-right">
                                            <a href="{{ path('lesson_index') }}">
                                                <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-card-body">
                                {% if user.lessonTeachables|length > 0 %}
                                    <ul class="uk-list uk-list-divider">
                                        {% for teachable in user.lessonTeachables %}
                                            <li><a class="uk-link-text" href="{{ path('lesson_view', {'id': teachable.lesson.id}) }}">{{ teachable.lesson.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>You haven't added any lessons yet.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="user_preferences_feedback">
                        {% if dashboards['eventsWithFeedbackFromOthers']|length > 0 %}

                            
                            <div uk-grid>
                                <div class="uk-width-1-1 uk-width-small@m">
                                    <ul class="uk-tab-left" uk-tab="connect: #tab-account-inner; animation: uk-animation-fade">
                                        {% for experience in dashboards['eventsWithFeedbackFromOthers'] %}
                                            <li><a href="#feedback-{{ experience.id }}">{{ experience.startDateAndTime|date("m/d/Y") }}</a></li>
                                        {% endfor %}
                                        <li style="margin-top:10px"><a href="#feedback-summary">Summary</a></li>
                                    </ul>
                                </div>
                                <div class="uk-width-1-1 uk-width-expand@m">
                                    <ul id="tab-account-inner" class="uk-switcher">

                                        {% set cumulativeTotalFeedback = 0 %} 
                                        {% set cumulativeTotalRating = 0 %}
                                        {% set cumulativeTotalInsight = 0 %}
                                        {% set cumulativeTotalEnjoyable = 0 %}
                                        {% set cumulativeTotalLearned = 0 %}
                                        {% set cumulativeTotalRecommendation = 0 %}
                                        {% set cumulativeTotalPromoters = 0 %}
                                        {% set cumulativeTotalPassives = 0 %}
                                        {% set cumulativeTotalDetractors = 0 %}

                                        {% set cumulativeGuestFeedback = 0 %} 
                                        {% set cumulativeGuestRating = 0 %}
                                        {% set cumulativeGuestInsight = 0 %}
                                        {% set cumulativeGuestEnjoyable = 0 %}
                                        {% set cumulativeGuestLearned = 0 %}
                                        {% set cumulativeGuestRecommendation = 0 %}
                                        {% set cumulativeGuestPromoters = 0 %}
                                        {% set cumulativeGuestPassives = 0 %}
                                        {% set cumulativeGuestDetractors = 0 %}

                                        {% set cumulativeMeetingFeedback = 0 %} 
                                        {% set cumulativeMeetingRating = 0 %}
                                        {% set cumulativeMeetingInsight = 0 %}
                                        {% set cumulativeMeetingEnjoyable = 0 %}
                                        {% set cumulativeMeetingLearned = 0 %}
                                        {% set cumulativeMeetingRecommendation = 0 %}
                                        {% set cumulativeMeetingPromoters = 0 %}
                                        {% set cumulativeMeetingPassives = 0 %}
                                        {% set cumulativeMeetingDetractors = 0 %}

                                        {% set cumulativeSchoolFeedback = 0 %} 
                                        {% set cumulativeSchoolRating = 0 %}
                                        {% set cumulativeSchoolInsight = 0 %}
                                        {% set cumulativeSchoolEnjoyable = 0 %}
                                        {% set cumulativeSchoolLearned = 0 %}
                                        {% set cumulativeSchoolRecommendation = 0 %}
                                        {% set cumulativeSchoolPromoters = 0 %}
                                        {% set cumulativeSchoolPassives = 0 %}
                                        {% set cumulativeSchoolDetractors = 0 %}

                                        {% set cumulativeCompanyFeedback = 0 %} 
                                        {% set cumulativeCompanyRating = 0 %}
                                        {% set cumulativeCompanyInsight = 0 %}
                                        {% set cumulativeCompanyEnjoyable = 0 %}
                                        {% set cumulativeCompanyLearned = 0 %}
                                        {% set cumulativeCompanyRecommendation = 0 %}
                                        {% set cumulativeCompanyPromoters = 0 %}
                                        {% set cumulativeCompanyPassives = 0 %}
                                        {% set cumulativeCompanyDetractors = 0 %}

                                        {% set isCompanyAdmin = false %}

                                        {% for experience in dashboards['eventsWithFeedbackFromOthers'] %}

                                            {% set cumulativeTotalFeedback = cumulativeTotalFeedback + 1 %} 

                                            {% set totalFeedback = 0 %}

                                            {% set cumulativeRating = 0 %}
                                            {% set cumulativeInsight = 0 %}
                                            {% set cumulativeEnjoyable = 0 %}
                                            {% set cumulativeLearned = 0 %}
                                            {% set cumulativeRecommendation = 0 %}

                                            {% set cumulativePromoters = 0 %}
                                            {% set cumulativePassives = 0 %}
                                            {% set cumulativeDetractors = 0 %}

                                            <div class="feedback-{{ experience.id }}">
                                                <strong>Feedback for {{ experience.title }}</strong>
                                                {% if experience.feedback|length > 0 %}
                                                    <div class="uk-overflow-auto">
                                                        <table class="uk-table uk-table-divider">
                                                            <thead>
                                                            <tr>
                                                                <th>Role</th>
                                                                <th>Rating</th>
                                                                <th>Insight</th>
                                                                <th>Enjoyable</th>
                                                                <th>Learned</th>
                                                                <th>Recommendation</th>
                                                                <th>Feedback</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for feedback in experience.feedback %}
                                                                {% set role = '' %}

                                                                {% if feedback.user.id != user.id %}

                                                                    {% set totalFeedback = totalFeedback + 1 %}

                                                                    {% set cumulativeRating = cumulativeRating + feedback.rating %}
                                                                    {% set cumulativeInsight = cumulativeInsight + feedback.providedCareerInsight %}
                                                                    {% set cumulativeEnjoyable = cumulativeEnjoyable + feedback.wasEnjoyableAndEngaging %}
                                                                    {% set cumulativeLearned = cumulativeLearned + feedback.learnSomethingNew %}
                                                                    {% set cumulativeRecommendation = cumulativeRecommendation + feedback.likelihoodToRecommendToFriend %}

                                                                    {# Determine Promoter, Detractors, and Passives #}
                                                                    {% if feedback.likelihoodToRecommendToFriend > 8 %}
                                                                        {% set cumulativePromoters = cumulativePromoters + 1 %}
                                                                    {% elseif feedback.likelihoodToRecommendToFriend < 7 %}
                                                                        {% set cumulativeDetractors = cumulativeDetractors + 1 %}
                                                                    {% else %}
                                                                        {% set cumulativePassives = cumulativePassives + 1 %}
                                                                    {% endif %}


                                                                    {% if feedback.user.educator %}
                                                                        {% set role = 'Educator' %}
                                                                    {% elseif feedback.user.professional %}
                                                                        {% set role = 'Professional' %}
                                                                    {% elseif feedback.user.student %}
                                                                        {% set role = 'Student' %}
                                                                    {% else %}
                                                                        {% set role = 'Unknown' %}
                                                                    {% endif %}

                                                                    <tr>
                                                                        <td class="uk-text-nowrap">{{ role }}</td>
                                                                        <td class="uk-text-nowrap">{{ feedback.rating }}</td>
                                                                        <td class="uk-text-nowrap">{{ feedback.providedCareerInsight == 1 ? "YES" : "NO" }}</td>
                                                                        <td class="uk-text-nowrap">{{ feedback.wasEnjoyableAndEngaging == 1 ? "YES" : "NO" }}</td>
                                                                        <td class="uk-text-nowrap">{{ feedback.learnSomethingNew == 1 ? "YES" : "NO" }}</td>
                                                                        <td class="uk-text-nowrap">{{ feedback.likelihoodToRecommendToFriend }}</td>
                                                                        <td>{{ feedback.additionalFeedback }}</td>
                                                                    </tr>

                                                                {% endif %}

                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <h3>Data Breakdown:</h3>
                                                    {% set npmScore = (((cumulativePromoters / totalFeedback ) - (cumulativeDetractors / totalFeedback )) * 100)|round %}

                                                    <div class="uk-grid-small uk-text-center uk-text-left@m uk-flex-middle" uk-grid>
                                                        <div class="uk-width-1-1 uk-width-expand@m">
                                                            <p>Net Promoter Score (NPS™) is one of the most widely used customer satisfaction tools in business today.</p>
                                                            <a class="uk-button uk-button-default uk-button-small" href="#modal-nps-score" uk-toggle>More info</a>
                                                            <div id="modal-nps-score" uk-modal>
                                                                <div class="uk-modal-dialog uk-modal-body">
                                                                    <p>Developed by Bain & Co in 2006, it is based on one question:</p>
                                                                    <strong>“How likely is it that you would recommend us to a friend?”</strong>
                                                                    <p>which is then answered on a 0 through 10 scale from “not at all likely” to “extremely likely”. Respondents who reply with a 9 or 10 are viewed as promoters: strong enthusiasts for your product or service. Those answering 7 or 8 are categorized as passives: satisfied customers but not enthusiastic. Those providing a 0 through 6 score are detractors: unhappy customers. To calculate a NPS™, you take the percent of respondents who are promoters and subtract the percent of respondents who are detractors to give you a number between zero and one. NPS range from -100 to +100. Average NPS for guest instructors and site visit hosts in 2018-19 was 68.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="uk-width-1-1 uk-width-auto@m">
                                                            <div class="uk-align-center">
                                                                <div class="react-gauge-chart"
                                                                     data-bg-color="#cccccc"
                                                                     data-label="NPS Score"
                                                                     data-max="100"
                                                                     data-min="-100"
                                                                     data-value="{{ npmScore }}"
                                                                ></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                        <div class="uk-width-1-2 uk-width-1-3@m">
                                                            <div class="uk-text-meta">Average Rating</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeRating / totalFeedback ) }}</h4>
                                                        </div>
                                                        <div class="uk-width-1-2 uk-width-1-3@m">
                                                            <div class="uk-text-meta">Total Responses</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ totalFeedback }}</h4>
                                                        </div>
                                                    </div>

                                                    <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                        <div class="uk-width-1-3">
                                                            <div class="uk-text-meta">Provider Career Insights</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeInsight / totalFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                        </div>
                                                        <div class="uk-width-1-3">
                                                            <div class="uk-text-meta">Enjoyable/Engaging</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeEnjoyable / totalFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                        </div>
                                                        <div class="uk-width-1-3">
                                                            <div class="uk-text-meta">Learned Something</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeLearned / totalFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                        </div>
                                                    </div>

                                                    {# Set specific cumulative totals #}
                                                    {% if experience.className == "StudentToMeetProfessionalExperience" %}
                                                        {% set cumulativeMeetingFeedback = cumulativeMeetingFeedback + 1 %}
                                                        {% set cumulativeMeetingRating = cumulativeMeetingRating + (cumulativeRating / totalFeedback) %}
                                                        {% set cumulativeMeetingInsight = cumulativeMeetingInsight + (cumulativeInsight / totalFeedback) %}
                                                        {% set cumulativeMeetingEnjoyable = cumulativeMeetingEnjoyable + (cumulativeEnjoyable / totalFeedback) %}
                                                        {% set cumulativeMeetingLearned = cumulativeMeetingLearned + (cumulativeLearned / totalFeedback) %}
                                                        {% set cumulativeMeetingPromoters = cumulativeMeetingPromoters + (cumulativePromoters / totalFeedback) %}
                                                        {% set cumulativeMeetingDetractors = cumulativeMeetingDetractors + (cumulativeDetractors / totalFeedback) %}
                                                    {% elseif experience.className == "TeachLessonExperience" %}
                                                        {% set cumulativeGuestFeedback = cumulativeGuestFeedback + 1 %}
                                                        {% set cumulativeGuestRating = cumulativeGuestRating + (cumulativeRating / totalFeedback) %}
                                                        {% set cumulativeGuestInsight = cumulativeGuestInsight + (cumulativeInsight / totalFeedback) %}
                                                        {% set cumulativeGuestEnjoyable = cumulativeGuestEnjoyable + (cumulativeEnjoyable / totalFeedback) %}
                                                        {% set cumulativeGuestLearned = cumulativeGuestLearned + (cumulativeLearned / totalFeedback) %}
                                                        {% set cumulativeGuestPromoters = cumulativeGuestPromoters + (cumulativePromoters / totalFeedback) %}
                                                        {% set cumulativeGuestDetractors = cumulativeGuestDetractors + (cumulativeDetractors / totalFeedback) %}
                                                    {% elseif experience.className == "SchoolExperience" %}
                                                        {% set cumulativeSchoolFeedback = cumulativeSchoolFeedback + 1 %}
                                                        {% set cumulativeSchoolRating = cumulativeSchoolRating + (cumulativeRating / totalFeedback) %}
                                                        {% set cumulativeSchoolInsight = cumulativeSchoolInsight + (cumulativeInsight / totalFeedback) %}
                                                        {% set cumulativeSchoolEnjoyable = cumulativeSchoolEnjoyable + (cumulativeEnjoyable / totalFeedback) %}
                                                        {% set cumulativeSchoolLearned = cumulativeSchoolLearned + (cumulativeLearned / totalFeedback) %}
                                                        {% set cumulativeSchoolPromoters = cumulativeSchoolPromoters + (cumulativePromoters / totalFeedback) %}
                                                        {% set cumulativeSchoolDetractors = cumulativeSchoolDetractors + (cumulativeDetractors / totalFeedback) %}
                                                    {% elseif experience.className == "CompanyExperience" %}
                                                        {% if experience.company.owner.getId() == user.getId() %}
                                                            {% set isCompanyAdmin = true %}
                                                        
                                                            {% set cumulativeCompanyFeedback = cumulativeCompanyFeedback + 1 %}
                                                            {% set cumulativeCompanyRating = cumulativeCompanyRating + (cumulativeRating / totalFeedback) %}
                                                            {% set cumulativeCompanyInsight = cumulativeCompanyInsight + (cumulativeInsight / totalFeedback) %}
                                                            {% set cumulativeCompanyEnjoyable = cumulativeCompanyEnjoyable + (cumulativeEnjoyable / totalFeedback) %}
                                                            {% set cumulativeCompanyLearned = cumulativeCompanyLearned + (cumulativeLearned / totalFeedback) %}
                                                            {% set cumulativeCompanyPromoters = cumulativeCompanyPromoters + (cumulativePromoters / totalFeedback) %}
                                                            {% set cumulativeCompanyDetractors = cumulativeCompanyDetractors + (cumulativeDetractors / totalFeedback) %}
                                                        {% endif %}
                                                    {% endif %}

                                                    {# Set overall cumulative total #}
                                                    {% set cumulativeTotalRating = cumulativeTotalRating + ( cumulativeRating / totalFeedback ) %}
                                                    {% set cumulativeTotalInsight = cumulativeTotalInsight + (cumulativeInsight / totalFeedback) %}
                                                    {% set cumulativeTotalEnjoyable = cumulativeTotalEnjoyable + (cumulativeEnjoyable / totalFeedback) %}
                                                    {% set cumulativeTotalLearned = cumulativeTotalLearned + (cumulativeLearned / totalFeedback) %}
                                                    {% set cumulativeTotalPromoters = cumulativeTotalPromoters + (cumulativePromoters / totalFeedback) %}
                                                    {% set cumulativeTotalDetractors = cumulativeTotalDetractors + (cumulativeDetractors / totalFeedback) %}

                                                {% else %}
                                                    <p>No feedback has been submitted yet.</p>
                                                {% endif %}
                                            </div>
                                        {% endfor %}


                                        <div class="feedback-summary">
                                            <p><strong>Feedback Summary</strong></p>
                                            <h3>Data Breakdown:</h3>

                                            <ul class="uk-tab" uk-tab="connect: #tab-feedback-summary; animation: uk-animation-fade">
                                                {% if cumulativeGuestFeedback > 0 %}
                                                    <li><a href="#guest-instruction">Guest Instruction</a></li>
                                                {% endif %}
                                                {% if cumulativeMeetingFeedback > 0 %}
                                                    <li><a href="#student-meetings">Student Meetings</a></li>
                                                {% endif %}
                                                {% if cumulativeSchoolFeedback > 0 %}
                                                    <li><a href="#school-experience">School Experience</a></li>
                                                {% endif %}
                                                {% if cumulativeCompanyFeedback > 0 and isCompanyAdmin == true %}
                                                    <li><a href="#company-experience">Company Experience</a></li>
                                                {% endif %}
                                                <li><a href="#all-feedback">All Feedback</a></li>
                                            </ul>
                                            <ul id="tab-feedback-summary" class="uk-switcher">
                                                {% if cumulativeGuestFeedback > 0 %}
                                                    <div class="guest-instruction">
                                                        {% set npmScore = (((cumulativeCompanyPromoters - cumulativeCompanyDetractors) / cumulativeCompanyFeedback) * 100)|round %}
                                                        {% set npmScore = (((cumulativeGuestPromoters - cumulativeGuestDetractors) / cumulativeGuestFeedback) * 100)|round %}

                                                        <div class="uk-grid-small uk-text-center uk-text-left@m uk-flex-middle" uk-grid>
                                                            <div class="uk-width-1-1 uk-width-expand@m">
                                                                <p>Net Promoter Score (NPS™) is one of the most widely used customer satisfaction tools in business today.</p>
                                                                <a class="uk-button uk-button-default uk-button-small" href="#modal-nps-score" uk-toggle>More info</a>
                                                                <div id="modal-nps-score" uk-modal>
                                                                    <div class="uk-modal-dialog uk-modal-body">
                                                                        <p>Developed by Bain & Co in 2006, it is based on one question:</p>
                                                                        <strong>“How likely is it that you would recommend us to a friend?”</strong>
                                                                        <p>which is then answered on a 0 through 10 scale from “not at all likely” to “extremely likely”. Respondents who reply with a 9 or 10 are viewed as promoters: strong enthusiasts for your product or service. Those answering 7 or 8 are categorized as passives: satisfied customers but not enthusiastic. Those providing a 0 through 6 score are detractors: unhappy customers. To calculate a NPS™, you take the percent of respondents who are promoters and subtract the percent of respondents who are detractors to give you a number between zero and one. NPS range from -100 to +100. Average NPS for guest instructors and site visit hosts in 2018-19 was 68.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="uk-width-1-1 uk-width-auto@m">
                                                                <div class="uk-align-center">
                                                                    <div class="react-gauge-chart"
                                                                        data-bg-color="#cccccc"
                                                                        data-label="NPS Score"
                                                                        data-max="100"
                                                                        data-min="-100"
                                                                        data-value="{{ npmScore }}"
                                                                    ></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                            <div class="uk-width-1-2 uk-width-1-3@m">
                                                                <div class="uk-text-meta">Average Rating</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeGuestRating / cumulativeGuestFeedback )|round(2, 'floor') }}</h4>
                                                            </div>
                                                            <div class="uk-width-1-2 uk-width-1-3@m">
                                                                <div class="uk-text-meta">Total Responses</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ cumulativeGuestFeedback }}</h4>
                                                            </div>
                                                        </div>

                                                        <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                            <div class="uk-width-1-3">
                                                                <div class="uk-text-meta">Provider Career Insights</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeGuestInsight / cumulativeGuestFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                            </div>
                                                            <div class="uk-width-1-3">
                                                                <div class="uk-text-meta">Enjoyable/Engaging</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeGuestEnjoyable / cumulativeGuestFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                            </div>
                                                            <div class="uk-width-1-3">
                                                                <div class="uk-text-meta">Learned Something</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeGuestLearned / cumulativeGuestFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if cumulativeMeetingFeedback > 0 %}
                                                    <div class="student-meetings">
                                                        {% set npmScore = (((cumulativeMeetingPromoters - cumulativeMeetingDetractors) / cumulativeMeetingFeedback) * 100)|round %}

                                                        <div class="uk-grid-small uk-text-center uk-text-left@m uk-flex-middle" uk-grid>
                                                            <div class="uk-width-1-1 uk-width-expand@m">
                                                                <p>Net Promoter Score (NPS™) is one of the most widely used customer satisfaction tools in business today.</p>
                                                                <a class="uk-button uk-button-default uk-button-small" href="#modal-nps-score" uk-toggle>More info</a>
                                                                <div id="modal-nps-score" uk-modal>
                                                                    <div class="uk-modal-dialog uk-modal-body">
                                                                        <p>Developed by Bain & Co in 2006, it is based on one question:</p>
                                                                        <strong>“How likely is it that you would recommend us to a friend?”</strong>
                                                                        <p>which is then answered on a 0 through 10 scale from “not at all likely” to “extremely likely”. Respondents who reply with a 9 or 10 are viewed as promoters: strong enthusiasts for your product or service. Those answering 7 or 8 are categorized as passives: satisfied customers but not enthusiastic. Those providing a 0 through 6 score are detractors: unhappy customers. To calculate a NPS™, you take the percent of respondents who are promoters and subtract the percent of respondents who are detractors to give you a number between zero and one. NPS range from -100 to +100. Average NPS for guest instructors and site visit hosts in 2018-19 was 68.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="uk-width-1-1 uk-width-auto@m">
                                                                <div class="uk-align-center">
                                                                    <div class="react-gauge-chart"
                                                                        data-bg-color="#cccccc"
                                                                        data-label="NPS Score"
                                                                        data-max="100"
                                                                        data-min="-100"
                                                                        data-value="{{ npmScore }}"
                                                                    ></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                            <div class="uk-width-1-2 uk-width-1-3@m">
                                                                <div class="uk-text-meta">Average Rating</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeMeetingRating / cumulativeMeetingFeedback )|round(2, 'floor') }}</h4>
                                                            </div>
                                                            <div class="uk-width-1-2 uk-width-1-3@m">
                                                                <div class="uk-text-meta">Total Responses</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ cumulativeMeetingFeedback }}</h4>
                                                            </div>
                                                        </div>

                                                        <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                            <div class="uk-width-1-3">
                                                                <div class="uk-text-meta">Provider Career Insights</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeMeetingInsight / cumulativeMeetingFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                            </div>
                                                            <div class="uk-width-1-3">
                                                                <div class="uk-text-meta">Enjoyable/Engaging</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeMeetingEnjoyable / cumulativeMeetingFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                            </div>
                                                            <div class="uk-width-1-3">
                                                                <div class="uk-text-meta">Learned Something</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeMeetingLearned / cumulativeMeetingFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}


                                                {% if cumulativeSchoolFeedback > 0 %}
                                                    <div class="school-experience">
                                                        {% set npmScore = (((cumulativeSchoolPromoters - cumulativeSchoolDetractors) / cumulativeSchoolFeedback ) * 100)|round %}

                                                        <div class="uk-grid-small uk-text-center uk-text-left@m uk-flex-middle" uk-grid>
                                                            <div class="uk-width-1-1 uk-width-expand@m">
                                                                <p>Net Promoter Score (NPS™) is one of the most widely used customer satisfaction tools in business today.</p>
                                                                <a class="uk-button uk-button-default uk-button-small" href="#modal-nps-score" uk-toggle>More info</a>
                                                                <div id="modal-nps-score" uk-modal>
                                                                    <div class="uk-modal-dialog uk-modal-body">
                                                                        <p>Developed by Bain & Co in 2006, it is based on one question:</p>
                                                                        <strong>“How likely is it that you would recommend us to a friend?”</strong>
                                                                        <p>which is then answered on a 0 through 10 scale from “not at all likely” to “extremely likely”. Respondents who reply with a 9 or 10 are viewed as promoters: strong enthusiasts for your product or service. Those answering 7 or 8 are categorized as passives: satisfied customers but not enthusiastic. Those providing a 0 through 6 score are detractors: unhappy customers. To calculate a NPS™, you take the percent of respondents who are promoters and subtract the percent of respondents who are detractors to give you a number between zero and one. NPS range from -100 to +100. Average NPS for guest instructors and site visit hosts in 2018-19 was 68.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="uk-width-1-1 uk-width-auto@m">
                                                                <div class="uk-align-center">
                                                                    <div class="react-gauge-chart"
                                                                        data-bg-color="#cccccc"
                                                                        data-label="NPS Score"
                                                                        data-max="100"
                                                                        data-min="-100"
                                                                        data-value="{{ npmScore }}"
                                                                    ></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                            <div class="uk-width-1-2 uk-width-1-3@m">
                                                                <div class="uk-text-meta">Average Rating</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeSchoolRating / cumulativeSchoolFeedback )|round(2, 'floor') }}</h4>
                                                            </div>
                                                            <div class="uk-width-1-2 uk-width-1-3@m">
                                                                <div class="uk-text-meta">Total Responses</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ cumulativeSchoolFeedback }}</h4>
                                                            </div>
                                                        </div>

                                                        <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                            <div class="uk-width-1-3">
                                                                <div class="uk-text-meta">Provider Career Insights</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeSchoolInsight / cumulativeSchoolFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                            </div>
                                                            <div class="uk-width-1-3">
                                                                <div class="uk-text-meta">Enjoyable/Engaging</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeSchoolEnjoyable / cumulativeSchoolFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                            </div>
                                                            <div class="uk-width-1-3">
                                                                <div class="uk-text-meta">Learned Something</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeSchoolLearned / cumulativeSchoolFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if cumulativeCompanyFeedback > 0 and isCompanyAdmin == true %}
                                                    <div class="company-experience">
                                                        {% set npmScore = (((cumulativeCompanyPromoters - cumulativeCompanyDetractors) / cumulativeCompanyFeedback) * 100)|round %}

                                                        <div class="uk-grid-small uk-text-center uk-text-left@m uk-flex-middle" uk-grid>
                                                            <div class="uk-width-1-1 uk-width-expand@m">
                                                                <p>Net Promoter Score (NPS™) is one of the most widely used customer satisfaction tools in business today.</p>
                                                                <a class="uk-button uk-button-default uk-button-small" href="#modal-nps-score" uk-toggle>More info</a>
                                                                <div id="modal-nps-score" uk-modal>
                                                                    <div class="uk-modal-dialog uk-modal-body">
                                                                        <p>Developed by Bain & Co in 2006, it is based on one question:</p>
                                                                        <strong>“How likely is it that you would recommend us to a friend?”</strong>
                                                                        <p>which is then answered on a 0 through 10 scale from “not at all likely” to “extremely likely”. Respondents who reply with a 9 or 10 are viewed as promoters: strong enthusiasts for your product or service. Those answering 7 or 8 are categorized as passives: satisfied customers but not enthusiastic. Those providing a 0 through 6 score are detractors: unhappy customers. To calculate a NPS™, you take the percent of respondents who are promoters and subtract the percent of respondents who are detractors to give you a number between zero and one. NPS range from -100 to +100. Average NPS for guest instructors and site visit hosts in 2018-19 was 68.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="uk-width-1-1 uk-width-auto@m">
                                                                <div class="uk-align-center">
                                                                    <div class="react-gauge-chart"
                                                                        data-bg-color="#cccccc"
                                                                        data-label="NPS Score"
                                                                        data-max="100"
                                                                        data-min="-100"
                                                                        data-value="{{ npmScore }}"
                                                                    ></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                            <div class="uk-width-1-2 uk-width-1-3@m">
                                                                <div class="uk-text-meta">Average Rating</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeCompanyRating / cumulativeCompanyFeedback )|round(2, 'floor') }}</h4>
                                                            </div>
                                                            <div class="uk-width-1-2 uk-width-1-3@m">
                                                                <div class="uk-text-meta">Total Responses</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ cumulativeCompanyFeedback }}</h4>
                                                            </div>
                                                        </div>

                                                        <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                            <div class="uk-width-1-3">
                                                                <div class="uk-text-meta">Provider Career Insights</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeCompanyInsight / cumulativeCompanyFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                            </div>
                                                            <div class="uk-width-1-3">
                                                                <div class="uk-text-meta">Enjoyable/Engaging</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeCompanyEnjoyable / cumulativeCompanyFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                            </div>
                                                            <div class="uk-width-1-3">
                                                                <div class="uk-text-meta">Learned Something</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeCompanyLearned / cumulativeCompanyFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                <div class="all-feedback">
                                                    {% set npmScore = (((cumulativeTotalPromoters / cumulativeTotalFeedback ) - (cumulativeTotalDetractors / cumulativeTotalFeedback )) * 100)|round %}

                                                    <div class="uk-grid-small uk-text-center uk-text-left@m uk-flex-middle" uk-grid>
                                                        <div class="uk-width-1-1 uk-width-expand@m">
                                                            <p>Net Promoter Score (NPS™) is one of the most widely used customer satisfaction tools in business today.</p>
                                                            <a class="uk-button uk-button-default uk-button-small" href="#modal-nps-score" uk-toggle>More info</a>
                                                            <div id="modal-nps-score" uk-modal>
                                                                <div class="uk-modal-dialog uk-modal-body">
                                                                    <p>Developed by Bain & Co in 2006, it is based on one question:</p>
                                                                    <strong>“How likely is it that you would recommend us to a friend?”</strong>
                                                                    <p>which is then answered on a 0 through 10 scale from “not at all likely” to “extremely likely”. Respondents who reply with a 9 or 10 are viewed as promoters: strong enthusiasts for your product or service. Those answering 7 or 8 are categorized as passives: satisfied customers but not enthusiastic. Those providing a 0 through 6 score are detractors: unhappy customers. To calculate a NPS™, you take the percent of respondents who are promoters and subtract the percent of respondents who are detractors to give you a number between zero and one. NPS range from -100 to +100. Average NPS for guest instructors and site visit hosts in 2018-19 was 68.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="uk-width-1-1 uk-width-auto@m">

                                                            <div class="uk-align-center">
                                                                <div class="react-gauge-chart"
                                                                     data-bg-color="#cccccc"
                                                                     data-label="NPS Score"
                                                                     data-max="100"
                                                                     data-min="-100"
                                                                     data-value="{{ npmScore }}"
                                                                ></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                        <div class="uk-width-1-2 uk-width-1-3@m">
                                                            <div class="uk-text-meta">Average Rating</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeTotalRating / cumulativeTotalFeedback )|round(2, 'floor') }}</h4>
                                                        </div>
                                                        <div class="uk-width-1-2 uk-width-1-3@m">
                                                            <div class="uk-text-meta">Total Responses</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ cumulativeTotalFeedback }}</h4>
                                                        </div>
                                                    </div>

                                                    <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                        <div class="uk-width-1-3">
                                                            <div class="uk-text-meta">Provider Career Insights</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeTotalInsight / cumulativeTotalFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                        </div>
                                                        <div class="uk-width-1-3">
                                                            <div class="uk-text-meta">Enjoyable/Engaging</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeTotalEnjoyable / cumulativeTotalFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                        </div>
                                                        <div class="uk-width-1-3">
                                                            <div class="uk-text-meta">Learned Something</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeTotalLearned / cumulativeTotalFeedback * 100 )|round(1, 'floor') }}%</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ul>

                                        </div>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        {# Professional Events with feedback and events missing feedback #}
                        

                    </div>

                    <div class="user_preferences_events">

                        <div class="uk-margin">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">My Reviews</h3>
                                    <ul class="uk-tab" uk-switcher="connect: #tab-reviews" uk-tab>
                                        <li class="uk-active"><a href="#reviews-todo">Todo</a></li>
                                        <li><a href="#reviews-submitted">Submitted</a></li>
                                    </ul>
                                    <div class="uk-switcher" id="tab-reviews">
                                        <div class="tab-reviews__todo">
                                            {% if dashboards.eventsMissingFeedback|length > 0 %}
                                                <ul class="uk-list uk-list-divider">
                                                    {% for eventProps in dashboards.eventsMissingFeedback %}
                                                        <li class="uk-position-relative" id="feedback_{{ eventProps.event.id }}">
                                                            <span class="uk-position-center-right"><button class="uk-button uk-button-text delete-feedback uk-text-danger" data-id="{{ eventProps.event.id }}">X</button></span> 
                                                            <a class="uk-link-text" href="{{ path('experience_feedback', {'id': eventProps.event.id}) }}">{{ eventProps.event.title }}</a> 
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>All reviews are up to date!</p>
                                            {% endif %}
                                        </div>
                                        <div class="tab-reviews__submitted">
                                            {% if dashboards.eventsWithFeedback|length > 0 %}
                                                <ul class="uk-list uk-list-divider">
                                                    {% for eventProps in dashboards.eventsWithFeedback %}
                                                        <li><a class="uk-link-text" href="{{ path('experience_feedback', {'id': eventProps.event.id}) }}">{{ eventProps.event.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>No experiences reviews have been submitted.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="user_videos">

                        <div class="uk-margin">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">My Videos</h3>

                                    {% if user.professionalVideos|length %}
                                        <div class="company__videos">
                                            <div class="uk-child-width-1-3@m" uk-grid="masonry: true" uk-lightbox="animation: slide; video-autoplay: 1">
                                                {% for video in user.professionalVideos %}
                                                    <div>
                                                        <a class="company-video uk-inline" href="https://www.youtube.com/watch?v={{ video.videoId|trim }}">
                                                            <img src="http://i.ytimg.com/vi/{{ video.videoId|trim }}/hqdefault.jpg" alt="">
                                                            <div class="company-video__overlay">
                                                                <div class="company-video__overlay-title">
                                                                    {{ video.name }}
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="uk-width-1-3@m uk-width-1-1">

            <!-- What's New This Week -->
              <div class="quick-links-wrapper uk-margin">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">What's New This Week</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <h4>New Lessons (Created within past 7 days)</h4>
                        <hr>
                        <div style="text-align: left">
                            {% for lesson in lessons %}
                                <p><a href="/dashboard/lessons/{{lesson.id}}/view">{{lesson.title }}</a></p>
                            {% else %}
                                <p>No New Lessons exist at this time.</p>
                            {% endfor %}
                        </div>

                        {# Relevant School Events #}
                        <hr>
                        <h4>New School Experiences</h4>
                        <hr>
                        <div style="text-align: left">
                        {% for schoolExperience in schoolExperiences %}
                            <p><a href="/dashboard/schools/experiences/{{schoolExperience.id}}/view">{{ schoolExperience.title }}</a></p>
                            {% else %}
                            <p>No New School Experiences at this time.</p>
                        {% endfor %}
                        </div>

                        {# Relevant Company Events #}
                        <hr>
                        <h4>New Company Experiences</h4>
                        <hr>
                        <div style="text-align: left">
                        {% for companyExperience in companyExperiences %}
                            <p><a href="/dashboard/companies/experiences/{{companyExperience.id}}/view">{{ companyExperience.title }}</a></p>
                        {% else %}
                            <p>No New Company Experiences at this time.</p>
                        {% endfor %}
                        </div>

                    </div>
                </div>
            </div>

            <!-- Quick Links -->
            <div class="quick-links-wrapper uk-margin">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">My volunteer roles</h3>
                            </div>
                            <div class="uk-width-auto">
                                <div class="uk-align-right">
                                    <a href="{{ path('profile_edit', {'id': user.id}) }}">
                                        <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        {% if user.rolesWillingToFulfill|length %}
                            <ul class="uk-list uk-list-divider">
                                {% for role in user.rolesWillingToFulfill %}
                                    <li>{{ role.name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>You haven't added any roles yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- My Company -->
            <div class="quick-links-wrapper uk-margin">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">My Company</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        {% if user.company is defined and user.company %}
                            <a href="{{ path('company_view', { id: user.company.id }) }}"><h4>{{ user.company.name }}</h4></a>
                            <h5>Upcoming Experiences</h5>
                            {% set noEventsFound = true %}
                            {% if user.company.companyExperiences|length > 0 %}
                                <ul class="uk-list uk-list-divider uk-margin-remove-top uk-margin-remove-bottom">
                                    {% for experience in user.company.companyExperiences %}
                                        {% if date(experience.startDateAndTime) > date() %}
                                            {% set noEventsFound = false %}
                                            <li><a class="uk-text-meta" href="{{ path('experience_view', {id: experience.id}) }}">{{ experience.startDateAndTime|date("F jS") }} - {{ experience.title }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if noEventsFound == true %}
                                <p class="uk-text-meta">There are no upcoming experiences at this time</p>
                            {% endif %}

                            {% if user.isAdmin or user.id == user.company.owner.id %}
                                <a href="{{ path('company_experience_create', { id: user.company.id }) }}" class="uk-button uk-button-primary uk-button-small uk-inline" style="margin-top: 10px">Create an Experience</a>
                            {% endif %}
                        {% else %}
                            <div className="uk-placeholder uk-text-center">
                                <p>You aren't associated with a company yet.</p>
                                <a href="{{ path('company_index') }}" class="uk-button uk-button-default uk-button-small uk-inline uk-margin-small-right">Join a Company</a>
                                <a href="{{ path('company_new') }}" class="uk-button uk-button-primary uk-button-small uk-inline">Create</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Delete Feedback Review Request</h2>  
            <p>Are you sure you do not want to provide feedback for this experience?</p>
            <div id="delete-feedback-request-form-holder">
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        var tab = GetURLParameter('tab');
        if(tab) {
            UIkit.switcher('#user-nav').show(4);
        }
    });

    function GetURLParameter(sParam)
    {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++)
        {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam)
            {
                return sParameterName[1];
            }
        }
    }
</script>