<div class="uk-container">

    <div class="uk-grid" uk-grid>
        <div class="uk-width-2-3@m uk-width-1-1">
            <!-- PROFILE -->
            <div class="profile-card-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(user, 'photo') is defined and user.photo ) ? asset(uploaded_asset(user.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                            </div>
                            <div class="uk-width-expand">
                                <a href="{{ path('profile_index', {'id': user.id}) }}">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.getFullName }}</h3>
                                </a>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    {% if user.company is defined and user.company is not null %}
                                        <span><a href="{{ path('company_view', {'id': user.company.id}) }}">{{ user.company.name }}</a></span>
                                    {% else %}
                                        <span>Professional</span>
                                    {% endif %}

                                    {% if user.primaryIndustry is defined %}
                                        <span>- {{ user.primaryIndustry.name }}</span>
                                    {% endif %}
                                    {% if user.secondaryIndustries|length > 0 %}
                                        <span>- {{ user.secondaryIndustries[0].name }}</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="uk-width-auto">
                                <div class="uk-align-right">
                                    <a href="{{ path('profile_edit', {'id': user.id}) }}">
                                        <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        {% if user.briefBio %}
                            <div class="uk-margin">
                                {{ user.briefBio|raw }}
                            </div>
                        {% else %}
                            <p>Welcome to {{ get_site().name }}! <a href="{{ path('profile_edit', {'id': user.id}) }}">Add a brief bio</a> to let everyone know your strengths!</p>
                        {% endif %}
                        <div class="professional-links">
                            {% if user.emailAfterPrivacySettingsApplied %}
                                <a href="mailto:{{ user.emailAfterPrivacySettingsApplied }}" class="uk-icon-button uk-margin-small-right" uk-icon="mail"></a>
                            {% endif %}
                            {% if user.phoneAfterPrivacySettingsApplied and user.phoneExt %}
                                <a href="tel:{{ user.phoneAfterPrivacySettingsApplied }},{{user.phoneExt}}" class="uk-icon-button uk-margin-small-right" uk-icon="receiver"></a>
                            {% elseif user.phoneAfterPrivacySettingsApplied %}
                                <a href="tel:{{ user.phoneAfterPrivacySettingsApplied }}" class="uk-icon-button uk-margin-small-right" uk-icon="receiver"></a>
                            {% endif %}
                            {% if user.getLinkedinProfile %}
                                <a href="{{ user.linkedinProfile }}" class="uk-icon-button uk-margin-small-right" uk-icon="linkedin" target="_blank"></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-margin">
                <ul class="uk-tab" uk-switcher="connect: #tab-user-preferences" uk-tab>
                    <li class="uk-active"><a href="#user-preferences">My Calendar</a></li>
                    <li><a href="#user-schools">My Schools</a></li>
                    <li><a href="#user-lessons">My Lessons</a></li>
                    <li><a href="#user-feedback">My Feedback</a></li>
                </ul>
                <div class="uk-switcher" id="tab-user-preferences">
                    <div class="user_preferences_calendar">
                        <div class="react-events-calendar" data-user-id="{{ user.id }}"></div>
                    </div>
                    <div class="user_preferences_schools">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-header">
                                <div class="uk-grid-small uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    </div>
                                    <div class="uk-width-expand">
                                        <h3 class="uk-card-title uk-margin-remove-bottom">Schools I Volunteer At</h3>
                                    </div>
                                    <div class="uk-width-auto">
                                        <div class="uk-align-right">
                                            <a href="{{ path('profile_edit', {'id': user.id}) }}">
                                                <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-card-body">
                                {% if user.schools is defined and user.schools|length > 0 %}
                                    <ul class="uk-list uk-list-divider">
                                        {% for school in user.schools %}
                                            <li>{{ school.name }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>You haven't added any schools yet.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="user_preferences_lessons">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-header">
                                <div class="uk-grid-small uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        <i class="fa fa-book" aria-hidden="true"></i>
                                    </div>
                                    <div class="uk-width-expand">
                                        <h3 class="uk-card-title uk-margin-remove-bottom">Lessons I Can Teach</h3>
                                    </div>
                                    <div class="uk-width-auto">
                                        <div class="uk-align-right">
                                            <a href="{{ path('lesson_index') }}">
                                                <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-card-body">
                                {% if user.lessonTeachables|length > 0 %}
                                    <ul class="uk-list uk-list-divider">
                                        {% for teachable in user.lessonTeachables %}
                                            <li><a class="uk-link-text" href="{{ path('lesson_view', {'id': teachable.lesson.id}) }}">{{ teachable.lesson.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>You haven't added any lessons yet.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="user_preferences_feedback">
                        {% if dashboards.completedTeachLessonExperiences|length > 0 %}
                            <div uk-grid>
                                <div class="uk-width-1-1 uk-width-small@m">
                                    <ul class="uk-tab-left" uk-tab="connect: #tab-account-inner; animation: uk-animation-fade">
                                        {% for experience in dashboards.completedTeachLessonExperiences %}
                                            <li><a href="#feedback-{{ experience.id }}">{{ experience.startDateAndTime|date("m/d/Y") }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="uk-width-1-1 uk-width-expand@m">
                                    <ul id="tab-account-inner" class="uk-switcher">

                                        {% for experience in dashboards.completedTeachLessonExperiences %}

                                            {% set cumulativeRating = 0 %}
                                            {% set cumulativeInsight = 0 %}
                                            {% set cumulativeEnjoyable = 0 %}
                                            {% set cumulativeLearned = 0 %}
                                            {% set cumulativeRecommendation = 0 %}

                                            {% set cumulativePromoters = 0 %}
                                            {% set cumulativePassives = 0 %}
                                            {% set cumulativeDetractors = 0 %}

                                            <div class="feedback-{{ experience.id }}">
                                                <strong>Feedback for {{ experience.title }}</strong>
                                                {% if experience.feedback|length > 0 %}
                                                    <div class="uk-overflow-auto">
                                                        <table class="uk-table uk-table-divider">
                                                            <thead>
                                                            <tr>
                                                                <th>Role</th>
                                                                <th>Rating</th>
                                                                <th>Insight</th>
                                                                <th>Enjoyable</th>
                                                                <th>Learned</th>
                                                                <th>Recommendation</th>
                                                                <th>Feedback</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for feedback in experience.feedback %}

                                                                {% set cumulativeRating = cumulativeRating + feedback.rating %}
                                                                {% set cumulativeInsight = cumulativeInsight + feedback.providedCareerInsight %}
                                                                {% set cumulativeEnjoyable = cumulativeEnjoyable + feedback.wasEnjoyableAndEngaging %}
                                                                {% set cumulativeLearned = cumulativeLearned + feedback.learnSomethingNew %}
                                                                {% set cumulativeRecommendation = cumulativeRecommendation + feedback.likelihoodToRecommendToFriend %}

                                                                {# Determine Promoter, Detractors, and Passives #}
                                                                {% if feedback.likelihoodToRecommendToFriend > 8 %}
                                                                    {% set cumulativePromoters = cumulativePromoters + 1 %}
                                                                {% elseif feedback.likelihoodToRecommendToFriend < 7 %}
                                                                    {% set cumulativeDetractors = cumulativeDetractors + 1 %}
                                                                {% else %}
                                                                    {% set cumulativePassives = cumulativePassives + 1 %}
                                                                {% endif %}

                                                                <tr>
                                                                    <td class="uk-text-nowrap">{{ feedback.user.educator ? "Educator" : "Student" }}</td>
                                                                    <td class="uk-text-nowrap">{{ feedback.rating }}</td>
                                                                    <td class="uk-text-nowrap">{{ feedback.providedCareerInsight == 1 ? "YES" : "NO" }}</td>
                                                                    <td class="uk-text-nowrap">{{ feedback.wasEnjoyableAndEngaging == 1 ? "YES" : "NO" }}</td>
                                                                    <td class="uk-text-nowrap">{{ feedback.learnSomethingNew == 1 ? "YES" : "NO" }}</td>
                                                                    <td class="uk-text-nowrap">{{ feedback.likelihoodToRecommendToFriend }}</td>
                                                                    <td>{{ feedback.additionalFeedback }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <h3>Data Breakdown:</h3>

                                                    {% set npmScore = (((cumulativePromoters / experience.feedback|length ) - (cumulativeDetractors / experience.feedback|length )) * 100)|round %}

                                                    <div class="uk-grid-small uk-text-center uk-text-left@m uk-flex-middle" uk-grid>
                                                        <div class="uk-width-1-1 uk-width-expand@m">
                                                            <p>Net Promoter Score (NPS™) is one of the most widely used customer satisfaction tools in business today.</p>
                                                            <a class="uk-button uk-button-default uk-button-small" href="#modal-nps-score" uk-toggle>More info</a>
                                                            <div id="modal-nps-score" uk-modal>
                                                                <div class="uk-modal-dialog uk-modal-body">
                                                                    <p>Developed by Bain & Co in 2006, it is based on one question:</p>
                                                                    <strong>“How likely is it that you would recommend us to a friend?”</strong>
                                                                    <p>which is then answered on a 0 through 10 scale from “not at all likely” to “extremely likely”. Respondents who reply with a 9 or 10 are viewed as promoters: strong enthusiasts for your product or service. Those answering 7 or 8 are categorized as passives: satisfied customers but not enthusiastic. Those providing a 0 through 6 score are detractors: unhappy customers. To calculate a NPS™, you take the percent of respondents who are promoters and subtract the percent of respondents who are detractors to give you a number between zero and one. NPS range from -100 to +100. Average NPS for guest instructors and site visit hosts in 2018-19 was 68.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="uk-width-1-1 uk-width-auto@m">
                                                            <div class="uk-align-center">
                                                                <div class="react-gauge-chart"
                                                                     data-bg-color="#cccccc"
                                                                     data-label="NPM Score"
                                                                     data-max="100"
                                                                     data-min="-100"
                                                                     data-value="{{ npmScore }}"
                                                                ></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                        <div class="uk-width-1-2 uk-width-1-3@m">
                                                            <div class="uk-text-meta">Average Rating</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeRating / experience.feedback|length ) }}</h4>
                                                        </div>
                                                        <div class="uk-width-1-2 uk-width-1-3@m">
                                                            <div class="uk-text-meta">Total Responses</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ experience.feedback|length }}</h4>
                                                        </div>
                                                    </div>

                                                    <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                        <div class="uk-width-1-3">
                                                            <div class="uk-text-meta">Linked to Classwork</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeInsight / experience.feedback|length * 100 )|round(1, 'floor') }}%</h4>
                                                        </div>
                                                        <div class="uk-width-1-3">
                                                            <div class="uk-text-meta">Enjoyable/Engaging</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeEnjoyable / experience.feedback|length * 100 )|round(1, 'floor') }}%</h4>
                                                        </div>
                                                        <div class="uk-width-1-3">
                                                            <div class="uk-text-meta">Learned Something</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeLearned / experience.feedback|length * 100 )|round(1, 'floor') }}%</h4>
                                                        </div>
                                                    </div>

                                                {% else %}
                                                    <p>No feedback has been submitted yet.</p>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-3@m uk-width-1-1">

            <!-- Quick Links -->
            <div class="quick-links-wrapper uk-margin">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">My volunteer roles</h3>
                            </div>
                            <div class="uk-width-auto">
                                <div class="uk-align-right">
                                    <a href="{{ path('profile_edit', {'id': user.id}) }}">
                                        <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        {% if user.rolesWillingToFulfill|length %}
                            <ul class="uk-list uk-list-divider">
                                {% for role in user.rolesWillingToFulfill %}
                                    <li>{{ role.name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>You haven't added any roles yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- My Company -->
            <div class="quick-links-wrapper uk-margin">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">My Company</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        {% if user.company is defined and user.company %}
                            <a href="{{ path('company_view', { id: user.company.id }) }}"><h4>{{ user.company.name }}</h4></a>
                            <h5>Upcoming Events</h5>
                            {% set noEventsFound = true %}
                            {% if user.company.companyExperiences|length > 0 %}
                                <ul class="uk-list uk-list-divider uk-margin-remove-top uk-margin-remove-bottom">
                                    {% for experience in user.company.companyExperiences %}
                                        {% if date(experience.startDateAndTime) > date() %}
                                            {% set noEventsFound = false %}
                                            <li><a class="uk-text-meta" href="{{ path('experience_view', {id: experience.id}) }}">{{ experience.startDateAndTime|date("F jS") }} - {{ experience.title }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if noEventsFound == true %}
                                <p class="uk-text-meta">There are no upcoming events at this time</p>
                            {% endif %}

                            {% if user.isAdmin or user.id == user.company.owner.id %}
                                <a href="{{ path('company_experience_create', { id: user.company.id }) }}" class="uk-button uk-button-primary uk-button-small uk-inline">Create an Experience</a>
                            {% endif %}
                        {% else %}
                            <div className="uk-placeholder uk-text-center">
                                <p>You aren't associated with a company yet.</p>
                                <a href="{{ path('company_index') }}" class="uk-button uk-button-default uk-button-small uk-inline uk-margin-small-right">Join a Company</a>
                                <a href="{{ path('company_new') }}" class="uk-button uk-button-primary uk-button-small uk-inline">Create</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
