<div class="uk-container">

    {% include 'flash/messages.html.twig' %}

    <div class="uk-grid" uk-grid>
        <div class="uk-width-2-3@m uk-width-1-1">
            <!-- PROFILE -->
            <div class="profile-card-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(user, 'photo') is defined and user.photo ) ? asset(uploaded_asset(user.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.getFullName }}</h3>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    Regional Coordinator - {{ user.region.name }}
                                </p>
                            </div>
                            <div class="uk-width-auto">
                                <div class="uk-align-right">
                                    <a href="{{ path('profile_edit', {'id': user.id}) }}">
                                        <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-grid uk-margin" uk-grid>
                <div class="uk-width-1-1">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-body">
                            <h3>{{ user.region.name }} School Events in {{ "now"|date("F, Y") }}</h3>
                            <div class="react-bar-chart" data-set="[{{ list_pluck( dashboards.schoolEventsByRegionGroupedBySchool, 'num_of_school_events' )|join(',') }}]" data-labels='[{{ quote_array_elements_for_react( list_pluck( dashboards.schoolEventsByRegionGroupedBySchool, 'school_name' ))|join(',') }}]' data-label="School Events"></div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-body">
                            <h3>Company Events in {{ "now"|date("F, Y") }} by Industry</h3>
                            <div class="react-horizontal-bar-chart"
                                 data-sets='[{"label": "Company Events", "data": [{{ list_pluck( dashboards.companyEventsGroupedByPrimaryIndustry, 'num_of_company_events' )|join(',') }}]},{"label": "Educator Sign Ups", "data": [{{ list_pluck( dashboards.numberOfRegistrationsGroupedByPrimaryIndustryForRegion, 'number_of_registrations' )|join(',') }}]}]' data-labels='[{{ quote_array_elements_for_react( list_pluck( dashboards.companyEventsGroupedByPrimaryIndustry, 'primary_industry_name' ))|join(',') }}]'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-3@m uk-width-1-1">
            <!-- Quick Links -->
            <div class="quick-links-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Quick Links</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-list">
                            <li><a href="{{ path('school_new') }}">Create a new school</a></li>
                            <li><a href="{{ path('school_admin_new') }}">Create a new school administrator</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- My Region -->
            <div class="quick-links-wrapper uk-margin">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <h3>{{ user.region.name }} Region</h3>
                        <div class="react-pie-chart" data-set="[{{ dashboards.numberOfSchoolAdminsInRegion }},{{ dashboards.numberOfEducatorsInRegion }},{{ dashboards.numberOfStudentsInRegion }}]" data-labels='["School Administrators", "Educators", "Students"]'></div>
                    </div>
                </div>
            </div>

            <!-- My Schools -->
            <div class="quick-links-wrapper uk-margin">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">My Schools</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        {% if user.region.schools|length %}
                            <ul uk-accordion>
                                <li>
                                    <a class="uk-accordion-title" href="#">Show my schools</a>
                                    <div class="uk-accordion-content">
                                        <ul>
                                            {% for school in user.region.schools %}
                                                <li>{{ school.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        {% else %}
                            <p>You have not added any schools yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
