<div class="uk-container">

    {% include 'flash/messages.html.twig' %}

    <div class="uk-grid" uk-grid>
        <div class="uk-width-2-3@m uk-width-1-1">
            <!-- PROFILE -->
            <div class="profile-card-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(user, 'photo') is defined and user.photo ) ? asset(uploaded_asset(user.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.getFullName }}</h3>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    Regional Coordinator - {{ user.region.name }}
                                </p>
                            </div>
                            <div class="uk-width-auto">
                                <div class="uk-align-right">
                                    <a href="{{ path('profile_edit', {'id': user.id}) }}">
                                        <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-grid uk-margin" uk-grid>
                <div class="uk-width-1-1">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-body">
                            <h3>{{ user.region.name }} School Events in {{ "now"|date("F, Y") }}</h3>
                            <div class="react-bar-chart" data-set="[34,48,18]" data-labels='["Albert Lea", "Austin", "Grand Meadow"]' data-label="School Events"></div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-body">
                            <h3>Company Events in {{ "now"|date("F, Y") }} by Industry</h3>
                            <div class="react-horizontal-bar-chart" data-sets='[{"label": "Company Events", "data": [5,8,3,7,12,9,11,9,3,5,8,5,6,9,11,9]},{"label": "Educator Sign Ups", "data": [2,12,4,9,6,4,11,3,6,7,9,2,1,8,4,6]}]' data-labels='["Agriculture, Food &amp; Natural Resources", "Architecture &amp; Construction", "Arts, A/V Technology &amp; Communications", "Business Management &amp; Administration", "Education &amp; Training", "Finance", "Government &amp; Public Administration", "Health Science", "Hospitality &amp; Tourism", "Human Services", "Information Technology", "Law, Public Safety, Corrections &amp; Security", "Manufacturing", "Marketing", "Science, Technology, Engineering &amp; Mathematics", "Transportation, Distribution &amp; Logistics"]'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-3@m uk-width-1-1">
            <!-- Quick Links -->
            <div class="quick-links-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Quick Links</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-list">
                            <li><a href="{{ path('school_new') }}">Create a new school</a></li>
                            <li><a href="{{ path('school_admin_new') }}">Create a new school administrator</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- My Region -->
            <div class="quick-links-wrapper uk-margin">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <h3>{{ user.region.name }} Region</h3>
                        <div class="react-pie-chart" data-set="[{{ dashboards.numberOfSchoolAdminsInRegion }},{{ dashboards.numberOfEducatorsInRegion }},{{ dashboards.numberOfStudentsInRegion }}]" data-labels='["School Administrators", "Educators", "Students"]'></div>
                    </div>
                </div>
            </div>

            <!-- My Schools -->
            <div class="quick-links-wrapper uk-margin">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">My Schools</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        {% if user.region.schools|length %}
                            <ul uk-accordion>
                                <li>
                                    <a class="uk-accordion-title" href="#">Show my schools</a>
                                    <div class="uk-accordion-content">
                                        <ul>
                                            {% for school in user.region.schools %}
                                                <li>{{ school.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        {% else %}
                            <p>You have not added any schools yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
