<div class="uk-container">

    <div class="uk-grid" uk-grid>
        <div class="uk-width-1-1">
            <!-- PROFILE -->
            <div class="profile-card-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(user, 'photo') is defined and user.photo ) ? asset(uploaded_asset(user.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.getFullName }}</h3>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    School Administrator
                                </p>
                            </div>
                            <div class="uk-width-auto">
                                <div class="uk-align-right">
                                    <a href="{{ path('profile_edit', {'id': user.id}) }}">
                                        <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-container uk-margin">

    <ul class="uk-tab" id="school-tab" uk-switcher="connect: #tab-schools" uk-tab>
        {% for school in user.schools %}
            <li {{ loop.index == 1 ? 'class="uk-active"' : '' }}><a href="?school={{ school.id }}" class="schools-tab" data-tab="#school-{{school.id}}">{{ school.name }}</a></li>
        {% endfor %}
    </ul>
    <div class="uk-switcher" id="tab-schools">
        {% for school in user.schools %}
            <div class="school_{{ school.id }}">
                <div class="uk-grid" uk-grid>
                    <div class="uk-width-1-1 uk-width-2-3@l">
                        <div class="uk-panel">
                            <div class="school_description">
                                <div class="uk-section uk-section-muted uk-padding-large">
                                    <div class="uk-container">
                                        <h2>{{ school.name }} Overview</h2>
                                        {% if school.overviewAndBackground %}
                                            {{ school.overviewAndBackground|raw }}
                                        {% else %}
                                            <p>This school does not have an overview added yet.</p>
                                        {% endif %}
                                        <p><a class="uk-link" href="{{ path('school_edit', {'id': school.id}) }}">Edit</a></p>

                                        <!--
                                         <form action="{{ path('school_delete', { "id": school.id }) }}" method="POST">
                                            <button style="float: right" class="uk-button uk-button-danger uk-button-small uk-margin-small-right" type="submit">Remove</button>
                                        </form>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1 uk-width-1-3@l">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-body">
                                <h3>School Breakdown</h3>
                                <div class="react-pie-chart" data-set="[{{ dashboards.numberOfEducatorsInSchoolNetwork }},{{ dashboards.numberOfStudentsInSchoolNetwork }}]" data-labels='["Educators", "Students"]'></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if school.isUserSchoolAdministrator(user) %}
                    <div class="uk-margin">
                        <ul class="uk-tab school-tab-tools" uk-switcher="connect: #tab-school-{{ school.id }}-tools" uk-tab>
                            <li class="uk-active"><a href="?school={{school.id}}&tool=calendar">My Calendar</a></li>
                            <li class="uk-visible@m"><a href="?school={{school.id}}&tool=participation">Participation</a></li>
                            <li><a href="?school={{school.id}}&tool=educators">Educators</a></li>
                            <li><a href="?school={{school.id}}&tool=students">Students</a></li>
                            <li><a href="?school={{school.id}}&tool=experiences">Experiences</a></li>
                        </ul>
                        <div class="uk-switcher" id="tab-school-{{ school.id }}-tools">
                            <div class="school_{{ school.id }}_tools_calendar">
                                <div class="react-events-embed" data-school-id="{{ school.id }}"></div>
                            </div>
                            <div class="school_{{ school.id }}_tools_participation uk-visible@m">
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-body">
                                        <h3>Company Experiences in {{ "now"|date("F, Y") }} by Industry</h3>
                                        <div class="react-horizontal-bar-chart" data-sets='[{"label": "Company Experiences", "data": [5,8,3,7,12,9,11,9,3,5,8,5,6,9,11,9]},{"label": "Educator Sign Ups", "data": [2,12,4,9,6,4,11,3,6,7,9,2,1,8,4,6]}]' data-labels='["Agriculture, Food &amp; Natural Resources", "Architecture &amp; Construction", "Arts, A/V Technology &amp; Communications", "Business Management &amp; Administration", "Education &amp; Training", "Finance", "Government &amp; Public Administration", "Health Science", "Hospitality &amp; Tourism", "Human Services", "Information Technology", "Law, Public Safety, Corrections &amp; Security", "Manufacturing", "Marketing", "Science, Technology, Engineering &amp; Mathematics", "Transportation, Distribution &amp; Logistics"]'></div>
                                    </div>
                                </div>
                            </div>
                            <div class="school_{{ school.id }}_tools_educators">

                                <div class="uk-margin uk-width-1-1">
                                    <div class="uk-flex uk-flex-right@m">
                                        <a href="{{ path('school_educator_import', { "id": school.id }) }}" class="uk-button uk-button-primary uk-button-small">Add Educators</a>
                                    </div>
                                </div>

                                {% if school.educatorUsers|length %}
                                    <div class="school__educators">
                                        <dl class="uk-description-list uk-description-list-divider">
                                            <iframe src="{{ path('educator_manage', {id: school.id}) }}" style="border:none;" width="100%" height="800px"></iframe>
                                        </dl>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="school_{{ school.id }}_tools_students">

                                <div class="uk-margin uk-width-1-1">
                                    <div class="uk-flex uk-flex-right@m">
                                        <a href="{{ path('school_student_import', { "id": school.id }) }}" class="uk-button uk-button-primary uk-button-small">Add Students</a>
                                    </div>
                                </div>

                                {% if school.studentUsers|length %}
                                    <div class="school__educators">
                                        <dl class="uk-description-list uk-description-list-divider">
                                            <iframe src="{{ path('students_manage', {id: school.id}) }}" style="border:none;" width="100%" height="800px"></iframe>
                                        </dl>
                                    </div>
                                {% endif %}

                            </div>
                            <div class="school_{{ school.id }}_tools_experiences">
                                <div class="uk-placeholder uk-text-center">
                                    <p><a class="uk-button uk-button-primary uk-button-small" href="{{ path('school_experience_create', {'id': school.id}) }}">Create an Experience</a></p>
                                </div>

                                {% if school.schoolExperiences|length %}
                                    <div class="school__educators">
                                        <dl class="uk-description-list uk-description-list-divider">
                                            {% for experience in school.schoolExperiences %}

                                                {% set experienceId = experience.id %}

                                                {% if experience.cancelled != 1 %}
                                                    <div class="uk-grid uk-flex-middle" uk-grid>
                                                        <div class="uk-width-expand">
                                                            <dt>{{ experience.title }}</dt>
                                                        </div>
                                                        <div class="uk-width-1-1 uk-width-auto@m">
                                                            <a href="{{ path('school_experience_view', { "id": experience.id }) }}" class="uk-button uk-button-default uk-button-small">View</a>

                                                            <a class="uk-button uk-button-danger uk-button-small" href="#modal-remove-school-event-{{ experience.id }}" uk-toggle>Delete</a>

                                                            <div id="modal-remove-school-event-{{ experience.id }}" uk-modal>
                                                                <div class="uk-modal-dialog uk-modal-body">
                                                                    <h3>Delete Experience</h3>
                                                                    <form class="uk-inline" method="post" action="{{ path('school_experience_remove', { "id": experience.id }) }}" >

                                                                        <label class="uk-form-label">Cancellation Message (this will be sent to all users currently registered to attend your experience):</label>
                                                                        <input type="hidden" name="schoolAdminId" value="{{ user.id }}">
                                                                        <textarea class="uk-textarea" name="cancellationMessage" style="width: 100%"></textarea>
                                                                        <p>
                                                                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                                                            <button class="uk-button uk-button-danger" type="submit">Remove</button>
                                                                        </p>
                                                                    </form>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </dl>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
