<div class="uk-container">

    <div class="uk-grid" uk-grid>
        <div class="uk-width-1-1">
            <!-- PROFILE -->
            <div class="profile-card-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40"
                                     src="{{ ( attribute(user, 'photo') is defined and user.photo ) ? asset(uploaded_asset(user.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.getFullName }}</h3>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    School Administrator
                                </p>
                            </div>
                            <div class="uk-width-auto">
                                <div class="uk-align-right">
                                    <a href="{{ path('profile_edit', {'id': user.id}) }}">
                                        <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-container uk-margin">
    <div class="uk-margin uk-grid" uk-grid>
        <div class="uk-width-1-1">
            <select id="js-school-administrator-schools" class="uk-select" style="float: left; width: 300px">
                {% for school in user.schools %}
                    <option {{ school.id == schoolId or loop.index == 1 ? 'selected' : '' }}
                            value="{{ path('dashboard') }}?school={{ school.id }}">{{ school.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div class="uk-container uk-margin">

    {% if schoolId %}
        {% set schools = user.schools|filter(s => s.id == schoolId) %}
    {% else %}
        {% set schools = user.schools|filter((v, k) => k == 0) %}
    {% endif %}

    {% for school in schools %}

        <div class="school_{{ school.id }}">
            <div class="uk-grid" uk-grid>
                <div class="uk-width-1-1@l">
                    <div class="uk-panel">
                        <div class="school_description">
                            <div class="uk-section uk-section-muted uk-padding-large">
                                <div class="uk-container">
                                    <h2>{{ school.name }} Overview</h2>
                                    {% if school.overviewAndBackground %}
                                        {{ school.overviewAndBackground|customStripTags|raw }}
                                    {% else %}
                                        <p>This school does not have an overview added yet.</p>
                                    {% endif %}

                                    <hr>
                                    <a class="uk-button uk-button-xl uk-button-primary uk-margin"
                                       href="{{ path('school_edit', {'id': school.id}) }}">Edit School Profile</a>
                                    <hr>
                                    {#<p><a class="uk-link"
                                          href="{{ path('school_edit', {'id': school.id}) }}">Edit</a></p>#}
                                </div>
                            </div>
                        </div>
                    </div>


                    <br>
                    <br>

                    <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>

                        <div>
                            <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-text-center">
                                <h3 class="uk-card-title">Manage Educators</h3>
                                <p>Reset passwords, assign students to teachers, import educators, and more.</p>
                                <a class="uk-button uk-button-default" target="_blank" href="{{ path('educators_manage', {id: school.id}) }}">Get Started</a>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light uk-text-center">
                                <h3 class="uk-card-title">Manage Students</h3>
                                <p>Reset passwords, change supervising teachers, import students, and more.</p>
                                <a class="uk-button uk-button-default" target="_blank" href="{{ path('students_manage', {id: school.id}) }}">Get Started</a>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light uk-text-center">
                                <h3 class="uk-card-title">Create an Experience</h3>
                                <p>Create engaging school events that other users can search and register for.</p>
                                <a class="uk-button uk-button-default" target="_blank" href="{{ path('experience_new') }}?schoolId={{ school.id }}">Get Started</a>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-text-center">
                                <h3 class="uk-card-title">Manage Experiences</h3>
                                <p>View, update, delete and manage school events.</p>
                                <a class="uk-button uk-button-default" target="_blank" href="{{ path('experiences_manage') }}?schoolId={{ school.id }}">Get Started</a>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light uk-text-center">
                                <h3 class="uk-card-title">Personal Calendar</h3>
                                <p>View and manage events that you are personally registered for.</p>
                                <a class="uk-button uk-button-default" target="_blank" href="{{ path('experience_personal_calendar') }}">Get Started</a>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light uk-text-center">
                                <h3 class="uk-card-title">Manage Feedback</h3>
                                <p>View and manage feedback for school events.</p>
                                <a class="uk-button uk-button-default" target="_blank" href="{{ path('feedback_view_all') }}?schoolId={{ school.id }}">Get Started</a>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

    {% endfor %}
</div>
