<div class="uk-container">

    <div class="uk-grid" uk-grid>
        <div class="uk-width-1-1">
            <!-- PROFILE -->
            <div class="profile-card-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(user, 'photo') is defined and user.photo ) ? asset(uploaded_asset(user.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.getFullName }}</h3>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    School Administrator
                                </p>
                            </div>
                            <div class="uk-width-auto">
                                <div class="uk-align-right">
                                    <a href="{{ path('profile_edit', {'id': user.id}) }}">
                                        <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-container uk-margin">

    <ul class="uk-tab" id="school-tab" uk-switcher="connect: #tab-schools" uk-tab>
        {% for school in user.schools %}
            <li {{ loop.index == 1 ? 'class="uk-active"' : '' }}><a href="?school={{ school.id }}" class="schools-tab" data-tab="#school-{{school.id}}">{{ school.name }}</a></li>
        {% endfor %}
    </ul>
    <div class="uk-switcher" id="tab-schools">
        {% for school in user.schools %}
            <div class="school_{{ school.id }}">
                <div class="uk-grid" uk-grid>
                    <div class="uk-width-1-1 uk-width-2-3@l">
                        <div class="uk-panel">
                            <div class="school_description">
                                <div class="uk-section uk-section-muted uk-padding-large">
                                    <div class="uk-container">
                                        <h2>{{ school.name }} Overview</h2>
                                        {% if school.overviewAndBackground %}
                                            {{ school.overviewAndBackground|raw }}
                                        {% else %}
                                            <p>This school does not have an overview added yet.</p>
                                        {% endif %}
                                        <p><a class="uk-link" href="{{ path('school_edit', {'id': school.id}) }}">Edit</a></p>

                                        <!--
                                         <form action="{{ path('school_delete', { "id": school.id }) }}" method="POST">
                                            <button style="float: right" class="uk-button uk-button-danger uk-button-small uk-margin-small-right" type="submit">Remove</button>
                                        </form>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1 uk-width-1-3@l">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-body">
                                <h3>School Breakdown</h3>
                                <div class="react-pie-chart" data-set="[{{ dashboards.numberOfEducatorsInSchoolNetwork }},{{ dashboards.numberOfStudentsInSchoolNetwork }}]" data-labels='["Educators", "Students"]'></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if school.isUserSchoolAdministrator(user) %}
                    <div class="uk-margin">
                        <ul class="uk-tab school-tab-tools" uk-switcher="connect: #tab-school-{{ school.id }}-tools" uk-tab>
                            <li class="uk-active"><a href="?school={{school.id}}&tool=calendar">My Calendar</a></li>
                            <li class="uk-visible@m"><a href="?school={{school.id}}&tool=participation">Participation</a></li>
                            <li><a href="?school={{school.id}}&tool=educators">Educators</a></li>
                            <li><a href="?school={{school.id}}&tool=students">Students</a></li>
                            <li><a href="?school={{school.id}}&tool=experiences">Experiences</a></li>
                            <li><a href="?school={{school.id}}&tool=feedback">Feedback</a></li>
                        </ul>
                        <div class="uk-switcher" id="tab-school-{{ school.id }}-tools">
                            <div class="school_{{ school.id }}_tools_calendar">
                                <div class="react-events-embed" data-school-id="{{ school.id }}"></div>
                            </div>
                            <div class="school_{{ school.id }}_tools_participation uk-visible@m">
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-body">
                                        <h3>Company Experiences in {{ "now"|date("F, Y") }} by Industry</h3>
                                        <div class="react-horizontal-bar-chart" data-sets='[{"label": "Company Experiences", "data": [5,8,3,7,12,9,11,9,3,5,8,5,6,9,11,9]},{"label": "Educator Sign Ups", "data": [2,12,4,9,6,4,11,3,6,7,9,2,1,8,4,6]}]' data-labels='["Agriculture, Food &amp; Natural Resources", "Architecture &amp; Construction", "Arts, A/V Technology &amp; Communications", "Business Management &amp; Administration", "Education &amp; Training", "Finance", "Government &amp; Public Administration", "Health Science", "Hospitality &amp; Tourism", "Human Services", "Information Technology", "Law, Public Safety, Corrections &amp; Security", "Manufacturing", "Marketing", "Science, Technology, Engineering &amp; Mathematics", "Transportation, Distribution &amp; Logistics"]'></div>
                                    </div>
                                </div>
                            </div>
                            <div class="school_{{ school.id }}_tools_educators">

                                <div class="uk-margin uk-width-1-1">
                                    <div class="uk-flex uk-flex-right@m">
                                        <a href="{{ path('school_educator_import', { "id": school.id }) }}" class="uk-button uk-button-primary uk-button-small">Add Educators</a>
                                    </div>
                                </div>

                                {% if school.educatorUsers|length %}
                                    <div class="school__educators">
                                        <dl class="uk-description-list uk-description-list-divider">
                                            {% for educatorUser in school.educatorUsers %}
                                                <div class="uk-grid uk-flex-middle" uk-grid>
                                                    <div class="uk-width-auto">
                                                        <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(educatorUser, 'photo') is defined and educatorUser.photo ) ? asset(uploaded_asset(educatorUser.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                                                    </div>
                                                    <div class="uk-width-expand">
                                                        <dt>{{ educatorUser.lastName }}, {{ educatorUser.firstName }}</dt>
                                                        <dd>{{ excerpt_length( educatorUser.briefBio, 100 ) }}</dd>
                                                    </div>
                                                    <div class="uk-width-1-1 uk-width-auto@m">
                                                        <a href="{{ path('profile_index', { "id": educatorUser.id }) }}" class="uk-button uk-button-default uk-button-small">View</a>
                                                        <form class="uk-inline" action="{{ path('remove_educator', { "id": educatorUser.id }) }}" method="POST">
                                                            <input type="hidden" name="schoolAdminId" value="{{ user.id }}">
                                                            <button class="uk-button uk-button-danger uk-button-small uk-margin-small-right" type="submit">Remove</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="school_{{ school.id }}_tools_students">

                                <div class="uk-margin uk-width-1-1">
                                    <div class="uk-flex uk-flex-right@m">
                                        <a href="{{ path('school_student_import', { "id": school.id }) }}" class="uk-button uk-button-primary uk-button-small">Add Students</a>
                                    </div>
                                </div>

                                {% if school.studentUsers|length %}
                                    <div class="school__educators">
                                        <dl class="uk-description-list uk-description-list-divider">
                                            {% for studentUser in school.studentUsers %}
                                                <div class="uk-grid uk-flex-middle" uk-grid>
                                                    <div class="uk-width-auto">
                                                        <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(studentUser, 'photo') is defined and studentUser.photo ) ? asset(uploaded_asset(studentUser.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                                                    </div>
                                                    <div class="uk-width-expand">
                                                        <dt>{{ studentUser.lastName }}, {{ studentUser.firstName }}</dt>
                                                        <dd>{{ excerpt_length( studentUser.briefBio, 100 ) }}</dd>
                                                    </div>
                                                    <div class="uk-width-1-1 uk-width-auto@m">
                                                        <a href="{{ path('profile_edit', { "id": studentUser.id }) }}" class="uk-button uk-button-default uk-button-small">Edit</a>
                                                        <a href="{{ path('profile_index', { "id": studentUser.id }) }}" class="uk-button uk-button-default uk-button-small">View</a>
                                                        <form class="uk-inline" action="{{ path('remove_student', { "id": studentUser.id }) }}" method="POST">
                                                            <input type="hidden" name="schoolAdminId" value="{{ user.id }}">
                                                            <button class="uk-button uk-button-danger uk-button-small uk-margin-small-right" type="submit">Remove</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                {% endif %}

                            </div>
                            <div class="school_{{ school.id }}_tools_experiences">
                                <div class="uk-placeholder uk-text-center">
                                    <p><a class="uk-button uk-button-primary uk-button-small" href="{{ path('school_experience_create', {'id': school.id}) }}">Create an Experience</a></p>
                                </div>

                                {% if school.schoolExperiences|length %}
                                    <div class="school__educators">
                                        <dl class="uk-description-list uk-description-list-divider">
                                            {% for experience in school.schoolExperiences %}

                                                {% set experienceId = experience.id %}

                                                {% if experience.cancelled != 1 %}
                                                    <div class="uk-grid uk-flex-middle" uk-grid>
                                                        <div class="uk-width-expand">
                                                            <dt>{{ experience.title }}</dt>
                                                        </div>
                                                        <div class="uk-width-1-1 uk-width-auto@m">
                                                            <a href="{{ path('school_experience_view', { "id": experience.id }) }}" class="uk-button uk-button-default uk-button-small">View</a>

                                                            <a class="uk-button uk-button-danger uk-button-small" href="#modal-remove-school-event-{{ experience.id }}" uk-toggle>Delete</a>

                                                            <div id="modal-remove-school-event-{{ experience.id }}" uk-modal>
                                                                <div class="uk-modal-dialog uk-modal-body">
                                                                    <h3>Delete Experience</h3>
                                                                    <form class="uk-inline" method="post" action="{{ path('school_experience_remove', { "id": experience.id }) }}" >

                                                                        <label class="uk-form-label">Cancellation Message (this will be sent to all users currently registered to attend your experience):</label>
                                                                        <input type="hidden" name="schoolAdminId" value="{{ user.id }}">
                                                                        <textarea class="uk-textarea" name="cancellationMessage" style="width: 100%"></textarea>
                                                                        <p>
                                                                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                                                            <button class="uk-button uk-button-danger" type="submit">Remove</button>
                                                                        </p>
                                                                    </form>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </dl>
                                    </div>
                                {% endif %}

                            </div>
                            <div class="school_{{ school.id }}_tools_feedback">
                                <div uk-grid>
                                    <div class="uk-width-1-1 uk-width-small@m">
                                        <ul class="uk-tab-left" uk-tab="connect: #tab-account-inner-{{ school.id }}; animation: uk-animation-fade">
                                            
                                            {% for experience in dashboards['events'][school.id]['schoolEvents'] %}
                                                <li><a href="#feedback-{{ experience.id }}">{{ experience.start_date_and_time|date("m/d/Y") }}</a></li>
                                            {% endfor %}

                                            <li style="margin-top:10px;"><a href="#feedback-summary">Summary</a></li>
                                        </ul>
                                    </div>
                                    <div class="uk-width-1-1 uk-width-expand@m">
                                        <ul id="tab-account-inner-{{ school.id }}" class="uk-switcher">

                                            {% set cumulativeTotalRating = 0 %}
                                            {% set cumulativeTotalInsight = 0 %}
                                            {% set cumulativeTotalEnjoyable = 0 %}
                                            {% set cumulativeTotalLearned = 0 %}
                                            {% set cumulativeTotalRecommendation = 0 %}
                                            {% set cumulativeTotalUsers = 0 %} 
                                            {% set cumulativeTotalStudents = 0 %}
                                            {% set cumulativeTotalPromoters = 0 %}
                                            {% set cumulativeTotalDetractors = 0 %}
                                            {% set cumulativeTotalPassives = 0 %}


                                            

                                            {% for experience in dashboards['events'][school.id]['schoolEvents'] %}
                                                
                                                {% set cumulativeRating = 0 %}
                                                {% set cumulativeInsight = 0 %}
                                                {% set cumulativeEnjoyable = 0 %}
                                                {% set cumulativeLearned = 0 %}
                                                {% set cumulativeRecommended = 0 %}
                                                {% set cumulativeUsers = 0 %}
                                                {% set cumulativeStudents = 0 %}
                                                {% set cumulativePromoters = 0 %}
                                                {% set cumulativeDetractors = 0 %}
                                                {% set cumulativePassives = 0 %}
                                                
                                                <div class="feedback-{{ experience.id }}">
                                                    <strong>Feedback for {{ experience.title }}</strong>
                                                    {% if dashboards['events'][school.id]['schoolFeedback'][experience.id]['events']|length > 0 %}
                                                       <div class="uk-overflow-auto">
                                                            <table class="uk-table uk-table-divider">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Role</th>
                                                                        <th>Rating</th>
                                                                        <th>Insight</th>
                                                                        <th>Enjoyable</th>
                                                                        <th>Learned</th>
                                                                        <th>Recommendation</th>
                                                                        <th>Feedback</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for feedback in dashboards['events'][school.id]['schoolFeedback'][experience.id]['events'] %}

                                                                    {% if feedback.user.id != user.id %}

                                                                        {% set role = '' %}
                                                                        {% if feedback.user.educator %}
                                                                            {% set role = 'Educator' %}
                                                                        {% elseif feedback.user.professional %}
                                                                            {% set role = 'Professional' %}
                                                                        {% elseif feedback.user.student %}
                                                                            {% set role = 'Student' %}
                                                                        {% else %}
                                                                            {% set role = 'Unknown' %}
                                                                        {% endif %}

                                                                    {# Cumulative Totals #}
                                                                        {% set cumulativeTotalRating = cumulativeTotalRating + feedback.rating %}

                                                                        {% if role == "Student" %}
                                                                            {% set cumulativeTotalInsight = cumulativeTotalInsight + feedback.providedCareerInsight %}
                                                                            {% set cumulativeTotalLearned = cumulativeTotalLearned + feedback.learnSomethingNew %}
                                                                            {% set cumulativeTotalStudents = cumulativeTotalStudents + 1 %}
                                                                        {% endif %}

                                                                        {% set cumulativeTotalEnjoyable = cumulativeTotalEnjoyable + feedback.wasEnjoyableAndEngaging %}
                                                                        {% set cumulativeTotalUsers = cumulativeTotalUsers + 1 %}

                                                                        {# Determine Promoter, Detractors, and Passives #}
                                                                        {% if feedback.likelihoodToRecommendToFriend > 8 %}
                                                                            {% set cumulativeTotalPromoters = cumulativeTotalPromoters + 1 %}
                                                                        {% elseif feedback.likelihoodToRecommendToFriend < 7 %}
                                                                            {% set cumulativeTotalDetractors = cumulativeTotalDetractors + 1 %}
                                                                        {% else %}
                                                                            {% set cumulativeTotalPassives = cumulativeTotalPassives + 1 %}
                                                                        {% endif %}


                                                                    {# Event Totals #}
                                                                        {% set cumulativeRating = cumulativeRating + feedback.rating %}
                                                                        
                                                                        {% if role == "Student" %}
                                                                            {% set cumulativeInsight = cumulativeInsight + feedback.providedCareerInsight %}
                                                                            {% set cumulativeLearned = cumulativeLearned + feedback.learnSomethingNew %}
                                                                            {% set cumulativeStudents = cumulativeStudents + 1 %}
                                                                        {% endif %}

                                                                        {% set cumulativeEnjoyable = cumulativeEnjoyable + feedback.wasEnjoyableAndEngaging %}
                                                                        {% set cumulativeUsers = cumulativeUsers + 1 %}


                                                                        {# Determine Promoter, Detractors, and Passives #}
                                                                        {% if feedback.likelihoodToRecommendToFriend > 8 %}
                                                                            {% set cumulativePromoters = cumulativePromoters + 1 %}
                                                                        {% elseif feedback.likelihoodToRecommendToFriend < 7 %}
                                                                            {% set cumulativeDetractors = cumulativeDetractors + 1 %}
                                                                        {% else %}
                                                                            {% set cumulativePassives = cumulativePassives + 1 %}
                                                                        {% endif %}

                                                                        <tr>
                                                                            <td class="uk-text-nowrap">{{ role }}</td>
                                                                            <td class="uk-text-nowrap">{{ feedback.rating }}</td>
                                                                            <td class="uk-text-nowrap">
                                                                                {% if role == "Student" %}
                                                                                    {{ feedback.providedCareerInsight == 1 ? "YES" : "NO" }}
                                                                                {% else %}
                                                                                    --
                                                                                {% endif %}
                                                                            </td>
                                                                            <td class="uk-text-nowrap">{{ feedback.wasEnjoyableAndEngaging == 1 ? "YES" : "NO" }}</td>
                                                                            <td class="uk-text-nowrap">
                                                                                {% if role == "Student" %}
                                                                                    {{ feedback.learnSomethingNew == 1 ? "YES" : "NO" }}
                                                                                {% else %}
                                                                                    --
                                                                                {% endif %}
                                                                            </td>
                                                                            <td class="uk-text-nowrap">{{ feedback.likelihoodToRecommendToFriend }}</td>
                                                                            <td>{{ feedback.additionalFeedback }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>


                                                        <h3>Data Breakdown:</h3>
                                                        {% set npmScore = (((cumulativePromoters / cumulativeUsers ) - (cumulativeDetractors / cumulativeUsers )) * 100)|round %}

                                                        <div class="uk-grid-small uk-text-center uk-text-left@m uk-flex-middle" uk-grid>
                                                            <div class="uk-width-1-1 uk-width-expand@m">
                                                                <p>Net Promoter Score (NPS™) is one of the most widely used customer satisfaction tools in business today.</p>
                                                                <a class="uk-button uk-button-default uk-button-small" href="#modal-nps-score" uk-toggle>More info</a>
                                                                <div id="modal-nps-score" uk-modal>
                                                                    <div class="uk-modal-dialog uk-modal-body">
                                                                        <p>Developed by Bain & Co in 2006, it is based on one question:</p>
                                                                        <strong>“How likely is it that you would recommend us to a friend?”</strong>
                                                                        <p>which is then answered on a 0 through 10 scale from “not at all likely” to “extremely likely”. Respondents who reply with a 9 or 10 are viewed as promoters: strong enthusiasts for your product or service. Those answering 7 or 8 are categorized as passives: satisfied customers but not enthusiastic. Those providing a 0 through 6 score are detractors: unhappy customers. To calculate a NPS™, you take the percent of respondents who are promoters and subtract the percent of respondents who are detractors to give you a number between zero and one. NPS range from -100 to +100. Average NPS for guest instructors and site visit hosts in 2018-19 was 68.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="uk-width-1-1 uk-width-auto@m">
                                                                <div class="uk-align-center">
                                                                    <div class="react-gauge-chart"
                                                                        data-bg-color="#cccccc"
                                                                        data-label="NPS Score"
                                                                        data-max="100"
                                                                        data-min="-100"
                                                                        data-value="{{ npmScore }}"
                                                                    ></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                            <div class="uk-width-1-2 uk-width-1-3@m">
                                                                <div class="uk-text-meta">Average Rating</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeRating / cumulativeUsers ) }}</h4>
                                                            </div>
                                                            <div class="uk-width-1-2 uk-width-1-3@m">
                                                                <div class="uk-text-meta">Total Responses</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ cumulativeUsers }}</h4>
                                                            </div>
                                                            <div class="uk-width-1-2 uk-width-1-3@m">
                                                        <div class="uk-text-meta">Total Student Responses</div>
                                                        <h4 class="uk-heading-small uk-margin-remove-top">{{ cumulativeStudents }}</h4>
                                                    </div>
                                                        </div>

                                                        <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                            <div class="uk-width-1-3">
                                                                <div class="uk-text-meta">Provider Career Insights</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">
                                                                    {% if cumulativeStudents > 0 %}
                                                                        {{ ( cumulativeInsight / cumulativeStudents * 100 )|round(1, 'floor') }}%
                                                                    {% else %}
                                                                        N/A
                                                                    {% endif %}
                                                                </h4>
                                                            </div>
                                                            <div class="uk-width-1-3">
                                                                <div class="uk-text-meta">Enjoyable/Engaging</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeEnjoyable / cumulativeUsers * 100 )|round(1, 'floor') }}%</h4>
                                                            </div>
                                                            <div class="uk-width-1-3">
                                                                <div class="uk-text-meta">Learned Something</div>
                                                                <h4 class="uk-heading-small uk-margin-remove-top">
                                                                    {% if cumulativeStudents > 0 %}
                                                                        {{ ( cumulativeLearned / cumulativeStudents * 100 )|round(1, 'floor') }}%
                                                                    {% else %}
                                                                        N/A
                                                                    {% endif %}
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <p>No feedback has been submitted yet.</p>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                            
                                            <div class="feedback-summary">
                                                {% set npmScore = (((cumulativeTotalPromoters - cumulativeTotalDetractors) / cumulativeTotalUsers) * 100)|round %}
                                                <p><strong>Feedback Summary</strong></p>

                                                <div class="uk-grid-small uk-text-center uk-text-left@m uk-flex-middle" uk-grid>
                                                    <div class="uk-width-1-1 uk-width-expand@m">
                                                        <p>Net Promoter Score (NPS™) is one of the most widely used customer satisfaction tools in business today.</p>
                                                        <a class="uk-button uk-button-default uk-button-small" href="#modal-nps-score" uk-toggle>More info</a>
                                                        <div id="modal-nps-score" uk-modal>
                                                            <div class="uk-modal-dialog uk-modal-body">
                                                                <p>Developed by Bain & Co in 2006, it is based on one question:</p>
                                                                <strong>“How likely is it that you would recommend us to a friend?”</strong>
                                                                <p>which is then answered on a 0 through 10 scale from “not at all likely” to “extremely likely”. Respondents who reply with a 9 or 10 are viewed as promoters: strong enthusiasts for your product or service. Those answering 7 or 8 are categorized as passives: satisfied customers but not enthusiastic. Those providing a 0 through 6 score are detractors: unhappy customers. To calculate a NPS™, you take the percent of respondents who are promoters and subtract the percent of respondents who are detractors to give you a number between zero and one. NPS range from -100 to +100. Average NPS for guest instructors and site visit hosts in 2018-19 was 68.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-1-1 uk-width-auto@m">
                                                        <div class="uk-align-center">
                                                            <div class="react-gauge-chart"
                                                                data-bg-color="#cccccc"
                                                                data-label="NPS Score"
                                                                data-max="100"
                                                                data-min="-100"
                                                                data-value="{{ npmScore }}"
                                                            ></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                    <div class="uk-width-1-2 uk-width-1-3@m">
                                                        <div class="uk-text-meta">Average Rating</div>
                                                        <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeTotalRating / cumulativeTotalUsers )|round(2, 'floor') }}</h4>
                                                    </div>
                                                    <div class="uk-width-1-2 uk-width-1-3@m">
                                                        <div class="uk-text-meta">Total Responses</div>
                                                        <h4 class="uk-heading-small uk-margin-remove-top">{{ cumulativeTotalUsers }}</h4>
                                                    </div>
                                                    <div class="uk-width-1-2 uk-width-1-3@m">
                                                        <div class="uk-text-meta">Total Student Responses</div>
                                                        <h4 class="uk-heading-small uk-margin-remove-top">{{ cumulativeTotalStudents }}</h4>
                                                    </div>
                                                </div>

                                                <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                    <div class="uk-width-1-3">
                                                        <div class="uk-text-meta">Provider Career Insights</div>
                                                        <h4 class="uk-heading-small uk-margin-remove-top">
                                                            {% if cumulativeTotalStudents > 0 %}
                                                                {{ ( cumulativeTotalInsight / cumulativeTotalStudents * 100 )|round(1, 'floor') }}%
                                                            {% else %}
                                                                N/A
                                                            {% endif %}
                                                        </h4>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <div class="uk-text-meta">Enjoyable/Engaging</div>
                                                        <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeTotalEnjoyable / cumulativeTotalUsers * 100 )|round(1, 'floor') }}%</h4>
                                                    </div>
                                                    <div class="uk-width-1-3">
                                                        <div class="uk-text-meta">Learned Something</div>
                                                        <h4 class="uk-heading-small uk-margin-remove-top">
                                                            {% if cumulativeTotalStudents > 0 %}
                                                                {{ ( cumulativeTotalLearned / cumulativeTotalStudents * 100 )|round(1, 'floor') }}%
                                                            {% else %}
                                                                N/A
                                                            {% endif %}
                                                        </h4>
                                                    </div>
                                                </div>

                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
