<div class="uk-container">

    {% include 'flash/messages.html.twig' %}

    <div class="uk-grid" uk-grid>
        <div class="uk-width-1-1">
            <!-- PROFILE -->
            <div class="profile-card-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(user, 'photo') is defined and user.photo ) ? asset(uploaded_asset(user.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.getFullName }}</h3>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    School Administrator
                                </p>
                            </div>
                            <div class="uk-width-auto">
                                <div class="uk-align-right">
                                    <a href="{{ path('profile_edit', {'id': user.id}) }}">
                                        <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-container uk-margin">

    <ul class="uk-tab" uk-switcher="connect: #tab-schools" uk-tab>
        {% for school in user.schools %}
            <li {{ loop.index == 1 ? 'class="uk-active"' : '' }}><a href="#school-{{ school.id }}">{{ school.name }}</a></li>
        {% endfor %}
    </ul>
    <div class="uk-switcher" id="tab-schools">
        {% for school in user.schools %}
            <div class="school_{{ school.id }}">
                <div class="uk-grid" uk-grid>
                    <div class="uk-width-1-1 uk-width-2-3@l">
                        <div class="uk-panel">
                            <div class="school_description">
                                <div class="uk-section uk-section-muted uk-padding-large">
                                    <div class="uk-container">
                                        <h2>School Overview</h2>
                                        {% if school.overviewAndBackground %}
                                            {{ school.overviewAndBackground|raw }}
                                        {% else %}
                                            <p>This school does not have an overview added yet.</p>
                                        {% endif %}
                                        <p><a class="uk-link" href="{{ path('school_edit', {'id': school.id}) }}">Edit</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1 uk-width-1-3@l">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-body">
                                <h3>School Breakdown</h3>
                                <div class="react-pie-chart" data-set="[{{ dashboards.numberOfEducatorsInSchoolNetwork }},{{ dashboards.numberOfStudentsInSchoolNetwork }}]" data-labels='["Educators", "Students"]'></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if school.isUserSchoolAdministrator(user) %}
                    <div class="uk-margin">
                        <ul class="uk-tab" uk-switcher="connect: #tab-school-{{ school.id }}-tools" uk-tab>
                            <li class="uk-active"><a href="#school-{{ school.id }}-tools-calendar">Calendar</a></li>
                            <li><a href="#school-{{ school.id }}-tools-participation">Participation</a></li>
                            <li><a href="#school-{{ school.id }}-tools-educators">Educators</a></li>
                            <li><a href="#school-{{ school.id }}-tools-students">Students</a></li>
                            <li><a href="#school-{{ school.id }}-tools-experiences">Experiences</a></li>
                        </ul>
                        <div class="uk-switcher" id="tab-school-{{ school.id }}-tools">
                            <div class="school_{{ school.id }}_tools_calendar">
                                <div class="react-events-calendar" data-school-id="{{ school.id }}"></div>
                            </div>
                            <div class="school_{{ school.id }}_tools_participation">
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-body">
                                        <h3>Company Events in {{ "now"|date("F, Y") }} by Industry</h3>
                                        <div class="react-horizontal-bar-chart" data-sets='[{"label": "Company Events", "data": [5,8,3,7,12,9,11,9,3,5,8,5,6,9,11,9]},{"label": "Educator Sign Ups", "data": [2,12,4,9,6,4,11,3,6,7,9,2,1,8,4,6]}]' data-labels='["Agriculture, Food &amp; Natural Resources", "Architecture &amp; Construction", "Arts, A/V Technology &amp; Communications", "Business Management &amp; Administration", "Education &amp; Training", "Finance", "Government &amp; Public Administration", "Health Science", "Hospitality &amp; Tourism", "Human Services", "Information Technology", "Law, Public Safety, Corrections &amp; Security", "Manufacturing", "Marketing", "Science, Technology, Engineering &amp; Mathematics", "Transportation, Distribution &amp; Logistics"]'></div>
                                    </div>
                                </div>
                            </div>
                            <div class="school_{{ school.id }}_tools_educators">

                                <div class="uk-margin uk-width-1-1">
                                    <div class="uk-flex uk-flex-right@m">
                                        <a href="{{ path('school_educator_import', { "id": school.id }) }}" class="uk-button uk-button-primary uk-button-small">Add Educators</a>
                                    </div>
                                </div>

                                {% if school.educatorUsers|length %}
                                    <div class="school__educators">
                                        <dl class="uk-description-list uk-description-list-divider">
                                            {% for educatorUser in school.educatorUsers %}
                                                <div class="uk-grid uk-flex-middle" uk-grid>
                                                    <div class="uk-width-auto">
                                                        <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(educatorUser, 'photo') is defined and educatorUser.photo ) ? asset(uploaded_asset(educatorUser.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                                                    </div>
                                                    <div class="uk-width-expand">
                                                        <dt>{{ educatorUser.firstName }} {{ educatorUser.lastName }}</dt>
                                                        <dd>{{ excerpt_length( educatorUser.briefBio, 100 ) }}</dd>
                                                    </div>
                                                    <div class="uk-width-auto">
                                                        <a href="{{ path('profile_index', { "id": educatorUser.id }) }}" class="uk-button uk-button-default uk-button-small">View</a>
                                                        <form class="uk-inline" action="{{ path('remove_educator', { "id": educatorUser.id }) }}" method="POST">
                                                            <input type="hidden" name="schoolAdminId" value="{{ user.id }}">
                                                            <button class="uk-button uk-button-danger uk-button-small uk-margin-small-right" type="submit">Remove</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="school_{{ school.id }}_tools_students">

                                <div class="uk-margin uk-width-1-1">
                                    <div class="uk-flex uk-flex-right@m">
                                        <a href="{{ path('school_student_import', { "id": school.id }) }}" class="uk-button uk-button-primary uk-button-small">Add Students</a>
                                    </div>
                                </div>

                                {% if school.studentUsers|length %}
                                    <div class="school__educators">
                                        <dl class="uk-description-list uk-description-list-divider">
                                            {% for studentUser in school.studentUsers %}
                                                <div class="uk-grid uk-flex-middle" uk-grid>
                                                    <div class="uk-width-auto">
                                                        <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(studentUser, 'photo') is defined and studentUser.photo ) ? asset(uploaded_asset(studentUser.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                                                    </div>
                                                    <div class="uk-width-expand">
                                                        <dt>{{ studentUser.firstName }} {{ studentUser.lastName }}</dt>
                                                        <dd>{{ excerpt_length( studentUser.briefBio, 100 ) }}</dd>
                                                    </div>
                                                    <div class="uk-width-auto">
                                                        <a href="{{ path('profile_index', { "id": studentUser.id }) }}" class="uk-button uk-button-default uk-button-small">View</a>
                                                        <form class="uk-inline" action="{{ path('remove_student', { "id": studentUser.id }) }}" method="POST">
                                                            <input type="hidden" name="schoolAdminId" value="{{ user.id }}">
                                                            <button class="uk-button uk-button-danger uk-button-small uk-margin-small-right" type="submit">Remove</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                {% endif %}

                            </div>
                            <div class="school_{{ school.id }}_tools_experiences">
                                <div class="uk-placeholder uk-text-center">
                                    <p><a class="uk-button uk-button-primary uk-button-small" href="{{ path('school_experience_create', {'id': school.id}) }}">Create an Event</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
