<div class="uk-container">
    <div class="uk-grid" uk-grid>
        <div class="uk-width-2-3@m uk-width-1-1">
            <!-- PROFILE -->
            <div class="profile-card-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(user, 'photo') is defined and user.photo ) ? asset(uploaded_asset(user.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.getFullName }}</h3>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    State Administrator
                                </p>
                            </div>
                            <div class="uk-width-auto">
                                <div class="uk-align-right">
                                    <a href="{{ path('profile_edit', {'id': user.id}) }}">
                                        <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br /><br />

            <!-- Manage Users -->
            <div class="quick-links-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand@s uk-width-1-1">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Manage Users</h3>
                            </div>
                            <div class="uk-width-auto@s uk-width-1-1">
                                <div class="uk-align-right@s">
                                    <a href="{{ path('regional_coordinator_new') }}" class="uk-button uk-button-primary uk-button-small">Create Regional Coordinator</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-divider">
                            <li>
                                <a href="{{ path('manage_regional_coordinators') }}">Regional Coordinator</a>
                            </li>
                            <li>
                                <a href="{{ path('manage_school_administrators') }}">School Administrators</a>
                            </li>
                            <li>
                                <a href="{{ path('manage_students') }}">Students</a>
                            </li>
                            <li>
                                <a href="{{ path('manage_educators') }}">Educators</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-3@m uk-width-1-1">
            <!-- Current State -->
            <div class="quick-links-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.site.name|capitalize }}</h3>
                        <p class="uk-text-meta uk-margin-remove-top">
                            {{ user.state.name|capitalize }}
                        </p>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-divider">
                            <li>
                                <a href="{{ path('region_new') }}">Create a Region</a>
                            </li>
                            <li>
                                <a href="{{ path('regional_coordinator_new') }}">Create a Regional Coordinator</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="uk-card uk-card-default uk-margin">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.state.name }} Regions</h3>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-list">
                            {% for region in user.site.regions %}
                                {% if region.state.name == user.state.name %}
                                    <li>{{ region.name|capitalize }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
