<div class="uk-container">
    <div class="uk-grid" uk-grid>
        {% if user.secondaryIndustries|length == 0 %}
            <div class="uk-width-1-1">
                <div class="uk-alert-warning" uk-alert>
                    <h3>Warning: Incomplete Profile</h3>
                    <p>Please select at least one career field of interest. <br /><strong><a href="{{ path('profile_edit', {'id': user.id}) }}">Click here to begin.</a></strong></p>
                </div>
            </div>
        {% endif %}
        <div class="uk-width-2-3@m uk-width-1-1">
            <!-- PROFILE -->
            <div class="profile-card-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(user, 'photo') is defined and user.photo ) ? asset(uploaded_asset(user.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                            </div>
                            <div class="uk-width-expand">
                                <a href="{{ path('profile_index', {'id': user.id}) }}">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.getFullName }}</h3>
                                </a>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    <a href="{{ path('school_view', {'id': user.school.id}) }}">{{ user.school.name }}</a> - Student
                                </p>
                            </div>
                            <div class="uk-width-auto">
                                <div class="uk-align-right">
                                    <a href="{{ path('profile_edit', {'id': user.id}) }}">
                                        <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        {% if user.careerStatement %}
                            <p class="uk-text-large">My Career Statement</p>
                            <p>{{ user.careerStatement }}</p>
                        {% else %}
                            <p>Welcome to {{ get_site().name }}! <a href="{{ path('profile_edit', {'id': user.id}) }}">Add a brief career interests bio</a> so others know more about you.</p>
                        {% endif %}
                        <div class="professional-links">
                            <a href="mailto:{{ user.email }}" class="uk-icon-button uk-margin-small-right" uk-icon="mail"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-margin">
                <ul class="uk-tab" id="user-nav" uk-switcher="connect: #tab-user-preferences" uk-tab>
                    <li class="uk-active"><a href="#user-preferences">My Calendar</a></li>
                    <li><a href="#user-favorites">My Favorites</a></li>
                    <li><a href="#user-events">My Experiences</a></li>
                    {% if dashboards['eventsWithFeedbackFromOthers']|length > 0 %}
                        <li><a href="#user-feedback">My Received Feedback</a></li>
                    {% endif %}
                    <li><a href="#user-reviews">Give Feedback</a></li>
                </ul>
                <div class="uk-switcher" id="tab-user-preferences">
                    <div class="user_preferences_calendar">
                        <div class="react-events-embed" data-user-id="{{ user.id }}"></div>
                    </div>
                    <div class="user_preferences_favorites">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-body">
                                <h3 class="uk-card-title uk-margin-remove-bottom">My Favorites</h3>
                                <ul class="uk-tab" uk-switcher="connect: #tab-favorites" uk-tab>
                                    <li><a href="#favorites-companies">Companies</a></li>
                                    <li><a href="#favorites-career-videos">Career Videos</a></li>
                                </ul>
                                <div class="uk-switcher" id="tab-favorites">
                                    <div class="tab-favorites__companies">
                                        {% if user.companyFavorites|length > 0 %}
                                            <ul class="uk-list uk-list-divider">
                                                {% for favorite in user.companyFavorites %}
                                                    <li>
                                                        <a class="uk-link-text" href="{{ path('company_view', {'id': favorite.company.id}) }}">{{ favorite.company.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <p>No favorite companies added yet.</p>
                                        {% endif %}
                                    </div>

                                    <div class="tab-favorites__career_videos">
                                        {% if user.videoFavorites|length > 0 %}
                                            <ul class="uk-list uk-list-divider">
                                                <div id="companyVideos" class="uk-child-width-1-3@m" uk-grid="masonry: true" uk-lightbox="animation: slide; video-autoplay: 1">
                                                    {% for favorite in user.videoFavorites %}
                                                        {% set video = favorite.video %}
                                                        <div class="company-video">
                                                            <a class="uk-inline" href="https://www.youtube.com/watch?v={{ video.videoId|trim }}">
                                                                <img src="http://i.ytimg.com/vi/{{ video.videoId|trim }}/hqdefault.jpg" alt="">
                                                                <div class="company-video__overlay">
                                                                    <div class="company-video__overlay-title">
                                                                        {{ video.name }}
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </ul>
                                        {% else %}
                                            <p>No favorite career videos added yet.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user_preferences_events">
                        <div>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">My Experiences</h3>
                                    <ul class="uk-tab" uk-switcher="connect: #tab-events" uk-tab>
                                        <li class="uk-active"><a href="#events-upcoming">Upcoming</a></li>
                                        <li><a href="#events-completed">Completed</a></li>
                                    </ul>
                                    <div class="uk-switcher" id="tab-events">
                                        <div class="tab-events__upcoming">
                                            {% if dashboards.upcomingEventsRegisteredForByUser|length > 0 %}
                                                <ul class="uk-list uk-list-divider">
                                                    {% for event in dashboards.upcomingEventsRegisteredForByUser %}
                                                        <li><a class="uk-link-text" href="{{ path('experience_view', {'id': event.id}) }}">{{ event.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>No upcoming experiences.</p>
                                            {% endif %}
                                        </div>
                                        <div class="tab-events__completed">
                                            {% if dashboards.completedEventsRegisteredForByUser|length > 0 %}
                                                <ul class="uk-list uk-list-divider">
                                                    {% for event in dashboards.completedEventsRegisteredForByUser %}
                                                        <li><a class="uk-link-text" href="{{ path('experience_view', {'id': event.id}) }}">{{ event.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>No completed experiences.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if dashboards['eventsWithFeedbackFromOthers']|length > 0 %}
                        <div class="user_preferences_feedback">
                            {# FEEDBACK WIDGET #}
                            {{ feedback_widget(user)|raw }}
                        </div>
                    {% endif %}

                    <div class="user_preferences_reviews">
                        {# Professional Events with feedback and events missing feedback #}
                        <div class="uk-margin">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">My Reviews</h3>
                                    <ul class="uk-tab" uk-switcher="connect: #tab-reviews" uk-tab>
                                        <li class="uk-active"><a href="#reviews-todo">Todo</a></li>
                                        <li><a href="#reviews-submitted">Submitted</a></li>
                                    </ul>
                                    <div class="uk-switcher" id="tab-reviews">
                                        <div class="tab-reviews__todo">
                                            {% if dashboards.eventsMissingFeedback|length > 0 %}
                                                <ul class="uk-list uk-list-divider">
                                                    {% for eventProps in dashboards.eventsMissingFeedback %}
                                                        <li class="uk-position-relative" id="feedback_{{ eventProps.event.id }}">
                                                            {# <small>{{ eventProps.event.getClassName() }}</small><br /> #}
                                                            <span class="uk-position-center-right"><button class="uk-button uk-button-text delete-feedback uk-text-danger" data-id="{{ eventProps.event.id }}">X</button></span> 
                                                            <a class="uk-link-text" href="{{ path('experience_feedback', {'id': eventProps.event.id}) }}">{{ eventProps.event.title }}</a> 
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>All reviews are up to date!</p>
                                            {% endif %}
                                        </div>
                                        <div class="tab-reviews__submitted">
                                            {% if dashboards.eventsWithFeedback|length > 0 %}
                                                <ul class="uk-list uk-list-divider">
                                                    {% for eventProps in dashboards.eventsWithFeedback %}
                                                        <li>
                                                            {# <small>{{ eventProps.event.getClassName() }}</small><br /> #}
                                                            <a class="uk-link-text" href="{{ path('experience_feedback', {'id': eventProps.event.id}) }}">{{ eventProps.event.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>No experiences reviews have been submitted.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-3@m uk-width-1-1">

            <!-- Salary Exploration -->
            <div class="quick-links-wrapper uk-margin">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Exploration</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-list">
                            <li>
                                <a class="uk-link" href="{{ path('salary_exploration_primary_industry') }}">Learn about Careers</a>
                            </li>
                            <li>
                                <a class="uk-link" href="{{ path('company_index') }}">Learn about Companies</a>
                            </li>
                            <li>
                                <a class="uk-link" href="{{ path('experience_index') }}">Career Experiences</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- What's New This Week -->
              <div class="quick-links-wrapper uk-margin">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">What's New This Week</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <h4>New Topics (Created within past 7 days)</h4>
                        <hr>
                        <div style="text-align: left">
                            {% for lesson in lessons %}
                                <p><a href="/dashboard/lessons/{{lesson.id}}/view">{{lesson.title }}</a></p>
                            {% else %}
                                <p>No New Topics exist at this time.</p>
                            {% endfor %}
                        </div>

                        {# Relevant School Events #}
                        <hr>
                        <h4>New School Experiences</h4>
                        <hr>
                        <div style="text-align: left">
                        {% for schoolExperience in schoolExperiences %}
                            <p><a href="/dashboard/schools/experiences/{{schoolExperience.id}}/view">{{ schoolExperience.title }}</a></p>
                            {% else %}
                            <p>No New School Experiences at this time.</p>
                        {% endfor %}
                        </div>

                        {# Relevant Company Events #}
                        <hr>
                        <h4>New Company Experiences</h4>
                        <hr>
                        <div style="text-align: left">
                        {% for companyExperience in companyExperiences %}
                            <p><a href="/dashboard/companies/experiences/{{companyExperience.id}}/view">{{ companyExperience.title }}</a></p>
                        {% else %}
                            <p>No New Company Experiences at this time.</p>
                        {% endfor %}
                        </div>

                    </div>
                </div>
            </div>


            <!-- My School -->
            <div class="quick-links-wrapper uk-margin">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">My School</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        {% if user.school is defined and user.school %}
                            <a href="{{ path('school_view', { id: user.school.id }) }}"><h4>{{ user.school.name }}</h4></a>

                            <h5>Supervising Teacher</h5>
                            {% if user.educatorUsers|length > 0 %}
                                <ul class="uk-list uk-list-divider uk-margin-remove-top uk-margin-remove-bottom">
                                    {% for educatorUser in user.educatorUsers %}
                                        <li>
                                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                                <div class="uk-width-auto">
                                                    <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(educatorUser, 'photo') is defined and educatorUser.photo ) ? asset(uploaded_asset(educatorUser.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                                                </div>
                                                <div class="uk-width-expand">
                                                    <a class="uk-text-meta" href="{{ path('profile_index', {id: educatorUser.id}) }}">{{ educatorUser.fullName }}</a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            <h5>Upcoming Experiences</h5>
                            {% set noEventsFound = true %}
                            {% if user.school.schoolExperiences|length > 0 %}
                                <ul class="uk-list uk-list-divider uk-margin-remove-top uk-margin-remove-bottom">
                                    {% for experience in user.school.schoolExperiences %}
                                        {% if date(experience.startDateAndTime) > date() %}
                                            {% set noEventsFound = false %}
                                            <li><a class="uk-text-meta" href="{{ path('school_experience_view', {id: experience.id}) }}">{{ experience.startDateAndTime|date("F jS") }} - {{ experience.title }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if noEventsFound == true %}
                                <p class="uk-text-meta">There are no upcoming experiences at this time</p>
                            {% endif %}
                        {% else %}
                            <div className="uk-placeholder uk-text-center">
                                <p>You aren't associated with a school yet.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="delete-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Delete Feedback Review Request</h2>  
            <p>Are you sure you do not want to provide feedback for this experience?</p>
            <div id="delete-feedback-request-form-holder">
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        var tab = GetURLParameter('tab');
        if(tab) {
            UIkit.switcher('#user-nav').show(4);
        }
    });

    function GetURLParameter(sParam)
    {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++)
        {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam)
            {
                return sParameterName[1];
            }
        }
    }
</script>