{#<h3>Data Breakdown:</h3>
<div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
    <div class="uk-width-1-2 uk-width-1-2@m">
        <div class="uk-text-meta">Average Rating</div>
        <h4 class="uk-heading-small uk-margin-remove-top">{{ feedbackGenerator.cumulativeRating(experience) }}</h4>
    </div>
    <div class="uk-width-1-2 uk-width-1-2@m">
        <div class="uk-text-meta">Total Responses</div>
        <h4 class="uk-heading-small uk-margin-remove-top">{{ feedbackGenerator.totalFeedback(experience) }}</h4>
    </div>
</div>#}

{#
<div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
    <div class="uk-width-1-2">
        <div class="uk-text-meta">Turned Up?</div>
        cumulativeShowedUp
        <h4 class="uk-heading-small uk-margin-remove-top">{{ feedbackGenerator.cumulativeShowedUp(experience) }}</h4>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-text-meta">On Time?</div>
        <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeOnTime / totalFeedback * 100 )|round(1, 'floor') }}%</h4>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-text-meta">Polite & Professional?</div>
        <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativePolite / totalFeedback * 100 )|round(1, 'floor') }}%</h4>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-text-meta">Engaged & Asked Questions?</div>
        <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeEngaged / totalFeedback * 100 )|round(1, 'floor') }}%</h4>
    </div>
</div>#}
