{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
    <div class="uk-flex uk-flex-center uk-height-viewport">
        <div class="uk-container uk-padding">
            <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-width-xlarge@m">

                <h1 class="uk-card-title">{{ get_site().name }}<sup>(BETA)</sup></h1>

                {{ form_start(form, {'attr': {novalidate: 'novalidate', class: 'js-forgot-password-form'}}) }}

                {% if form_errors(form) %}
                    <div class="uk-alert-danger" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <div>{{ form_errors(form) }}</div>
                    </div>
                {% endif %}

                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <h4>Reset Your Password</h4>
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.emailAddress, 'Email Address*') }}
                        {{ form_widget(form.emailAddress, {'attr': {'class': 'uk-input' ~ ( form_errors(form.emailAddress) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.emailAddress) }}
                    </div>
                </fieldset>

                <div class="uk-margin">
                    <button class="uk-button uk-button-primary uk-button-small">Reset</button>
                </div>

                {{ form_rest(form) }}
                {{ form_end(form) }}

                <p><a href="{{ path('welcome') }}">Return to Login</a></p>
            </div>
        </div>
    </div>
{% endblock %}