{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <input type="hidden" name="formType" value="loginForm">

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>


    <h1>Professional Register</h1>

    {{ form_start(professionalRegistrationForm, {attr: {'novalidate' : 'novalidate'}}) }}
    {{ form_row(professionalRegistrationForm.firstName) }}
    {{ form_row(professionalRegistrationForm.lastName) }}
    {{ form_row(professionalRegistrationForm.email) }}
    {{ form_row(professionalRegistrationForm.username) }}
    {{ form_row(professionalRegistrationForm.password.first) }}
    {{ form_row(professionalRegistrationForm.password.second) }}
    <input type="hidden" name="formType" value="professionalRegistrationForm">
    <button class="btn">Register</button>
    {{ form_end(professionalRegistrationForm) }}


    <h1>Educator Register</h1>

    {{ form_start(educatorRegistrationForm, {attr: {'novalidate' : 'novalidate'}}) }}
    {{ form_row(educatorRegistrationForm.firstName) }}
    {{ form_row(educatorRegistrationForm.lastName) }}
    {{ form_row(educatorRegistrationForm.email) }}
    {{ form_row(educatorRegistrationForm.username) }}
    {{ form_row(educatorRegistrationForm.password.first) }}
    {{ form_row(educatorRegistrationForm.password.second) }}
    <input type="hidden" name="formType" value="educatorRegistrationForm">
    <button class="btn">Register</button>
    {{ form_end(educatorRegistrationForm) }}

    <h1>Student Register</h1>

    {{ form_start(studentRegistrationForm, {attr: {'novalidate' : 'novalidate'}}) }}
    {{ form_row(studentRegistrationForm.firstName) }}
    {{ form_row(studentRegistrationForm.lastName) }}
    {{ form_row(studentRegistrationForm.email) }}
    {{ form_row(studentRegistrationForm.username) }}
    {{ form_row(studentRegistrationForm.password.first) }}
    {{ form_row(studentRegistrationForm.password.second) }}
    <input type="hidden" name="formType" value="studentRegistrationForm">
    <button class="btn">Register</button>
    {{ form_end(studentRegistrationForm) }}

{% endblock %}
