{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Educators{% endblock %}

{% block body %}

    <div class="uk-container">

        {{ form_start(form, {'attr': {'class': 'uk-grid-small', 'uk-grid': 'uk-grid'}}) }}

        {% if form.nameOrInterest is defined %}
            <div class="uk-width-1-4@s">
                {{ form_widget(form.nameOrInterest, {'attr': {'class': 'uk-input', 'placeholder': 'Search by Name or Interests...'}}) }}
            </div>
        {% endif %}

        {% if form.school is defined %}
            <div class="uk-width-1-4@s">
                {{ form_widget(form.school, {'attr': {'class': 'uk-select', 'placeholder': 'Company'}}) }}
            </div>
        {% endif %}

        {% if form.myCourses is defined %}
            <div class="uk-width-1-4@s">
                {{ form_widget(form.myCourses, {'attr': {'class': 'uk-select', 'placeholder': 'Roles Willing to Fullfill'}}) }}
            </div>
        {% endif %}

        {% if form.primaryIndustry is defined %}
            <div class="uk-width-1-4@s">
                {{ form_widget(form.primaryIndustry, {'attr': {'class': 'uk-select js-primary-industry'}}) }}
            </div>
        {% endif %}

        {% if form.secondaryIndustries is defined %}
            <div class="uk-width-1-4@s">
                {{ form_widget(form.secondaryIndustries, {'attr': {'class': 'uk-select'}}) }}
            </div>
        {% endif %}

        <div class="uk-width-1-4@s">
            <input type="text" id="item_filter_zipcode" name="zipcode" class="uk-input" placeholder="Enter Zip Code"
                   value="{{ zipcode }}">
        </div>

        {% if form.radius is defined %}
            <div class="uk-width-1-4@s">
                {{ form_widget(form.radius, {'attr': {'class': 'uk-select', 'placeholder': 'Filter by Radius'}}) }}
            </div>
        {% endif %}

        <div class="uk-width-1-4@s">
            <button class="uk-button uk-button-primary">Search</button>
            <a class="uk-button uk-button-default" href="{{ clearFormUrl }}">Clear</a>
        </div>
        {{ form_end(form) }}
        <br>

        <div class="count">
            Total Educators: {{ pagination.getTotalItemCount }}
        </div>
        <br>

        <div class="educators__all">
            <div class="educator-listings" data-uk-grid="masonry: true">

                {% for paginatedUser in pagination %}

                    <div class="uk-width-1-1 uk-width-1-2@l">

                        <div>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-header">
                                    <div class="uk-grid-small uk-flex-middle" data-uk-grid>
                                        <div class="uk-width-auto">
                                            {% if paginatedUser.photoImageURL %}
                                                <img class="uk-border-circle" width="40" height="40"
                                                     src="{{ paginatedUser.photoImageURL }}"/>
                                            {% else %}
                                                <img class="uk-border-circle" width="40" height="40"
                                                     src="{{ asset('build/images/avatar.png') }}"/>
                                            {% endif %}
                                        </div>
                                        <div class="uk-width-expand">
                                            <a href="{{ path('profile_index', {'id': paginatedUser.id}) }}">
                                                <h3 class="uk-card-title-small uk-margin-remove-bottom">{{ paginatedUser.firstName }} {{ paginatedUser.lastName }}</h3>
                                            </a>
                                            <p class="uk-text-meta uk-margin-remove-top">

                                                {% if paginatedUser.school is defined and paginatedUser.school is not null %}
                                                    <span>{{ paginatedUser.school.name }}</span>
                                                {% else %}
                                                    <span>Educator</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-card-body">
                                    <div class="uk-margin">
                                        {% if paginatedUser.briefBio is defined and paginatedUser.briefBio is not null %}

                                            {{ paginatedUser.briefBio|length > 50 ? paginatedUser.briefBio|slice(0, 50) ~ '...' : paginatedUser.briefBio }}
                                        {% else %}
                                            This educator hasn't added a description yet.
                                        {% endif %}
                                    </div>
                                    {% if paginatedUser.interests is defined and paginatedUser.interests is not null %}
                                        <div class="uk-margin">
                                            <strong>Interests:</strong> {{ paginatedUser.interests }}
                                        </div>
                                    {% endif %}

                                    <div class="professional-links">
                                        {% if paginatedUser.email is defined and paginatedUser.email is not null %}
                                            <a href="mailto:{{ paginatedUser.email }}"
                                               class="uk-icon-button uk-margin-small-right" data-uk-icon="mail"></a>
                                        {% endif %}

                                        {% if paginatedUser.phone is defined and paginatedUser.phone is not null %}
                                            <a href="tel:{{ paginatedUser.phone }}"
                                               class="uk-icon-button uk-margin-small-right" data-uk-icon="receiver"></a>
                                        {% endif %}

                                        {% if paginatedUser.linkedinProfile is defined and paginatedUser.linkedinProfile is not null %}
                                            <a href="{{ paginatedUser.linkedinProfile }}"
                                               class="uk-icon-button uk-margin-small-right" data-uk-icon="linkedin"
                                               target="_blank"></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                {% endfor %}
            </div>
        </div>

        {# display navigation #}
        <br>
        <br>
        <div class="navigation">
            {{ knp_pagination_render(pagination, 'pagination/custom_pagination.html.twig') }}
        </div>

    </div>

{% endblock %}
