{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Primary Industry{% endblock %}

{% block body %}

    <div class="uk-container">
        <div class="uk-section uk-section-muted uk-padding">
            <h3>Select a Targeted Career Field</h3>
            {% if primaryIndustry.url %}
                <div class="uk-alert uk-alert-primary">
                    <a href="{{ path('video_index') }}">Click here for general career resources for this industry.</a>
                </div>
            {% endif %}
            <p><a href="{{ path('salary_exploration_primary_industry') }}"><i class="fa fa-arrow-left"></i> Back to primary exploration</a></p>
            <ul>
            {% for secondaryIndustry in secondaryIndustries %}
                {% if secondaryIndustry.url %}
                    <li>
                        <a href="{{ path('salary_exploration_details', {'id' : secondaryIndustry.id }) }}">{{ secondaryIndustry.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
