{{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}
<div class="js-secondary-industry-container">
    {% if form.secondaryIndustries is defined %}
        <div class="uk-margin">
            {{ form_label(form.secondaryIndustries, 'Secondary Industry*') }}
            {{ form_widget(form.secondaryIndustries, {'attr': {'class': 'uk-select' ~ ( form_errors(form.secondaryIndustries) ? ' uk-form-danger' : '' ) }}) }}
            {{ form_errors(form.secondaryIndustries) }}
        </div>
    {% endif %}
</div>
{{ form_end(form) }}

