{% set notification = request.notification %}
{% set title = notification['title'] %}
{% set body = notification['body'] %}
{% set createdOn = notification['created_on'] %}
{% set userPhoto = notification['user_photo'] %}

<div class="uk-modal-dialog">
    <button class="uk-modal-close-outside" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h4>{{ title|raw }}</h4>
        <ul class="uk-breadcrumb">
            <li><a class="js-request-item" data-action-url="{{ request.actionUrl }}&action={{ constant('App\\Entity\\RequestAction::REQUEST_ACTION_NAME_DEFAULT') }}" href="javascript:void(0)">< Back</a></li>
        </ul>
    </div>
    <div class="uk-modal-body">
        <p>Please suggest 3 different dates/times that work for you.</p>


        {{ form_start(suggestNewDatesForm, {attr: {'id': 'js-manage-request-form', 'novalidate' : 'novalidate'}}) }}

        {% if form_errors(suggestNewDatesForm) %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <div>{{ form_errors(suggestNewDatesForm) }}</div>
            </div>
        {% endif %}

        <fieldset class="uk-fieldset">
            <div class="uk-margin">
                {{ form_label(suggestNewDatesForm.dateOptionOne, 'Date 1*') }}
                {{ form_widget(suggestNewDatesForm.dateOptionOne, {'attr': {'class': 'uk-timepicker uk-input' ~ ( form_errors(suggestNewDatesForm.dateOptionOne) ? ' uk-form-danger' : '' ) }}) }}
                {{ form_errors(suggestNewDatesForm.dateOptionOne) }}
            </div>
            <div class="uk-margin">
                {{ form_label(suggestNewDatesForm.dateOptionTwo, 'Date 2*') }}
                {{ form_widget(suggestNewDatesForm.dateOptionTwo, {'attr': {'class': 'uk-timepicker uk-timepicker-up uk-input' ~ ( form_errors(suggestNewDatesForm.dateOptionTwo) ? ' uk-form-danger' : '' ) }}) }}
                {{ form_errors(suggestNewDatesForm.dateOptionTwo) }}
            </div>
            <div class="uk-margin">
                {{ form_label(suggestNewDatesForm.dateOptionThree, 'Date 3*') }}
                {{ form_widget(suggestNewDatesForm.dateOptionThree, {'attr': {'class': 'uk-timepicker uk-timepicker-up uk-input' ~ ( form_errors(suggestNewDatesForm.dateOptionThree) ? ' uk-form-danger' : '' ) }}) }}
                {{ form_errors(suggestNewDatesForm.dateOptionThree) }}
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-primary uk-inline">Send</button>
                <button class="uk-button uk-button-default uk-modal-close">Cancel</button>
            </div>
        </fieldset>

        {{ form_end(suggestNewDatesForm) }}

    </div>
</div>



