<li class="uk-nav-divider"></li>

<li class="uk-nav-header">Admin</li>
<li><a href="{{ path('manage_users') }}"><span class="uk-margin-small-right" uk-icon="icon: users"></span> Manage Users</a></li>
<li><a href="{{ path('state_coordinator_new') }}"><span class="uk-margin-small-right" uk-icon="icon: user"></span> Create State Coordinator</a></li>
<li><a href="{{ path('admin_event_types_new') }}"><span class="uk-margin-small-right" uk-icon="icon: users"></span> Create Experience Type</a></li>
<li><a href="{{ path('admin_role_new') }}"><span class="uk-margin-small-right" uk-icon="icon: user"></span> Create New Role</a></li>
<li><a href="{{ path('report_index') }}"><span class="uk-margin-small-right" uk-icon="icon: pull"></span> Reports</a></li>
<li><a href="{{ path('report_experience_satisfaction_dashboard') }}"><span class="uk-margin-small-right" uk-icon="icon: database"></span> Dashboards</a></li>