<li id="urfser_{{ location }}_{{ request.id }}">
    {% set user_type = "" %}
    {% if request.user %}
        {% if request.user.student %}
            {% set user_type = "Student" %}
        {% endif %}

        {% if request.user.professional %}
            {% set user_type = "Professional" %}
        {% endif %}
    {% endif %}


    {% if (user.isEducator() and request.educatorHasSeen == false) or (user.isSchoolAdministrator() and request.schoolAdminHasSeen == false and location != "my-requests_pending") or (user.isStudent() and request.studentHasSeen == false) or (user.isProfessional() and request.professionalHasSeen == false) %}
        <a class="uk-accordion-title toggle-has-seen" href="#" data-id="{{ request.id }}" data-approved="{{ request.approved }}" data-location="{{ location }}"  data-parent="{{ parentTab }}">
            <small class="icon"><em class="fa fa-circle"></em></small> Request to register user for school experience.
            <br /><small class="x-small">{{ request.createdAt|date("m/d/Y h:i:s A") }}
            <br /><strong>{{ request.schoolExperience.title }}</strong> {% if request.user %} - {{ user_type }}: {{ request.user.fullName }}{% endif %}</small>
        </a>

    {% else %}
        <a class="uk-accordion-title" href="#">
            Request to register user for school experience.
            <br /><small class="x-small">{{ request.createdAt|date("m/d/Y h:i:s A") }}
            <br /><strong>{{ request.schoolExperience.title }}</strong> {% if request.user %} - {{ user_type }}: {{ request.user.fullName }}{% endif %}</small>
        </a>
    {% endif %}
    <div class="uk-accordion-content">
        <table class="uk-table uk-table-small uk-table-divider">
            <tbody>
            <tr>
                <td>Request type</td>
                <td>Register for school experience.</td>
            </tr>
            <tr>
                <td>Experience title</td>
                <td>{{ request.schoolExperience.title }}</td>
            </tr>
            <tr>
                <td>User</td>
                <td>{{ request.user.fullName }}</td>
            </tr>
            <tr>
                <td>Sent to</td>
                {% if request.needsApprovalBy is not null %}
                    <td>{{ request.needsApprovalBy.fullName }} | {{ request.needsApprovalBy.email }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    <span class="uk-label">
                        {{ render_request_status_text( request ) }}
                    </span>
                </td>
            </tr>
            <tr>
                <td>Created On</td>
                <td>{{ request.createdAt|date("m/d/Y h:i:s A") }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</li>