<li id="urfser_approval_{{ request.id }}">
    {% if request.user %}
        {% if request.user.student %}
            {% set user_type = "Student" %}
        {% endif %}

        {% if request.user.professional %}
            {% set user_type = "Professional" %}
        {% endif %}
    {% endif %}


    {% if (user.isEducator() and request.educatorHasSeen == false) or (user.isSchoolAdministrator() and request.schoolAdministratorHasSeen == false) or (user.isStudent() and request.studentHasSeen == false) or (user.isProfessional() and request.professionalHasSeen == false) %}
        <a class="uk-accordion-title toggle-has-seen" href="#" data-id="{{ request.id }}" data-approved="{{ request.approved }}" data-location="{{ location }}"  data-parent="{{ parentTab }}">
            <small class="icon"><em class="fa fa-circle"></em></small> Request to register user for school experience.
            <br /><small class="x-small">{{ request.createdAt|date("m/d/Y h:i:s A") }}
            <br /><strong>{{ request.schoolExperience.title }}</strong> {% if request.user %} - {{ user_type }}: {{ request.user.fullName }}{% endif %}</small>  
        </a>
    {% else %}
        <a class="uk-accordion-title" href="#">
            Request to register user for school experience.
            <br /><small class="x-small">{{ request.createdAt|date("m/d/Y h:i:s A") }}
            <br /><strong>{{ request.schoolExperience.title }}</strong> {% if request.user %} - {{ user_type }}: {{ request.user.fullName }}{% endif %}</small>  
        </a>
    {% endif %}
    <div class="uk-accordion-content">
        <p>{{ request.createdBy.firstName }} {{ request.createdBy.lastName }} has requested to register for the
            following  experience: {{ request.schoolExperience.title }}</p>
        <p>Created On {{ request.createdAt|date("m/d/Y h:i:s A") }}</p>
        <ul>
            <li>
                {% if request.user %}
                    <a href="{{ path('profile_index', {id: request.user.id}) }}">{{ request.user.fullName }}</a>
                    {% if request.user.professional %}
                        - (Professional)
                    {% elseif request.user.student %}
                        - (Student - {{ request.user.school.name }})
                    {% endif %}
                {% endif %}
            </li>
        </ul>
        {% if render_request_status_text( request ) == "Pending" %}
            <form method="post" class="uk-inline urfser-approval" action="{{ path('approve_request', {'id': request.id}) }}">
                <input class="uk-label uk-label-success" type="submit" value="Approve">
                <input type="hidden" name="element" value="urfser_approval_{{ request.id }}">
                <input type="hidden" name="request" value="{{ request.id }}">
            </form>
            <form method="post" class="uk-inline urfser-denial" action="{{ path('deny_request', {'id': request.id}) }}">
                <input class="uk-label uk-label-danger" type="submit" value="Deny">
                <input type="hidden" name="element" value="urfser_approval_{{ request.id }}">
                <input type="hidden" name="request" value="{{ request.id }}">
            </form>
        {% endif %}
        {% if user_can_chat_with_user( user, request.createdBy ) %}
            <button class="uk-label uk-label-success" data-message-user-id="{{ request.createdBy.id }}">Chat with {{ request.createdBy.fullName }}</button>
        {% endif %}
    </div>
</li>