{% extends 'baseUnauthenticated.html.twig' %}

{% block title %}Give Feedback{% endblock %}
{% block bodyClass %}page-feedback{% endblock %}

{% block body %}

    <div class="uk-container">

        <div class="uk-margin-medium-top uk-card uk-card-default uk-card-body uk-margin-auto uk-width-3-4@m">

            <div class="uk-text-danger" style="float:right;">* indicates required</div>

            <h2>GIVE FEEDBACK - <small>{{ experience.title }}</small></h2>

            {# {% if experienceHasFeedback %}
                <h3>Viewing your feedback for {{ experience.title }}</h3>
            {% else %}
                <h3>Giving feedback for {{ experience.title }}</h3>
            {% endif %} #}

            {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

            {{ form_errors(form) }}

            {% include flow.steps[flow.getCurrentStepNumber() - 1].template %}

            {{ form_rest(form) }}

            {{ form_end(form) }}

          {#  <div class="uk-width-xlarge uk-margin">

                <div>
                    <label>Rate your overall experience<span class="uk-text-danger">*</span></label>
                    {{ form_widget(form.rating, {'attr': {'class': 'uk-hidden' }}) }}
                    <div class="react-form-smile-rating" #}{# data-disabled="{{ experienceHasFeedback }}" #}{#
                         data-name="generic_feedback_form[feedback][rating]"
                         data-value="{{ feedback.rating }}"></div>
                    {% if form_errors(form.rating) %}
                        <div class="uk-form-danger">
                            {{ form_errors(form.rating) }}
                        </div>
                    {% endif %}
                </div>

                <div class="uk-margin">
                    {{ form_widget(form.providedCareerInsight, {'attr': {'class': 'uk-hidden' }}) }}
                    {{ form_widget(form.wasEnjoyableAndEngaging, {'attr': {'class': 'uk-hidden' }}) }}
                    {{ form_widget(form.learnSomethingNew, {'attr': {'class': 'uk-hidden' }}) }}

                    <label>Choose all that apply</label>
                    <div class="react-form-choose-all-that-apply" #}{# data-disabled="{{ experienceHasFeedback }}" #}{#
                         data-fields='[
                        { "name": "generic_feedback_form[feedback][providedCareerInsight]", "label": "Provided Career Insight", "value": "{{ feedback.providedCareerInsight ? feedback.providedCareerInsight : false }}", "activeImage": "{{ asset('build/images/insight-active.png') }}", "image": "{{ asset('build/images/insight-inactive.png') }}" },
                        { "name": "generic_feedback_form[feedback][wasEnjoyableAndEngaging]", "label": "Enjoyable and Engaging", "value": "{{ feedback.wasEnjoyableAndEngaging ? feedback.wasEnjoyableAndEngaging : false }}", "activeImage": "{{ asset('build/images/engaging-active.png') }}", "image": "{{ asset('build/images/engaging-inactive.png') }}" },
                        { "name": "generic_feedback_form[feedback][learnSomethingNew]", "label": "Learned Something New", "value": "{{ feedback.learnSomethingNew ? feedback.learnSomethingNew : false }}", "activeImage": "{{ asset('build/images/learn-active.png') }}", "image": "{{ asset('build/images/learn-inactive.png') }}" }
                    ]'></div>
                </div>
                <div class="uk-margin">
                    <label>How likely are you to recommend this guest instructor to a fellow teacher<span
                                class="uk-text-danger">*</span></label>
                    {{ form_widget(form.likelihoodToRecommendToFriend, {'attr': {'class': '' ~ ( form_errors(form.likelihoodToRecommendToFriend) ? ' uk-form-danger' : '' ) }}) }}
                    <div class="react-form-range"
                         data-name="generic_feedback_form[feedback][likelihoodToRecommendToFriend]"
                         data-value="{{ feedback.likelihoodToRecommendToFriend }}"
                            #}{# data-disabled="{{ experienceHasFeedback }}" #}{#></div>
                    {{ form_errors(form.likelihoodToRecommendToFriend) }}
                </div>
                <div class="uk-margin">
                    {{ form_label(form.additionalFeedback, 'Any specific thoughts, feedback, teaching tips to improve?') }}
                    {{ form_widget(form.additionalFeedback, {'attr': {'class': 'uk-textarea' ~ ( form_errors(form.additionalFeedback) ? ' uk-form-danger' : '' ) }}) }}
                    {{ form_errors(form.additionalFeedback) }}
                </div>
            </div>
#}
            <div class="uk-margin">
                <button class="uk-button uk-button-primary">Submit Your Feedback</button>
            </div>

        </div>

    </div>

{% endblock %}
