{% set userType = redirectRoute == 'students_manage' ? 'Student' : 'Educator' %}

<div class="uk-modal-dialog">
    <button class="uk-modal-close-outside" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h4>Unregister {{ userType }}s <small>(<span style="font-weight: bold">{{ userCount }}</span> {{ userType }}{{ userCount > 1 ? 's' : '' }} Selected)</small></h4>
    </div>

    {{ form_start(form, {attr: {'id': 'js-bulk-action-form', 'novalidate' : 'novalidate'}}) }}

    <div class="uk-modal-body">

        {{ form_start(form, {'attr': {novalidate: 'novalidate', class: 'js-forgot-password-form'}}) }}

        {% if form_errors(form) %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <div>{{ form_errors(form) }}</div>
            </div>
        {% endif %}

        <dl class="uk-description-list">
            <dt>Event Name</dt>
            <dd>{{ eventRegister.title }}</dd>
            <dt>Event Dates</dt>
            <dd>{{ eventRegister.startDateAndTime|date("F jS Y \\a\\t g:ia") }}
                - {{ eventRegister.endDateAndTime|date("F jS Y \\a\\t g:ia") }}</dd>
        </dl>

        <p>
            <button class="uk-button uk-button-small uk-button-default uk-modal-close" type="button">Never mind, don't unregister</button>
            <button class="uk-button uk-button-small uk-button-danger" type="submit">Yes, go ahead and unregister</button>
        </p>

        {{ form_rest(form) }}
    </div>

    {{ form_end(form) }}
</div>



