{% set userType = redirectRoute == 'students_manage' ? 'Students' : 'Educators' %}

<div class="uk-modal-dialog">
    <button class="uk-modal-close-outside" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h4>Reset Password <small>(<span style="font-weight: bold">{{ userCount }}</span> {{ userType }} Selected)</small></h4>
    </div>

    {{ form_start(form, {attr: {'id': 'js-bulk-action-form', 'novalidate' : 'novalidate'}}) }}

    <div class="uk-modal-body">

        {{ form_start(form, {'attr': {novalidate: 'novalidate', class: 'js-forgot-password-form'}}) }}

        {% if form_errors(form) %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <div>{{ form_errors(form) }}</div>
            </div>
        {% endif %}

        <small>Password must be at least 8 characters long.</small><br>
        <small>Password must include at least one letter.</small><br>
        <small>Password must include at least one number.</small>
        <br>
        <br>
        <fieldset class="uk-fieldset">
            <div class="uk-margin">
                {{ form_label(form.password.first, 'Password*') }}
                {{ form_widget(form.password.first, {'attr': {'autofocus': 'autofocus', 'class': 'js-password-first-input uk-input' ~ ( form_errors(form.password.first) ? ' uk-form-danger' : '' ) }}) }}
                {{ form_errors(form.password.first) }}
            </div>
            <div class="uk-margin">
                {{ form_label(form.password.second, 'Confirm Password*') }}
                {{ form_widget(form.password.second, {'attr': {'class': 'uk-input' ~ ( form_errors(form.password.second) ? ' uk-form-danger' : '' ) }}) }}
                {{ form_errors(form.password.second) }}
            </div>
        </fieldset>

        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="submit">Reset Password</button>
        </p>

        {{ form_rest(form) }}
    </div>

    {{ form_end(form) }}
</div>



