{% extends 'baseAuthenticated.html.twig' %}

{% block title %}New Requests{% endblock %}
{% block bodyClass %}requests-landing{% endblock %}

{% block body %}

    <div class="uk-container">
        <ul class="" data-uk-tab="{connect: '#tab-requests'}" uk-switcher>
            <li class="uk-active"><a href="#requests-mine">My Requests ({{ myCreatedRequests|length }})</a></li>
            {% if requestsThatNeedMyApproval|length > 0 %}
                <li><a href="#requests-approvals">My Approvals (<span id="approval-count">{{ requestsThatNeedMyApproval|length }}</span>)</a></li>
            {% endif %}
            {% if deniedByMeRequests|length > 0 or myDeniedAccessRequests|length > 0 or approvedByMeRequests|length > 0 or myApprovedAccessRequests|length > 0  %}
                <li><a href="#requests-completed">History</a></li>
            {% endif %}

            {% if studentRegisterApproval|length > 0 or studentRegisterDenial|length > 0 %}
                <li><a href="#student-company-experiences">My Company Experiences</a></li>
            {% endif %}
        </ul>

        <div class="uk-switcher" id="tab-requests">
            <div class="requests-landing__my-requests">
                {% if myCreatedRequests|length > 0 %}
                    <ul class="uk-width-xlarge" uk-accordion>
                        {% for request in myCreatedRequests %}
                            {{ render_request( request, user )|raw  }}
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="uk-placeholder">
                        You have not sent any requests that are pending.
                    </div>
                {% endif %}
            </div>
            {% if requestsThatNeedMyApproval|length > 0 %}
                <div class="requests-landing__my-approvals">
                        <ul class="uk-width-xlarge" uk-accordion>
                            {% for request in requestsThatNeedMyApproval %}
                                {{ render_request( request, user )|raw }}
                            {% endfor %}
                        </ul>
                </div>
            {% endif %}
            {% if deniedByMeRequests|length > 0 or myDeniedAccessRequests|length > 0 or approvedByMeRequests|length > 0 or myApprovedAccessRequests|length > 0  %}
                <div class="requests-landing__my-completed-approvals">

                    {% if deniedByMeRequests|length > 0 or approvedByMeRequests|length > 0  %}
                        <div class="uk-section uk-section-muted uk-padding">
                            <h3>Approval Needed By Me</h3>
                            <div class="uk-width-xlarge">
                                <ul class="" data-uk-tab="{connect: '#tab-requests-by-me'}" uk-switcher>
                                    <li class="uk-active"><a href="#requests-by-me-approved">Approved</a></li>
                                    <li><a href="#requests-by-me-denied">Denied</a></li>
                                </ul>
                                <div class="uk-switcher" id="tab-requests-by-me">
                                    <div class="requests-landing__requests-by-me-approved">
                                        <ul class="uk-width-xlarge" uk-accordion>
                                            {% for request in approvedByMeRequests %}
                                                {{ render_request( request, user )|raw }}
                                            {% endfor %}
                                            {% if approvedByMeRequests|length == 0 %}
                                                <p>No requests found.</p>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="requests-landing__requests-by-me-denied">
                                        <ul class="uk-width-xlarge" uk-accordion>
                                            {% for request in deniedByMeRequests %}
                                                {{ render_request( request, user )|raw }}
                                            {% endfor %}
                                            {% if deniedByMeRequests|length == 0 %}
                                                <p>No requests found.</p>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if myDeniedAccessRequests|length > 0 or myApprovedAccessRequests|length > 0 %}
                        <div class="uk-section uk-section-muted uk-padding uk-margin">
                            <h3>Approvals I Requested</h3>
                            <div class="uk-width-xlarge">
                                <ul data-uk-tab="{connect: '#tab-requests-for-me'}" uk-switcher>
                                    <li class="uk-active"><a href="#requests-for-me-approved">Approved</a></li>
                                    <li><a href="#requests-for-me-denied">Denied</a></li>
                                </ul>
                                <div class="uk-switcher" id="tab-requests-for-me">
                                    <div class="requests-landing__requests-for-me-approved">
                                        <ul class="uk-width-xlarge" uk-accordion>
                                            {% for request in myApprovedAccessRequests %}
                                                {{ render_request( request, user )|raw }}
                                            {% endfor %}
                                            {% if myApprovedAccessRequests|length == 0 %}
                                                <p>No requests found.</p>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="requests-landing__requests-for-me-denied">
                                        <ul class="uk-width-xlarge" uk-accordion>
                                            {% for request in myDeniedAccessRequests %}
                                                {{ render_request( request, user )|raw }}
                                            {% endfor %}
                                            {% if myDeniedAccessRequests|length == 0 %}
                                                <p>No requests found.</p>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

            {% endif %}

            {% if studentRegisterApproval|length > 0 or studentRegisterDenial|length > 0 %}
                <div class="uk-section uk-section-muted uk-padding">
                    <h3>My Company Experiences</h3>
                    <div class="uk-width-xlarge">
                        <ul class="" data-uk-tab="{connect: '#tab-requests-by-me'}" uk-switcher>
                            <li class="uk-active"><a href="#requests-by-me-approved">Approved</a></li>
                            <li><a href="#requests-by-me-denied">Denied</a></li>
                        </ul>
                        <div class="uk-switcher" id="tab-requests-by-me">
                            <div class="requests-landing__requests-by-me-approved">
                                <ul class="uk-width-xlarge" uk-accordion>
                                    {% for request in studentRegisterApproval %}
                                        {{ render_request( request, user )|raw }}
                                    {% endfor %}
                                    {% if studentRegisterApproval|length == 0 %}
                                        <p>No requests found.</p>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="requests-landing__requests-by-me-denied">
                                <ul class="uk-width-xlarge" uk-accordion>
                                    {% for request in studentRegisterDenial %}
                                        {{ render_request( request, user )|raw }}
                                    {% endfor %}
                                    {% if studentRegisterDenial|length == 0 %}
                                        <p>No requests found.</p>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    {# _educator_register_student_for_company_experience_request #}
    $(document).on('submit', '.ersfcer-approval, .ersfcer-denial', function(e){
        e.preventDefault();
        var request = $(this).find('[name="request"]').val(); 
        var element = $(this).find('[name="element"]').val();

        $.post( $(this).attr('action'), { request: request }, function(data){
            var status = JSON.parse(data.status);
            if( status[0].type == "success"){
                $('#' + element).remove();
            }
            display_message(status[0].type, status[0].message);
        });
    });


    {# _join_companies #}
    $(document).on('submit', '.jc-approval, .jc-denial', function(e){
        e.preventDefault();
        var request = $(this).find('[name="request"]').val();
        var element = $(this).find('[name="element"]').val();

        $.post( $(this).attr('action'), { request: request }, function(data){
            var status = JSON.parse(data.status);
            if( status[0].type == "success"){
                $('#' + element).remove();
            }
            display_message(status[0].type, status[0].message);
        });
    });

    {# _new_companies #}
    $(document).on('submit', '.nc-approval, .nc-denial', function(e){
        e.preventDefault();
        var request = $(this).find('[name="request"]').val();
        var element = $(this).find('[name="element"]').val();

        $.post( $(this).attr('action'), { request: request }, function(data){
            var status = JSON.parse(data.status);
            if( status[0].type == "success"){
                $('#' + element).remove();
            }
            display_message(status[0].type, status[0].message);
        });
    });


    {# _student_to_meet_professional_request #}
    $(document).on('submit', '.stmpr-approval, .stmpr-denial', function(e) {
        e.preventDefault();
        var request = $(this).find('[name="request"]').val();
        var element = $(this).find('[name="element"]').val();
        var date = $(this).find('[name="date"]').val();
        var isFromStudent = $(this).find('[name="isFromStudent"]').val();
        var isFromEducator = $(this).find('[name="isFromEducator"]').val();
        var isFromProfessional = $(this).find('[name="isFromProfessional"]').val();
        var dateOptionOne = $(this).find('[name="dateOptionOne"]').val();
        var dateOptionTwo = $(this).find('[name="dateOptionTwo"]').val();
        var dateOptionThree = $(this).find('[name="dateOptionThree"]').val();

        $.post( $(this).attr('action'), { request: request, isFromStudent: isFromStudent, isFromEducator: isFromEducator, isFromProfessional: isFromProfessional, date: date, dateOptionOne: dateOptionOne, dateOptionTwo: dateOptionTwo, dateOptionThree: dateOptionThree }, function(data){
            var status = JSON.parse(data.status);
            if( status[0].type == "success" && element != undefined){
                $('#' + element).remove();
            }
            display_message(status[0].type, status[0].message);

            if(UIkit.modal('#student-to-meet-professional-dates')) {
                UIkit.modal('#student-to-meet-professional-dates').hide();
            }   
        });
    })

    {# _teach_lesson_request #}
    $(document).on('submit', '.tlr-approval, .tlr-denial', function(e){
        e.preventDefault();
        var date = $(this).find('[name="date"]').val();
        var element = $(this).find('[name="element"]').val();
        var request = $(this).find('[name="request"]').val();
        $.post( $(this).attr('action'), { request: request, date: date }, function(data){
            var status = JSON.parse(data.status);
            if( status[0].type == "success"){
                $('#' + element).remove();
            }
            display_message(status[0].type, status[0].message);
        });
    });

    {# _user_register_for_school_experience_request #}
    $(document).on('submit', '.urfser-approval, .urfser-denial', function(e){
        e.preventDefault();
        var element = $(this).find('[name="element"]').val();
        var request = $(this).find('[name="request"]').val();
        $.post( $(this).attr('action'), { request: request }, function(data){
            var status = JSON.parse(data.status);
            if( status[0].type == "success"){
                $('#' + element).remove();
            }
            display_message(status[0].type, status[0].message);
        });
    });

    function display_message(type, message) {
        $('.main-content').prepend('<div class="uk-container uk-margin-bottom"><div class="uk-alert-' + type + ' uk-margin" uk-alert><a class="uk-alert-close" uk-close></a><p>' + message + '</p></div></div>');
    
        var count = parseInt($('#approval-count').html());
        $('#approval-count').html( count - 1);

        var count = parseInt($('.main-navigation__meta-requests-num').html());
        $('.main-navigation__meta-requests-num').html( count - 1);

    }
    </script>
{% endblock %}