{% extends 'baseAuthenticated.html.twig' %}

{% block title %}New Requests{% endblock %}
{% block bodyClass %}requests-landing{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/manage_requests.js') }}"></script>
{% endblock %}

 {% block stylesheets %}
     {{ parent() }}

     <style>
         .uk-accordion-title:before {
             content: '';
             width: auto;
             background: none;
             float: none;
             margin-left: auto;
             height: auto;
         }
     </style>

 {% endblock %}


{% block body %}

    <div id="js-manage-request-modal" uk-modal>
    </div>

    <div class="uk-container js-manage-requests-container" data-pending-request-ids="{{ pendingRequestIds|json_encode() }}">

        <div style="float: right" uk-form-custom="target: > * > span:first-child">
            <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                <option value="">Filters</option>
                <option value="{{ path('requests') }}?filter=all" {{ filter == 'all' ? 'selected' : '' }}>All</option>
                <option value="{{ path('requests') }}?filter=created_by_me" {{ filter == 'created_by_me' ? 'selected' : '' }}>Created by me</option>
                <option value="{{ path('requests') }}?filter=approved" {{ filter == 'approved' ? 'selected' : '' }}>Approved</option>
                <option value="{{ path('requests') }}?filter=denied" {{ filter == 'denied' ? 'selected' : '' }}>Denied</option>
                <option value="{{ path('requests') }}?filter=pending" {{ filter == 'pending' ? 'selected' : '' }}>Pending</option>

                {% if user.educator %}
                    <option value="{{ path('requests') }}?filter=drafts" {{ filter == 'drafts' ? 'selected' : '' }}>Drafts</option>
                    <option value="{{ path('requests') }}?filter=my_students" {{ filter == 'my_students' ? 'selected' : '' }}>Student</option>
                {% endif %}

            </select>
            <button class="uk-button uk-button-primary" type="button" tabindex="-1">
                <span></span>
                <span uk-icon="icon: chevron-down"></span>
            </button>
        </div>
        <br>


        <ul class="" data-uk-tab="{connect: '#tab-requests'}" uk-switcher>


            <li class="uk-active"><a href="#requests-mine" id="my-requests_pending">
                    <small><em class="fa fa-circle"></em></small>
                    Requests To Review</a></li>

        </ul>

        <div class="uk-switcher" id="tab-requests">
            <div class="requests-landing__my-requests">

                {% if pagination|length > 0 %}

                    <ul class="uk-list">
                        {% for request in pagination %}

                            {% set notification = request.notification %}
                            {% set title = notification['title'] %}
                            {% set body = notification['body'] %}
                            {% set userPhoto = notification['user_photo'] is defined ? notification['user_photo'] : null %}
                            {% set userPhotos = notification['user_photos'] is defined ? notification['user_photos'] : [] %}
                            {% set requestPossibleApprover = request.associatedRequestPossibleApproverForUser(user) %}

                            <li style="position: relative; padding-left: 70px; margin-bottom: 30px"
                                id="nc_{{ request.id }}"
                                class="js-request-item"
                                data-request-id="{{ request.id }}"
                                data-action-url="{{ request.actionUrl }}">

                                <div class="uk-grid">

                                    <div class="uk-width-5-6">

                                        <a style="font-size: 18px" class="uk-accordion-title" href="javascript:void(0)">

                                            {% if requestPossibleApprover and requestPossibleApprover.hasNotification %}
                                                <small class="js-notification-circle"
                                                       style="position: absolute; left: -40px"><em class="fa fa-circle"
                                                                                                   aria-hidden="true"></em>
                                                </small>
                                            {% endif %}

                                            {% if userPhotos|length %}
                                                {% set photo_z_index = 1 %}
                                                {% set photo_left_position = 0 %}
                                                {% for key, array in userPhotos|sort((a, b) => a['order'] <=> b['order']) %}
                                                    {% set userPhoto = array['path'] %}

                                                    <img style="height: 30px; position: absolute; left: {{ photo_left_position ~ "px" }}; z-index: {{ photo_z_index }}"
                                                         class="uk-border-pill center-vertically"
                                                         src="{{ userPhoto is not null ? asset(uploaded_asset(userPhoto))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}"
                                                         uk-img/>

                                                    {% set photo_z_index = photo_z_index - 1 %}
                                                    {% set photo_left_position = photo_left_position + 20 %}
                                                {% endfor %}
                                            {% else %}
                                                <img style="height: 30px; position: absolute; left: 0"
                                                     class="uk-border-pill center-vertically"
                                                     src="{{ userPhoto is not null ? asset(uploaded_asset(userPhoto))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}"
                                                     uk-img/>

                                            {% endif %}

                                            {% if requestPossibleApprover and requestPossibleApprover.notificationTitle %}
                                                <span style="padding-left: 10px; width: 75%"
                                                      class="center-vertically">{{ requestPossibleApprover.notificationTitle|raw }}</span>
                                            {% else %}
                                                <span style="padding-left: 10px; width: 75%"
                                                      class="center-vertically">{{ title|raw }}</span>
                                            {% endif %}
                                        </a>
                                    </div>

                                    <div class="uk-width-1-6">
                                        {% if requestPossibleApprover and requestPossibleApprover.timeElapsedSinceHasNotification %}
                                            <span class="uk-text-muted center-vertically"
                                                  style="float: right; line-height: 1.5">{{ time_elapsed_string(requestPossibleApprover.timeElapsedSinceHasNotification) }}</span>
                                        {% endif %}
                                    </div>

                                </div>


                                <div class="uk-accordion-content">

                                </div>
                            </li>


                        {% endfor %}
                    </ul>

                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>

                {% else %}
                    <div class="uk-placeholder">
                        {% if user.educator %}
                            <p>You do not have any open requests yet, but you can draft a new volunteer request by
                                filling
                                out <a href="{{ path('new_request') }}">this quick form.</a> <br>
                                Professionals on FutureForward can then see your request and reach out via chat if they
                                are
                                interested in helping out.
                            </p>
                        {% else %}
                            There are no requests for you to review at this time.
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}