{% extends 'baseAuthenticated.html.twig' %}

{% block title %}New Requests{% endblock %}
{% block bodyClass %}requests-landing{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/manage_requests.js') }}"></script>
{% endblock %}

 {% block stylesheets %}
     {{ parent() }}

     <style>
         .uk-accordion-title:before {
             content: '';
             width: auto;
             background: none;
             float: none;
             margin-left: auto;
             height: auto;
         }
     </style>

 {% endblock %}


{% block body %}

    <div id="js-manage-request-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
        </div>
    </div>

    <div class="uk-container js-manage-requests-container">
        <ul class="" data-uk-tab="{connect: '#tab-requests'}" uk-switcher>


            <li class="uk-active"><a href="#requests-mine" id="my-requests_pending">
                    <small><em class="fa fa-circle"></em></small>
                    Requests To Review</a></li>

        </ul>

        <div class="uk-switcher" id="tab-requests">
            <div class="requests-landing__my-requests">

                {% if reviewRequests|length > 0 %}

                    <ul class="uk-list">
                        {% for request in reviewRequests %}

                            {% set notification = request.notification %}
                            {% set title = notification['title'] %}
                            {% set body = notification['body'] %}
                            {% set createdOn = notification['created_on'] %}
                            {% set userPhoto = notification['user_photo'] %}

                            {#{{ render_request( request, user, "my-requests_pending", "my-requests-pending" )|raw }}#}

                            <li id="nc_{{ request.id }}" class="js-request-item" data-action-url="{{ request.actionUrl }}">

                                <a class="uk-accordion-title" href="#">

                                    <img style="height: 30px" class="uk-border-pill"
                                         src="{{ userPhoto is not null ? asset(uploaded_asset(userPhoto))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}"
                                         uk-img/>
                                    {{ title|raw }}
                                    <span class="uk-text-muted" style="float: right; line-height: 1.5">{{ time_elapsed_string(createdOn) }}</span>
                                    <br/>
                                    {#<small class="x-small">{{ request.createdAt|date("m/d/Y h:i:s A") }}
                                        <br/>{{ request.company.name }}</small>#}
                                </a>
                                <div class="uk-accordion-content">

                                </div>
                            </li>


                        {% endfor %}
                    </ul>

                {% else %}
                    <div class="uk-placeholder">
                        {% if user.educator %}
                            <p>You do not have any open requests yet, but you can draft a new volunteer request by
                                filling
                                out <a href="{{ path('new_request') }}">this quick form.</a> <br>
                                Professionals on FutureForward can then see your request and reach out via chat if they
                                are
                                interested in helping out.
                            </p>
                        {% else %}
                            There are no requests for you to review at this time.
                        {% endif %}
                    </div>
                {% endif %}


                {# {% if myCreatedRequests|length > 0 %}
                     <ul class="uk-width-xlarge" uk-accordion>
                         {% for request in myCreatedRequests %}
                             {{ render_request( request, user, "my-requests_pending", "my-requests-pending" )|raw }}
                         {% endfor %}
                     </ul>
                 {% else %}
                     <div class="uk-placeholder">
                         You have not sent any requests that are pending.
                     </div>
                 {% endif %}#}
            </div>
        </div>
    </div>

{% endblock %}