<tbody>
{% for feedback in feedbacks %}
    <tr>

        {% if feedback.user is not null %}
            <td class="uk-text-nowrap">{{ feedback.user.friendlyRoleName }}</td>
        {% elseif feedback.feedbackProvider %}
            <td class="uk-text-nowrap">{{ feedback.feedbackProvider }}</td>
        {% endif %}

        <td class="uk-text-nowrap">{{ feedback.rating }}</td>
        <td class="uk-text-nowrap">
            {% if feedback.providedCareerInsight is same as(true) %}
                YES
            {% elseif feedback.providedCareerInsight is same as(false) %}
                NO
            {% else %}
                N/A
            {% endif %}
        </td>
        <td class="uk-text-nowrap">
            {% if feedback.wasEnjoyableAndEngaging is same as(true) %}
                YES
            {% elseif feedback.wasEnjoyableAndEngaging is same as(false) %}
                NO
            {% else %}
                N/A
            {% endif %}
        </td>
        <td class="uk-text-nowrap">
            {% if feedback.learnSomethingNew is same as(true) %}
                YES
            {% elseif feedback.learnSomethingNew is same as(false) %}
                NO
            {% else %}
                N/A
            {% endif %}
        </td>
        <td class="uk-text-nowrap">
            {% if feedback.likelihoodToRecommendToFriend is null %}
                N/A
            {% else %}
                {{ feedback.likelihoodToRecommendToFriend }}
            {% endif %}
        </td>

        <td>{{ feedback.additionalFeedback }}</td>

        {% if feedback.user is not null %}
            <td class="uk-text-nowrap">{{ feedback.user.fullName }}</td>
        {% elseif feedback.fullName %}
            <td class="uk-text-nowrap">{{ feedback.fullName }}</td>
        {% endif %}

    </tr>
{% else %}
    <tr>
        <td colspan="7">No feedback has been submitted yet.</td>
    </tr>
{% endfor %}
</tbody>