{% extends 'base.html.twig' %}

{% block title %}Pintex Solutions - Welcome{% endblock %}
{% block bodyClass %}page-login{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/profile.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="uk-flex uk-flex-center uk-height-viewport js-form" data-route="{{ path('industry_change') }}">
        <div class="uk-container login-box">
            <div class="uk-card uk-card-default uk-card-body">

                <h1 class="uk-card-title">Pintex Solutions<sup>(BETA)</sup></h1>

                <ul class="uk-child-width-expand" data-uk-tab="{connect: '#tab-login'}" uk-switcher>
                    <li {{ formType is null  ? 'class="uk-active"' : ''  }}><a href="#login">Login</a></li>
                    <li {{ formType ? 'class="uk-active"' : '' }}><a href="#register">Register</a></li>
                </ul>

                <div class="uk-switcher" id="tab-login">
                    <div class="login-box__login">
                        <form method="post">
                            {% if error %}
                                <div class="uk-alert-danger" uk-alert>
                                    <a class="uk-alert-close" uk-close></a>
                                    <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                                </div>
                            {% endif %}
                            <fieldset class="uk-fieldset">
                                <div class="uk-margin">
                                    <input class="uk-input" type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" required autofocus>
                                </div>
                                <div class="uk-margin">
                                    <input class="uk-input" type="password" name="password" id="inputPassword" placeholder="Password" required>
                                </div>
                                <div class="uk-margin">
                                    <button class="uk-button uk-button-primary uk-width-1-1">Submit</button>
                                </div>
                            </fieldset>

                            <input type="hidden" name="formType" value="loginForm">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </form>

                        <p>Dont have an Account yet? <a href="#register">Register</a></p>
                    </div>
                    <div class="login-box__register">
                        <ul class="uk-flex uk-flex-around" data-uk-tab="{connect: '#tab-register-options'}" uk-switcher>
                            <li {{ formType is null or formType == 'professionalRegistrationForm'  ? 'class="uk-active"' : ''  }}><a href="#register-professional"><i class="fas fa-briefcase"></i>Professional</a></li>
                            <li {{ formType == 'educatorRegistrationForm'  ? 'class="uk-active"' : ''  }}><a href="#register-educator"><i class="fas fa-graduation-cap"></i>Educator</a></li>
                            <li {{ formType == 'studentRegistrationForm'  ? 'class="uk-active"' : ''  }}><a href="#register-student"><i class="fas fa-book-reader"></i>Student</a></li>
                        </ul>

                        <div class="uk-switcher login-box__register-tab-contents" id="tab-register-options">
                            <div>
                                <p>Pintex empowers professionals to impact and positively alter the trajectory of students’ lives by sharing their expertise and career experience.</p>
                                {% include 'welcome/professional-register.html.twig' %}
                            </div>
                            <div>
                                <p>Pintex makes it easy for educators to find community resources such as guest instructors, site visits hosts, mentors, advisors and project providers.</p>
                                <div class="uk-placeholder uk-text-center">This feature will be NOT be ready to test until August 9, 2019.</div>
{#                                {% include 'welcome/educator-register.html.twig' %}#}
                            </div>
                            <div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci asperiores assumenda commodi deserunt dolor in maxime nemo perferendis praesentium, quam quia quisquam recusandae reprehenderit sint suscipit voluptate! Iste, nostrum?</p>
                                <div class="uk-placeholder uk-text-center">This feature will NOT be ready to test until August 23, 2019.</div>
{#                                {% include 'welcome/student-register.html.twig' %}#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
