{{ form_start(professionalRegistrationForm, {attr: {'novalidate' : 'novalidate'}}) }}

    {% if form_errors(professionalRegistrationForm) %}
        <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <div>{{ form_errors(professionalRegistrationForm) }}</div>
        </div>
    {% endif %}

    <fieldset class="uk-fieldset">
        <div class="uk-margin">
            {{ form_label(professionalRegistrationForm.firstName, 'First Name*') }}
            {{ form_widget(professionalRegistrationForm.firstName, {'attr': {'class': 'uk-input' ~ ( form_errors(professionalRegistrationForm.firstName) ? ' uk-form-danger' : '' ) }}) }}
            {{ form_errors(professionalRegistrationForm.firstName) }}
        </div>
        <div class="uk-margin">
            {{ form_label(professionalRegistrationForm.lastName, 'Last Name*') }}
            {{ form_widget(professionalRegistrationForm.lastName, {'attr': {'class': 'uk-input' ~ ( form_errors(professionalRegistrationForm.lastName) ? ' uk-form-danger' : '' ) }}) }}
            {{ form_errors(professionalRegistrationForm.lastName) }}
        </div>
        <div class="uk-margin">
            {{ form_label(professionalRegistrationForm.username, 'Username*') }}
            {{ form_widget(professionalRegistrationForm.username, {'attr': {'class': 'uk-input' ~ ( form_errors(professionalRegistrationForm.username) ? ' uk-form-danger' : '' ) }}) }}
            {{ form_errors(professionalRegistrationForm.username) }}
        </div>
        <div class="uk-margin">
            {{ form_label(professionalRegistrationForm.email, 'Email*') }}
            {{ form_widget(professionalRegistrationForm.email, {'attr': {'class': 'uk-input' ~ ( form_errors(professionalRegistrationForm.email) ? ' uk-form-danger' : '' ) }}) }}
            {{ form_errors(professionalRegistrationForm.email) }}
        </div>
        <div class="uk-margin">
            {{ form_label(professionalRegistrationForm.plainPassword, 'Password*') }}
            {{ form_widget(professionalRegistrationForm.plainPassword, {'attr': {'class': 'uk-input' ~ ( form_errors(professionalRegistrationForm.plainPassword) ? ' uk-form-danger' : '' ) }}) }}
            {{ form_errors(professionalRegistrationForm.plainPassword) }}
        </div>

        <div class="uk-margin">
            {{ form_label(professionalRegistrationForm.primaryIndustry, 'Primary Industry*') }}
            {{ form_widget(professionalRegistrationForm.primaryIndustry, {'attr': {'class': 'js-primary-industry uk-select' ~ ( form_errors(professionalRegistrationForm.primaryIndustry) ? ' uk-form-danger' : '' ) }}) }}
            {{ form_errors(professionalRegistrationForm.primaryIndustry) }}
        </div>

        <div class="js-secondary-industry-container">
            {% if professionalRegistrationForm.secondaryIndustries is defined %}
                <div class="uk-margin">
                    {{ form_label(professionalRegistrationForm.secondaryIndustries, 'Secondary Industry*') }}
                    {{ form_widget(professionalRegistrationForm.secondaryIndustries, {'attr': {'class': 'uk-select' ~ ( form_errors(professionalRegistrationForm.secondaryIndustries) ? ' uk-form-danger' : '' ) }}) }}
                    {{ form_errors(professionalRegistrationForm.secondaryIndustries) }}
                </div>
            {% endif %}
        </div>


        <div class="uk-margin">
            <label>{{ form_widget(professionalRegistrationForm.agreeTerms, {'attr': {'class': 'uk-checkbox' ~ ( form_errors(professionalRegistrationForm.agreeTerms) ? ' uk-form-danger' : '' ) }}) }} I agree to the <a href="#">Privacy Policy</a> and <a href="#">User Agreement</a>.</label>
            {{ form_errors(professionalRegistrationForm.agreeTerms) }}
        </div>
        <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-width-1-1">Register Account</button>
        </div>
    </fieldset>
    <input type="hidden" name="formType" value="professionalRegistrationForm">

{{ form_end(professionalRegistrationForm) }}