{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : request.createdBy.firstName } %}

<p>Your request to <strong>{{ request.needsApprovalBy.firstName }} {{ request.needsApprovalBy.lastName }}</strong> from company <strong>{{ request.needsApprovalBy.company.name }}</strong> wishing to register
    <strong>{{ numOfStudentsToRegistered }}</strong> of your students for the event <strong>{{ request.companyExperience.title }}</strong> has been approved!</p>

{% include 'email/partial/emailFooter.html.twig' %}