<div class="uk-container js-form" data-route="{{ path('profile_edit', {'id' : user.id}) }}">

    {% include 'profile/partials/shared/_flash_messages.html.twig' %}

    <ul class="uk-tab" uk-switcher="connect: #tab-account" uk-tab>
        <li class="uk-active"><a href="#account-details">Edit Profile</a></li>
        <li><a href="#account-career-fields">Career Fields of Interest</a></li>
        <li><a href="#account-students">Students</a></li>
        <li><a href="#account-account">Account</a></li>
    </ul>

    {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

    {% if form_errors(form) %}
        <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <div>{{ form_errors(form) }}</div>
        </div>
    {% endif %}

    <div class="uk-switcher" id="tab-account">

        <div class="account_details">
            <div class="uk-width-xlarge">

                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        {{ form_label(form.firstName, 'First Name*') }}
                        {{ form_widget(form.firstName, {'attr': {'class': 'uk-input' ~ ( form_errors(form.firstName) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.firstName) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.lastName, 'Last Name*') }}
                        {{ form_widget(form.lastName, {'attr': {'class': 'uk-input' ~ ( form_errors(form.lastName) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.lastName) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.displayName, 'Display Name') }}
                        {{ form_widget(form.displayName, {'attr': {'class': 'uk-input' ~ ( form_errors(form.displayName) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.displayName) }}
                    </div>
                    {% include 'profile/partials/shared/_edit_profile_image.html.twig' %}
                    <div class="uk-margin">
                        {{ form_label(form.briefBio, 'Brief Bio') }}
                        <div class="uk-text-meta">Tell us a little about yourself to be featured on our platform</div>
                        {{ form_widget(form.briefBio, {'attr': {'class': 'uk-textarea uk-height-small' ~ ( form_errors(form.briefBio) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.briefBio) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.interests, 'Interests') }}
                        {{ form_widget(form.interests, {'attr': {'class': 'uk-input' ~ ( form_errors(form.interests) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.interests) }}
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="account_career_fields">
            <div class="uk-width-xlarge">
                <fieldset class="uk-fieldset">
                    {% if user.secondaryIndustries is defined %}
                        <div class="page-company-experience-edit__careers">
                            <div class="uk-width-xlarge">
                                <fieldset class="uk-fieldset">
                                    <div id="subscribe-secondary-industries"
                                         data-field-name="educator_edit_profile_form[secondaryIndustries]"
                                         data-secondary-industries="{{ encode_secondary_industries(user.secondaryIndustries) }}"
                                         data-remove-dom-id="educator_edit_profile_form_secondaryIndustries"
                                    ></div>
                                </fieldset>
                            </div>
                        </div>
                    {% endif %}
                </fieldset>
            </div>
        </div>
        <div class="account_students">
            <div class="uk-width-xlarge">
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        {{ form_label(form.studentUsers, 'Students*') }} &nbsp;&nbsp;<a class="uk-link-muted" data-select-all="educator_edit_profile_form[studentUsers][]">Select All</a>
                        {{ form_widget(form.studentUsers, {'attr': {'class': 'uk-checkboxes uk-checkboxes-newlines' ~ ( form_errors(form.studentUsers) ? ' uk-form-danger' : '' ) }}) }}
                        <div class="clear"></div>
                        {{ form_errors(form.studentUsers) }}
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="account_account">
            <div class="uk-width-xlarge">
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        {{ form_label(form.educatorId, 'Educator Id*') }}
                        {{ form_widget(form.educatorId, {'attr': {'class': 'uk-input' ~ ( form_errors(form.educatorId) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.educatorId) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.username, 'Username*') }}
                        {{ form_widget(form.username, {'attr': {'class': 'uk-input' ~ ( form_errors(form.username) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.username) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.email, 'Email') }}
                        {{ form_widget(form.email, {'attr': {'class': 'uk-input' ~ ( form_errors(form.email) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.plainPassword, 'Change Password') }}
                        {{ form_widget(form.plainPassword, {'attr': {'class': 'uk-input' ~ ( form_errors(form.plainPassword) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.plainPassword) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.linkedinProfile, 'Linked In Profile') }}
                        {{ form_widget(form.linkedinProfile, {'attr': {'class': 'uk-input' ~ ( form_errors(form.linkedinProfile) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.linkedinProfile) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.phone, 'Phone') }}
                        {{ form_widget(form.phone, {'attr': {'class': 'uk-input' ~ ( form_errors(form.phone) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.phone) }}
                    </div>
                    <div class="uk-margin">
                        <h4 class="uk-heading-divider">Contact Preferences</h4>
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.isEmailHiddenFromProfile, 'Hide Email From Profile?') }}
                        {{ form_widget(form.isEmailHiddenFromProfile, {'attr': {'class': 'uk-input' ~ ( form_errors(form.isEmailHiddenFromProfile) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.isEmailHiddenFromProfile) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.isPhoneHiddenFromProfile, 'Hide Phone From Profile?') }}
                        {{ form_widget(form.isPhoneHiddenFromProfile, {'attr': {'class': 'uk-input' ~ ( form_errors(form.isPhoneHiddenFromProfile) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.isPhoneHiddenFromProfile) }}
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="uk-margin">
        <button class="uk-button uk-button-primary uk-button-small">Save</button>
    </div>

    {{ form_end(form) }}
</div>
