<div class="uk-container js-form" data-route="{{ path('profile_edit', {'id' : user.id}) }}">

    {% if successMessage %}
        <div class="uk-alert-success uk-margin" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>Profile successfully updated.  <a href="{{ path('profile_index', {'id': user.id}) }}">View your Profile</a></p>
        </div>
    {% endif %}

    {% if errorMessage %}
        <div class="uk-alert-error uk-margin" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{ errorMessage }}</p>
        </div>
    {% endif %}

    <ul class="uk-tab" uk-switcher="connect: #tab-account" uk-tab>
        <li class="uk-active"><a href="#account-details">Edit Profile</a></li>
        <li><a href="#account-settings">Settings</a></li>
        <li><a href="#account-delete">Delete Account</a></li>
    </ul>
    <div class="uk-switcher" id="tab-account">
        <div class="account_details">

            {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

            {% if form_errors(form) %}
                <div class="uk-alert-danger" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <div>{{ form_errors(form) }}</div>
                </div>
            {% endif %}

            <div uk-grid>
                <div class="uk-width-1-1 uk-width-small@m">
                    <ul class="uk-tab-left" uk-tab="connect: #tab-account-inner; animation: uk-animation-fade">
                        <li><a href="#account-details-profile">Personal</a></li>
                        <li><a href="#account-details-profile-industries">Industry</a></li>
                        <li><a href="#account-details-profile-roles">Roles</a></li>
                        <li><a href="#account-details-profile-schools">Schools</a></li>
                        <li><a href="#account-details-profile-account">Account</a></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-width-expand@m">
                    <ul id="tab-account-inner" class="uk-switcher">
                        <div class="account_details_personal">
                            <div class="uk-width-xlarge">
                                <fieldset class="uk-fieldset">

                                    <div class="uk-margin">
                                        {{ form_label(form.firstName, 'First Name*') }}
                                        {{ form_widget(form.firstName, {'attr': {'class': 'uk-input' ~ ( form_errors(form.firstName) ? ' uk-form-danger' : '' ) }}) }}
                                        {{ form_errors(form.firstName) }}
                                    </div>
                                    <div class="uk-margin">
                                        {{ form_label(form.lastName, 'Last Name*') }}
                                        {{ form_widget(form.lastName, {'attr': {'class': 'uk-input' ~ ( form_errors(form.lastName) ? ' uk-form-danger' : '' ) }}) }}
                                        {{ form_errors(form.lastName) }}
                                    </div>
                                    <div class="uk-margin uk-grid" uk-grid>
                                        {% if user.photo %}
                                            <div class="uk-width-small">
                                                <img src="{{ asset(uploaded_asset(user.photoPath))|imagine_filter('squared_thumbnail_small') }}" />
                                            </div>
                                        {% endif %}
                                        <div class="uk-width-expand">
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        {{ form_label(form.briefBio, 'Brief Bio') }}
                                        <div class="uk-text-meta">Tell us a little about yourself to be featured on our platform</div>
                                        {{ form_widget(form.briefBio, {'attr': {'class': 'uk-textarea uk-height-small' ~ ( form_errors(form.briefBio) ? ' uk-form-danger' : '' ) }}) }}
                                        {{ form_errors(form.briefBio) }}
                                    </div>
                                    <div class="uk-margin">
                                        {{ form_label(form.interests, 'Interests') }}
                                        {{ form_widget(form.interests, {'attr': {'class': 'uk-input' ~ ( form_errors(form.interests) ? ' uk-form-danger' : '' ) }}) }}
                                        {{ form_errors(form.interests) }}
                                    </div>
                                    <div class="uk-margin">
                                        <button class="uk-button uk-button-primary uk-button-small">Save</button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="account_details_industries">
                            <div class="uk-width-xlarge">
                                <fieldset class="uk-fieldset">
                                    <div class="uk-margin">
                                        {{ form_label(form.primaryIndustry, 'Industry*') }}
                                        {{ form_widget(form.primaryIndustry, {'attr': {'class': 'js-primary-industry uk-select' ~ ( form_errors(form.primaryIndustry) ? ' uk-form-danger' : '' ) }}) }}
                                        {{ form_errors(form.primaryIndustry) }}
                                    </div>
                                    <div class="js-secondary-industry-container">
                                        {% if form.secondaryIndustries is defined %}
                                            <div class="uk-margin">
                                                {{ form_label(form.secondaryIndustries, 'Career Fields*') }}
                                                {{ form_widget(form.secondaryIndustries, {'attr': {'class': 'uk-checkboxes uk-checkboxes-newlines' ~ ( form_errors(form.secondaryIndustries) ? ' uk-form-danger' : '' ) }}) }}
                                                <div class="clear"></div>
                                                {{ form_errors(form.secondaryIndustries) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="uk-margin">
                                        <button class="uk-button uk-button-primary uk-button-small">Save</button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="account_details_roles">
                            <div class="uk-width-xlarge">
                                <fieldset class="uk-fieldset">
                                    <div class="uk-margin">
                                        {{ form_label(form.rolesWillingToFulfill, 'Roles Willing To Fulfill') }}
                                        {{ form_widget(form.rolesWillingToFulfill, {'attr': {'class': 'uk-checkboxes uk-checkboxes-newlines' ~ ( form_errors(form.rolesWillingToFulfill) ? ' uk-form-danger' : '' ) }}) }}
                                        <div class="clear"></div>
                                        {{ form_errors(form.rolesWillingToFulfill) }}
                                    </div>
                                    <div class="uk-margin">
                                        <button class="uk-button uk-button-primary uk-button-small">Save</button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="account_details_schools">
                            <div class="uk-width-xlarge">
                                <fieldset class="uk-fieldset">
                                    <div class="uk-margin">
                                        {{ form_label(form.schools, 'Schools') }}
                                        {{ form_widget(form.schools, {'attr': {'class': 'uk-checkboxes uk-checkboxes-newlines' ~ ( form_errors(form.schools) ? ' uk-form-danger' : '' ) }}) }}
                                        <div class="clear"></div>
                                        {{ form_errors(form.schools) }}
                                    </div>
                                    <div class="uk-margin">
                                        <button class="uk-button uk-button-primary uk-button-small">Save</button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="account_details_account">
                            <div class="uk-width-xlarge">
                                <fieldset class="uk-fieldset">
                                    <div class="uk-margin">
                                        {{ form_label(form.email, 'Email') }}
                                        {{ form_widget(form.email, {'attr': {'class': 'uk-input' ~ ( form_errors(form.email) ? ' uk-form-danger' : '' ) }}) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                                    <div class="uk-margin">
                                        {{ form_label(form.plainPassword, 'Change Password') }}
                                        {{ form_widget(form.plainPassword, {'attr': {'class': 'uk-input' ~ ( form_errors(form.plainPassword) ? ' uk-form-danger' : '' ) }}) }}
                                        {{ form_errors(form.plainPassword) }}
                                    </div>
                                    <div class="uk-margin">
                                        {{ form_label(form.linkedinProfile, 'Linked In Profile') }}
                                        {{ form_widget(form.linkedinProfile, {'attr': {'class': 'uk-input' ~ ( form_errors(form.linkedinProfile) ? ' uk-form-danger' : '' ) }}) }}
                                        {{ form_errors(form.linkedinProfile) }}
                                    </div>
                                    <div class="uk-margin">
                                        {{ form_label(form.phone, 'Phone') }}
                                        {{ form_widget(form.phone, {'attr': {'class': 'uk-input' ~ ( form_errors(form.phone) ? ' uk-form-danger' : '' ) }}) }}
                                        {{ form_errors(form.phone) }}
                                    </div>
                                    <div class="uk-margin">
                                        <button class="uk-button uk-button-primary uk-button-small">Save</button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>

            <input type="hidden" name="formType" value="professionalRegistrationForm">

            {{ form_end(form) }}

        </div>
        <div class="account_settings">
            <div class="uk-width-xlarge">
                <h3>Profile Status: <span class="uk-label">{{ user.deactivated ? "Deactivated" : "Active" }}</span></h3>
                <p>Your profile status determines whether you show up in search results on the Platform.  When "Deactivated", you will no longer appear in search results, but you will still be able to access your account.</p>
                {% if user.deactivated %}
                    {% include 'profile/partials/_activate_profile_form.html.twig' %}
                {% else %}
                    {% include 'profile/partials/_deactivate_profile_form.html.twig' %}
                {% endif %}
            </div>
        </div>
        <div class="account_delete">
            <div class="uk-width-xlarge">
                <h3>Delete Account</h3>
                <p>If you would no longer like to use the Pintex Platform, you can delete your account by using the button below.</p>
                {% include 'profile/partials/_delete_profile_form.html.twig' %}
            </div>
        </div>
    </div>
</div>