<div class="uk-container js-form" data-route="{{ path('profile_edit', {'id' : user.id}) }}">

    {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

    {% if form_errors(form) %}
        <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <div>{{ form_errors(form) }}</div>
        </div>
    {% endif %}

    <ul id="test" class="uk-tab" uk-switcher="connect: #tab-account" uk-tab>
        <li class="uk-active"><a href="#account-details">Edit Profile</a></li>
        <li><a href="#account-career-fields">Career Fields of Interest</a></li>
        <li><a href="#account-courses">Courses</a></li>
        <li><a href="#account-students">Students</a></li>
        <li id="account-account"><a href="#account-account">Account</a></li>
    </ul>

    <div class="uk-switcher" id="tab-account">

        <div class="account_details">
            <div class="uk-width-xlarge">

                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        {{ form_label(form.firstName, 'First Name*') }}
                        {{ form_widget(form.firstName, {'attr': {'class': 'uk-input' ~ ( form_errors(form.firstName) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.firstName) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.lastName, 'Last Name*') }}
                        {{ form_widget(form.lastName, {'attr': {'class': 'uk-input' ~ ( form_errors(form.lastName) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.lastName) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.displayName, 'Display Name') }}
                        {{ form_widget(form.displayName, {'attr': {'class': 'uk-input' ~ ( form_errors(form.displayName) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.displayName) }}
                    </div>
                    {% include 'profile/partials/shared/_edit_profile_image.html.twig' %}
                    <div class="uk-margin">
                        {{ form_label(form.briefBio, 'Brief Bio *') }}
                        <div class="uk-text-meta">Tell us a little about yourself to be featured on our platform</div>
                        {{ form_widget(form.briefBio, {'attr': {'class': 'uk-textarea uk-height-small' ~ ( form_errors(form.briefBio) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.briefBio) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.interests, 'Interests') }}
                        {{ form_widget(form.interests, {'attr': {'class': 'uk-input' ~ ( form_errors(form.interests) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.interests) }}
                    </div>

                    <button type="button" class="uk-button uk-button-primary uk-button-small js-navigate" data-navigate-to-index="1">Next</button>
                </fieldset>
            </div>
        </div>
        <div class="account_career_fields">
            <div class="uk-width-xlarge">
                <fieldset class="uk-fieldset">
                    {% if user.secondaryIndustries is defined %}
                        <div class="page-company-experience-edit__careers">
                            <div class="uk-width-xlarge">
                                <fieldset class="uk-fieldset">
                                    <div id="subscribe-secondary-industries"
                                         data-field-name="educator_edit_profile_form[secondaryIndustries]"
                                         data-secondary-industries="{{ encode_secondary_industries(user.secondaryIndustries) }}"
                                         data-remove-dom-id="educator_edit_profile_form_secondaryIndustries"
                                         data-user-kind="educator"
                                    ></div>
                                </fieldset>
                            </div>
                        </div>
                    {% endif %}

                    <button type="button" class="uk-button uk-button-primary uk-button-small js-navigate" data-navigate-to-index="2">Next</button>
                </fieldset>
            </div>
        </div>
        <div class="account_courses">
            <div class="uk-width-xlarge">
                <p><input type="text" id="filter_courses" placeholder="Type to filter course results" class="uk-input" /></p>
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <p>{{ form_label(form.myCourses, 'My Courses*') }} &nbsp;&nbsp;<a class="uk-link-muted" data-select-all="educator_edit_profile_form[myCourses][]">Select All</a></p>
                        
                        {{ form_widget(form.myCourses, {'attr': {'class': 'uk-checkboxes uk-checkboxes-newlines' ~ ( form_errors(form.myCourses) ? ' uk-form-danger' : '' ) }}) }}
                        <div class="clear"></div>
                        {{ form_errors(form.myCourses) }}
                    </div>
                    <button type="button" class="uk-button uk-button-primary uk-button-small js-navigate" data-navigate-to-index="3">Next</button>
                </fieldset>
            </div>
        </div>
        <div class="account_students">
            <div class="uk-width-xlarge">
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        {{ form_label(form.studentUsers, 'Students*') }} &nbsp;&nbsp;<a class="uk-link-muted" data-select-all="educator_edit_profile_form[studentUsers][]">Select All</a>
                        {{ form_widget(form.studentUsers, {'attr': {'class': 'uk-checkboxes uk-checkboxes-newlines' ~ ( form_errors(form.studentUsers) ? ' uk-form-danger' : '' ) }}) }}
                        <div class="clear"></div>
                        {{ form_errors(form.studentUsers) }}
                    </div>
                    <button type="button" class="uk-button uk-button-primary uk-button-small js-navigate" data-navigate-to-index="4">Next</button>
                </fieldset>
            </div>
        </div>
        <div class="account_account">
            <div class="uk-width-xlarge">
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        {{ form_label(form.educatorId, 'Educator Id*') }}
                        {{ form_widget(form.educatorId, {'attr': {'class': 'uk-input' ~ ( form_errors(form.educatorId) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.educatorId) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.username, 'Username*') }}
                        {{ form_widget(form.username, {'attr': {'class': 'uk-input' ~ ( form_errors(form.username) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.username) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.email, 'Email*') }}
                        {{ form_widget(form.email, {'attr': {'class': 'uk-input' ~ ( form_errors(form.email) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.plainPassword, 'Change Password') }}
                        {{ form_widget(form.plainPassword, {'attr': {'class': 'uk-input' ~ ( form_errors(form.plainPassword) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.plainPassword) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.linkedinProfile, 'Linked In Profile') }}
                        {{ form_widget(form.linkedinProfile, {'attr': {'class': 'uk-input' ~ ( form_errors(form.linkedinProfile) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.linkedinProfile) }}
                    </div>
                    <div class="uk-margin">
                        <div class="uk-column-1-2">
                            <div>
                                {{ form_label(form.phone, 'Phone') }}
                                {{ form_widget(form.phone, {'attr': {'class': 'uk-input' ~ ( form_errors(form.phone) ? ' uk-form-danger' : '' ) }}) }}
                                {{ form_errors(form.phone) }}
                            </div>
                            <div>
                                {{ form_label(form.phoneExt, 'Ext.') }}
                                {{ form_widget(form.phoneExt, {'attr': {'class': 'uk-input' ~ ( form_errors(form.phoneExt) ? ' uk-form-danger' : '' ) }}) }}
                                {{ form_errors(form.phoneExt) }}
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <h4 class="uk-heading-divider">Contact Preferences</h4>
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.isEmailHiddenFromProfile, 'Hide Email From Profile?') }}
                        {{ form_widget(form.isEmailHiddenFromProfile, {'attr': {'class': 'uk-input' ~ ( form_errors(form.isEmailHiddenFromProfile) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.isEmailHiddenFromProfile) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.isPhoneHiddenFromProfile, 'Hide Phone From Profile?') }}
                        {{ form_widget(form.isPhoneHiddenFromProfile, {'attr': {'class': 'uk-input' ~ ( form_errors(form.isPhoneHiddenFromProfile) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.isPhoneHiddenFromProfile) }}
                    </div>
                    <div class="uk-margin">

                        {{ form_label(form.notificationPreferences, 'Notification Preferences') }}
                        {{ form_widget(form.notificationPreferences, {'attr': {'class': ( form_errors(form.notificationPreferences) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.notificationPreferences) }}
                    </div>
                </fieldset>

                <div class="uk-margin">
                    <button class="uk-button uk-button-primary uk-button-small">Save</button>
                </div>
            </div>
        </div>
    </div>


    {{ form_end(form) }}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $( document ).ready(function() {

        debugger;
        $('.js-navigate').click(function(e) {
            debugger;
            let indexToNavigateTo = $(e.target).attr('data-navigate-to-index');

            UIkit.tab('#test').show(indexToNavigateTo);
        })

        var hash = location.hash.substr(1);
        if (hash === 'account') {
            UIkit.tab('#test').show(4);
        }


        $('#filter_courses').on('keyup', function(){
            var txt = $(this).val();
            $("#educator_edit_profile_form_myCourses label").each(function(){
                $(this).show();
                $('#' + $(this).attr('for')).show();
            });

            $("#educator_edit_profile_form_myCourses label").each(function(){
                if($(this).text().toUpperCase().indexOf(txt.toUpperCase()) == -1){
                    $(this).hide();
                    $('#' + $(this).attr('for')).hide();
                }
            });
        });
    });
</script>
