<div class="uk-container">

    {% if user.id == profileUser.id %}
        <div class="uk-alert uk-margin" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>You are viewing your own profile as others see you.  <a href="{{ path('profile_edit', {'id': user.id}) }}">Edit your profile</a></p>
        </div>
    {% endif %}

    <div class="uk-grid" uk-grid>
        <div class="uk-width-2-3@m uk-width-1-1">
            <!-- PROFILE -->
            <div class="profile-card-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(profileUser, 'photo') is defined and profileUser.photo ) ? asset(uploaded_asset(profileUser.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                            </div>
                            <div class="uk-width-expand">
                                    <a href="{{ path('profile_index', {'id': user.id}) }}">
                                        <h3 class="uk-card-title uk-margin-remove-bottom">{{ profileUser.getFullName }}</h3>
                                    </a>
                                {% if user.isStudent and user.isCommunicationEnabled %}
                                <button style="float: right" data-uk-toggle="target: #request-to-meet" type="button"
                                        class="uk-button uk-button-primary uk-button-small uk-margin-small-left">Request To Meet
                                </button>
                                    <div id="request-to-meet" data-uk-modal>
                                        <div class="uk-modal-dialog uk-modal-body">
                                            <h2 class="uk-modal-title">Request "{{ profileUser.fullName }}" to meet?</h2>
                                            <p>Why are you reaching out to meet?</p>
                                            <form method="post" action="{{ path('student_request_to_meet_professional') }}">
                                                <div class="uk-margin">
                                                    <select class="uk-select" name="reasonToMeet" id="reasonToMeet">
                                                        <option value="Informational Interview">Informational Interview</option>
                                                        <option value="Job Shadow">Job Shadow Host</option>
                                                    </select>
                                                </div>
                                                <input type="hidden" name="studentId" value="{{ user.id }}">
                                                <input type="hidden" name="professionalId" value="{{ profileUser.id }}">
                                                <div class="uk-margin">
                                                    <button class="uk-button uk-button-primary uk-inline">Yes, Send</button>
                                                    <button class="uk-button uk-button-default uk-modal-close">No, Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                                <p class="uk-text-meta uk-margin-remove-top">
                                    {% if profileUser.company is defined and profileUser.company is not null %}
                                        <span><a href="{{ path('company_view', {'id': profileUser.company.id}) }}">{{ profileUser.company.name }}</a></span>
                                    {% else %}
                                        <span>Professional</span>
                                    {% endif %}

                                    {% if profileUser.primaryIndustry %}
                                        <span>- {{ profileUser.primaryIndustry.name }}</span>
                                    {% endif %}
                                    {% if profileUser.secondaryIndustries|length > 0 %}
                                        <span>- {{ profileUser.secondaryIndustries[0].name }}</span>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        {% if profileUser.briefBio %}
                            <div class="uk-margin">
                                {{ profileUser.briefBio|raw }}
                            </div>
                        {% else %}
                            <p>This user has not added a bio yet.</p>
                        {% endif %}
                        <div class="professional-links">
                            {% if profileUser.emailAfterPrivacySettingsApplied %}
                                <a href="mailto:{{ profileUser.emailAfterPrivacySettingsApplied }}" class="uk-icon-button uk-margin-small-right" uk-icon="mail"></a>
                            {% endif %}
                            {% if profileUser.phoneAfterPrivacySettingsApplied %}
                                <a href="tel:{{ profileUser.phoneAfterPrivacySettingsApplied }}" class="uk-icon-button uk-margin-small-right" uk-icon="receiver"></a>
                            {% endif %}
                            {% if profileUser.getLinkedinProfile %}
                                <a href="{{ profileUser.linkedinProfile }}" class="uk-icon-button uk-margin-small-right" uk-icon="linkedin" target="_blank"></a>
                            {% endif %}

                            {% if user_can_chat_with_user( user, profileUser ) %}
                                <a href="javascript:void(0)" class="uk-icon-button uk-margin-small-right" uk-icon="comments" data-message-user-id="{{ profileUser.id }}"></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <br /><br />

            <!-- Schools -->
            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">Schools I Volunteer At</h3>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    {% if profileUser.schools is defined and profileUser.schools|length > 0 %}
                        <ul class="uk-list uk-list-divider">
                            {% for school in profileUser.schools %}
                                <li>{{ school.name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>This user hasn't added any schools yet.</p>
                    {% endif %}
                </div>
            </div>

            <br /><br />

            <!-- Lessons -->
            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">Lessons I Can Teach</h3>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    {% if profileUser.lessonTeachables|length > 0 %}
                        <ul class="uk-list uk-list-divider">
                            {% for teachable in profileUser.lessonTeachables %}
                                <li>
                                    <div class="uk-grid" uk-grid>
                                        <div class="uk-width-expand">
                                            <a class="uk-link-text" href="{{ path('lesson_view', {'id': teachable.lesson.id}) }}">{{ teachable.lesson.title }}</a>
                                        </div>
                                        <div class="uk-width-auto">
                                            {% if user.isEducator %}
                                                <button data-uk-toggle="target: #request-lesson-{{ teachable.lesson.id }}" type="button"
                                                        class="uk-button uk-button-default uk-button-small uk-margin-small-left">Request
                                                </button>
                                                <div id="request-lesson-{{ teachable.lesson.id }}" data-uk-modal>
                                                    <div class="uk-modal-dialog uk-modal-body">
                                                        <h2 class="uk-modal-title">Request "{{ teachable.user.fullName }}" to Guest Instruct?</h2>
                                                        <p>Lesson: {{ teachable.lesson.title }}</p>
                                                        <p>Please select 3 different date/times that work for the Guest Instructor to visit.</p>
                                                        <form method="post" action="{{ path('lesson_request_to_teach', {'lesson_id' : teachable.lesson.id, 'professional_id': teachable.user.id}) }}">
                                                            <div class="uk-margin">
                                                                <label for="dateOptionOne" class="required">Date 1*</label>
                                                                <input type="text" name="dateOptionOne" required="required" class="uk-timepicker uk-input" />
                                                            </div>
                                                            <div class="uk-margin">
                                                                <label for="dateOptionTwo" class="required">Date 2*</label>
                                                                <input type="text" name="dateOptionTwo" required="required" class="uk-timepicker uk-input" />
                                                            </div>
                                                            <div class="uk-margin">
                                                                <label for="dateOptionThree" class="required">Date 3*</label>
                                                                <input type="text" name="dateOptionThree" required="required" class="uk-timepicker uk-input" />
                                                            </div>
                                                            <div class="uk-margin">
                                                                <button class="uk-button uk-button-primary uk-inline">Yes, Send</button>
                                                                <button class="uk-button uk-button-default uk-modal-close">No, Cancel</button>
                                                            </div>
                                                            <input type="hidden" name="redirectUrl" value="{{ path('profile_index', {id: teachable.user.id}) }}">
                                                        </form>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>

                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>This user hasn't added any lessons yet.</p>
                    {% endif %}
                </div>
            </div>


        </div>
        <div class="uk-width-1-3@m uk-width-1-1">
            <!-- Quick Links -->
            <div class="quick-links-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">My volunteer roles</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        {% if profileUser.rolesWillingToFulfill|length %}
                            <ul class="uk-list uk-list-divider">
                                {% for role in profileUser.rolesWillingToFulfill %}
                                    <li>{{ role.name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>This user hasn't added any roles yet.</p>
                        {% endif %}
                        {% if user_can_chat_with_user( user, profileUser ) %}
                            <p><button class="uk-button uk-button-default uk-button-small" data-message-user-id="{{ profileUser.id }}">Chat with {{ profileUser.firstName }}</button></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
