<div class="uk-container">
    <div class="uk-grid" uk-grid>
        <div class="uk-width-2-3@m uk-width-1-1">
            <!-- PROFILE -->
            <div class="profile-card-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(profileUser, 'photo') is defined and profileUser.photo ) ? asset(uploaded_asset(profileUser.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                            </div>
                            <div class="uk-width-expand">
                                <a href="{{ path('profile_index', {'id': profileUser.id}) }}">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">{{ profileUser.getFullName }}</h3>
                                </a>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    {# TODO: Add link to school view #}
                                    <a href="#">{{ profileUser.school.name }}</a> - Student
                                </p>
                            </div>
                            <div class="uk-width-auto">
                                <div class="uk-align-right">
                                    <a href="{{ path('profile_edit', {'id': profileUser.id}) }}">
                                        <span class="uk-margin-small-right" uk-icon="icon: file-edit; ratio: 1"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">

                        {% if profileUser.careerStatement %}
                            <p class="uk-text-large">My Career Statement</p>
                            <p>{{ profileUser.careerStatement }}</p>
                        {% else %}
                            <p>Welcome to {{ get_site().name }}! <a href="{{ path('profile_edit', {'id': user.id}) }}">Add a brief career interests bio</a> so others know more about you.</p>
                        {% endif %}
                        
                        <div class="professional-links">
                            <a href="mailto:{{ profileUser.email }}" class="uk-icon-button uk-margin-small-right" uk-icon="mail"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-margin">
                <ul class="uk-tab" uk-switcher="connect: #tab-user-preferences" uk-tab>
                    <li class="uk-active"><a href="#user-preferences">My Calendar</a></li>
                    <li><a href="#user-favorites">Favorites</a></li>
                    <li><a href="#user-events">Events</a></li>
                    <li><a href="#user-feedback">My Feedback</a></li>
                </ul>
                <div class="uk-switcher" id="tab-user-preferences">
                    <div class="user_preferences_calendar">
                        <div class="react-events-calendar" data-user-id="{{ profileUser.id }}"></div>
                    </div>
                    <div class="user_preferences_favorites">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-body">
                                <h3 class="uk-card-title uk-margin-remove-bottom">My Favorites</h3>
                                <ul class="uk-tab" uk-switcher="connect: #tab-favorites" uk-tab>
                                    <li><a href="#favorites-companies">Companies</a></li>
                                </ul>
                                <div class="uk-switcher" id="tab-favorites">
                                    <div class="tab-favorites__companies">
                                        {% if profileUser.companyFavorites|length > 0 %}
                                            <ul class="uk-list uk-list-divider">
                                                {% for favorite in profileUser.companyFavorites %}
                                                    <li>
                                                        <a class="uk-link-text" href="{{ path('company_view', {'id': favorite.company.id}) }}">{{ favorite.company.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <p>No favorite companies added yet.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user_preferences_events">
                        <div>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">My Events</h3>
                                    <ul class="uk-tab" uk-switcher="connect: #tab-events" uk-tab>
                                        <li class="uk-active"><a href="#events-upcoming">Upcoming</a></li>
                                        <li><a href="#events-completed">Completed</a></li>
                                    </ul>
                                    <div class="uk-switcher" id="tab-events">
                                        <div class="tab-events__upcoming">
                                            {% if dashboards.upcomingEventsRegisteredForByUser|length > 0 %}
                                                <ul class="uk-list uk-list-divider">
                                                    {% for event in dashboards.upcomingEventsRegisteredForByUser %}
                                                        {% if event.company is defined %}
                                                            <li><a class="uk-link-text" href="{{ path('company_experience_view', {'id': event.id}) }}">{{ event.title }}</a></li>
                                                        {% elseif event.school is defined %}
                                                            <li><a class="uk-link-text" href="{{ path('school_experience_view', {'id': event.id}) }}">{{ event.title }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>No upcoming events.</p>
                                            {% endif %}
                                        </div>
                                        <div class="tab-events__completed">
                                            {% if dashboards.completedEventsRegisteredForByUser|length > 0 %}
                                                <ul class="uk-list uk-list-divider">
                                                    {% for event in dashboards.completedEventsRegisteredForByUser %}
                                                        {% if event.company is defined %}
                                                            <li><a class="uk-link-text" href="{{ path('company_experience_view', {'id': event.id}) }}">{{ event.title }}</a></li>
                                                        {% elseif event.school is defined %}
                                                            <li><a class="uk-link-text" href="{{ path('school_experience_view', {'id': event.id}) }}">{{ event.title }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>No completed events.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">My Reviews</h3>
                                    <ul class="uk-tab" uk-switcher="connect: #tab-reviews" uk-tab>
                                        <li class="uk-active"><a href="#reviews-todo">Todo</a></li>
                                        <li><a href="#reviews-submitted">Submitted</a></li>
                                    </ul>
                                    <div class="uk-switcher" id="tab-reviews">
                                        <div class="tab-reviews__todo">
                                            {% if dashboards.eventsMissingFeedback|length > 0 %}
                                                <ul class="uk-list uk-list-divider">
                                                    {% for eventProps in dashboards.eventsMissingFeedback %}
                                                        <li><a class="uk-link-text" href="{{ path('experience_feedback', {'id': eventProps.event.id}) }}">{{ eventProps.event.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>All reviews are up to date!</p>
                                            {% endif %}
                                        </div>
                                        <div class="tab-reviews__submitted">
                                            {% if dashboards.eventsWithFeedback|length > 0 %}
                                                <ul class="uk-list uk-list-divider">
                                                    {% for eventProps in dashboards.eventsWithFeedback %}
                                                        <li><a class="uk-link-text" href="{{ path('experience_feedback', {'id': eventProps.event.id}) }}">{{ eventProps.event.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>No events reviews have been submitted.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>







                    <div class="user_preferences_feedback">

                        {% if dashboards['eventsWithFeedbackFromOthers']|length > 0 %}
                            <div uk-grid>
                                <div class="uk-width-1-1 uk-width-small@m">
                                    <ul class="uk-tab-left" uk-tab="connect: #tab-account-inner; animation: uk-animation-fade">
                                        {% for experience in dashboards['eventsWithFeedbackFromOthers'] %}
                                            <li><a href="#feedback-{{ experience.id }}">{{ experience.startDateAndTime|date("m/d/Y") }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="uk-width-1-1 uk-width-expand@m">
                                    <ul id="tab-account-inner" class="uk-switcher">

                                        {% for experience in dashboards['eventsWithFeedbackFromOthers'] %}

                                            {% set cumulativeRating = 0 %}
                                            {% set cumulativeInsight = 0 %}
                                            {% set cumulativeEnjoyable = 0 %}
                                            {% set cumulativeLearned = 0 %}
                                            {% set cumulativeRecommendation = 0 %}

                                            {% set cumulativePromoters = 0 %}
                                            {% set cumulativePassives = 0 %}
                                            {% set cumulativeDetractors = 0 %}

                                            <div class="feedback-{{ experience.id }}">
                                                <strong>Feedback for {{ experience.title }}</strong>
                                                {% if experience.feedback|length > 0 %}
                                                    <div class="uk-overflow-auto">
                                                        <table class="uk-table uk-table-divider">
                                                            <thead>
                                                            <tr>
                                                                <th>Role</th>
                                                                <th>Rating</th>
                                                                <th>Insight</th>
                                                                <th>Enjoyable</th>
                                                                <th>Learned</th>
                                                                <th>Recommendation</th>
                                                                <th>Feedback</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for feedback in experience.feedback %}

                                                                {% if feedback.user.id != user.id %}

                                                                    {% set cumulativeRating = cumulativeRating + feedback.rating %}
                                                                    {% set cumulativeInsight = cumulativeInsight + feedback.providedCareerInsight %}
                                                                    {% set cumulativeEnjoyable = cumulativeEnjoyable + feedback.wasEnjoyableAndEngaging %}
                                                                    {% set cumulativeLearned = cumulativeLearned + feedback.learnSomethingNew %}
                                                                    {% set cumulativeRecommendation = cumulativeRecommendation + feedback.likelihoodToRecommendToFriend %}

                                                                    {# Determine Promoter, Detractors, and Passives #}
                                                                    {% if feedback.likelihoodToRecommendToFriend > 8 %}
                                                                        {% set cumulativePromoters = cumulativePromoters + 1 %}
                                                                    {% elseif feedback.likelihoodToRecommendToFriend < 7 %}
                                                                        {% set cumulativeDetractors = cumulativeDetractors + 1 %}
                                                                    {% else %}
                                                                        {% set cumulativePassives = cumulativePassives + 1 %}
                                                                    {% endif %}

                                                                    {% set role = '' %}
                                                                    {% if feedback.user.educator %}
                                                                        {% set role = 'Educator' %}
                                                                    {% elseif feedback.user.professional %}
                                                                        {% set role = 'Professional' %}
                                                                    {% elseif feedback.user.educator %}
                                                                        {% set role = 'Educator' %}
                                                                    {% else %}
                                                                        {% set role = 'Unknown' %}
                                                                    {% endif %}

                                                                    <tr>
                                                                        <td class="uk-text-nowrap">{{ role }}</td>
                                                                        <td class="uk-text-nowrap">{{ feedback.rating }}</td>
                                                                        <td class="uk-text-nowrap">{{ feedback.providedCareerInsight == 1 ? "YES" : "NO" }}</td>
                                                                        <td class="uk-text-nowrap">{{ feedback.wasEnjoyableAndEngaging == 1 ? "YES" : "NO" }}</td>
                                                                        <td class="uk-text-nowrap">{{ feedback.learnSomethingNew == 1 ? "YES" : "NO" }}</td>
                                                                        <td class="uk-text-nowrap">{{ feedback.likelihoodToRecommendToFriend }}</td>
                                                                        <td>{{ feedback.additionalFeedback }}</td>
                                                                    </tr>

                                                                {% endif %}

                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <h3>Data Breakdown:</h3>

                                                    {% set npmScore = (((cumulativePromoters / experience.feedback|length ) - (cumulativeDetractors / experience.feedback|length )) * 100)|round %}

                                                    <div class="uk-grid-small uk-text-center uk-text-left@m uk-flex-middle" uk-grid>
                                                        <div class="uk-width-1-1 uk-width-expand@m">
                                                            <p>Net Promoter Score (NPS™) is one of the most widely used customer satisfaction tools in business today.</p>
                                                            <a class="uk-button uk-button-default uk-button-small" href="#modal-nps-score" uk-toggle>More info</a>
                                                            <div id="modal-nps-score" uk-modal>
                                                                <div class="uk-modal-dialog uk-modal-body">
                                                                    <p>Developed by Bain & Co in 2006, it is based on one question:</p>
                                                                    <strong>“How likely is it that you would recommend us to a friend?”</strong>
                                                                    <p>which is then answered on a 0 through 10 scale from “not at all likely” to “extremely likely”. Respondents who reply with a 9 or 10 are viewed as promoters: strong enthusiasts for your product or service. Those answering 7 or 8 are categorized as passives: satisfied customers but not enthusiastic. Those providing a 0 through 6 score are detractors: unhappy customers. To calculate a NPS™, you take the percent of respondents who are promoters and subtract the percent of respondents who are detractors to give you a number between zero and one. NPS range from -100 to +100. Average NPS for guest instructors and site visit hosts in 2018-19 was 68.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="uk-width-1-1 uk-width-auto@m">
                                                            <div class="uk-align-center">
                                                                <div class="react-gauge-chart"
                                                                     data-bg-color="#cccccc"
                                                                     data-label="NPM Score"
                                                                     data-max="100"
                                                                     data-min="-100"
                                                                     data-value="{{ npmScore }}"
                                                                ></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                        <div class="uk-width-1-2 uk-width-1-3@m">
                                                            <div class="uk-text-meta">Average Rating</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeRating / experience.feedback|length ) }}</h4>
                                                        </div>
                                                        <div class="uk-width-1-2 uk-width-1-3@m">
                                                            <div class="uk-text-meta">Total Responses</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ experience.feedback|length }}</h4>
                                                        </div>
                                                    </div>

                                                    <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                                        <div class="uk-width-1-3">
                                                            <div class="uk-text-meta">Linked to Classwork</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeInsight / experience.feedback|length * 100 )|round(1, 'floor') }}%</h4>
                                                        </div>
                                                        <div class="uk-width-1-3">
                                                            <div class="uk-text-meta">Enjoyable/Engaging</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeEnjoyable / experience.feedback|length * 100 )|round(1, 'floor') }}%</h4>
                                                        </div>
                                                        <div class="uk-width-1-3">
                                                            <div class="uk-text-meta">Learned Something</div>
                                                            <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeLearned / experience.feedback|length * 100 )|round(1, 'floor') }}%</h4>
                                                        </div>
                                                    </div>

                                                {% else %}
                                                    <p>No feedback has been submitted yet.</p>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        {# Professional Events with feedback and events missing feedback #}
                        <div class="uk-margin">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">My Reviews</h3>
                                    <ul class="uk-tab" uk-switcher="connect: #tab-reviews" uk-tab>
                                        <li class="uk-active"><a href="#reviews-todo">Todo</a></li>
                                        <li><a href="#reviews-submitted">Submitted</a></li>
                                    </ul>
                                    <div class="uk-switcher" id="tab-reviews">
                                        <div class="tab-reviews__todo">
                                            {% if dashboards.eventsMissingFeedback|length > 0 %}
                                                <ul class="uk-list uk-list-divider">
                                                    {% for eventProps in dashboards.eventsMissingFeedback %}
                                                        <li><a class="uk-link-text" href="{{ path('experience_feedback', {'id': eventProps.event.id}) }}">{{ eventProps.event.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>All reviews are up to date!</p>
                                            {% endif %}
                                        </div>
                                        <div class="tab-reviews__submitted">
                                            {% if dashboards.eventsWithFeedback|length > 0 %}
                                                <ul class="uk-list uk-list-divider">
                                                    {% for eventProps in dashboards.eventsWithFeedback %}
                                                        <li><a class="uk-link-text" href="{{ path('experience_feedback', {'id': eventProps.event.id}) }}">{{ eventProps.event.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>No events reviews have been submitted.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>









                </div>
            </div>
        </div>
        <div class="uk-width-1-3@m uk-width-1-1">
            <!-- Salary Exploration -->
            <div class="quick-links-wrapper uk-margin">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Exploration</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-list">
                            <li>
                                <a class="uk-link" href="{{ path('salary_exploration_primary_industry') }}">Learn about Careers</a>
                            </li>
                            <li>
                                <a class="uk-link" href="{{ path('company_index') }}">Learn about Companies</a>
                            </li>
                            <li>
                                <a class="uk-link" href="{{ path('experience_index') }}">Career Experiences</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- My School -->
            <div class="quick-links-wrapper uk-margin">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">My School</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        {% if profileUser.school is defined and profileUser.school %}
                            <a href="{{ path('school_view', { id: profileUser.school.id }) }}"><h4>{{ profileUser.school.name }}</h4></a>

                            <h5>Supervising Teacher</h5>
                            {% if profileUser.educatorUsers|length > 0 %}
                                <ul class="uk-list uk-list-divider uk-margin-remove-top uk-margin-remove-bottom">
                                    {% for educatorUser in profileUser.educatorUsers %}
                                        <li>
                                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                                <div class="uk-width-auto">
                                                    <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(educatorUser, 'photo') is defined and educatorUser.photo ) ? asset(uploaded_asset(educatorUser.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                                                </div>
                                                <div class="uk-width-expand">
                                                    <a class="uk-text-meta" href="{{ path('profile_index', {id: educatorUser.id}) }}">{{ educatorUser.fullName }}</a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            <h5>Upcoming Events</h5>
                            {% set noEventsFound = true %}
                            {% if profileUser.school.schoolExperiences|length > 0 %}
                                <ul class="uk-list uk-list-divider uk-margin-remove-top uk-margin-remove-bottom">
                                    {% for experience in profileUser.school.schoolExperiences %}
                                        {% if date(experience.startDateAndTime) > date() %}
                                            {% set noEventsFound = false %}
                                            <li><a class="uk-text-meta" href="{{ path('school_experience_view', {id: experience.id}) }}">{{ experience.startDateAndTime|date("F jS") }} - {{ experience.title }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if noEventsFound == true %}
                                <p class="uk-text-meta">There are no upcoming events at this time</p>
                            {% endif %}
                        {% else %}
                            <div className="uk-placeholder uk-text-center">
                                <p>You aren't associated with a school yet.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
