<div class="uk-container">
    <div class="uk-grid" uk-grid>
        <div class="uk-width-2-3@m uk-width-1-1">
            <!-- PROFILE -->
            <div class="profile-card-wrapper">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(profileUser, 'photo') is defined and profileUser.photo ) ? asset(uploaded_asset(profileUser.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                            </div>
                            <div class="uk-width-expand">
                                <a href="{{ path('profile_index', {'id': profileUser.id}) }}">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">{{ profileUser.getFullName }}</h3>
                                </a>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    {# TODO: Add link to school view #}
                                    <a href="#">{{ profileUser.school.name }}</a> - Student
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        {% if profileUser.briefBio %}
                            <div class="uk-margin">
                                {{ profileUser.briefBio|raw }}
                            </div>
                        {% else %}
                            <p>This student has not added a bio yet.</p>
                        {% endif %}

                        {% if profileUser.email %}
                            <div class="professional-links">
                                <a href="mailto:{{ profileUser.email }}" class="uk-icon-button uk-margin-small-right" uk-icon="mail"></a>
                                {% if user_can_chat_with_user( user, profileUser ) %}
                                    <a href="javascript:void(0)" class="uk-icon-button uk-margin-small-right" uk-icon="comments" data-message-user-id="{{ profileUser.id }}"></a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
