{% include 'email/partial/emailHeader.html.twig' %}

<p>Hi {{ user.firstName }},</p>

<p>Here is an experience we think you might be interested in.</p>

<p style="font-weight: bold">{{ customMessage }}</p>

<p>Location: <strong>{{ experience.street }} {{ experience.city }} {{ experience.state.abbreviation }} {{ experience.zipcode }}</strong>
<p>When: <strong>{{ experience.startDateAndTime|date("F jS, Y h:i A") }}</strong></p>
<p>Contact: <strong>{{ experience.phoneNumber }} {{ experience.email }}</strong></p>
<p>Type: <strong>{{ experience.type }}</strong></p>
<p>About:
<p><strong>{{ experience.title }}</strong></p>
<p><strong>{{ experience.briefDescription }}</strong></p>
</p>
<a href="{{ url }}">Click for more details...</a>
</p>

{% include 'email/partial/emailFooter.html.twig' %}
