<div id="{{ chart.name }}">
    <div class="uk-card uk-card-default">
        <div class="uk-card-header" style="position: relative">
            <span style="position: absolute; top: 10px; right: 20px" uk-icon="move" class="uk-sortable-handle"></span>
            {{ chart.header }} <br>
            <small>{{ chart.subHeader }}</small>
        </div>
        <div class="uk-card-body">
            <p>Total Companies Registered: <mark><strong>{{ chart.totalNumberCompaniesRegistered }}</strong></mark></p>
            <p>Total Professionals Registered: <mark><strong>{{ chart.totalNumberProfessionalsRegistered }}</strong></mark></p>
            <p>Total Educators Registered: <mark><strong>{{ chart.totalNumberEducatorsRegistered }}</strong></mark></p>
            <p>Total Students Registered: <mark><strong>{{ chart.totalNumberStudentsRegistered }}</strong></mark></p>
        </div>
        <div class="uk-card-footer" style="text-align: center">
            {{ chart.footer }}
        </div>
    </div>
</div>