<li>
    {% if request.wasCreatedByUser(user) %}
        <a class="uk-accordion-title" href="#">Request to register students for company event.</a>
        <div class="uk-accordion-content">
            <table class="uk-table uk-table-small uk-table-divider">
                <tbody>
                <tr>
                    <td>Request type</td>
                    <td>Register students for company event.</td>
                </tr>
                <tr>
                    <td>Event title</td>
                    <td>{{ request.companyExperience.title }}</td>
                </tr>
                <tr>
                    <td>Sent to</td>
                    <td>{{ request.needsApprovalBy.fullName }} | {{ request.needsApprovalBy.email }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        <span class="uk-label">{% if request.approved %}Approved{% else %}Pending Approval{% endif %}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        {% else %}
            <a class="uk-accordion-title" href="#">Request to register students for company event.</a>
            <div class="uk-accordion-content">
                <p>{{ request.createdBy.firstName }} {{ request.createdBy.lastName }} has requested that you register the following students
                    to the event: {{ request.companyExperience.title }}</p>
                <ul>
                    {% for student in request.studentUsers %}
                        <li>{{ student.fullName }}</li>
                    {% endfor %}
                </ul>
                <form method="post" class="uk-inline" action="{{ path('approve_request', {'id': request.id}) }}">
                    <input class="uk-label uk-label-success" type="submit" value="Approve">
                    <input type="hidden" name="request" value="{{ request.id }}">
                </form>
                <form method="post" class="uk-inline" action="{{ path('deny_request', {'id': request.id}) }}">
                    <input class="uk-label uk-label-danger" type="submit" value="Deny">
                    <input type="hidden" name="request" value="{{ request.id }}">
                </form>
                <button class="uk-label uk-label-success" data-message-user-id="{{ request.createdBy.id }}">Chat with {{ request.createdBy.fullName }}</button>
            </div>
    {% endif %}

</li>
