<li>
    {% if request.type == 'TYPE_COMPANY_TO_USER' %}
        <a class="uk-accordion-title" href="#">You've been invited to join a company</a>
        <div class="uk-accordion-content">
            <table class="uk-table uk-table-small uk-table-divider">
                <tbody>
                <tr>
                    <td>Request Type</td>
                    <td>INVITED BY COMPANY</td>
                </tr>
                <tr>
                    <td>Company Name</td>
                    <td>{{ request.company.name }}</td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td>{{ request.company.website }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ request.company.emailAddress }}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{ request.company.phone }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        <span class="uk-label">{% if request.approved %}Approved{% else %}Pending Approval{% endif %}</span>
                        <form method="post" class="uk-inline">
                            <input class="uk-label uk-label-success" type="submit" value="Approve">
                            <input type="hidden" name="request" value="{{ request.id }}">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    {% elseif request.type == 'TYPE_USER_TO_COMPANY' %}
        <a class="uk-accordion-title" href="#">Request to join another company</a>
        <div class="uk-accordion-content">
            <p>{{ request.createdBy.firstName }} {{ request.createdBy.lastName }} has requested to join your company</p>
            <form method="post">
                <input class="uk-label uk-label-success" type="submit" value="Approve">
                <input type="hidden" name="request" value="{{ request.id }}">
            </form>
        </div>
    {% endif %}

</li>