<div>

    {% if request.type == 'TYPE_COMPANY_TO_USER' %}

        {{ request.company.name}} has requested that you join their company.


        <p>{{ request.company.emailAddress }}</p>
        <p>{{ request.company.website }}</p>
        <p>{{ request.company.phone }}</p>
        <p>{{ request.company.primaryIndustry.name }}</p>

        {% elseif request.type == 'TYPE_USER_TO_COMPANY' %}
            <p>
                {{ request.createdBy.firstName }} {{ request.createdBy.lastName }} has requested to join your company
            </p>
    {% endif %}

    <form method="post">
        <input type="submit" value="Approve">
        <input type="hidden" name="request" value="{{ request.id }}">
    </form>

</div>