<li id="tlr_{{ request.id }}">
    {% if request.isFromProfessional == true %}
        {# Do nothing #}
    {% elseif request.isFromProfessional == false %}

        {% if request.wasCreatedByUser(user) %}
            {% if request.createdBy.isEducator and request.educatorHasSeen == false %}
                <a class="uk-accordion-title toggle-has-seen" href="#" data-location="{{ location }}" data-parent="{{ parentTab }}" data-id="{{ request.id }}">
                    <small class="icon"><em class="fa fa-circle"></em></small> 
                    {% if request.message %}
                        Reschedule - Request to teach a topic
                    {% else %}
                        Request to teach a topic
                    {% endif %}
                    <br /><small class="x-small">{{ request.createdAt|date("m/d/Y h:i:s A") }}
                    <br /><strong>{{ request.lesson.title }}</strong> - School: {{ request.createdBy.school.name }} - Professional: {{ request.needsApprovalBy.fullName }}</small>
                </a>
            {% else %}
                <a class="uk-accordion-title" href="#">
                    {% if request.message %}
                        Reschedule - Request to teach a topic
                    {% else %}
                        Request to teach a topic
                    {% endif %}
                    <br /><small class="x-small">{{ request.createdAt|date("m/d/Y h:i:s A") }}
                    <br /><strong>{{ request.lesson.title }}</strong> - School: {{ request.createdBy.school.name }} - Professional: {{ request.needsApprovalBy.fullName }}</small>
                </a>
            {% endif %}
            
            <div class="uk-accordion-content">
                <table class="uk-table uk-table-small uk-table-divider">
                    <tbody>
                    <tr>
                        <td>Request type</td>
                        <td>Teach topic</td>
                    </tr>
                    <tr>
                        <td>Topic title</td>
                        <td>{{ request.lesson.title }}</td>
                    </tr>
                    <tr>
                        <td>School name</td>
                        <td>{{ request.createdBy.school.name }}</td>
                    </tr>
                    <tr>
                        <td>Dates Available</td>
                        <td>
                            <p>{{ request.dateOptionOne|date("m/d/Y h:i:s A") }}</p>
                            <p>{{ request.dateOptionTwo|date("m/d/Y h:i:s A") }}</p>
                            <p>{{ request.dateOptionThree|date("m/d/Y h:i:s A") }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Professional</td>
                        <td>
                            {{ request.needsApprovalBy.fullName }}
                        </td>
                    </tr>
                    {% if render_request_status_text( request ) == "Approved" %}
                        <tr>
                            <td>Date Confirmed</td>
                            <td>
                                {{ request.teachLessonExperience.startDateAndTime|date("m/d/Y h:i:s A") }}<br /><br />
                                <div class="react-calendar-button"
                                    data-event-start-time="{{ request.teachLessonExperience.startDateAndTimeTimeStamp }}"
                                    data-event-end-time="{{ request.teachLessonExperience.endDateAndTimeTimeStamp }}"
                                    data-title="{{ request.teachLessonExperience.title }}"
                                    data-description="{{ request.teachLessonExperience.briefDescription }}"
                                    data-location="{{ request.teachLessonExperience.school.name ~ " - " ~ request.teachLessonExperience.school.address }}"
                                ></div>

                                <a class="uk-button uk-button-danger uk-button-small" href="#modal-change-date-{{ request.teachLessonExperience.id }}" uk-toggle>Request Change of Date</a>
                                <br>
                                <div id="modal-change-date-{{ request.teachLessonExperience.id }}" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body">
                                        <h3>Request to Change Date of Experience</h3>
                                        <form class="uk-inline" action="{{ path('experience_teach_lesson_event_request_new_dates', { "id": request.teachLessonExperience.id }) }}" method="POST">
                                            <p>Please select 3 different date/times that work for the Guest Instructor to visit.</p>
                                            <label>New Date Choice 1</label>
                                            <input class="uk-timepicker uk-input" name="date_option_one" type="text"><br /><br />
                                            <label>New Date Choice 2</label>
                                            <input class="uk-timepicker uk-input" name="date_option_two" type="text"><br /><br />
                                            <label>New Date Choice 3</label>
                                            <input class="uk-timepicker uk-input" name="date_option_three" type="text"><br /><br />

                                            <label>Custom Message</label>
                                            <textarea class="uk-textarea" name="customMessage" style="width: 100%"></textarea>

                                            <p>
                                                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                                <button class="uk-button uk-button-danger" type="submit">Submit</button>
                                            </p>
                                        </form>
                                    </div>
                                </div>

                                <br>

                                <a class="uk-button uk-button-danger uk-button-small" href="#modal-delete-experience-{{ request.teachLessonExperience.id }}" uk-toggle>Cancel Experience</a>
                                <br>
                                <div id="modal-delete-experience-{{ request.teachLessonExperience.id }}" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body">
                                        <h3>Cancel Experience</h3>
                                        <form class="uk-inline" action="{{ path('experience_teach_lesson_event_delete', { "id": request.teachLessonExperience.id }) }}" method="POST">

                                            <label>Custom Message</label>
                                            <textarea class="uk-textarea" name="customMessage" style="width: 100%"></textarea>

                                            <p>
                                                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                                <button class="uk-button uk-button-danger" type="submit">Submit</button>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Status</td>
                        <td>
                            <span class="uk-label">
                                {{ render_request_status_text( request ) }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Created On</td>
                        <td>{{ request.createdAt|date("m/d/Y h:i:s A") }}</td>
                    </tr>
                    {% if request.message %}
                        <tr>
                            <td>Message</td>
                            <td>{{ request.message }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        {% else %}
            {% if request.professionalHasSeen == false %}
                <a class="uk-accordion-title toggle-has-seen" href="#" data-location="{{ location }}" data-parent="{{ parentTab }}" data-id="{{ request.id }}">
                    <small class="icon"><em class="fa fa-circle"></em></small> 
                    {% if request.message %}
                        Reschedule - Request to teach a topic
                    {% else %}
                        Request to teach a topic
                    {% endif %}
                    <br /><small class="x-small">{{ request.createdAt|date("m/d/Y h:i:s A") }}
                    <br /><strong>{{ request.lesson.title }}</strong> - School: {{ request.createdBy.school.name }} - Professional: {{ request.createdBy.firstName }} {{ request.createdBy.lastName }}</small>
                </a>
            {% else %}
                <a class="uk-accordion-title" href="#">
                    {% if request.message %}
                        Reschedule - Request to teach a topic
                    {% else %}
                        Request to teach a topic
                    {% endif %}
                    <br /><small class="x-small">{{ request.createdAt|date("m/d/Y h:i:s A") }}
                    <br /><strong>{{ request.lesson.title }}</strong> - School: {{ request.createdBy.school.name }} - Professional: {{ request.createdBy.firstName }} {{ request.createdBy.lastName }}</small>
                </a>
            {% endif %}
            <div class="uk-accordion-content">
                <table class="uk-table uk-table-small uk-table-divider">
                    <tbody>
                    <tr>
                        <td>Request Type</td>
                        <td>Teach topic</td>
                    </tr>
                    <tr>
                        <td>Initiated By</td>
                        <td>
                            {{ request.createdBy.firstName }} {{ request.createdBy.lastName }}
                            {% if user_can_chat_with_user( user, request.createdBy ) %}
                                <button class="uk-inline uk-button uk-button-default uk-button-small uk-margin-small-left" data-message-user-id="{{ request.createdBy.id }}">Chat</button>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Reschedule Date</td>
                        <td>
                            Please click the chat button below to reach out to the educator to reschedule this event.
                            {% if user_can_chat_with_user( user, request.createdBy ) %}
                                <button class="uk-inline uk-button uk-button-default uk-button-small uk-margin-small-left" data-message-user-id="{{ request.createdBy.id }}">Chat</button>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Topic</td>
                        <td>{{ request.lesson.title }}</td>
                    </tr>
                    <tr>
                        <td>School name</td>
                        <td>{{ request.createdBy.school.name }}</td>
                    </tr>
                    <tr>
                        <td>Dates Available</td>
                        <td>
                            <p>{{ request.dateOptionOne|date("m/d/Y h:i:s A") }}</p>
                            <p>{{ request.dateOptionTwo|date("m/d/Y h:i:s A") }}</p>
                            <p>{{ request.dateOptionThree|date("m/d/Y h:i:s A") }}</p>
                        </td>
                    </tr>
                    {% if render_request_status_text( request ) == "Approved" %}
                        <tr>
                            <td>Date Confirmed</td>
                            <td>
                                {% if request.teachLessonExperience.startDateAndTime is defined %}
                                {{ request.teachLessonExperience.startDateAndTime|date("m/d/Y h:i:s A") }}
                                {% endif %}
                                <br /><br />
                        {% if request.teachLessonExperience is not null %}
                            <div class="react-calendar-button"
                                    data-event-start-time="{{ request.teachLessonExperience.startDateAndTimeTimeStamp }}"
                                    data-event-end-time="{{ request.teachLessonExperience.endDateAndTimeTimeStamp }}"
                                    data-title="{{ request.teachLessonExperience.title }}"
                                    data-description="{{ request.teachLessonExperience.briefDescription }}"
                                    data-location="{{ request.teachLessonExperience.school.name ~ " - " ~ request.teachLessonExperience.school.address }}"
                            ></div>
                        {% endif %}

                                <a class="uk-button uk-button-danger uk-button-small" href="#modal-delete-experience-{{ request.teachLessonExperience.id }}" uk-toggle>Cancel Experience</a>
                                <br>
                                <div id="modal-delete-experience-{{ request.teachLessonExperience.id }}" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body">
                                        <h3>Cancel Experience</h3>
                                        <form class="uk-inline" action="{{ path('experience_teach_lesson_event_delete', { "id": request.teachLessonExperience.id }) }}" method="POST">

                                            <label>Custom Message</label>
                                            <textarea class="uk-textarea" name="customMessage" style="width: 100%"></textarea>

                                            <p>
                                                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                                <button class="uk-button uk-button-danger" type="submit">Submit</button>
                                            </p>
                                        </form>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Status</td>
                        <td>
                            <span class="uk-label">
                                {{ render_request_status_text( request ) }}
                            </span>
                        </td>
                    </tr>
                    {% if render_request_status_text( request ) == "Pending" %}
                        <tr>
                            <td>Confirm a Date</td>
                            <td>
                                <form method="post" class="uk-inline tlr-approval" action="{{ path('approve_request', {'id': request.id}) }}">
                                    <input class="uk-label uk-label-success" type="submit" value="{{ request.dateOptionOne|date("m/d/Y h:i:s A") }}">
                                    <input type="hidden" name="element" value="tlr_{{ request.id }}">
                                    <input type="hidden" name="date" value="{{ request.dateOptionOne|date("m/d/Y h:i:s A") }}">
                                    <input type="hidden" name="request" value="{{ request.id }}">
                                </form>
                                <form method="post" class="uk-inline tlr-approval" action="{{ path('approve_request', {'id': request.id}) }}">
                                    <input class="uk-label uk-label-success" type="submit" value="{{ request.dateOptionTwo|date("m/d/Y h:i:s A") }}">
                                    <input type="hidden" name="element" value="tlr_{{ request.id }}">
                                    <input type="hidden" name="date" value="{{ request.dateOptionTwo|date("m/d/Y h:i:s A") }}">
                                    <input type="hidden" name="request" value="{{ request.id }}">
                                </form>
                                <form method="post" class="uk-inline tlr-approval" action="{{ path('approve_request', {'id': request.id}) }}">
                                    <input class="uk-label uk-label-success" type="submit" value="{{ request.dateOptionThree|date("m/d/Y h:i:s A") }}">
                                    <input type="hidden" name="element" value="tlr_{{ request.id }}">
                                    <input type="hidden" name="date" value="{{ request.dateOptionThree|date("m/d/Y h:i:s A") }}">
                                    <input type="hidden" name="request" value="{{ request.id }}">
                                </form>

                                <form method="post" class="uk-inline tlr-denial" action="{{ path('deny_request', {'id': request.id}) }}">
                                    <input class="uk-label uk-label-danger" type="submit" value="Deny">
                                    <input type="hidden" name="element" value="tlr_{{ request.id }}">
                                    <input type="hidden" name="request" value="{{ request.id }}">
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>Created On</td>
                            <td>{{ request.createdAt|date("m/d/Y h:i:s A") }}</td>
                        </tr>
                    {% endif %}
                    {% if request.message %}
                        <tr>
                            <td>Message</td>
                            <td>{{ request.message }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endif %}
</li>
