<li id="urfser_{{ request.id }}">
    {% if request.wasCreatedByUser(user) %}
        <a class="uk-accordion-title" href="#">
            Request to register for school experience.
            <br /><small class="x-small">{{ request.createdAt|date("m/d/Y h:i:s A") }}
            <br /><strong>{{ request.schoolExperience.title }}</strong> - User: {{ request.user.fullName }}</small>

        </a>
        <div class="uk-accordion-content">
            <table class="uk-table uk-table-small uk-table-divider">
                <tbody>
                <tr>
                    <td>Request type</td>
                    <td>Register for school experience.</td>
                </tr>
                <tr>
                    <td>Experience title</td>
                    <td>{{ request.schoolExperience.title }}</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>{{ request.user.fullName }}</td>
                </tr>
                <tr>
                    <td>Sent to</td>
                    {% if request.needsApprovalBy is not null %}
                        <td>{{ request.needsApprovalBy.fullName }} | {{ request.needsApprovalBy.email }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        <span class="uk-label">
                            {{ render_request_status_text( request ) }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Created On</td>
                    <td>{{ request.createdAt|date("m/d/Y h:i:s A") }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% else %}
            <a class="uk-accordion-title" href="#">
                Request to register user for school experience.
                <br /><small class="x-small">{{ request.createdAt|date("m/d/Y h:i:s A") }}
                <br /><strong>{{ request.schoolExperience.title }}</strong> - User: {{ request.createdBy.fullName }}</small>
            </a>
            <div class="uk-accordion-content">
                <p>{{ request.createdBy.firstName }} {{ request.createdBy.lastName }} has requested to register for the
                    following  experience: {{ request.schoolExperience.title }}</p>
                <p>Created On {{ request.createdAt|date("m/d/Y h:i:s A") }}</p>
                <ul>
                    <li>
                        {% if request.user %}
                            <a href="{{ path('profile_index', {id: request.user.id}) }}">{{ request.user.fullName }}</a>
                            {% if request.user.professional %}
                                - (Professional)
                            {% elseif request.user.student %}
                                - (Student - {{ request.user.school.name }})
                            {% endif %}
                        {% endif %}
                    </li>
                </ul>
                {% if render_request_status_text( request ) == "Pending" %}
                    <form method="post" class="uk-inline urfser-approval" action="{{ path('approve_request', {'id': request.id}) }}">
                        <input class="uk-label uk-label-success" type="submit" value="Approve">
                        <input type="hidden" name="element" value="urfser_{{ request.id }}">
                        <input type="hidden" name="request" value="{{ request.id }}">
                    </form>
                    <form method="post" class="uk-inline urfser-denial" action="{{ path('deny_request', {'id': request.id}) }}">
                        <input class="uk-label uk-label-danger" type="submit" value="Deny">
                        <input type="hidden" name="element" value="urfser_{{ request.id }}">
                        <input type="hidden" name="request" value="{{ request.id }}">
                    </form>
                {% endif %}
                {% if user_can_chat_with_user( user, request.createdBy ) %}
                    <button class="uk-label uk-label-success" data-message-user-id="{{ request.createdBy.id }}">Chat with {{ request.createdBy.fullName }}</button>
                {% endif %}
            </div>
    {% endif %}

</li>