{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Local Professional Videos{% endblock %}

{% block body %}

    <div class="uk-container">

        <ul class="uk-subnav uk-subnav-pill" uk-margin>
            <li><a href="{{ path('videos_all') }}">ALL VIDEOS</a></li>
            <li><a href="{{ path('videos_local_company') }}">LOCAL COMPANY VIDEOS</a></li>
            <li><a href="{{ path('videos_general_career') }}">GENERAL CAREER VIDEOS</a></li>
            <li class="uk-active"><a href="{{ path('videos_local_professional') }}">LOCAL PROFESSIONAL VIDEOS</a></li>
            <li><a href="{{ path('videos_favorites') }}">FAVORITES</a></li>
        </ul>

        {{ form_start(form, {'attr': {'class': 'uk-grid-small', 'uk-grid': 'uk-grid'}}) }}

        {% if form.keywordOrProfession is defined %}
            <div class="uk-width-1-4@s">
                {{ form_widget(form.keywordOrProfession, {'attr': {'class': 'uk-input', 'placeholder': 'Search by keyword or profession...'}}) }}
            </div>
        {% endif %}

        {% if form.primaryIndustry is defined %}
            <div class="uk-width-1-4@s">
                {{ form_widget(form.primaryIndustry, {'attr': {'class': 'uk-select js-primary-industry'}}) }}
            </div>
        {% endif %}

        {% if form.secondaryIndustries is defined %}
            <div class="uk-width-1-4@s">
                {{ form_widget(form.secondaryIndustries, {'attr': {'class': 'uk-select'}}) }}
            </div>
        {% endif %}

        <div class="uk-width-1-4@s">
            <button class="uk-button uk-button-primary">Search</button>
            <a class="uk-button uk-button-default" href="{{ clearFormUrl }}">Clear</a>
        </div>
        {{ form_end(form) }}
        <br>

        <div class="count">
            Total Local Professional Videos: {{ pagination.getTotalItemCount }}
        </div>
        <br>

        <div class="local_company_videos">

            <div class="videos-listings" data-uk-grid="masonry: true">

                {% for paginatedVideo in pagination %}
                    
                    <div>

                        <div class="uk-card uk-card-default">

                            <div class="uk-card-header">
                                <div class="uk-width-expand">

                                    {% if user_favorited_video(user, paginatedVideo) %}
                                        <a href="{{ path('unfavorite_video', {'id': paginatedVideo.id}) }}?redirect=videos_local_professional">
                                                <span class="favorite-company"
                                                      data-uk-tooltip="title: Remove from My Favorites">
                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                </span>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('favorite_video', {'id': paginatedVideo.id}) }}?redirect=videos_local_professional">
                                                <span class="favorite-company"
                                                      data-uk-tooltip="title: Add to My Favorites">
                                                    <i style="opacity: 0.5" class="fa fa-heart" aria-hidden="true"></i>
                                                </span>
                                        </a>
                                    {% endif %}

                                </div>
                            </div>

                            <div class="uk-card-body">
                                s
                                <div>
                                    <a class="company-video uk-inline" target="_blank"
                                       href="https://www.youtube.com/watch?v={{ paginatedVideo.videoId }}">
                                        <img src="http://i.ytimg.com/vi/{{ paginatedVideo.videoId }}/hqdefault.jpg"
                                             alt=""/>
                                        <div class="company-video__overlay">
                                            <div class="company-video__overlay-title">
                                                {{ paginatedVideo.name }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                {% else %}

                    <p>No videos match your selection</p>
                {% endfor %}

            </div>
        </div>

        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

    </div>

{% endblock %}
