<div id="{{ chart.name }}">
    <div class="uk-card uk-card-default">
        <div class="uk-card-header" style="position: relative">
            <span style="position: absolute; top: 10px; right: 20px" uk-icon="move" class="uk-sortable-handle"></span>
            {{ chart.header }} <br>
            <small>{{ chart.subHeader }}</small>
        </div>
        <div class="uk-card-body">
            <p>Total company experiences: <mark><strong>{{ chart.totalCompanyExperiences }}</strong></mark></p>
            <p>Total school experiences: <mark><strong>{{ chart.totalSchoolExperiences }}</strong></mark></p>
            <p>Total number of students registered for an experience: <mark><strong>{{ chart.totalStudentsRegistered }}</strong></mark></p>
        </div>
        <div class="uk-card-footer" style="text-align: center">
            {{ chart.footer }}
        </div>
    </div>
</div>