{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Educators{% endblock %}
{% set previouslyLoggedInAs = app.session.get('previouslyLoggedInAs', null) %}

{% block body %}

    <div class="uk-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-1">

                {% include 'flash/messages.html.twig' %}

                <ul class="uk-breadcrumb">
                    <li><a href="{{ path('manage_users') }}">Manage Users</a></li>
                    <li><span>Educators</span></li>
                </ul>

                {% include 'manageUsers/partials/_filters.html.twig' %}
                <br>

                <div class="count">
                    Total Users: {{ pagination.getTotalItemCount }}
                </div>
                <table class="uk-table uk-table-small uk-table-divider">
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>School</th>
                        <th>State</th>
                        <th>Site</th>
                        {% if user.canLoginAsAnotherUser %}<th>Login As User</th>{% endif %}
                        <th>Edit/Delete</th>
                    </tr>

                    {# table body #}
                    {% for paginatedUser in pagination %}
                        <tr>
                            <td>{{ paginatedUser.id }}</td>
                            <td>{{ paginatedUser.firstName }}</td>
                            <td>{{ paginatedUser.lastName }}</td>
                            <td>{{ paginatedUser.email }}</td>
                            <td>{{ paginatedUser.username }}</td>
                            <td>
                                {% if paginatedUser.school is defined and paginatedUser.school is not null %}
                                    <a href="{{ path('school_edit', {'id': paginatedUser.school.id}) }}">{{ paginatedUser.school.name }}</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if paginatedUser.school is defined and paginatedUser.school.state is defined and paginatedUser.school is not null and paginatedUser.school.state is not null %}
                                    {{ paginatedUser.school.state.name }}
                                {% endif %}
                            </td>
                            <td>
                                {% if paginatedUser.site is defined and paginatedUser.site is not null %}
                                    {{ paginatedUser.site.name }}
                                {% endif %}
                            </td>
                            {% if user.canLoginAsAnotherUser %}
                                <th>
                                    {% if previouslyLoggedInAs is not null %}
                                        <form method="post" action="{{ path('login_as_user') }}">
                                            <input type="hidden" name="userId" value="{{ previouslyLoggedInAs['userId'] }}">
                                            <button type="submit" class="uk-button uk-button-default uk-button-small uk-width-1-1">RETURN</button>
                                        </form>
                                    {% else %}
                                        <form method="post" action="{{ path('login_as_user') }}">
                                            <input type="hidden" name="userId" value="{{ paginatedUser.id }}">
                                            <button class="uk-button uk-button-default uk-button-small" type="submit">Login</button>
                                        </form>
                                    {% endif %}
                                </th>
                            {% endif %}
                            <td><a href="{{ path('profile_edit', {'id': paginatedUser.id}) }}">Edit</a> | <a href="{{ path('profile_delete', {'id': paginatedUser.id}) }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
