{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}

    <div class="uk-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-1">

                {% include 'flash/messages.html.twig' %}

                <div class="count">
                    Total Users: {{ pagination.getTotalItemCount }}
                </div>
                <table class="uk-table uk-table-small uk-table-divider">
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Edit/Delete</th>
                    </tr>

                    {# table body #}
                    {% for paginatedUser in pagination %}
                        <tr>
                            <td>{{ paginatedUser.id }}</td>
                            <td>{{ paginatedUser.firstName }}</td>
                            <td>{{ paginatedUser.lastName }}</td>
                            <td>{{ paginatedUser.email }}</td>
                            <td>{{ paginatedUser.username }}</td>
                            <td><a href="{{ path('profile_edit', {'id': paginatedUser.id}) }}">Edit</a> | <a href="{{ path('profile_delete', {'id': paginatedUser.id}) }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
