{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Professionals{% endblock %}
{% set previouslyLoggedInAs = app.session.get('previouslyLoggedInAs', null) %}

{% block body %}

    <div class="uk-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-1">

                <ul class="uk-breadcrumb">
                    <li><a href="{{ path('manage_users') }}">Manage Users</a></li>
                    <li><span>Professionals</span></li>
                </ul>

                {% include 'manageUsers/partials/_filters.html.twig' %}
                <br>

                {% if user.isRegionalCoordinator %}
                    <div>
                        <a href="{{ path('professional_export') }}">Export Professionals</a>
                    </div>
                {% endif %}

                <div class="count">
                    Total Users: {{ pagination.getTotalItemCount }}
                </div>

                <table class="uk-table uk-table-small uk-table-divider">
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Company</th>
                        {% if user.canLoginAsAnotherUser and is_granted('ROLE_PREVIOUS_ADMIN') == false %}<th>Login As User</th>{% endif %}
                        <th>Is Owner</th>
                        <th>Edit/Delete</th>

                        {% if user.admin or user.siteAdmin %}
                            <th>Account Status</th>
                        {% endif %}
                    </tr>

                    {# table body #}
                    {% for paginatedUser in pagination %}
                        <tr>
                            <td>{{ paginatedUser.id }}</td>
                            <td>{{ paginatedUser.firstName }}</td>
                            <td>{{ paginatedUser.lastName }}</td>
                            <td>{{ paginatedUser.email }}</td>
                            <td>{{ paginatedUser.username }}</td>
                            <td>
                                {% if paginatedUser.company is defined and paginatedUser.company is not null %}
                                <a href="{{ path('company_edit', {id: paginatedUser.company.id}) }}">{{ paginatedUser.company.name }}</a>
                                    {% else %}
                                    User does not belong to company
                                {% endif %}
                            </td>
                            {% if user.canLoginAsAnotherUser and is_granted('ROLE_PREVIOUS_ADMIN') == false %}
                                <th>
                                    <a class="uk-button uk-button-default" href="/dashboard?_switch_user={{ paginatedUser.email|url_encode }}">Login</a>
                                </th>
                            {% endif %}

                            <td>
                                {% if paginatedUser.company is defined and paginatedUser.company is not null and paginatedUser.company.owner.id == paginatedUser.id %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>

                            <td><a href="{{ path('profile_edit', {'id': paginatedUser.id}) }}">Edit</a> | <a href="{{ path('profile_delete', {'id': paginatedUser.id}) }}">Delete</a></td>

                            {% if user.admin or user.siteAdmin %}
                                {% if paginatedUser.activated %}
                                    <td> <a href="{{ path('profile_activate_deactivate', {'id': paginatedUser.id}) }}?route=manage_professionals">Deactivate</a></td>
                                {% else %}
                                    <td> <a href="{{ path('profile_activate_deactivate', {'id': paginatedUser.id}) }}?route=manage_professionals">Activate</a></td>
                                {% endif %}
                            {% endif %}

                        </tr>
                    {% endfor %}
                </table>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
