{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Students{% endblock %}
{% set previouslyLoggedInAs = app.session.get('previouslyLoggedInAs', null) %}

{% block body %}

    <div class="uk-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-1">

                {% include 'flash/messages.html.twig' %}

                <ul class="uk-breadcrumb">
                    <li><a href="{{ path('manage_users') }}">Manage Users</a></li>
                    <li><span>Students</span></li>
                </ul>

                {% include 'manageUsers/partials/_filters.html.twig' %}
                <br>

                <div class="count">
                    Total Users: {{ pagination.getTotalItemCount }}
                </div>

                <div class="uk-overflow-auto">


                    <table class="uk-table uk-table-small uk-table-divider">
                        <tr>
                            <th><input type="checkbox" class="select-all-users"/></th>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>School</th>
                            <th>State</th>
                            <th>Site</th>
                            {% if user.canLoginAsAnotherUser and is_granted('ROLE_PREVIOUS_ADMIN') == false %}
                                <th>Login As User</th>{% endif %}
                            <th>Edit</th>
                            {% if user.admin or user.siteAdmin %}
                                <th>Account Status</th>
                            {% endif %}

                            {% if user.admin or user.siteAdmin %}
                                <th>Download Emails</th>
                                <th>Profile Completed</th>
                            {% endif %}
                        </tr>

                        {# table body #}
                        {% for paginatedUser in pagination %}
                            <tr id="user_{{ paginatedUser.id }}">
                                <td><input type="checkbox" class="select-users" value="{{ paginatedUser.id }}"/></td>
                                <td>{{ paginatedUser.id }}</td>
                                <td>{{ paginatedUser.firstName }}</td>
                                <td>{{ paginatedUser.lastName }}</td>
                                <td>{{ paginatedUser.email }}</td>
                                <td>{{ paginatedUser.username }}</td>
                                <td>
                                    {% if paginatedUser.school is defined and paginatedUser.school is not null %}
                                        <a href="{{ path('school_edit', {'id': paginatedUser.school.id}) }}">{{ paginatedUser.school.name }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if paginatedUser.school is defined and paginatedUser.school.state is defined and paginatedUser.school is not null and paginatedUser.school.state is not null %}
                                        {{ paginatedUser.school.state.name }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if paginatedUser.site is defined and paginatedUser.site is not null %}
                                        {{ paginatedUser.site.name }}
                                    {% endif %}
                                </td>
                                {% if user.canLoginAsAnotherUser and is_granted('ROLE_PREVIOUS_ADMIN') == false %}
                                    <td>
                                        <a class="uk-button uk-button-small uk-button-default"
                                           href="/dashboard?_switch_user={{ paginatedUser.email ? paginatedUser.email|url_encode : paginatedUser.username|url_encode }}">Login</a>
                                    </td>
                                {% endif %}
                                <td><a href="{{ path('profile_edit', {'id': paginatedUser.id}) }}">Edit</a></td>

                                {% if user.admin or user.siteAdmin %}
                                    {% if paginatedUser.activated %}
                                        <td>
                                            <button data-href="{{ path('profile_activate_deactivate', {'id': paginatedUser.id}) }}"
                                                    data-id="{{ paginatedUser.id }}"
                                                    class="uk-button uk-button-small uk-label-success">Active</a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <button data-href="{{ path('profile_activate_deactivate', {'id': paginatedUser.id}) }}"
                                                    data-id="{{ paginatedUser.id }}"
                                                    class="uk-button uk-button-small uk-label-warning">Inactive</a>
                                                <button data-href="{{ path('profile_delete', {'id': paginatedUser.id}) }}"
                                                        data-id="{{ paginatedUser.id }}"
                                                        class="uk-button uk-button-small uk-label-danger">Delete
                                                </button>
                                        </td>
                                    {% endif %}
                                {% endif %}

                                {% if user.admin or user.siteAdmin %}
                                    <td><a target="_blank"
                                           href="{{ path('admin_email_log_view', {'id': paginatedUser.id}) }}">Email
                                            Logs</a></td>
                                    <td>{{ paginatedUser.profileCompleted ? 'Yes' : 'No' }}</td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                    </table>

                </div>

                <input type="hidden" class='select-users-role' value="manage_students"/>
                <div id="mass-actions" class="uk-margin-bottom">
                    <button id="mass-deactivate" class="uk-button uk-button-warning" value="deactivate">Deactivate
                        Selected
                    </button>
                    <button id="mass-delete" class="uk-button uk-button-danger" value="delete">Delete Selected</button>
                </div>

                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>

    {% include 'manageUsers/partials/_ajax_actions.html.twig' %}

{% endblock %}
