{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Edit Lesson{% endblock %}
{% block bodyClass %}page-lesson-edit{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/lessons.js') }}"></script>
{% endblock %}


{% block body %}

    <div class="uk-container js-form" data-route="{{ path('lesson_edit', {'id': lesson.id}) }}">

        {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

        {% if form_errors(form) %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <div>{{ form_errors(form) }}</div>
            </div>
        {% endif %}

        <ul class="uk-tab" uk-switcher="connect: #tab-edit-lesson" uk-tab>
            <li class="uk-active"><a href="#lesson-details">Edit Lesson</a></li>
            <li><a href="#lesson-industries">Industries</a></li>
            <li><a href="#lesson-courses">Courses</a></li>
            <li><a href="#lesson-outcomes">Outcomes</a></li>
            <li><a href="#lesson-resources">Resources</a></li>
        </ul>

        <div class="uk-switcher" id="tab-edit-lesson">
            <div class="page-lesson-edit__details">
                <div class="uk-width-xlarge">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            {{ form_label(form.title, 'Title*') }}
                            {{ form_widget(form.title, {'attr': {'class': 'uk-input' ~ ( form_errors(form.title) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.title) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.shortDescription, 'Short Description*') }}
                            <div class="uk-text-meta">One sentence summary that describes lesson, often framed as an ESSENTIAL question</div>
                            {{ form_widget(form.shortDescription, {'attr': {'class': 'uk-textarea' ~ ( form_errors(form.shortDescription) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.shortDescription) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.summary, 'Summary*') }}
                            <div class="uk-text-meta">Provide an overview of the lesson for students and professionals</div>
                            <div data-wysiwyg="[name='edit_lesson[summary]']" class="{{ ( form_errors(form.summary) ? 'wysiwyg-error' : '' ) }}"></div>
                            <div style="display: none;">
                                {{ form_widget(form.summary) }}
                            </div>
                            {{ form_errors(form.summary) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.grades, 'Grades*') }}
                            {{ form_widget(form.grades, {'attr': {'class': 'uk-checkboxes' ~ ( form_errors(form.grades) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.grades) }}
                        </div>

                        <div class="uk-margin uk-grid" uk-grid>
                            {% if lesson.thumbnailImage %}
                                <div class="uk-width-small">
                                    <img src="{{ asset(uploaded_asset(lesson.thumbnailImagePath))|imagine_filter('squared_thumbnail_small') }}" />
                                </div>
                            {% endif %}
                            <div class="uk-width-expand">
                                {{ form_label(form.thumbnailImage, 'Thumbnail') }}<br />
                                <div class="uk-text-meta">Visible on result pages</div>
                                <div uk-form-custom="target: true">
                                    {{ form_widget(form.thumbnailImage, {'attr': {'class': 'uk-button uk-button-primary uk-button-small' ~ ( form_errors(form.thumbnailImage) ? ' uk-form-danger' : '' ) }}) }}
                                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Select photo" disabled>
                                </div>
                                {{ form_errors(form.thumbnailImage) }}
                            </div>
                        </div>
                        <div class="uk-margin uk-grid" uk-grid>
                            {% if lesson.featuredImage %}
                                <div class="uk-width-small">
                                    <img src="{{ asset(uploaded_asset(lesson.featuredImagePath))|imagine_filter('squared_thumbnail_small') }}" />
                                </div>
                            {% endif %}
                            <div class="uk-width-expand">
                                {{ form_label(form.featuredImage, 'Featured Image') }}<br />
                                <div class="uk-text-meta">Visible as a featured banner on the lesson page</div>
                                <div uk-form-custom="target: true">
                                    {{ form_widget(form.featuredImage, {'attr': {'class': 'uk-button uk-button-primary uk-button-small' ~ ( form_errors(form.featuredImage) ? ' uk-form-danger' : '' ) }}) }}
                                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Select photo" disabled>
                                </div>
                                {{ form_errors(form.featuredImage) }}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="page-lesson-edit__industries">
                <div class="uk-width-xlarge">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            {{ form_label(form.primaryIndustry, 'Primary Industry*') }}
                            {{ form_widget(form.primaryIndustry, {'attr': {'class': 'js-primary-industry uk-select' ~ ( form_errors(form.primaryIndustry) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.primaryIndustry) }}
                        </div>
                        <div class="js-secondary-industry-container">
                            {% if form.secondaryIndustries is defined %}
                                <div class="uk-margin">
                                    {{ form_label(form.secondaryIndustries, 'Secondary Industry*') }}
                                    {{ form_widget(form.secondaryIndustries, {'attr': {'class': 'uk-checkboxes uk-checkboxes-newlines' ~ ( form_errors(form.secondaryIndustries) ? ' uk-form-danger' : '' ) }}) }}
                                    <div class="clear"></div>
                                    {{ form_errors(form.secondaryIndustries) }}
                                </div>
                            {% endif %}
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="page-lesson-edit__courses">
                <div class="uk-width-xlarge">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            {{ form_label(form.primaryCourse, 'Primary Course*') }}
                            {{ form_widget(form.primaryCourse, {'attr': {'class': 'uk-select' ~ ( form_errors(form.primaryCourse) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.primaryCourse) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.secondaryCourses, 'Secondary Courses') }}
                            {{ form_widget(form.secondaryCourses, {'attr': {'class': 'uk-checkboxes uk-checkboxes-newlines' ~ ( form_errors(form.secondaryCourses) ? ' uk-form-danger' : '' ) }}) }}
                            <div class="clear"></div>
                            {{ form_errors(form.secondaryCourses) }}
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="page-lesson-edit__outcomes">
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        {{ form_label(form.learningOutcomes, 'Learning Outcomes') }}
                        <div data-wysiwyg="[name='edit_lesson[learningOutcomes]']" class="{{ ( form_errors(form.learningOutcomes) ? 'wysiwyg-error' : '' ) }}"
                             data-placeholder="Use the following to describe what students will learn in this lesson:
“By the end of this lesson, students will:
Be able…
Understand….
Be aware….
Know….”
After describing learning outcomes, feel free to share additional resources which will help the guest instructor teach this lesson. This can be links to websites, videos or Google drive docs.
">
                        </div>
                        <div style="display: none;">
                            {{ form_widget(form.learningOutcomes) }}
                        </div>
                        {{ form_errors(form.learningOutcomes) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.educationalStandards, 'Educational Standards') }}
                        <div data-wysiwyg="[name='edit_lesson[educationalStandards]']" class="{{ ( form_errors(form.educationalStandards) ? 'wysiwyg-error' : '' ) }}"
                             data-placeholder="If you know which specific state, national or common core standards insert them here">
                        </div>
                        <div style="display: none;">
                            {{ form_widget(form.educationalStandards) }}
                        </div>
                        {{ form_errors(form.educationalStandards) }}
                    </div>
                </fieldset>
            </div>
            <div class="page-lesson-edit__resources">
                <div class="uk-width-xlarge">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            <p>Resources are optional, but help provide more details about the lesson.  These can include PDFs, Powerpoints, etc.</p>
                        </div>
                        <h4>Add New Resource</h4>
                        <div class="uk-margin">
                            <div class="uk-width-1-1">
                                {{ form_label(form.resources.file, 'Resource File*') }}<br />
                                <div uk-form-custom="target: true">
                                    {{ form_widget(form.resources.file, {'attr': {'class': 'uk-button uk-button-primary uk-button-small' ~ ( form_errors(form.resources.file) ? ' uk-form-danger' : '' ) }}) }}
                                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Select Resource" disabled>
                                </div>
                                {{ form_errors(form.resources.file) }}
                            </div>
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.resources.title, 'Resource Title*') }}
                            {{ form_widget(form.resources.title, {'attr': {'class': 'uk-input' ~ ( form_errors(form.resources.title) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.resources.title) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.resources.description, 'Resource Description*') }}
                            {{ form_widget(form.resources.description, {'attr': {'class': 'uk-textarea' ~ ( form_errors(form.resources.description) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.resources.description) }}
                        </div>

                        {% if lesson.lessonResources|length > 0 %}
                        <h4>Existing Resources</h4>
                        <div class="uk-margin">
                            <dl class="uk-description-list uk-description-list-divider">
                                {% for lessonResource in lesson.lessonResources %}
                                    <div class="uk-grid uk-flex-middle" uk-grid>
                                        <div class="uk-width-expand">
                                            <dt>{{ lessonResource.title }}</dt>
                                            <dd>{{ lessonResource.description }}</dd>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="{{ asset(uploaded_asset(lessonResource.path)) }}" class="uk-button uk-button-default uk-button-small" target="_blank">View</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </dl>
                        </div>
                        {% endif %}
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-button-small">Save</button>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
