{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Add Lesson Topic{% endblock %}
{% block bodyClass %}page-lesson-add{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/lessons.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .eac-input-wrap .eac-sugg {
            top: 7px !important;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="uk-container js-form" data-route="{{ path('lesson_new') }}">

        {{ form_start(form, {attr: {'id': 'js-form', 'novalidate' : 'novalidate'}}) }}

        <input id="validation_groups" type="hidden" name="validation_groups" value="COMPANY_GENERAL">
        <input id="tab" type="hidden" name="tab" value="">

        {% if form_errors(form) %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <div>{{ form_errors(form) }}</div>
            </div>
        {% endif %}

        <div uk-grid>
            <div class="uk-width-1-1 uk-width-medium@m">
                <ul id="test" class="uk-tab-left"
                    uk-tab="connect: #tab-account-inner; animation: uk-animation-fade">
                    <li><a href="#general" id="general">New Lesson Topic</a></li>
                    <li class="uk-disabled"><a href="#attachments" id="attachments" style="opacity: .5;">Attachments</a>
                    </li>
                </ul>
            </div>
            <div class="uk-width-1-1 uk-width-expand@m">
                <div id="tab-account-inner" class="uk-switcher">

                    <div class="lesson_general">

                        <div class="uk-text-danger" style="float:right;">* indicates required</div>

                        <fieldset class="uk-fieldset uk-margin">

                            <fieldset class="uk-fieldset">
                                <div class="uk-margin">
                                    {{ form_label(form.title, 'Topic Title*') }}
                                    {{ form_widget(form.title, {'attr': {'class': 'uk-input' ~ ( form_errors(form.title) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.title) }}
                                </div>

                                <div class="uk-margin">
                                    {{ form_label(form.shortDescription, 'Topic Summary*') }}
                                    <div class="uk-text-meta">
                                        Give a one sentence summary that says what the topic will cover, often framed as an essential question
                                    </div>
                                    {{ form_widget(form.shortDescription, {'attr': {'rows': '3', 'class': 'uk-textarea' ~ ( form_errors(form.shortDescription) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.shortDescription) }}
                                </div>
                                <div class="uk-margin">
                                    {{ form_label(form.summary, 'Topic Description*') }}
                                    <div class="uk-text-meta">
                                        Provide detail of what will be covered during this topic presentation
                                    </div>
                                    <div data-wysiwyg="[name='lesson[summary]']"
                                         class="{{ ( form_errors(form.summary) ? 'wysiwyg-error' : '' ) }}"></div>
                                    <div style="display: none;">
                                        {{ form_widget(form.summary) }}
                                    </div>
                                    {{ form_errors(form.summary) }}
                                </div>

                                <div class="uk-margin">
                                    {{ form_label(form.grades, 'Grades*') }}
                                    {{ form_widget(form.grades, {'attr': {'class': 'js-select2' ~ ( form_errors(form.grades) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.grades) }}
                                </div>

                            </fieldset>


                            <fieldset class="uk-fieldset">

                                <div class="uk-margin">
                                    {{ form_label(form.primaryIndustry, 'Industry Sector*') }}
                                    {{ form_widget(form.primaryIndustry, {'attr': {'class': 'js-primary-industry js-select2' ~ ( form_errors(form.primaryIndustry) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.primaryIndustry) }}
                                </div>


                                <div class="js-secondary-industry-container">
                                    {% if form.secondaryIndustries is defined %}
                                        <div class="uk-margin">
                                            {{ form_label(form.secondaryIndustries, 'Career Fields*') }}
                                            <div class="uk-text-meta">
                                                Select the relevant career fields for your lesson's industry sector
                                            </div>
                                            {{ form_widget(form.secondaryIndustries, {'attr': {'class': 'js-select2' ~ ( form_errors(form.secondaryIndustries) ? ' uk-form-danger' : '' ) }}) }}
                                            <div class="clear"></div>
                                            {{ form_errors(form.secondaryIndustries) }}
                                        </div>
                                    {% endif %}
                                </div>

                            </fieldset>

                            <fieldset class="uk-fieldset">

                                <div class="uk-margin">
                                    {{ form_label(form.primaryCourse, 'Primary Course*') }}
                                    {{ form_widget(form.primaryCourse, {'attr': {'class': 'uk-select' ~ ( form_errors(form.primaryCourse) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.primaryCourse) }}
                                </div>

                                <div class="uk-margin">
                                    {{ form_label(form.secondaryCourses, 'Secondary Courses (optional)') }}
                                    {{ form_widget(form.secondaryCourses, {'attr': {'class': 'uk-select' ~ ( form_errors(form.secondaryCourses) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.secondaryCourses) }}
                                </div>

                            </fieldset>

                            <fieldset class="uk-fieldset">

                                <div class="uk-margin">
                                    {{ form_label(form.learningOutcomes, 'Learning Outcomes*') }}
                                    <div class="uk-text-meta">Describe what students will learn from this topic</div>
                                    <div data-wysiwyg="[name='lesson[learningOutcomes]']"
                                         class="{{ ( form_errors(form.learningOutcomes) ? 'wysiwyg-error' : '' ) }}"
                                         data-placeholder="Use the following to describe what students will learn in this topic:
“By the end of this topic, students will:
• Be able…
• Understand….
• Be aware….
• Know….”
">
                                    </div>
                                    <div style="display: none;">
                                        {{ form_widget(form.learningOutcomes) }}
                                    </div>
                                    {{ form_errors(form.learningOutcomes) }}
                                </div>

                                <div class="uk-margin">
                                    {{ form_label(form.educationalStandards, 'Educational Standards (optional)') }}
                                    <div class="uk-text-meta"></div>
                                    <div data-wysiwyg="[name='lesson[educationalStandards]']"
                                         class="{{ ( form_errors(form.educationalStandards) ? 'wysiwyg-error' : '' ) }}"
                                         data-placeholder="If you know which specific state, national or common core standards that this topic presentation meets, please insert them here">
                                    </div>
                                    <div style="display: none;">
                                        {{ form_widget(form.educationalStandards) }}
                                    </div>
                                    {{ form_errors(form.educationalStandards) }}
                                </div>

                            </fieldset>

                            <br>
                            <div class="uk-margin">
                                <button class="uk-button uk-button-primary">
                                    Save
                                </button>
                            </div>

                        </fieldset>
                    </div>


                    <div class="lesson_attachments"></div>

                </div>
            </div>
        </div>


        {{ form_end(form) }}

    </div>

{% endblock %}