{% extends 'baseAuthenticated.html.twig' %}

{% block title %}New Topic Presentation{% endblock %}
{% block bodyClass %}page-lesson-add{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/lessons.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .eac-input-wrap .eac-sugg {
            top: 7px !important;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="uk-container js-form" data-route="{{ path('lesson_new') }}">

        {{ form_start(form, {attr: {'id': 'js-form', 'novalidate' : 'novalidate'}}) }}

        <input id="validation_groups" type="hidden" name="validation_groups" value="COMPANY_GENERAL">
        <input id="tab" type="hidden" name="tab" value="">

        {% if form_errors(form) %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <div>{{ form_errors(form) }}</div>
            </div>
        {% endif %}

        <div uk-grid>
            <div class="uk-width-1-1 uk-width-medium@m">
                <ul id="test" class="uk-tab-left"
                    uk-tab="connect: #tab-account-inner; animation: uk-animation-fade">
                    <li><a href="#general" id="general">New Topic Presentation</a></li>
                    <li class="uk-disabled"><a href="#attachments" id="attachments" style="opacity: .5;">Attachments</a>
                    </li>
                </ul>
            </div>
            <div class="uk-width-1-1 uk-width-expand@m">
                <div id="tab-account-inner" class="uk-switcher">

                    <div class="lesson_general">

                        <div class="uk-text-danger" style="float:right;">* indicates required</div>

                        <br>

                        <fieldset class="uk-fieldset uk-margin">

                            <fieldset class="uk-fieldset">
                                <div class="uk-margin">
                                    {{ form_label(form.title, 'Topic Title*') }}
                                    {{ form_widget(form.title, {'attr': {'class': 'uk-input' ~ ( form_errors(form.title) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.title) }}
                                </div>

                                <div class="uk-margin">
                                    {{ form_label(form.shortDescription, 'Topic Summary*') }}
                                    <div class="uk-text-meta">
                                        Give a one sentence summary that says what the topic will cover, often framed as an essential question
                                    </div>
                                    {{ form_widget(form.shortDescription, {'attr': {'rows': '3', 'class': 'uk-textarea' ~ ( form_errors(form.shortDescription) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.shortDescription) }}
                                </div>
                                <div class="uk-margin">
                                    {{ form_label(form.summary, 'Topic Description*') }}
                                    <div class="uk-text-meta">
                                        Provide detail of what will be covered during this topic presentation
                                    </div>
                                    <div data-wysiwyg="[name='lesson[summary]']"
                                         data-placeholder="Prior to topic presentation, have your classroom educator notify the students that they will be asked to participate in a short, mock interview. In the topic presentation please follow this template:

1) Guest presenter(s) introduce themselves and give 2-3 pieces of advice on interviewing well. (10 minutes)

2) Guest presenter(s) conduct a mini mock interview with 2-3 volunteer students. Let other students observe and learn from the feedback given to the interviewed students. (40 minutes)

3) Have all the guest presenter(s) come back together with the whole class and share some closing thoughts and comments on interviewing well. Allow Q & A from Students. (10 - 15 minutes) A rubric to use is attached in resources."

                                         class="{{ ( form_errors(form.summary) ? 'wysiwyg-error' : '' ) }}"></div>
                                    <div style="display: none;">
                                        {{ form_widget(form.summary) }}
                                    </div>
                                    {{ form_errors(form.summary) }}
                                </div>

                                <div class="uk-margin">
                                    {{ form_label(form.grades, 'Grades*') }}
                                    {{ form_widget(form.grades, {'attr': {'class': 'js-select2' ~ ( form_errors(form.grades) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.grades) }}
                                </div>

                            </fieldset>


                            <fieldset class="uk-fieldset">

                                <div class="uk-margin">
                                    {{ form_label(form.primaryIndustries, 'Industry Sectors*') }}
                                    {{ form_widget(form.primaryIndustries, {'attr': {'class': 'js-select2' ~ ( form_errors(form.primaryIndustries) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.primaryIndustries) }}
                                </div>

                            </fieldset>

                            <fieldset class="uk-fieldset">

                                <div class="uk-margin">
                                    {{ form_label(form.primaryCourses, 'School Courses*') }}
                                    {{ form_widget(form.primaryCourses, {'attr': {'class': 'uk-select' ~ ( form_errors(form.primaryCourses) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.primaryCourses) }}
                                </div>

                            </fieldset>

                            <fieldset class="uk-fieldset">

                                <div class="uk-margin">
                                    {{ form_label(form.learningOutcomes, 'Learning Outcomes*') }}
                                    <div class="uk-text-meta">Describe what students will learn from this topic</div>
                                    <div data-wysiwyg="[name='lesson[learningOutcomes]']"
                                         class="{{ ( form_errors(form.learningOutcomes) ? 'wysiwyg-error' : '' ) }}"
                                         data-placeholder="Use the following to describe what students will learn in this topic:
“By the end of this topic, students will:
• Be able…
• Understand….
• Be aware….
• Know….”
">
                                    </div>
                                    <div style="display: none;">
                                        {{ form_widget(form.learningOutcomes) }}
                                    </div>
                                    {{ form_errors(form.learningOutcomes) }}
                                </div>

                                <div class="uk-margin">
                                    {{ form_label(form.educationalStandards, 'Educational Standards (optional)') }}
                                    <div class="uk-text-meta"></div>
                                    <div data-wysiwyg="[name='lesson[educationalStandards]']"
                                         class="{{ ( form_errors(form.educationalStandards) ? 'wysiwyg-error' : '' ) }}"
                                         data-placeholder="If you know which specific state, national or common core standards that this topic presentation meets, please insert them here">
                                    </div>
                                    <div style="display: none;">
                                        {{ form_widget(form.educationalStandards) }}
                                    </div>
                                    {{ form_errors(form.educationalStandards) }}
                                </div>

                            </fieldset>

                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend">
                                </legend>

                                <div class="uk-margin uk-grid" uk-grid>
                                    <div class="uk-width-small">
                                        <img id="lessonThumbnailImage"
                                             src="{{ lesson.thumbnailImagePath is not null ? asset(uploaded_asset(lesson.thumbnailImagePath))|imagine_filter('squared_thumbnail_small') : 'https://ui-avatars.com/api/?size=300&length=10&name=Thumbnail&font-size=.1' }}"/>
                                    </div>
                                    <div class="uk-width-expand">
                                        <label>Lesson Thumbnail (300x300)</label>
                                        <div class="uk-text-meta">Upload a <strong>square image</strong> if possible.
                                            Will auto resize to 300x300.<br/><span class="uk-text-warning">Accepted formats: .jpg, .png</span>
                                        </div>
                                        <div data-hidden-field="{{ form.thumbnailImage.vars.full_name }}"
                                             data-upload-url="{{ path('api_images_upload') }}?folder=lesson_thumbnail"
                                             data-type="image:lessonThumbnailImage"></div>
                                    </div>
                                </div>
                                <div class="uk-margin uk-grid" uk-grid>
                                    <div class="uk-width-small">
                                        <img id="lessonFeaturedImage"
                                             src="{{ lesson.featuredImagePath is not null ? asset(uploaded_asset(lesson.featuredImagePath))|imagine_filter('squared_thumbnail_small') : 'https://ui-avatars.com/api/?size=300&length=10&name=Featured&font-size=.1' }}"/>
                                    </div>
                                    <div class="uk-width-expand">
                                        <label>Lesson Featured Image (1680x300)</label>
                                        <div class="uk-text-meta">Ideal size for lesson banner is
                                            <strong>1680x300</strong> with central focal point.<br/><span
                                                    class="uk-text-warning">Accepted formats: .jpg, .png</span></div>
                                        <div data-hidden-field="{{ form.featuredImage.vars.full_name }}"
                                             data-upload-url="{{ path('api_images_upload') }}?folder=lesson_featured"
                                             data-type="image:lessonFeaturedImage"></div>
                                    </div>
                                </div>

                            </fieldset>

                            <br>
                            <div class="uk-margin">
                                <button class="uk-button uk-button-primary">
                                    Save
                                </button>
                            </div>

                        </fieldset>
                    </div>


                    <div class="lesson_attachments"></div>

                </div>
            </div>
        </div>


        {{ form_end(form) }}

    </div>

{% endblock %}