{% extends 'baseAuthenticated.html.twig' %}

{% block title %}
    {% if user.educator %}
        Lessons I want Taught
    {% elseif user.schoolAdministrator or user.professional %}
        Lessons I can Teach
    {% endif %}
{% endblock %}

{% block body %}

    <div class="uk-container">

        <div class="uk-margin uk-width-1-1">
            <div class="uk-flex uk-flex-right@m">
                {% if (user.isEducator or user.isProfessional or user.isSchoolAdministrator) %}
                    <a href="{{ path('request_lesson_experience_or_site_visit') }}"
                       class="uk-button uk-button-default uk-button-small uk-margin-small-right">Suggest a Lesson</a>
                {% endif %}
                <a href="{{ path('lesson_new') }}" class="uk-button uk-button-primary uk-button-small">Create a
                    Lesson</a>
            </div>
        </div>

        <ul class="uk-subnav uk-subnav-pill" uk-margin>
            <li><a href="{{ path('lessons_results_page') }}">All Lessons</a></li>

            {% if user.educator %}
                <li class="uk-active"><a href="{{ path('lessons_teachable_page') }}">Lessons I want Taught</a></li>
            {% elseif user.schoolAdministrator or user.professional %}
                <li class="uk-active"><a href="{{ path('lessons_teachable_page') }}">Lessons I can Teach</a></li>
            {% endif %}

            <li><a href="{{ path('lessons_my_created') }}">My Created Lessons</a></li>
        </ul>

        {{ form_start(form, {'attr': {'class': 'uk-grid-small', 'uk-grid': 'uk-grid'}}) }}

        {% if form.name is defined %}
            <div class="uk-width-1-4@s">
                {{ form_widget(form.name, {'attr': {'class': 'uk-input', 'placeholder': 'Search by Name...'}}) }}
            </div>
        {% endif %}

        {% if form.primaryCourse is defined %}
            <div class="uk-width-1-4@s">
                {{ form_widget(form.primaryCourse, {'attr': {'class': 'uk-select', 'placeholder': 'FILTER BY COURSE'}}) }}
            </div>
        {% endif %}

        {% if form.primaryIndustry is defined %}
            <div class="uk-width-1-4@s">
                {{ form_widget(form.primaryIndustry, {'attr': {'class': 'uk-select', 'placeholder': 'FILTER BY INDUSTRY'}}) }}
            </div>
        {% endif %}

        {% if form.hasExpertPresenters is defined %}
            <div class="uk-width-1-4@s">
                {{ form_widget(form.hasExpertPresenters, {'attr': {'class': 'uk-select', 'placeholder': 'Search by Name...'}}) }}
            </div>
        {% endif %}

        {% if form.hasEducatorRequestors is defined %}
            <div class="uk-width-1-4@s">
                {{ form_widget(form.hasEducatorRequestors, {'attr': {'class': 'uk-select', 'placeholder': 'Search by Name...'}}) }}
            </div>
        {% endif %}

        <div class="uk-width-1-4@s">
            <button class="uk-button uk-button-primary">Search</button>
            <a class="uk-button uk-button-default" href="{{ clearFormUrl }}">Clear</a>
        </div>
        {{ form_end(form) }}
        <br>

        <div class="count">
            Total Lessons: {{ pagination.getTotalItemCount }}
        </div>
        <br>

        <div class="lesson-listings" data-uk-grid="masonry: true">

            {% for paginatedLesson in pagination %}

                <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">

                    <div class="lesson-listing uk-card uk-card-default">
                        <div class="lesson-listing__image uk-height-medium uk-flex uk-flex-right uk-flex-bottom uk-background-cover uk-light"
                             style="background-image: url('{{ paginatedLesson.thumbnailImageURL }}')">
                            <div class="uk-inline uk-padding-small">

                                {% if user.educator %}
                                    {% set staticText = 'Lessons I want Taught' %}
                                {% elseif user.schoolAdministrator or user.professional %}
                                    {% set staticText = 'Lessons I can Teach' %}
                                {% endif %}


                                {% if user.educator or user.schoolAdministrator or user.professional %}

                                    {% if user_can_teach_lesson(user, paginatedLesson) %}
                                        <a href="{{ path('unteach_lesson', {'id': paginatedLesson.id}) }}">
                                        <span class="teach-lesson"
                                              data-uk-tooltip="title: Remove from {{ staticText }}">
                                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    </span>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('teach_lesson', {'id': paginatedLesson.id}) }}">
                                     <span class="teach-lesson" data-uk-tooltip="title: Add to {{ staticText }}">
                                        <i style="opacity: 0.5" class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    </span>
                                        </a>
                                    {% endif %}

                                {% endif %}

                            </div>
                        </div>
                        <div class="uk-card-body">
                            <a href="{{ path('lesson_view', {'id' : paginatedLesson.id}) }}">
                                <h3 class="uk-card-title-small">{{ paginatedLesson.title }}</h3>
                            </a>

                            <p>{{ paginatedLesson.summary|raw }}</p>
                        </div>
                    </div>

                </div>

            {% else %}
                <div class="uk-width-1-1">
                    <div class="uk-placeholder uk-text-center">
                        {% if user.educator %}
                            You have not selected any lessons you want taught yet.
                        {% elseif user.schoolAdministrator or user.professional %}
                            You have not selected any lessons that you can teach yet.
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>

        <br>
        <br>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

    </div>

{% endblock %}
