{% extends 'baseAuthenticated.html.twig' %}

{% block title %}View Lesson{% endblock %}
{% block bodyClass %}page-lesson-view{% endblock %}
{% block flashMessage %}{% endblock %}

{% block body %}

    <div class="page-lesson-view__featured-image uk-height-medium uk-flex uk-flex-right uk-flex-bottom uk-background-cover uk-light"
         data-src="{{ lesson.featuredImageURL }}" uk-img>
        <div class="uk-width-1-1" style="background: rgba(0,0,0,0.6)">
            <div class="uk-container">
                <div class="uk-padding-small">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3>{{ lesson.title }}</h3>
                        </div>
                        <div class="uk-width-auto">
                            <div class="uk-align-right">
                                <div class="react-teach-lesson uk-inline" data-lesson-id="{{ lesson.id }}" data-lesson-teachable="{{ lesson.isTeachableByUser( user ) }}" data-teacher="{{ user.isEducator }}"></div>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-container">

        {% include 'flash/messages.html.twig' %}

        <div class="uk-margin">
            <ul class="uk-breadcrumb">
                <li><a href="/">Dashboard</a></li>
                <li><a href="{{ path('lesson_index') }}">Lessons</a></li>
                <li><span>{{ lesson.title }}</span></li>
            </ul>
        </div>

        <div class="uk-grid-small uk-flex-middle uk-margin" uk-grid>
            <div class="uk-width-expand">
                <div class="uk-align-right@l">
                    {% if user.admin or (lesson.user and user.id == lesson.user.id) %}
                        <a href="{{ path('lesson_edit', {'id': lesson.id}) }}" class="uk-button uk-button-primary uk-button-small">Edit this Lesson</a>
                    {% endif %}

                    {% if user.admin or (lesson.user and user.id == lesson.user.id) %}
                        <form class="uk-inline" method="get" action="{{ path('lesson_delete', {'id' : lesson.id}) }}">
                            <button class="uk-button uk-button-danger uk-button-small" type="submit">Delete</button>
                        </form>
                    {% endif %}

                </div>
            </div>
        </div>

        <ul class="" data-uk-tab="{connect: '#tab-lesson-detail'}" uk-switcher>
            <li class="uk-active"><a href="#lesson-summary">Summary</a></li>
            {% if lesson.learningOutcomes %}
                <li><a href="#lesson-outcomes">Learning Outcomes</a></li>
            {% endif %}
            {% if lesson.educationalStandards %}
                <li><a href="#lesson-standards">Educational Standards</a></li>
            {% endif %}
            {% if lesson.lessonResources|length > 0 %}
                <li><a href="#lesson-resources">Resources</a></li>
            {% endif %}
            <li><a href="#lesson-professionals">Professionals</a></li>
            <li><a href="#lesson-educators">Educators</a></li>
        </ul>

        <div class="uk-switcher" id="tab-lesson-detail">
            <div class="page-lesson-view__summary">

                <div class="uk-margin">
                    {{ lesson.summary|raw }}
                </div>

                <hr>

                <div class="uk-margin">
                    <table class="uk-table uk-table-small uk-table-divider">
                        <thead>
                            <tr>
                                <th>Info</th>
                                <th>Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Grades</td>
                                <td>
                                    {% for grade in lesson.grades %}
                                        {{ grade.title }}{% if not loop.last %},{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% if lesson.primaryIndustry %}
                                <tr>
                                    <td>Primary Industry</td>
                                    <td>
                                        {{ lesson.primaryIndustry.name }}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if lesson.secondaryIndustries|length %}
                                <tr>
                                    <td>Secondary Industry</td>
                                    <td>
                                        {% for industry in lesson.secondaryIndustries %}
                                            {{ industry.name }}{% if not loop.last %},{% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if lesson.primaryCourse %}
                                <tr>
                                    <td>Primary Course</td>
                                    <td>{{ lesson.primaryCourse.title }}</td>
                                </tr>
                            {% endif %}
                            {% if lesson.secondaryCourses|length %}
                                <tr>
                                    <td>Secondary Courses</td>
                                    <td>
                                        {% for course in lesson.secondaryCourses %}
                                            {{ course.title }}{% if not loop.last %},{% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if lesson.learningOutcomes %}
                <div class="page-lesson-view__outcomes">
                    {{ lesson.learningOutcomes|raw }}
                </div>
            {% endif %}
            {% if lesson.educationalStandards %}
                <div class="page-lesson-view__standards">
                    {{ lesson.educationalStandards|raw }}
                </div>
            {% endif %}
            {% if lesson.lessonResources|length > 0 %}
                <div class="page-lesson-view__resources">
                    <dl class="uk-description-list uk-description-list-divider">
                        {% for lessonResource in lesson.lessonResources %}
                            <div class="uk-grid uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <dt>{{ lessonResource.title }}</dt>
                                    <dd>{{ lessonResource.description }}</dd>
                                </div>
                                <div class="uk-width-auto">
                                    <a href="{{ asset(uploaded_asset(lessonResource.path)) }}" class="uk-button uk-button-default uk-button-small" target="_blank">View</a>
                                </div>
                            </div>
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}
            <div class="page-lesson-view__professionals">
                {% if lesson.lessonTeachables|length > 0 %}
                    <dl class="uk-description-list uk-description-list-divider">
                        {% for lessonTeachable in lesson.lessonTeachables %}
                            {% if lessonTeachable.user.isProfessional %}
                                <div class="uk-grid uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(lessonTeachable.user, 'photo') is defined and lessonTeachable.user.photo ) ? asset(uploaded_asset(lessonTeachable.user.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                                    </div>
                                    <div class="uk-width-expand">
                                        <dt>{{ lessonTeachable.user.firstName }} {{ lessonTeachable.user.lastName }}</dt>
                                        <dd>{{ lessonTeachable.user.briefBio }}</dd>
                                    </div>
                                    <div class="uk-width-auto">
                                        {% if user.isEducator %}
                                        <button data-uk-toggle="target: #request-lesson-from-{{ lessonTeachable.user.id }}" type="button"
                                                class="uk-button uk-button-primary uk-button-small uk-margin-small-left">Request
                                        </button>
                                        <div id="request-lesson-from-{{ lessonTeachable.user.id }}" data-uk-modal>
                                            <div class="uk-modal-dialog uk-modal-body">
                                                <h2 class="uk-modal-title">Request "{{ lessonTeachable.user.fullName }}" to Guest Instruct?</h2>
                                                <p>Lesson: {{ lesson.title }}</p>
                                                <p>Please select 3 different date/times that work for the Guest Instructor to visit.</p>
                                                <form method="post" action="{{ path('lesson_request_to_teach', {'lesson_id' : lesson.id, 'professional_id': lessonTeachable.user.id}) }}">
                                                    <div class="uk-margin">
                                                        <label for="dateOptionOne" class="required">Date 1*</label>
                                                        <input type="text" name="dateOptionOne" required="required" class="uk-timepicker uk-input" />
                                                    </div>
                                                    <div class="uk-margin">
                                                        <label for="dateOptionTwo" class="required">Date 2*</label>
                                                        <input type="text" name="dateOptionTwo" required="required" class="uk-timepicker uk-input" />
                                                    </div>
                                                    <div class="uk-margin">
                                                        <label for="dateOptionThree" class="required">Date 3*</label>
                                                        <input type="text" name="dateOptionThree" required="required" class="uk-timepicker uk-timepicker-up uk-input" />
                                                    </div>
                                                    <div class="uk-margin">
                                                        <button class="uk-button uk-button-primary uk-inline">Yes, Send</button>
                                                        <button class="uk-button uk-button-default uk-modal-close">No, Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="uk-width-1-1 uk-width-auto@m">
                                        {% if user_can_chat_with_user( user, lessonTeachable.user ) %}
                                            <button type="button" class="uk-button uk-button-default uk-button-small uk-margin-small-left" data-message-user-id="{{ lessonTeachable.user.id }}">Chat</button>
                                        {% endif %}
                                        <a href="{{ path('profile_index', { "id": lessonTeachable.user.id }) }}" class="uk-button uk-button-default uk-button-small">View</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </dl>
                {% else %}
                    <p>No professionals currently teach this lesson</p>
                {% endif %}
            </div>
            <div class="page-lesson-view__educators">
                {% if lesson.lessonTeachables|length > 0 %}
                    <dl class="uk-description-list uk-description-list-divider">
                        {% for lessonTeachable in lesson.lessonTeachables %}
                            {% if lessonTeachable.user.isEducator %}
                                <div class="uk-grid uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(lessonTeachable.user, 'photo') is defined and lessonTeachable.user.photo ) ? asset(uploaded_asset(lessonTeachable.user.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                                    </div>
                                    <div class="uk-width-expand">
                                        <dt>{{ lessonTeachable.user.firstName }} {{ lessonTeachable.user.lastName }}</dt>
                                        <dd>{{ lessonTeachable.user.briefBio }}</dd>
                                    </div>
                                    <div class="uk-width-1-1 uk-width-auto@m">
                                        {% if user_can_chat_with_user( user, lessonTeachable.user ) %}
                                            <button type="button" class="uk-button uk-button-default uk-button-small uk-margin-small-left" data-message-user-id="{{ lessonTeachable.user.id }}">Chat</button>
                                        {% endif %}
                                        <a href="{{ path('profile_index', { "id": lessonTeachable.user.id }) }}" class="uk-button uk-button-default uk-button-small">View</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </dl>
                {% else %}
                    <p>No educators are currently looking for this lesson</p>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
