{% extends 'baseAuthenticated.html.twig' %}

{% block title %}View Lesson{% endblock %}
{% block bodyClass %}page-lesson-view{% endblock %}

{% block body %}

    <div class="page-lesson-view__featured-image uk-height-medium uk-flex uk-flex-right uk-flex-bottom uk-background-cover uk-light"
         data-src="{{ lesson.featuredImageURL }}" uk-img>
        <div class="uk-width-1-1" style="background: rgba(0,0,0,0.6)">
            <div class="uk-container">
                <div class="uk-padding-small">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3>{{ lesson.title }}</h3>
                        </div>
                        <div class="uk-width-auto">
                            <div class="uk-align-right">
                                <div class="react-teach-lesson uk-inline" data-lesson-id="{{ lesson.id }}" data-lesson-teachable="{{ lesson.isTeachableByUser( user ) }}"></div>&nbsp;&nbsp;&nbsp;
                                <div class="react-favorite-lesson uk-inline" data-lesson-id="{{ lesson.id }}" data-lesson-favorited="{{ lesson.isFavoritedByUser( user ) }}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-container">

        <div class="uk-margin">
            <ul class="uk-breadcrumb">
                <li><a href="/">Dashboard</a></li>
                <li><a href="{{ path('lesson_index') }}">Lessons</a></li>
                <li><span>{{ lesson.title }}</span></li>
            </ul>
        </div>

        <div class="uk-grid-small uk-flex-middle uk-margin" uk-grid>
            <div class="uk-width-expand">
                <div class="uk-align-right@l">
                    {% if user.admin or (lesson.user and user.id == lesson.user.id) %}
                        <a href="{{ path('lesson_edit', {'id': lesson.id}) }}" class="uk-button uk-button-primary uk-button-small">Edit this Lesson</a>
                    {% endif %}
{#                    TODO: Add button for Professionals to "teach this lesson" #}

                </div>
            </div>
        </div>

        <ul class="" data-uk-tab="{connect: '#tab-lesson-detail'}" uk-switcher>
            <li class="uk-active"><a href="#lesson-summary">Summary</a></li>
            {% if lesson.learningOutcomes %}
                <li><a href="#lesson-outcomes">Learning Outcomes</a></li>
            {% endif %}
            {% if lesson.educationalStandards %}
                <li><a href="#lesson-standards">Educational Standards</a></li>
            {% endif %}
            {% if lesson.lessonResources|length > 0 %}
                <li><a href="#lesson-resources">Resources</a></li>
            {% endif %}
        </ul>

        <div class="uk-switcher" id="tab-lesson-detail">
            <div class="page-lesson-view__summary">

                <div class="uk-margin">
                    {{ lesson.summary|raw }}
                </div>

                <hr>

                <div class="uk-margin">
                    <table class="uk-table uk-table-small uk-table-divider">
                        <thead>
                            <tr>
                                <th>Info</th>
                                <th>Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Grades</td>
                                <td>
                                    {% for grade in lesson.grades %}
                                        {{ grade.title }}{% if not loop.last %},{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% if lesson.primaryIndustry %}
                                <tr>
                                    <td>Primary Industry</td>
                                    <td>
                                        {{ lesson.primaryIndustry.name }}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if lesson.secondaryIndustries|length %}
                                <tr>
                                    <td>Secondary Industry</td>
                                    <td>
                                        {% for industry in lesson.secondaryIndustries %}
                                            {{ industry.name }}{% if not loop.last %},{% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if lesson.primaryCourse %}
                                <tr>
                                    <td>Primary Course</td>
                                    <td>{{ lesson.primaryCourse.title }}</td>
                                </tr>
                            {% endif %}
                            {% if lesson.secondaryCourses|length %}
                                <tr>
                                    <td>Secondary Courses</td>
                                    <td>
                                        {% for course in lesson.secondaryCourses %}
                                            {{ course.title }}{% if not loop.last %},{% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if lesson.learningOutcomes %}
                <div class="page-lesson-view__outcomes">
                    {{ lesson.learningOutcomes|raw }}
                </div>
            {% endif %}
            {% if lesson.educationalStandards %}
                <div class="page-lesson-view__standards">
                    {{ lesson.educationalStandards|raw }}
                </div>
            {% endif %}
            {% if lesson.lessonResources|length > 0 %}
                <div class="page-lesson-view__resources">
                    <dl class="uk-description-list uk-description-list-divider">
                        {% for lessonResource in lesson.lessonResources %}
                            <div class="uk-grid uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <dt>{{ lessonResource.title }}</dt>
                                    <dd>{{ lessonResource.description }}</dd>
                                </div>
                                <div class="uk-width-auto">
                                    <a href="{{ asset(uploaded_asset(lessonResource.path)) }}" class="uk-button uk-button-default uk-button-small" target="_blank">View</a>
                                </div>
                            </div>
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}
