{% extends 'baseAuthenticated.html.twig' %}

{% block title %}View Lesson{% endblock %}

{% block body %}

    <h1>View Lesson</h1>

    <h2>title</h2>
    {{ lesson.title }}
    <br>

    <h2>Careers</h2>
    {% for career in lesson.careers %}
    <p>{{ career.title }}</p>
    {% endfor %}

    <h2>Grades</h2>
    {% for grade in lesson.grades %}
        <p>{{ grade.title }}</p>
    {% endfor %}

    <h2>Primary Course</h2>
    <p>{{ lesson.primaryCourse.title }}</p>

    <h2>Secondary Courses</h2>
    {% for course in lesson.secondaryCourses %}
        <p>{{ course.title}}</p>
    {% endfor %}

    <h2>summary</h2>
    {{ lesson.summary }}
    <h2>learning outcomes</h2>
    {{ lesson.learningOutcomes }}
    <h2>educational standards</h2>
    {{ lesson.educationalStandards }}

    <h1>Thumbnail</h1>
    {% if lesson.thumbnailImage %}
        <img src="{{ asset(uploaded_asset(lesson.thumbnailImagePath))|imagine_filter('squared_thumbnail_small') }}" />
    {% endif %}

    <h1>Featured</h1>
    {% if lesson.featuredImage %}
        <img src="{{ asset(uploaded_asset(lesson.featuredImagePath)) }}" />
    {% endif %}


{% endblock %}
