{% extends 'baseAuthenticated.html.twig' %}

{% form_theme form with _self %}

{% block title %}Edit Company experience{% endblock %}
{% block bodyClass %}page-company-experience-add{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/companies.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="uk-container">

        {{ form_start(form, {attr: {'novalidate' : 'novalidate', 'class': 'edit-form'}}) }}

        <ul class="uk-tab" uk-switcher="connect: #tab-edit-experience" uk-tab>
            <li class="uk-active"><a href="#experience-details">Edit Experience</a></li>
            <li><a href="#experience-availability">Availability</a></li>
            <li><a href="#experience-careers">Careers</a></li>
            <li><a href="#experience-contact">Contact</a></li>
            <li><a href="#experience-attachments" style="background-color: #e8e8e8;">Attachments</a></li>
        </ul>

        {% if form_errors(form) %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <div>{{ form_errors(form) }}</div>
            </div>
        {% endif %}

        <div class="uk-switcher" id="tab-edit-experience">
            <div class="page-company-experience-edit__details">
                <div class="uk-width-xlarge">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            {{ form_label(form.title, 'Title*') }}
                            {{ form_widget(form.title, {'attr': {'class': 'uk-input' ~ ( form_errors(form.title) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.title) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.type, 'Type*') }}
                            {{ form_widget(form.type, {'attr': {'class': 'uk-select' ~ ( form_errors(form.type) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.type) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.requireApproval, 'I want to approve all registrations*') }}
                            {{ form_widget(form.requireApproval, { 'attr': { 'class': 'uk-select' ~ ( form_errors(form.requireApproval) ? 'uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.requireApproval) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.briefDescription, 'Brief Description*') }}
                            {{ form_widget(form.briefDescription, {'attr': {'class': 'uk-textarea' ~ ( form_errors(form.briefDescription) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.briefDescription) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.about, 'About*') }}
                            <div class="uk-text-meta">Describe the experience in detail</div>
                            <div data-wysiwyg="[name='edit_company_experience[about]']" class="{{ ( form_errors(form.about) ? 'wysiwyg-error' : '' ) }}"></div>
                            <div style="display: none;">
                                {{ form_widget(form.about) }}
                            </div>
                            {{ form_errors(form.about) }}
                        </div>
                        <div class="uk-margin">
                            <div>
                                {{ form_label(form.dateRange, 'Choose Date Range*') }}
                                {{ form_widget(form.dateRange, {'attr': {'class': 'uk-timepicker uk-input' }}) }}
                                {{ form_errors(form.startDateAndTime) }}
                                {{ form_errors(form.endDateAndTime) }}

                                {{ form_widget(form.startDateAndTime, { 'attr': { 'class': 'start-date-picker' }}) }}
                                {{ form_widget(form.endDateAndTime, { 'attr': { 'class': 'end-date-picker' }}) }}


                                {# {{ form_label(form.startDateAndTime, 'Start Date*') }}
                                {{ form_widget(form.startDateAndTime, {'attr': {'class': 'uk-timepicker uk-input' ~ ( form_errors(form.startDateAndTime) ? ' uk-form-danger' : '' ) }}) }}
                                {{ form_widget(form.endDateAndTime, {'attr': {'class': 'uk-timepicker uk-input' ~ ( form_errors(form.endDateAndTime) ? ' uk-form-danger' : '' ) }}) }}
                                {{ form_errors(form.startDateAndTime) }}
                                {{ form_errors(form.endDateAndTime) }} #}
                            </div>
                            {# <div>
                                {{ form_label(form.endDateAndTime, 'End Date*') }}
                                {{ form_widget(form.endDateAndTime, {'attr': {'class': 'uk-timepicker uk-input' ~ ( form_errors(form.endDateAndTime) ? ' uk-form-danger' : '' ) }}) }}
                                {{ form_errors(form.endDateAndTime) }}
                            </div> #}
                        </div>
                    </fieldset>

                </div>
                <div class="uk-margin">
                    <button class="uk-button uk-button-primary uk-button-small">Save</button> or <a href="#" uk-switcher-item="1" class="uk-button uk-button-secondary uk-button-small">Next</a>
                </div>
            </div>
            <div class="page-company-experience-edit__availability">
                <div class="uk-width-xlarge">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            {{ form_label(form.availableSpaces, 'Available Spaces*') }}
                            {{ form_widget(form.availableSpaces, {'attr': {'class': 'uk-input' ~ ( form_errors(form.availableSpaces) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.availableSpaces) }}
                            <span>For unlimited set to 500</span>
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.payment, 'Cost') }}
                            {{ form_widget(form.payment, {'attr': {'class': 'uk-input' ~ ( form_errors(form.payment) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.payment) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.paymentShownIsPer, 'Cost Per') }}
                            {{ form_widget(form.paymentShownIsPer, {'attr': {'class': 'uk-select' ~ ( form_errors(form.paymentShownIsPer) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.paymentShownIsPer) }}
                        </div>
                    </fieldset>
                </div>
                <div class="uk-margin">
                    <a href="#" uk-switcher-item="2" class="uk-button uk-button-primary uk-button-small">Next</a>
                </div>
            </div>
            <div class="page-company-experience-edit__careers">
                <div class="uk-width-xlarge">

                    <h3>Notify Students of Event</h3>
                    <ul class="uk-list">
                        <li><label><input type="radio" name="notify_students" value="none" checked="checked" />Do Not Send Email</label></li>
                        <li><label><input type="radio" name="notify_students" value="all" />Notify All Students and Teachers</label></li>
                        <li><label><input type="radio" name="notify_students" value="match" />Notify Students and Teachers Who Selected Career Fields Below</label></li>
                    </ul>

                    <div class="uk-alert uk-alert-warning"><span class="fa fa-warning"></span> Be sure to choose at least one industry and secondary industry below.</div>

                    <fieldset class="uk-fieldset">
                        <div id="subscribe-secondary-industries"
                             data-field-name="edit_company_experience[secondaryIndustries]"
                             data-secondary-industries="{{ encode_secondary_industries(experience.secondaryIndustries) }}"
                             data-remove-dom-id="edit_company_experience_secondaryIndustries"
                        ></div>
                    </fieldset>
                </div>
                <div class="uk-margin">
                    <a href="#" uk-switcher-item="3" class="uk-button uk-button-primary uk-button-small">Next</a>
                </div>
            </div>
            <div class="page-company-experience-edit__contact">
                <div class="uk-width-xlarge">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            {{ form_label(form.employeeContact, 'Employee Coordinator*') }}
                            <div class="uk-text-meta">This employee will be be able to manage this experience</div>
                            {{ form_widget(form.employeeContact, {'attr': {'class': 'uk-select' ~ ( form_errors(form.employeeContact) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.employeeContact) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.email, 'Email*') }}
                            {{ form_widget(form.email, {'attr': {'class': 'uk-input' ~ ( form_errors(form.email) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.street, 'Street*') }}
                            {{ form_widget(form.street, {'attr': {'class': 'uk-input' ~ ( form_errors(form.street) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.street) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.city, 'City*') }}
                            {{ form_widget(form.city, {'attr': {'class': 'uk-input' ~ ( form_errors(form.city) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.city) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.state, 'State*') }}
                            {{ form_widget(form.state, {'attr': {'class': 'uk-select' ~ ( form_errors(form.state) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.state) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.zipcode, 'Zip*') }}
                            {{ form_widget(form.zipcode, {'attr': {'class': 'uk-input' ~ ( form_errors(form.zipcode) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.zipcode) }}
                        </div>
                    </fieldset>
                </div>
                <div class="uk-margin">
                    <button class="uk-button uk-button-primary uk-button-small">Save</button>
                </div>
            </div>


            <!-- ####################################################################################### -->
            <!-- ############################### RESOURCES / FILES ##################################### -->
            <!-- ####################################################################################### -->
            <div class="page-company-experience-edit__files">
                <div class="uk-text-center uk-placeholder">
                    <a class="uk-button uk-button-default uk-button-small" href="#modal-add-company-event-resource" uk-toggle>Add a Resource</a>
                </div>

                <div class="uk-margin">
                    {% if experience.experienceFiles|length %}
                        <h4>Current Resources</h4>
                    {% endif %}
                    <div id="companyEventResources">
                        {% if experience.experienceFiles|length %}
                            {% for experienceFile in experience.experienceFiles %}
                                <div class="uk-grid uk-flex-middle" uk-grid id="resource_{{ experienceFile.id }}">
                                    <div class="uk-width-expand">
                                        <dt>{{ experienceFile.title }}</dt>
                                        <dd>{{ experienceFile.description }}</dd>
                                    </div>
                                    <div class="uk-width-auto">
                                        {% if experienceFile.linkToWebsite %}
                                            <a href="{{ experienceFile.linkToWebsite }}" class="uk-button uk-button-default uk-button-small view" target="_blank">View</a>
                                        {% else %}
                                            <a href="{{ asset(uploaded_asset(experienceFile.path)) }}" class="uk-button uk-button-default uk-button-small view" target="_blank">View</a>
                                        {% endif %}                                        
                                    </div>
                                    <div class="uk-width-auto">
                                        <a href="#" class="uk-button uk-button-default uk-button-small company-edit-experience-resource" data-id="{{ experienceFile.id }}">Edit</a>
                                    </div>
                                    <button type="button" data-remove="{{ path('company_experience_file_remove', {'id' : experienceFile.id }) }}" uk-close></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <!-- Start Modal Section -->

                <div id="modal-add-company-event-resource" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <h3>Add a Resource</h3>

                        <div class="uk-margin">
                            <label for="add_company_event_add_resource_title" class="required">Name*</label>
                            <input type="text" id="edit_company_event_add_resource_title" name="title" required="required" class="uk-input" />
                        </div>

                        <div class="uk-margin">
                            <label for="edit_company_event_add_resource_description" class="required">Description</label>
                            <input type="text" id="edit_company_event_add_resource_description" name="description" class="uk-textarea" />
                        </div>

                        <div class="uk-margin">
                            <label for="edit_company_add_resource_description">Add Link To Website</label>
                            <input type="text" id="edit_company_event_add_resource_link_to_website" name="linkToWebsite" class="uk-input" placeholder="http://www.google.com" />
                        </div>

                        <div>OR</div>

                        <div class="uk-margin">
                            <label>Upload Resource File</label><br />
                            <div uk-form-custom="target: true">
                                <input class="uk-button uk-button-primary uk-button-small" type="file" name="resource">
                                <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                            </div>
                        </div>

                        <p class="uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                            <input class="uk-button uk-button-primary" type="submit" value="Save" data-action="{{ path('company_experience_file_add', {'id' : experience.id}) }}" />
                        </p>
                    </div>
                </div>

                <div id="modal-edit-company-event-resource" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <h3>Edit Resource</h3>
                        <div class="uk-margin">
                            <label for="edit_company_event_edit_resource_title" class="required">Name*</label>
                            <input type="text" id="edit_company_event_edit_resource_title" name="title" required="required" class="uk-input" />
                        </div>

                        <div class="uk-margin">
                            <label for="edit_company_event_edit_resource_description" class="required">Description</label>
                            <input type="text" id="edit_company_event_edit_resource_description" name="description" class="uk-textarea" />
                        </div>

                        <div class="uk-margin">
                            <label for="edit_company_event_edit_resource_link_to_website">Add Link To Website</label>
                            <input type="text" id="edit_company_event_edit_resource_link_to_website" name="linkToWebsite" class="uk-input" placeholder="http://www.google.com" />
                        </div>

                        <div>OR</div>

                        <div class="uk-margin">
                            <label>Upload Resource File</label><br />
                            <div uk-form-custom="target: true">
                                <input class="uk-button uk-button-primary uk-button-small" type="file" name="resource">
                                <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                            </div>
                        </div>

                        <input type="hidden" name="resource_id" id="edit_company_event_edit_resource_id" />

                        <p class="uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                            <input class="uk-button uk-button-primary" type="submit" value="Save" id="edit-submit-button" data-action="" />
                        </p>
                    </div>
                </div>

                <div id="companyEventResourcesTemplate" style="display: none;">
                    <div class="uk-grid uk-flex-middle" uk-grid id="resource_RESOURCE_ID">
                        <div class="uk-width-expand">
                            <dt>RESOURCE_TITLE</dt>
                            <dd>RESOURCE_DESCRIPTION</dd>
                        </div>
                        <div class="uk-width-auto">
                            <a href="RESOURCE_URL" class="uk-button uk-button-default uk-button-small view" target="_blank">View</a>
                        </div>
                        <div class="uk-width-auto">
                            <a href="#" class="uk-button uk-button-default uk-button-small company-edit-experience-resource" data-id="{{ 'RESOURCE_ID' }}">Edit</a>
                        </div>
                        <button type="button" data-remove="{{ path('company_experience_file_remove', {'id' : 'RESOURCE_ID' }) }}" uk-close></button>
                    </div>
                </div>

            </div>
        </div>

        

        {{ form_end(form) }}

    </div>

    <script>
      document.getElementById('edit_company_event_add_resource_link_to_website').addEventListener('blur', (event) => {
        const matched = event.target.value.match(/^(http|https):\/\//);
        if(!matched) {
          document.getElementById('edit_company_event_add_resource_link_to_website').value = 'http://' + event.target.value;
        }
      }, true);

      document.getElementById('edit_company_event_edit_resource_link_to_website').addEventListener('blur', (event) => {
        const matched = event.target.value.match(/^(http|https):\/\//);
        if(!matched) {
          document.getElementById('edit_company_event_edit_resource_link_to_website').value = 'http://' + event.target.value;
        }
      }, true);
    </script>


{% endblock %}
