{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}

    <h1>Edit Company</h1>

    {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}
    {{ form_row(form.address) }}
    {{ form_row(form.briefCompanyDescription) }}


    <h2>Company Logo</h2>
    {{ form_row(form.logo) }}
    {% if company.logo is defined %}
        <img src="{{ asset(uploaded_asset(company.logoPath))|imagine_filter('squared_thumbnail_small') }}" height="100"/>
    {% endif %}

    <h2>Hero Image</h2>
    {{ form_row(form.heroImage) }}
    {% if company.heroImage is defined %}
        <img src="{{ asset(uploaded_asset(company.heroImagePath))|imagine_filter('squared_thumbnail_small') }}" height="100"/>
    {% endif %}


    {{ form_row(form.primaryContact) }}
    {{ form_row(form.companyLinkedinPage) }}

    {{ form_row(form.phone) }}
    <button class="btn">Update</button>
    {{ form_end(form) }}

    {% if user.company %}

        <hr>
        <h2>Company Images</h2>
        <form action="{{ path('upload_company_image', {
            id: company.id
        }) }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="company_image">
            <input type="submit" name="submit">
        </form>

    {% endif %}

    {% for image in company.companyImages %}
        <img src="{{ asset(uploaded_asset(image.path))|imagine_filter('squared_thumbnail_small') }}" height="100"/>
    {% endfor %}
    <hr>


    <h2>Video URL</h2>
    <form action="{{ path('add_video_url', {
        id: company.id
    }) }}" method="POST">
        <input type="text" name="video_url">
        <input type="submit" name="submit">
    </form>


    {% for video in company.companyVideos %}
        <iframe width="1135" height="454" src="{{ video.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endfor %}
    <hr>

    <h2>Company Documents</h2>
    <form action="{{ path('upload_company_document', {
        id: company.id
    }) }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="company_document">
        <input type="submit" name="submit">
    </form>

    {% for document in company.companyDocuments %}
        <a href="{{ asset(uploaded_asset(document.path)) }}" download>{{ document.path }}</a>
    {% endfor %}
    <hr>

    <hr>


{% endblock %}
