{% extends 'baseAuthenticated.html.twig' %}

{% form_theme form with _self %}

{% block title %}Edit Company{% endblock %}
{% block bodyClass %}page-company-edit{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/companies.js') }}"></script>
{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" integrity="sha256-e47xOkXs1JXFbjjpoRr1/LhVcqSzRmGmPqsrUQeVs+g=" crossorigin="anonymous" />
 {% endblock %}

{% block body %}

    <div class="uk-container js-form" data-route="{{ path('company_edit', {'id' : company.id}) }}">

        {% if successMessage %}
            <div class="uk-alert-success uk-margin" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>Company successfully updated.  <a href="{{ path('company_view', {'id': company.id}) }}">View your Company</a></p>
            </div>
        {% endif %}

        {% if errorMessage %}
            <div class="uk-alert-error uk-margin" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ errorMessage }}</p>
            </div>
        {% endif %}

        {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

        <ul class="uk-tab" uk-switcher="connect: #tab-edit-company" uk-tab>
            <li class="uk-active"><a href="#company-details">Edit Company</a></li>
            <li><a href="#company-industries">Industry</a></li>
            <li><a href="#company-schools">Schools</a></li>
            <li><a href="#company-photos">Photos</a></li>
            <li><a href="#company-videos">Videos</a></li>
            <li><a href="#company-resources">Resources</a></li>
        </ul>

        {% if form_errors(form) %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <div>{{ form_errors(form) }}</div>
            </div>
        {% endif %}

        <div class="uk-switcher" id="tab-edit-company">
            <div class="page-company-edit__details">
                <div class="uk-width-xlarge">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            {{ form_label(form.name, 'Name*') }}
                            {{ form_widget(form.name, {'attr': {'class': 'uk-input' ~ ( form_errors(form.name) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.website, 'Website*') }}
                            {{ form_widget(form.website, {'attr': {'class': 'uk-input' ~ ( form_errors(form.website) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.website) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.phone, 'Phone*') }}
                            {{ form_widget(form.phone, {'attr': {'class': 'uk-input' ~ ( form_errors(form.phone) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.phone) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.emailAddress, 'Email Address*') }}
                            {{ form_widget(form.emailAddress, {'attr': {'class': 'uk-input' ~ ( form_errors(form.emailAddress) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.emailAddress) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.shortDescription, 'Short Description*') }}
                            {{ form_widget(form.shortDescription, {'attr': {'class': 'uk-textarea' ~ ( form_errors(form.shortDescription) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.shortDescription) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.description, 'Description*') }}
                            <div data-wysiwyg="[name='edit_company_form[description]']" class="{{ ( form_errors(form.description) ? 'wysiwyg-error' : '' ) }}"></div>
                            <div style="display: none;">
                                {{ form_widget(form.description) }}
                            </div>
                            {{ form_errors(form.description) }}
                        </div>
                        <div class="uk-margin uk-grid" uk-grid>
                            {% if company.thumbnailImage %}
                                <div class="uk-width-small">
                                    <img id="companyThumbnailImage" src="{{ asset(uploaded_asset(company.thumbnailImagePath))|imagine_filter('squared_thumbnail_small') }}" />
                                </div>
                            {% endif %}
                            <div class="uk-width-expand">
                                <label>Company Thumbnail</label>
                                <div data-upload-url="{{ path('company_thumbnail_add', { id: company.id }) }}" data-type="image:companyThumbnailImage"></div>
                            </div>
                        </div>
                        <div class="uk-margin uk-grid" uk-grid>
                            {% if company.featuredImage %}
                                <div class="uk-width-small">
                                    <img id="companyFeaturedImage" src="{{ asset(uploaded_asset(company.featuredImagePath))|imagine_filter('squared_thumbnail_small') }}" />
                                </div>
                            {% endif %}
                            <div class="uk-width-expand">
                                <label>Company Featured Image</label>
                                <div data-upload-url="{{ path('company_featured_add', { id: company.id }) }}" data-type="image:companyFeaturedImage"></div>
                            </div>
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.companyLinkedinPage, 'Company LinkedIn Page') }}
                            {{ form_widget(form.companyLinkedinPage, {'attr': {'class': 'uk-input' ~ ( form_errors(form.companyLinkedinPage) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.companyLinkedinPage) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.owner, 'Company Ownership*') }}
                            {{ form_widget(form.owner, {'attr': {'class': 'uk-input' ~ ( form_errors(form.owner) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.owner) }}
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="page-company-edit__industry">
                <div class="uk-width-xlarge">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            {{ form_label(form.primaryIndustry, 'Primary Industry*') }}
                            {{ form_widget(form.primaryIndustry, {'attr': {'class': 'js-primary-industry uk-select' ~ ( form_errors(form.primaryIndustry) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.primaryIndustry) }}
                        </div>

                        <div class="js-secondary-industry-container">
                            {% if form.secondaryIndustries is defined %}
                                <div class="uk-margin">
                                    {{ form_label(form.secondaryIndustries, 'Secondary Industry*') }}
                                    {{ form_widget(form.secondaryIndustries, {'attr': {'class': 'uk-checkboxes uk-checkboxes-newlines' ~ ( form_errors(form.secondaryIndustries) ? ' uk-form-danger' : '' ) }}) }}
                                    <div class="clear"></div>
                                    {{ form_errors(form.secondaryIndustries) }}
                                </div>
                            {% endif %}
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="page-company-edit__schools">
                <div class="uk-width-xlarge">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            {{ form_label(form.schools, 'Schools*') }} &nbsp;&nbsp;<a class="uk-link-muted" data-select-all="edit_company_form[schools][]">Select All</a>
                            {{ form_widget(form.schools, {'attr': {'class': 'uk-checkboxes uk-checkboxes-newlines' ~ ( form_errors(form.schools) ? ' uk-form-danger' : '' ) }}) }}
                            <div class="clear"></div>
                            {{ form_errors(form.schools) }}
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="page-company-edit__photos">

                <div class="uk-width-1-1">
                    <h4>Add Additional Photos</h4>
                    <div data-upload-url="{{ path('company_photos_add', { id: company.id }) }}" data-type="multiple:image:companyPhotos">
                        <div class="page-company-edit__uploaded-photos">
                            <button type="button" data-remove="{{ url('company_photo_remove', {company_id: company.id, image_id: 'UPLOAD_ID'}) }}" uk-close></button>
                            <img src="UPLOAD_URL" />
                        </div>
                    </div>
                </div>

                <h4>Existing Photos</h4>
                <div id="companyPhotos" class="uk-grid uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-3" uk-grid>
                {% if company.companyPhotos|length > 0 %}
                    {% for companyPhoto in company.companyPhotos %}
                        <div class="page-company-edit__uploaded-photos">
                            <button type="button" data-remove="{{ url('company_photo_remove', {company_id: company.id, image_id: companyPhoto.id}) }}" uk-close></button>
                            <img src="{{ asset(uploaded_asset(companyPhoto.path))|imagine_filter('squared_thumbnail_small') }}" />
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
            <div class="page-company-edit__videos">
                <div class="uk-width-xlarge">
                    <p>Videos can help showcase what a great place your establishment is to work for.  Upload your videos to Youtube and then attach them here.</p>
                    <h4>Add New Video</h4>

                  {#  <div class="uk-margin">
                        {{ form_label(form.videos.name, 'Name*') }}
                        {{ form_widget(form.videos.name, {'attr': {'class': 'uk-input' ~ ( form_errors(form.videos.name) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.videos.name) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_label(form.videos.videoId, 'Youtube Video ID*') }}
                        {{ form_widget(form.videos.videoId, {'attr': {'class': 'uk-input' ~ ( form_errors(form.videos.videoId) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.videos.videoId) }}
                    </div>#}
                </div>

                {% if company.companyVideos|length > 0 %}
                    <div class="uk-margin">
                        <h4>Current Videos</h4>
                        <div class="uk-child-width-1-3@m" uk-grid="masonry: true" uk-lightbox="animation: slide; video-autoplay: 1">
                            {% for video in company.companyVideos %}
                                <div>
                                    <a class="uk-inline company-video" href="https://www.youtube.com/watch?v={{ video.videoId }}">
                                        <img src="http://i.ytimg.com/vi/{{ video.videoId }}/hqdefault.jpg" alt="">
                                        <div class="company-video__overlay">
                                            <div class="company-video__overlay-title">
                                                {{ video.name }}
                                            </div>
                                        </div>
                                        <button type="button" data-remove="#" uk-close></button>
{#                                        {{ url('company_video_remove', {company_id: company.id, video_id: 0}) }}#}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="page-company-edit__resources">
                <div class="uk-width-xlarge">
                    <p>Resources are meant to provide helpful resources to understand more about your company.  Things like Employee Handbooks, Campus Maps, and Company Culture are highly encouraged!</p>
                    <h4>Add New Resource</h4>
                    <div class="uk-margin">
                        <div class="uk-width-1-1">
                            ADD NEW RESOURCES BUTTON
                        </div>
                    </div>
                </div>

                {% if company.companyResources|length > 0 %}
                    <div class="uk-margin">
                        <h4>Current Resources</h4>
                        {% for companyResource in company.companyResources %}
                            <div class="uk-grid uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <dt>{{ companyResource.title }}</dt>
                                    <dd>{{ companyResource.description }}</dd>
                                </div>
                                <div class="uk-width-auto">
                                    <a href="{{ asset(uploaded_asset(companyResource.path)) }}" class="uk-button uk-button-default uk-button-small" target="_blank">View</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-button-small">Save</button>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
