{% extends 'baseAuthenticated.html.twig' %}

{% form_theme form with _self %}

{% block title %}Company experiences{% endblock %}
{% block bodyClass %}page-company-edit{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/editCompanies.js') }}"></script>
{% endblock %}

{% block body %}


    <h1>Add Experience</h1>
    {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

    {{ form_row(form.title) }}
    {{ form_row(form.briefDescription) }}
    {{ form_row(form.about) }}
    {{ form_row(form.type) }}
    {{ form_row(form.careers) }}
    {{ form_row(form.availableSpaces) }}
    {{ form_row(form.payment) }}
    {{ form_row(form.paymentShownIsPer) }}
    {{ form_row(form.employeeContact) }}
    {{ form_row(form.email) }}
    {{ form_row(form.street) }}
    {{ form_row(form.city) }}
    {{ form_row(form.state) }}
    {{ form_row(form.zipcode) }}
    {{ form_row(form.startDateAndTime) }}
    {{ form_row(form.endDateAndTime) }}
    {{ form_row(form.length) }}
    {{ form_row(form.wavers) }}
    {{ form_row(form.otherFiles) }}

    <button class="btn">Create</button>
    {{ form_end(form) }}



{% endblock %}
