{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Add Company{% endblock %}
{% block bodyClass %}page-company-new{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/companies.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="uk-container js-form" data-route="{{ path('company_new') }}">

        {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

        <ul class="uk-tab" uk-switcher="connect: #tab-new-company" uk-tab>
            <li class="uk-active"><a href="#company-details">New Company</a></li>
        </ul>

        {% if form_errors(form) %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <div>{{ form_errors(form) }}</div>
            </div>
        {% endif %}

        <div class="uk-switcher" id="tab-new-company">
            <div class="page-company-new__details">
                <div class="uk-width-xlarge">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            {{ form_label(form.name, 'Name*') }}
                            {{ form_widget(form.name, {'attr': {'class': 'uk-input' ~ ( form_errors(form.name) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.street, 'Street*') }}
                            {{ form_widget(form.street, {'attr': {'class': 'uk-input' ~ ( form_errors(form.street) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.street) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.city, 'City*') }}
                            {{ form_widget(form.city, {'attr': {'class': 'uk-input' ~ ( form_errors(form.city) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.city) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.state, 'State*') }}
                            {{ form_widget(form.state, {'attr': {'class': 'uk-input' ~ ( form_errors(form.state) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.state) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.zipcode, 'Zip*') }}
                            {{ form_widget(form.zipcode, {'attr': {'class': 'uk-input' ~ ( form_errors(form.zipcode) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.zipcode) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.website, 'Website*') }}
                            {{ form_widget(form.website, {'attr': {'class': 'uk-input' ~ ( form_errors(form.website) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.website) }}
                        </div>
                        <div class="uk-margin">
                            <div class="uk-column-1-2">
                                <div>
                                    {{ form_label(form.phone, 'Phone*') }}
                                    {{ form_widget(form.phone, {'attr': {'class': 'uk-input' ~ ( form_errors(form.phone) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.phone) }}
                                </div>
                                <div>
                                    {{ form_label(form.phoneExt, 'Ext.') }}
                                    {{ form_widget(form.phoneExt, {'attr': {'class': 'uk-input' ~ ( form_errors(form.phoneExt) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.phoneExt) }}
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.emailAddress, 'Company Administrator Email*') }}
                            {{ form_widget(form.emailAddress, {'attr': {'class': 'uk-input' ~ ( form_errors(form.emailAddress) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.emailAddress) }}
                        </div>

                        <div class="uk-margin">
                            {{ form_label(form.shortDescription, 'Short Description*') }}
                            <div class="uk-text-meta">This is the excerpt shown in search results throughout the site (Please limit to 240 characters)</div>
                            {{ form_widget(form.shortDescription, {'attr': {'class': 'uk-textarea' ~ ( form_errors(form.shortDescription) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.shortDescription) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.description, 'Description') }}
                            <div class="uk-text-meta">Describe your company in detail</div>
                            <div data-wysiwyg="[name='new_company_form[description]']" class="{{ ( form_errors(form.description) ? 'wysiwyg-error' : '' ) }}"></div>
                            <div style="display: none;">
                                {{ form_widget(form.description) }}
                            </div>
                            {{ form_errors(form.description) }}
                        </div>
                    </fieldset>
                </div>
            </div>

        </div>

        <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-button-small">Create Company</button>
        </div>

        {{ form_end(form) }}

    </div>

    <script>
      const website = document.getElementById('new_company_form_website');
      website.addEventListener('blur', (event) => {
        const matched = event.target.value.match(/^(http|https):\/\//);
        if(!matched) {
          document.getElementById('new_company_form_website').value = 'http://' + event.target.value;
        }
      }, true);
    </script>


{% endblock %}
