{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Add Company{% endblock %}

{% block body %}

    <h1>Add Company</h1>
    {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.website) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.emailAddress) }}
    {{ form_row(form.primaryIndustry) }}
    <button class="btn">Create</button>
    {{ form_end(form) }}

{% endblock %}
