{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Add Company{% endblock %}
{% block bodyClass %}page-company-new{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/companies.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .eac-input-wrap .eac-sugg {
            top: 7px !important;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="uk-container js-form" data-route="{{ path('company_new') }}"
         data-county-json="{{ countyJson|json_encode }}">

        {{ form_start(form, {attr: {'id': 'js-form', 'novalidate' : 'novalidate'}}) }}

        <input id="validation_groups" type="hidden" name="validation_groups" value="COMPANY_GENERAL">
        <input id="tab" type="hidden" name="tab" value="">

        {% if form_errors(form) %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <div>{{ form_errors(form) }}</div>
            </div>
        {% endif %}

        <div uk-grid>
            <div class="uk-width-1-1 uk-width-medium@m">
                <ul id="test" class="uk-tab-left"
                    uk-tab="connect: #tab-account-inner; animation: uk-animation-fade">
                    <li><a href="#general" id="general">New Company</a></li>
                    {#TODO SCHOOLS SHOULD BE DISABLED #}
                    <li class="uk-disabled"><a href="#schools" id="schools" style="opacity: .5;">Schools</a></li>
                    <li class="uk-disabled"><a id="photos" style="opacity: .5;">Photos</a></li>
                    <li class="uk-disabled"><a id="videos" style="opacity: .5;">Videos</a></li>
                    <li class="uk-disabled"><a id="resources" style="opacity: .5;">Resources</a></li>
                </ul>
            </div>
            <div class="uk-width-1-1 uk-width-expand@m">
                <div id="tab-account-inner" class="uk-switcher">

                    <div class="company_general">

                        <div class="uk-text-danger" style="float:right;">* indicates required</div>

                        <fieldset class="uk-fieldset uk-margin">

                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend">
                                    General Information
                                </legend>

                                <div class="uk-margin">
                                    {{ form_label(form.name, 'Company Name*') }}
                                    {{ form_widget(form.name, {'attr': {'class': 'uk-input' ~ ( form_errors(form.name) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.name) }}
                                </div>

                                <div class="uk-margin">
                                    {{ form_label(form.companyAddressSearch, 'Company Address*') }}
                                    {{ form_widget(form.companyAddressSearch, {'id': 'companyAddressSearch', 'attr': {'readonly': 'readonly', 'class': 'uk-input' }}) }}
                                    <div class="clear"></div>
                                    {{ form_errors(form.companyAddressSearch) }}
                                </div>

                                <div class="uk-margin">
                                    {{ form_label(form.emailAddress, 'Company Administrator Email*') }}
                                    {{ form_widget(form.emailAddress, {'attr': {'class': 'uk-input js-email-autocomplete' ~ ( form_errors(form.emailAddress) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.emailAddress) }}
                                </div>

                                <div class="uk-margin">
                                    {{ form_label(form.website, 'Website*') }}
                                    {{ form_widget(form.website, {'attr': {'class': 'uk-input' ~ ( form_errors(form.website) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.website) }}
                                </div>

                                <div class="uk-margin">

                                    <div class="uk-grid">

                                        <div class="uk-width-2-5">
                                            {{ form_label(form.phone, 'Phone*') }}
                                            {{ form_widget(form.phone, {'attr': {'class': 'uk-input' ~ ( form_errors(form.phone) ? ' uk-form-danger' : '' ) }}) }}
                                            {{ form_errors(form.phone) }}
                                        </div>

                                        <div class="uk-width-1-5">
                                            {{ form_label(form.phoneExt, 'Ext.') }}
                                            {{ form_widget(form.phoneExt, {'attr': {'class': 'uk-input' ~ ( form_errors(form.phoneExt) ? ' uk-form-danger' : '' ) }}) }}
                                            {{ form_errors(form.phoneExt) }}
                                        </div>

                                    </div>

                                </div>

                            </fieldset>


                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend">
                                    Company Information
                                </legend>

                                <div class="uk-margin">
                                    {{ form_label(form.primaryIndustry, 'My Company\'s Industry Sector(s)*') }}
                                    {{ form_widget(form.primaryIndustry, {'attr': {'class': 'js-primary-industry js-select2' ~ ( form_errors(form.primaryIndustry) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.primaryIndustry) }}
                                </div>

                                <div class="js-secondary-industry-container">
                                    {% if form.secondaryIndustries is defined %}
                                        <div class="uk-margin">
                                            {{ form_label(form.secondaryIndustries, 'Professions*') }}
                                            <div class="uk-text-meta">
                                                Select the major professions within your company's industry sector(s)
                                            </div>
                                            {{ form_widget(form.secondaryIndustries, {'attr': {'class': 'js-select2' ~ ( form_errors(form.secondaryIndustries) ? ' uk-form-danger' : '' ) }}) }}
                                            <div class="clear"></div>
                                            {{ form_errors(form.secondaryIndustries) }}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="uk-margin">
                                    {{ form_label(form.shortDescription, 'Short Description*') }}
                                    <div class="uk-text-meta">This is the excerpt shown in search results throughout the
                                        site (Please limit to 240 characters)
                                    </div>
                                    {{ form_widget(form.shortDescription, {'attr': {'rows': '3', 'class': 'uk-textarea' ~ ( form_errors(form.shortDescription) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.shortDescription) }}
                                </div>
                                <div class="uk-margin">
                                    {{ form_label(form.description, 'Description (optional)') }}
                                    <div class="uk-text-meta">Describe your company in detail</div>
                                    <div data-wysiwyg="[name='new_company_form[description]']"
                                         class="{{ ( form_errors(form.description) ? 'wysiwyg-error' : '' ) }}"></div>
                                    <div style="display: none;">
                                        {{ form_widget(form.description) }}
                                    </div>
                                    {{ form_errors(form.description) }}
                                </div>

                            </fieldset>


                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend">
                                    Social Network
                                </legend>

                                <div class="uk-margin">
                                    <div class="uk-grid">

                                        <div class="uk-width-1-2">
                                            {{ form_label(form.companyLinkedinPage, 'Company LinkedIn Page (optional)') }}
                                            {{ form_widget(form.companyLinkedinPage, {'attr': {'class': 'uk-input' ~ ( form_errors(form.companyLinkedinPage) ? ' uk-form-danger' : '' ) }}) }}
                                            {{ form_errors(form.companyLinkedinPage) }}
                                        </div>

                                        <div class="uk-width-1-2">
                                            {{ form_label(form.companyFacebookPage, 'Company Facebook Page (optional)') }}
                                            {{ form_widget(form.companyFacebookPage, {'attr': {'class': 'uk-input' ~ ( form_errors(form.companyFacebookPage) ? ' uk-form-danger' : '' ) }}) }}
                                            {{ form_errors(form.companyFacebookPage) }}
                                        </div>

                                    </div>
                                </div>

                                <div class="uk-margin">
                                    <div class="uk-grid">

                                        <div class="uk-width-1-2">
                                            {{ form_label(form.companyInstagramPage, 'Company Instagram Page (optional)') }}
                                            {{ form_widget(form.companyInstagramPage, {'attr': {'class': 'uk-input' ~ ( form_errors(form.companyInstagramPage) ? ' uk-form-danger' : '' ) }}) }}
                                            {{ form_errors(form.companyInstagramPage) }}
                                        </div>

                                        <div class="uk-width-1-2">
                                            {{ form_label(form.companyTwitterPage, 'Company Twitter Page (optional)') }}
                                            {{ form_widget(form.companyTwitterPage, {'attr': {'class': 'uk-input' ~ ( form_errors(form.companyTwitterPage) ? ' uk-form-danger' : '' ) }}) }}
                                            {{ form_errors(form.companyTwitterPage) }}
                                        </div>

                                    </div>
                                </div>

                            </fieldset>


                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend">
                                    Company Images
                                </legend>

                                <div class="uk-margin uk-grid" uk-grid>
                                    <div class="uk-width-small">
                                        <img id="companyThumbnailImage"
                                             src="{{ company.thumbnailImagePath is not null ? asset(uploaded_asset(company.thumbnailImagePath))|imagine_filter('squared_thumbnail_small') : 'https://ui-avatars.com/api/?size=300&length=10&name=Thumbnail&font-size=.1' }}"/>
                                    </div>
                                    <div class="uk-width-expand">
                                        <label>Company Thumbnail (300x300)</label>
                                        <div class="uk-text-meta">Upload a <strong>square image</strong> if possible.
                                            Will auto resize to 300x300.<br/><span class="uk-text-warning">Accepted formats: .jpg, .png</span>
                                        </div>
                                        <div data-hidden-field="{{ form.thumbnailImage.vars.full_name }}"
                                             data-upload-url="{{ path('api_images_upload') }}?folder=thumbnail_image"
                                             data-type="image:companyThumbnailImage"></div>
                                    </div>
                                </div>
                                <div class="uk-margin uk-grid" uk-grid>
                                    <div class="uk-width-small">
                                        <img id="companyFeaturedImage"
                                             src="{{ company.featuredImagePath is not null ? asset(uploaded_asset(company.featuredImagePath))|imagine_filter('squared_thumbnail_small') : 'https://ui-avatars.com/api/?size=300&length=10&name=Featured&font-size=.1' }}"/>
                                    </div>
                                    <div class="uk-width-expand">
                                        <label>Company Featured Image (1680x300)</label>
                                        <div class="uk-text-meta">Ideal size for company banner is
                                            <strong>1680x300</strong> with central focal point.<br/><span
                                                    class="uk-text-warning">Accepted formats: .jpg, .png</span></div>
                                        <div data-hidden-field="{{ form.featuredImage.vars.full_name }}"
                                             data-upload-url="{{ path('api_images_upload') }}?folder=featured_image"
                                             data-type="image:companyFeaturedImage"></div>
                                    </div>
                                </div>

                            </fieldset>

                            {{ form_widget(form.street, {'attr': {'style': 'display: none', 'class': 'uk-input' ~ ( form_errors(form.street) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_widget(form.city, {'attr': {'style': 'display: none', 'class': 'uk-input' ~ ( form_errors(form.city) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_widget(form.state, {'attr': {'style': 'display: none', 'class': 'uk-input' ~ ( form_errors(form.state) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_widget(form.zipcode, {'attr': {'style': 'display: none','class': 'uk-input' ~ ( form_errors(form.zipcode) ? ' uk-form-danger' : '' ) }}) }}

                            <br>
                            <div class="uk-margin">
                                <button class="uk-button uk-button-primary">
                                    Save
                                </button>
                            </div>
                        </fieldset>
                    </div>


                    <div class="company_schools">
                        <fieldset class="uk-fieldset">

                            <div uk-grid>
                                <div class="uk-width-1-2">

                                    <fieldset class="uk-fieldset">
                                        <legend class="uk-legend">Volunteer Schools <br>
                                            <small style="font-size: 12px">
                                                Select the schools your company is willing to volunteer at.
                                            </small>
                                            <small>
                                                <a style="text-decoration: underline; float:right; font-size: 12px"
                                                   uk-toggle="target: #dashboard-filters; animation: uk-animation-slide-top, uk-animation-slide-bottom">
                                                    Filters <span uk-icon="cog"></span></a>
                                            </small>
                                        </legend>
                                    </fieldset>

                                    <small style="font-size: 12px">Click on the filters <span
                                                style="color: #1e87f0;" uk-icon="cog"></span> on the right to limit
                                        by region, address or radius proximity.
                                    </small>

                                    <br>
                                    <br>
                                    <div id="dashboard-filters" hidden>

                                        <fieldset class="uk-fieldset">

                                            <hr>
                                            <small class="uk-text-danger">Not sure what region you are in? Hover
                                                over the interactive map on the right to determine your
                                                region.
                                            </small>

                                            <div class="uk-margin">
                                                {{ form_widget(form.regions, {'attr': {'class': 'js-region' ~ ( form_errors(form.regions) ? ' uk-form-danger' : '' ) }}) }}
                                                <div class="clear"></div>
                                                {{ form_errors(form.regions) }}
                                            </div>

                                            <div class="uk-margin">
                                                {{ form_widget(form.addressSearch, {'id': 'addressSearch', 'attr': {'class': 'uk-input' }}) }}
                                            </div>

                                            <div class="uk-margin">
                                                {{ form_widget(form.radiusSearch, {'attr': {'class': 'js-radius uk-input'}}) }}
                                            </div>

                                            <hr>
                                        </fieldset>
                                    </div>

                                    <fieldset class="uk-fieldset">

                                        <div class="js-schools-container">
                                            <div class="js-school-json" style="display: none"
                                                 data-school-json="{{ form.vars.schools|json_encode }}"></div>
                                            {% if form.schools is defined %}
                                                <div class="uk-margin">
                                                    <a href="javascript:void(0)" class="js-select-all-schools"
                                                       style="font-size: 12px; color: #1e87f0; text-decoration: underline">Select
                                                        All</a>
                                                    {{ form_widget(form.schools, {'attr': {'class': 'js-school' ~ ( form_errors(form.schools) ? ' uk-form-danger' : '' ) }}) }}
                                                    <div class="clear"></div>
                                                    {{ form_errors(form.schools) }}
                                                </div>
                                            {% endif %}
                                        </div>

                                    </fieldset>

                                </div>

                                <div class="uk-width-1-2">
                                    <div id="map"></div>
                                </div>
                            </div>

                            <div class="uk-margin">
                                <button class="uk-button uk-button-primary">
                                    Save
                                </button>
                            </div>
                        </fieldset>
                    </div>

                    <div class="page-company-edit__photos">

                       {# <div class="uk-width-1-1">
                            <h4>Add Additional Photos</h4>
                            <div data-upload-url="{{ path('company_photos_add', { id: company.id }) }}" data-type="multiple:image:companyPhotos">
                                <div class="page-company-edit__uploaded-photos">
                                    <button type="button" data-remove="{{ url('company_photo_remove', {id: 'UPLOAD_ID'}) }}" uk-close></button>
                                    <img src="UPLOAD_URL" />
                                </div>
                            </div>
                        </div>

                        {% if company.companyPhotos|length %}
                            <h4>Current Photos</h4>
                        {% endif %}
                        <div id="companyPhotos" class="uk-grid uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-3" uk-grid>
                            {% if company.companyPhotos|length %}
                                {% for companyPhoto in company.companyPhotos %}
                                    <div class="page-company-edit__uploaded-photos">
                                        <button type="button" data-remove="{{ url('company_photo_remove', {'id': companyPhoto.id}) }}" uk-close></button>
                                        <img src="{{ asset(uploaded_asset(companyPhoto.path))|imagine_filter('squared_thumbnail_small') }}" />
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="uk-margin">

                            <button class="uk-button uk-button-primary uk-button-small">Save</button> or <a href="#" uk-switcher-item="5" class="uk-button uk-button-secondary uk-button-small">Next</a>
                            #}{# <button type="button" class="uk-button uk-button-primary uk-button-small js-navigate" data-navigate-to-index="4">Next</button> #}{#
                        </div>#}

                    </div>




                    <div class="page-company-edit__videos">
                       {# <div class="uk-width-xlarge">
                            <p>Videos can help showcase what a great place your establishment is to work for.  Upload your videos to Youtube and then attach them here.</p>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-text-center uk-placeholder">
                                <a class="uk-button uk-button-default uk-button-small" href="#modal-add-company-video" uk-toggle>Add a Video</a>
                                <div id="modal-add-company-video" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body">
                                        <h3>Add a Video</h3>

                                        <div class="uk-margin">
                                            <label for="edit_company_add_video_name" class="required">Name*</label>
                                            <input type="text" id="edit_company_add_video_name" name="name" required="required" class="uk-input" />
                                        </div>

                                        <div class="uk-margin">
                                            <label for="edit_company_add_video_id" class="required">Youtube Video ID*</label>
                                            <div class="uk-position-relative">
                                                <span class="uk-form-icon" uk-icon="icon: video-camera"></span>
                                                <input class="uk-input" id="edit_company_add_video_id" name="videoId" required="required" type="text">
                                            </div>
                                            <small>Please make sure your video is open to public.</small>

                                        </div>

                                        <div class="uk-margin">
                                            <label for="edit_company_add_video_tags" class="required">Keywords</label>
                                            <div class="uk-position-relative">
                                                <textarea id="edit_company_add_video_tags" name="tags" class="uk-textarea"></textarea>
                                            </div>
                                        </div>

                                        <p class="uk-text-right">
                                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                            <input class="uk-button uk-button-primary" type="submit" value="Save" data-action="{{ path('company_video_add', {'id' : company.id}) }}" />
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="companyVideosTemplate" style="display: none;">
                                <div class="company-video">
                                    <a class="uk-inline" href="https://www.youtube.com/watch?v=VIDEO_ID">
                                        <img src="http://i.ytimg.com/vi/VIDEO_ID/hqdefault.jpg" alt="">
                                        <div class="company-video__overlay">
                                            <div class="company-video__overlay-title">
                                                VIDEO_NAME
                                            </div>
                                        </div>
                                    </a>
                                    <a onclick="event.stopPropagation();" style="position: absolute; top: -2px; left: 20px; z-index: 5000; border: none; color: #999;" class="uk-button uk-button-default" href="{{ path('company_edit', {'id' : company.id }) }}?videoEdit=RESOURCE_ID" uk-icon="icon: file-edit"></a>
                                    <button type="button" data-remove="{{ path('company_video_remove', {'id' : 'RESOURCE_ID' }) }}" uk-close></button>
                                </div>
                            </div>

                        </div>
                        <div class="uk-margin">
                            {% if company.companyVideos|length %}
                                <h4>Current Videos</h4>
                            {% endif %}
                            <div id="companyVideos" class="uk-child-width-1-3@m" uk-grid="masonry: true" uk-lightbox="animation: slide; video-autoplay: 1">
                                {% if company.companyVideos|length %}
                                    {% for video in company.companyVideos %}
                                        <div class="company-video">
                                            <a class="uk-inline" href="https://www.youtube.com/watch?v={{ video.videoId|trim }}">
                                                <img src="http://i.ytimg.com/vi/{{ video.videoId|trim }}/hqdefault.jpg" alt="">
                                                <div class="company-video__overlay">
                                                    <div class="company-video__overlay-title">
                                                        {{ video.name }}
                                                    </div>
                                                </div>
                                            </a>

                                            <a onclick="event.stopPropagation();" style="position: absolute; top: -2px; left: 20px; z-index: 5000; border: none; color: #999;" class="uk-button uk-button-default" href="{{ path('company_edit', {'id' : company.id }) }}?videoEdit={{ video.id }}" uk-icon="icon: file-edit"></a>

                                            <button type="button" data-remove="{{ path('company_video_remove', {'id' : video.id }) }}" uk-close></button>
                                        </div>

                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        {% if companyVideo %}

                            <div id="modal-edit-company-video" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body">
                                    <h3>Edit Video</h3>

                                    <input type="hidden" name="companyId" value="{{ company.id }}">

                                    <div class="uk-margin">
                                        <label for="edit_company_edit_video_name" class="required">Name*</label>
                                        <input type="text" id="edit_company_edit_video_name" name="name" required="required" class="uk-input" value="{{ companyVideo.name }}"/>
                                    </div>

                                    <div class="uk-margin">
                                        <label for="edit_company_edit_video_id" class="required">Youtube Video ID*</label>
                                        <div class="uk-position-relative">
                                            <span class="uk-form-icon" uk-icon="icon: video-camera"></span>
                                            <input class="uk-input" id="edit_company_edit_video_id" name="videoId" required="required" type="text" value="{{ companyVideo.videoId }}">
                                        </div>
                                        <small>Please make sure your video is open to public.</small>

                                    </div>

                                    <div class="uk-margin">
                                        <label for="edit_company_edit_video_tags" class="required">Keywords</label>
                                        <div class="uk-position-relative">
                                            <textarea id="edit_company_edit_video_tags" name="tags" class="uk-textarea">{{ companyVideo.tags }}</textarea>
                                        </div>
                                    </div>

                                    <p class="uk-text-right">
                                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                        <input class="uk-button uk-button-primary" type="submit" value="Save" data-action="{{ path('company_video_edit', {id: companyVideo.id}) }}" />
                                    </p>
                                </div>
                            </div>
                        {% endif %}

                        <div class="uk-margin">
                            <button class="uk-button uk-button-primary uk-button-small">Save</button>
                        </div>#}
                    </div>


                    <div class="page-company-edit__resources">
                        {#<div class="uk-width-xlarge">
                            <p>Resources are meant to provide helpful resources to understand more about your company.  Things like Employee Handbooks, Campus Maps, and Company Culture are highly encouraged!</p>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-text-center uk-placeholder">
                                <a class="uk-button uk-button-default uk-button-small" href="#modal-add-company-resource" uk-toggle>Add a Resource</a>
                            </div>
                        </div>
                        <div class="uk-margin">
                            {% if company.companyResources|length %}
                                <h4>Current Resources</h4>
                            {% endif %}
                            <div id="companyResources">
                                {% if company.companyResources|length %}
                                    {% for companyResource in company.companyResources %}
                                        <div class="uk-grid uk-flex-middle" uk-grid id="resource_{{ companyResource.id }}">
                                            <div class="uk-width-expand">
                                                <dt>{{ companyResource.title }}</dt>
                                                <dd>{{ companyResource.description }}</dd>
                                            </div>
                                            <div class="uk-width-auto">
                                                {% if companyResource.fileName %}
                                                    <a href="{{ asset(uploaded_asset(companyResource.path)) }}" class="uk-button uk-button-default uk-button-small view" target="_blank">View</a>
                                                {% else %}
                                                    <a href="{{ companyResource.linkToWebsite }}" class="uk-button uk-button-default uk-button-small view" target="_blank view">View</a>
                                                {% endif %}
                                            </div>
                                            <div class="uk-width-auto">
                                                <a href="#" class="uk-button uk-button-default uk-button-small company-edit-resource" data-id="{{ companyResource.id }}">Edit</a>
                                            </div>
                                            <button type="button" data-remove="{{ path('company_resource_remove', {'id' : companyResource.id }) }}" uk-close></button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>


                        <!-- Begin Modals -->
                        <div id="modal-add-company-resource" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <h3>Add a Resource</h3>

                                <div class="uk-margin">
                                    <label for="edit_company_add_resource_title" class="required">Name*</label>
                                    <input type="text" id="edit_company_add_resource_title" name="title" required="required" class="uk-input" />
                                </div>

                                <div class="uk-margin">
                                    <label for="edit_company_add_resource_description" class="required">Description</label>
                                    <input type="text" id="edit_company_add_resource_title" name="description" class="uk-textarea" />
                                </div>

                                <div class="uk-margin">
                                    <label for="edit_company_add_resource_description" class="required">Add Link To Website</label>
                                    <input type="text" id="edit_company_add_resource_link_to_website" name="linkToWebsite" class="uk-input" placeholder="http://www.google.com" />
                                </div>

                                <div>OR</div>

                                <div class="uk-margin">
                                    <label>Upload Resource File</label><br />
                                    <div uk-form-custom="target: true">
                                        <input class="uk-button uk-button-primary uk-button-small" type="file" name="resource">
                                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                                    </div>
                                </div>

                                <p class="uk-text-right">
                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                    <input class="uk-button uk-button-primary" type="submit" value="Save" data-action="{{ path('company_resource_add', {'id' : company.id}) }}" />
                                </p>
                            </div>
                        </div>

                        <div id="companyResourcesTemplate" style="display: none;">
                            <div class="uk-grid uk-flex-middle" uk-grid id="resource_RESOURCE_ID">
                                <div class="uk-width-expand">
                                    <dt>RESOURCE_TITLE</dt>
                                    <dd>RESOURCE_DESCRIPTION</dd>
                                </div>
                                <div class="uk-width-auto">
                                    <a href="RESOURCE_URL" class="uk-button uk-button-default uk-button-small view" target="_blank">View</a>
                                </div>
                                <div class="uk-width-auto">
                                    <a href="#" class="uk-button uk-button-default uk-button-small company-edit-resource" data-id="{{ 'RESOURCE_ID' }}">Edit</a>
                                </div>
                                <button type="button" data-remove="{{ path('company_resource_remove', {'id' : 'RESOURCE_ID' }) }}" uk-close></button>
                            </div>
                        </div>


                        <div id="modal-edit-company-resource" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <h3>Edit Resource</h3>

                                <div class="uk-margin">
                                    <label for="edit_company_edit_resource_title" class="required">Name*</label>
                                    <input type="text" id="edit_company_edit_resource_title" name="title" required="required" class="uk-input" />
                                </div>

                                <div class="uk-margin">
                                    <label for="edit_company_edit_resource_description" class="required">Description</label>
                                    <input type="text" id="edit_company_edit_resource_description" name="description" class="uk-textarea" />
                                </div>

                                <div class="uk-margin">
                                    <label for="edit_company_edit_resource_link_to_website" class="required">Add Link To Website</label>
                                    <input type="text" id="edit_company_edit_resource_link_to_website" name="linkToWebsite" class="uk-input" placeholder="http://www.google.com" />
                                </div>

                                <div>OR</div>

                                <div class="uk-margin">
                                    <label>Upload Resource File</label><br />
                                    <div uk-form-custom="target: true">
                                        <input class="uk-button uk-button-primary uk-button-small" type="file" name="resource">
                                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                                    </div>
                                </div>

                                <input type="hidden" name="resource_id" id="edit_company_edit_resource_id" />

                                <p class="uk-text-right">
                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                    <input class="uk-button uk-button-primary" type="submit" value="Save" id="edit-submit-button" data-action="" />
                                </p>
                            </div>
                        </div>#}
                    </div>

                </div>
            </div>
        </div>


        <input type="hidden" name="guestInstructor" id="guest_instructor" value="0"/>
        <input type="hidden" name="formType" value="professionalRegistrationForm">

        {{ form_end(form) }}

    </div>

{% endblock %}