{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Add Company{% endblock %}
{% block bodyClass %}page-company-new{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/companies.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="uk-container js-form" data-route="{{ path('company_new') }}">

        {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

        <ul class="uk-tab" uk-switcher="connect: #tab-new-company" uk-tab>
            <li class="uk-active"><a href="#company-details">New Company</a></li>
            <li><a href="#company-industries">Industry</a></li>
            <li><a href="#company-schools">Schools</a></li>
        </ul>

        {% if form_errors(form) %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <div>{{ form_errors(form) }}</div>
            </div>
        {% endif %}

        <div class="uk-switcher" id="tab-new-company">
            <div class="page-company-new__details">
                <div class="uk-width-xlarge">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            {{ form_label(form.name, 'Name*') }}
                            {{ form_widget(form.name, {'attr': {'class': 'uk-input' ~ ( form_errors(form.name) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.website, 'Website*') }}
                            {{ form_widget(form.website, {'attr': {'class': 'uk-input' ~ ( form_errors(form.website) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.website) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.phone, 'Phone*') }}
                            {{ form_widget(form.phone, {'attr': {'class': 'uk-input' ~ ( form_errors(form.phone) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.phone) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.emailAddress, 'Email Address*') }}
                            {{ form_widget(form.emailAddress, {'attr': {'class': 'uk-input' ~ ( form_errors(form.emailAddress) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.emailAddress) }}
                        </div>

                        <div class="uk-margin">
                            {{ form_label(form.shortDescription, 'Short Description*') }}
                            <div class="uk-text-meta">This is the excerpt shown in search results throughout the site</div>
                            {{ form_widget(form.shortDescription, {'attr': {'class': 'uk-textarea' ~ ( form_errors(form.shortDescription) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.shortDescription) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.description, 'Description*') }}
                            <div class="uk-text-meta">Describe your company in detail</div>
                            <div data-wysiwyg="[name='new_company_form[description]']" class="{{ ( form_errors(form.description) ? 'wysiwyg-error' : '' ) }}"></div>
                            <div style="display: none;">
                                {{ form_widget(form.description) }}
                            </div>
                            {{ form_errors(form.description) }}
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="page-company-new__industry">
                <div class="uk-width-xlarge">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            {{ form_label(form.primaryIndustry, 'Primary Industry*') }}
                            {{ form_widget(form.primaryIndustry, {'attr': {'class': 'js-primary-industry uk-select' ~ ( form_errors(form.primaryIndustry) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.primaryIndustry) }}
                        </div>

                        <div class="js-secondary-industry-container">
                            {% if form.secondaryIndustries is defined %}
                                <div class="uk-margin">
                                    {{ form_label(form.secondaryIndustries, 'Secondary Industry*') }}
                                    {{ form_widget(form.secondaryIndustries, {'attr': {'class': 'uk-checkboxes uk-checkboxes-newlines' ~ ( form_errors(form.secondaryIndustries) ? ' uk-form-danger' : '' ) }}) }}
                                    <div class="clear"></div>
                                    {{ form_errors(form.secondaryIndustries) }}
                                </div>
                            {% endif %}
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="page-company-new__schools">
                <div class="uk-width-xlarge">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            {{ form_label(form.schools, 'Schools*') }}
                            {{ form_widget(form.schools, {'attr': {'class': 'uk-checkboxes uk-checkboxes-newlines' ~ ( form_errors(form.schools) ? ' uk-form-danger' : '' ) }}) }}
                            <div class="clear"></div>
                            {{ form_errors(form.schools) }}
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-button-small">Create Company</button>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
