{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Add Company{% endblock %}
{% block bodyClass %}page-company-new{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/companies.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .eac-input-wrap .eac-sugg {
            top: 7px !important;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="uk-container js-form" data-route="{{ path('company_new') }}"
         data-county-json="{{ countyJson|json_encode }}">

        {{ form_start(form, {attr: {'id': 'js-form', 'novalidate' : 'novalidate'}}) }}

        <input id="validation_groups" type="hidden" name="validation_groups" value="COMPANY_GENERAL">
        <input id="tab" type="hidden" name="tab" value="">

        {% if form_errors(form) %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <div>{{ form_errors(form) }}</div>
            </div>
        {% endif %}

        <div uk-grid>
            <div class="uk-width-1-1 uk-width-medium@m">
                <ul id="test" class="uk-tab-left"
                    uk-tab="connect: #tab-account-inner; animation: uk-animation-fade">
                    <li><a href="#general" id="general">New Company</a></li>
                    {#TODO SCHOOLS SHOULD BE DISABLED #}
                    <li class="uk-disabled"><a href="#schools" id="schools" style="opacity: .5;">Schools</a></li>
                    <li class="uk-disabled"><a id="photos" style="opacity: .5;">Photos</a></li>
                    <li class="uk-disabled"><a id="videos" style="opacity: .5;">Videos</a></li>
                    <li class="uk-disabled"><a id="resources" style="opacity: .5;">Resources</a></li>
                </ul>
            </div>
            <div class="uk-width-1-1 uk-width-expand@m">
                <div id="tab-account-inner" class="uk-switcher">

                    <div class="company_general">

                        <div class="uk-text-danger" style="float:right;">* indicates required</div>

                        <fieldset class="uk-fieldset uk-margin">

                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend">
                                    General Information
                                </legend>

                                <div class="uk-margin">
                                    {{ form_label(form.name, 'Company Name*') }}
                                    {{ form_widget(form.name, {'attr': {'class': 'uk-input' ~ ( form_errors(form.name) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.name) }}
                                </div>

                                <div class="uk-margin">
                                    {{ form_label(form.companyAddressSearch, 'Company Address*') }}
                                    {{ form_widget(form.companyAddressSearch, {'id': 'companyAddressSearch', 'attr': {'readonly': 'readonly', 'class': 'uk-input' }}) }}
                                    <div class="clear"></div>
                                    {{ form_errors(form.companyAddressSearch) }}
                                </div>

                                <div class="uk-margin">
                                    {{ form_label(form.emailAddress, 'Company Administrator Email*') }}
                                    {{ form_widget(form.emailAddress, {'attr': {'class': 'uk-input js-email-autocomplete' ~ ( form_errors(form.emailAddress) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.emailAddress) }}
                                </div>

                                <div class="uk-margin">
                                    {{ form_label(form.website, 'Website*') }}
                                    {{ form_widget(form.website, {'attr': {'class': 'uk-input' ~ ( form_errors(form.website) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.website) }}
                                </div>

                                <div class="uk-margin">

                                    <div class="uk-grid">

                                        <div class="uk-width-2-5">
                                            {{ form_label(form.phone, 'Phone*') }}
                                            {{ form_widget(form.phone, {'attr': {'class': 'uk-input' ~ ( form_errors(form.phone) ? ' uk-form-danger' : '' ) }}) }}
                                            {{ form_errors(form.phone) }}
                                        </div>

                                        <div class="uk-width-1-5">
                                            {{ form_label(form.phoneExt, 'Ext.') }}
                                            {{ form_widget(form.phoneExt, {'attr': {'class': 'uk-input' ~ ( form_errors(form.phoneExt) ? ' uk-form-danger' : '' ) }}) }}
                                            {{ form_errors(form.phoneExt) }}
                                        </div>

                                    </div>

                                </div>

                            </fieldset>


                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend">
                                    Company Information
                                </legend>

                                <div class="uk-margin">
                                    {{ form_label(form.primaryIndustry, 'My Company\'s Industry Sector*') }}
                                    {{ form_widget(form.primaryIndustry, {'attr': {'class': 'js-primary-industry js-select2' ~ ( form_errors(form.primaryIndustry) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.primaryIndustry) }}
                                </div>

                                <div class="js-secondary-industry-container">
                                    {% if form.secondaryIndustries is defined %}
                                        <div class="uk-margin">
                                            {{ form_label(form.secondaryIndustries, 'Professions*') }}
                                            <div class="uk-text-meta">
                                                Select the major professions within your company's industry sector
                                            </div>
                                            {{ form_widget(form.secondaryIndustries, {'attr': {'class': 'js-select2' ~ ( form_errors(form.secondaryIndustries) ? ' uk-form-danger' : '' ) }}) }}
                                            <div class="clear"></div>
                                            {{ form_errors(form.secondaryIndustries) }}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="uk-margin">
                                    {{ form_label(form.shortDescription, 'Short Description*') }}
                                    <div class="uk-text-meta">This is the excerpt shown in search results throughout the
                                        site (Please limit to 240 characters)
                                    </div>
                                    {{ form_widget(form.shortDescription, {'attr': {'rows': '3', 'class': 'uk-textarea' ~ ( form_errors(form.shortDescription) ? ' uk-form-danger' : '' ) }}) }}
                                    {{ form_errors(form.shortDescription) }}
                                </div>
                                <div class="uk-margin">
                                    {{ form_label(form.description, 'Description (optional)') }}
                                    <div class="uk-text-meta">Describe your company in detail</div>
                                    <div data-wysiwyg="[name='company_form[description]']"
                                         class="{{ ( form_errors(form.description) ? 'wysiwyg-error' : '' ) }}"></div>
                                    <div style="display: none;">
                                        {{ form_widget(form.description) }}
                                    </div>
                                    {{ form_errors(form.description) }}
                                </div>

                            </fieldset>


                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend">
                                    Social Network
                                </legend>

                                <div class="uk-margin">
                                    <div class="uk-grid">

                                        <div class="uk-width-1-2">
                                            {{ form_label(form.companyLinkedinPage, 'Company LinkedIn Page (optional)') }}
                                            {{ form_widget(form.companyLinkedinPage, {'attr': {'class': 'uk-input' ~ ( form_errors(form.companyLinkedinPage) ? ' uk-form-danger' : '' ) }}) }}
                                            {{ form_errors(form.companyLinkedinPage) }}
                                        </div>

                                        <div class="uk-width-1-2">
                                            {{ form_label(form.companyFacebookPage, 'Company Facebook Page (optional)') }}
                                            {{ form_widget(form.companyFacebookPage, {'attr': {'class': 'uk-input' ~ ( form_errors(form.companyFacebookPage) ? ' uk-form-danger' : '' ) }}) }}
                                            {{ form_errors(form.companyFacebookPage) }}
                                        </div>

                                    </div>
                                </div>

                                <div class="uk-margin">
                                    <div class="uk-grid">

                                        <div class="uk-width-1-2">
                                            {{ form_label(form.companyInstagramPage, 'Company Instagram Page (optional)') }}
                                            {{ form_widget(form.companyInstagramPage, {'attr': {'class': 'uk-input' ~ ( form_errors(form.companyInstagramPage) ? ' uk-form-danger' : '' ) }}) }}
                                            {{ form_errors(form.companyInstagramPage) }}
                                        </div>

                                        <div class="uk-width-1-2">
                                            {{ form_label(form.companyTwitterPage, 'Company Twitter Page (optional)') }}
                                            {{ form_widget(form.companyTwitterPage, {'attr': {'class': 'uk-input' ~ ( form_errors(form.companyTwitterPage) ? ' uk-form-danger' : '' ) }}) }}
                                            {{ form_errors(form.companyTwitterPage) }}
                                        </div>

                                    </div>
                                </div>

                            </fieldset>


                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend">
                                    Company Images
                                </legend>

                                <div class="uk-margin uk-grid" uk-grid>
                                    <div class="uk-width-small">
                                        <img id="companyThumbnailImage"
                                             src="{{ company.thumbnailImagePath is not null ? asset(uploaded_asset(company.thumbnailImagePath))|imagine_filter('squared_thumbnail_small') : 'https://ui-avatars.com/api/?size=300&length=10&name=Thumbnail&font-size=.1' }}"/>
                                    </div>
                                    <div class="uk-width-expand">
                                        <label>Company Thumbnail (300x300)</label>
                                        <div class="uk-text-meta">Upload a <strong>square image</strong> if possible.
                                            Will auto resize to 300x300.<br/><span class="uk-text-warning">Accepted formats: .jpg, .png</span>
                                        </div>
                                        <div data-hidden-field="{{ form.thumbnailImage.vars.full_name }}"
                                             data-upload-url="{{ path('api_images_upload') }}?folder=thumbnail_image"
                                             data-type="image:companyThumbnailImage"></div>
                                    </div>
                                </div>
                                <div class="uk-margin uk-grid" uk-grid>
                                    <div class="uk-width-small">
                                        <img id="companyFeaturedImage"
                                             src="{{ company.featuredImagePath is not null ? asset(uploaded_asset(company.featuredImagePath))|imagine_filter('squared_thumbnail_small') : 'https://ui-avatars.com/api/?size=300&length=10&name=Featured&font-size=.1' }}"/>
                                    </div>
                                    <div class="uk-width-expand">
                                        <label>Company Featured Image (1680x300)</label>
                                        <div class="uk-text-meta">Ideal size for company banner is
                                            <strong>1680x300</strong> with central focal point.<br/><span
                                                    class="uk-text-warning">Accepted formats: .jpg, .png</span></div>
                                        <div data-hidden-field="{{ form.featuredImage.vars.full_name }}"
                                             data-upload-url="{{ path('api_images_upload') }}?folder=featured_image"
                                             data-type="image:companyFeaturedImage"></div>
                                    </div>
                                </div>

                            </fieldset>

                            {{ form_widget(form.street, {'attr': {'style': 'display: none', 'class': 'uk-input' ~ ( form_errors(form.street) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_widget(form.city, {'attr': {'style': 'display: none', 'class': 'uk-input' ~ ( form_errors(form.city) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_widget(form.state, {'attr': {'style': 'display: none', 'class': 'uk-input' ~ ( form_errors(form.state) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_widget(form.zipcode, {'attr': {'style': 'display: none','class': 'uk-input' ~ ( form_errors(form.zipcode) ? ' uk-form-danger' : '' ) }}) }}

                            <br>
                            <div class="uk-margin">
                                <button class="uk-button uk-button-primary">
                                    Save
                                </button>
                            </div>
                        </fieldset>
                    </div>


                    <div class="company_schools">
                        <fieldset class="uk-fieldset">

                            <div uk-grid>
                                <div class="uk-width-1-2">

                                    <fieldset class="uk-fieldset">
                                        <legend class="uk-legend">Volunteer Schools <br>
                                            <small style="font-size: 12px">
                                                Select the schools your company is willing to volunteer at.
                                            </small>
                                            <small>
                                                <a style="text-decoration: underline; float:right; font-size: 12px"
                                                   uk-toggle="target: #dashboard-filters; animation: uk-animation-slide-top, uk-animation-slide-bottom">
                                                    Filters <span uk-icon="cog"></span></a>
                                            </small>
                                        </legend>
                                    </fieldset>

                                    <small style="font-size: 12px">Click on the filters <span
                                                style="color: #1e87f0;" uk-icon="cog"></span> on the right to limit
                                        by region, address or radius proximity.
                                    </small>

                                    <br>
                                    <br>
                                    <div id="dashboard-filters" hidden>

                                        <fieldset class="uk-fieldset">

                                            <hr>
                                            <small class="uk-text-danger">Not sure what region you are in? Hover
                                                over the interactive map on the right to determine your
                                                region.
                                            </small>

                                            <div class="uk-margin">
                                                {{ form_widget(form.regions, {'attr': {'class': 'js-region' ~ ( form_errors(form.regions) ? ' uk-form-danger' : '' ) }}) }}
                                                <div class="clear"></div>
                                                {{ form_errors(form.regions) }}
                                            </div>

                                            <div class="uk-margin">
                                                {{ form_widget(form.addressSearch, {'id': 'addressSearch', 'attr': {'class': 'uk-input' }}) }}
                                            </div>

                                            <div class="uk-margin">
                                                {{ form_widget(form.radiusSearch, {'attr': {'class': 'js-radius uk-input'}}) }}
                                            </div>

                                            <hr>
                                        </fieldset>
                                    </div>

                                    <fieldset class="uk-fieldset">

                                        <div class="js-schools-container">
                                            <div class="js-school-json" style="display: none"
                                                 data-school-json="{{ form.vars.schools|json_encode }}"></div>
                                            {% if form.schools is defined %}
                                                <div class="uk-margin">
                                                    <a href="javascript:void(0)" class="js-select-all-schools"
                                                       style="font-size: 12px; color: #1e87f0; text-decoration: underline">Select
                                                        All</a>
                                                    {{ form_widget(form.schools, {'attr': {'class': 'js-school' ~ ( form_errors(form.schools) ? ' uk-form-danger' : '' ) }}) }}
                                                    <div class="clear"></div>
                                                    {{ form_errors(form.schools) }}
                                                </div>
                                            {% endif %}
                                        </div>

                                    </fieldset>

                                </div>

                                <div class="uk-width-1-2">
                                    <div id="map"></div>
                                </div>
                            </div>

                            <div class="uk-margin">
                                <button class="uk-button uk-button-primary">
                                    Save
                                </button>
                            </div>
                        </fieldset>
                    </div>

                    <div class="page-company-edit__photos"></div>

                    <div class="page-company-edit__videos"></div>

                    <div class="page-company-edit__resources"></div>

                </div>
            </div>
        </div>


        <input type="hidden" name="guestInstructor" id="guest_instructor" value="0"/>
        <input type="hidden" name="formType" value="professionalRegistrationForm">

        {{ form_end(form) }}

    </div>

{% endblock %}