{% extends 'baseAuthenticated.html.twig' %}

{% block title %}View Company Experience{% endblock %}
{% block bodyClass %}page-company-experience-view{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/companies.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="uk-container">

        <div class="uk-section uk-section-muted">
            <div class="uk-padding">
                <h2 class="uk-margin-remove-bottom">{{ experience.company.name }}</h2>
                <h3 class="uk-margin-remove-top">{{ experience.title }}</h3>
                <h5>{{ experience.startDateAndTime|date("F jS \\a\\t g:ia") }} - {{ experience.endDateAndTime|date("F jS \\a\\t g:ia") }}</h5>
                {{ experience.about|raw }}


                {% if user.educator %}
                    <a class="uk-button uk-button-danger uk-button-small" href="#modal-remove-company-event" uk-toggle>Live Feedback URL</a>
                    <br>
                    <div id="modal-remove-company-event" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h3>Live Fedback URL</h3>
                            {{ url('experience_feedback', {'id' : experience.id}) }}
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>

        <div class="uk-grid-small uk-flex-middle uk-margin" uk-grid>
            <div class="uk-width-expand">
                <div class="uk-align-right@l">
                    {% if user.isAdmin or ( user.company is defined and user.company.owner.id == user.id and user.company.id == experience.company.id ) %}
                        <a href="{{ path('company_experience_edit', {id: experience.id}) }}" class="uk-button uk-button-primary uk-button-small">Edit Event</a>
                        <a class="uk-button uk-button-danger uk-button-small" href="#modal-remove-company-event" uk-toggle>Delete</a>

                        <div id="modal-remove-company-event" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <h3>Delete Event</h3>
                                <form class="uk-inline" method="get" action="{{ path('company_experience_remove', {'id' : experience.id}) }}">

                                    <label class="uk-form-label">Cancellation Message (this will be sent to all users currently registered to attend your experience):</label>

                                    <textarea class="uk-textarea" name="cancellationMessage" style="width: 100%"></textarea>

                                    <p>
                                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                        <button class="uk-button uk-button-danger" type="submit">Delete</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    {% elseif user.isEducator and user.studentUsers|length > 0 %}
                        <a class="uk-button uk-button-primary uk-button-small" href="#modal-bulk-send-to-students" uk-toggle>Forward to your students</a>

                        <div id="modal-bulk-send-to-students" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <h3>Forward to your students</h3>
                                <form class="uk-inline" method="post" action="{{ path('company_experience_bulk_notify', {'id' : experience.id}) }}">

                                    <label class="uk-form-label">Select your students:</label>

                                    <div class="uk-form-controls">
                                        {% for studentUser in user.studentUsers %}
                                            <label class="uk-form-label">
                                                <input class="uk-checkbox" type="checkbox" name="students[]" value="{{ studentUser.id }}" />
                                                {{ studentUser.firstName }} {{ studentUser.lastName }}
                                            </label>
                                            <br />
                                        {% endfor %}
                                    </div>

                                    <label class="uk-form-label">Add a message to send to your students:</label>

                                    <textarea class="uk-textarea" name="message" style="width: 100%"></textarea>

                                    <p>
                                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                        <button class="uk-button uk-button-primary" type="submit">Send</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <ul class="uk-tab" uk-switcher="connect: #tab-experience" uk-tab>
            <li class="uk-active"><a href="#experience-details">Experience</a></li>
            {% if user.isStudent %}
            {% else %}
                {% if experience.payment > 0 %}
                    <li><a href="#experience-payment">Payment Info</a></li>
                {% endif %}
            {% endif %}
            {% if experience.experienceFiles|length %}
                <li><a href="#experience-attachments">Event Documents</a></li>
            {% endif %}
                <li><a href="#experience-contact">Contact</a></li>
            {% if user.isEducator or user.isStudent %}
                <li><a href="#experience-registration">Registration</a></li>
            {% endif %}
            {% if user.isAdmin or ( user.company is defined and user.company.owner.id == user.id and user.company.id == experience.company.id ) %}
                <li><a href="#experience-sign-ups">Sign Ups</a></li>
                <li><a href="#experience-feedback">Feedback</a></li>
            {% endif %}

        </ul>
        <div class="uk-switcher" id="tab-experience">
            <div class="experience_details">
                <table class="uk-table uk-table-justify uk-table-divider">
                    <tbody>
                        <tr>
                            <td>Title</td>
                            <td>{{ experience.title }}</td>
                        </tr>
                        <tr>
                            <td>Company</td>
                            <td>{{ experience.company.name }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ experience.briefDescription }}</td>
                        </tr>
                        <tr>
                            <td>Available Spaces (Once the company approves registrations this count will go down)</td>
                            <td>{{ experience.availableSpaces }}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>
                                <p>
                                    {{ experience.street }}<br />
                                    {{ experience.city }} {{ experience.state.name }}, {{ experience.zipcode }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>Start Time</td>
                            <td>{{ experience.startDateAndTime|date("F jS \\a\\t g:ia") }}</td>
                        </tr>
                        <tr>
                            <td>End Time</td>
                            <td>{{ experience.endDateAndTime|date("F jS \\a\\t g:ia") }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if experience.payment > 0 %}
                <div class="experience_payment">
                    <table class="uk-table uk-table-justify uk-table-divider">
                        <tbody>
                        <tr>
                            <td>Payment Amount</td>
                            <td>{{ experience.payment }}</td>
                        </tr>
                        <tr>
                            <td>Payment is Per</td>
                            <td>{{ experience.paymentShownIsPer }}</td>
                        </tr>
                        <tr>
                            <td>Available Spaces (Once the company approves registrations this count will go down)</td>
                            <td>{{ experience.availableSpaces }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if experience.experienceFiles|length %}
                <div class="experience_attachments">
                    <dl class="uk-description-list uk-description-list-divider">
                        {% for experienceResource in experience.experienceFiles %}
                            <div class="uk-grid uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <dt>{{ experienceResource.title }}</dt>
                                    <dd>{{ experienceResource.description }}</dd>
                                </div>
                                <div class="uk-width-auto">
                                    <a href="{{ asset(uploaded_asset(experienceResource.path)) }}" class="uk-button uk-button-default uk-button-small" target="_blank">View</a>
                                </div>
                            </div>
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}
            <div class="experience_contact">
                <table class="uk-table uk-table-justify uk-table-divider">
                    <tbody>
                    <tr>
                        <td>Event Coordinator</td>
                        <td>
                            {% if experience.employeeContact and experience.employeeContact.fullName %}
                                {{ experience.employeeContact.fullName }}
                            {% endif %}

                            {% if experience.employeeContact and experience.employeeContact.fullName %}
                                {% if user_can_chat_with_user( user, experience.employeeContact ) %}
                                    <button class="uk-button uk-button-default uk-button-small uk-margin-small-left" data-message-user-id="{{ experience.employeeContact.id }}">Chat</button>
                                {% endif %}
                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{ experience.email }}">{{ experience.email }}</a></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            <p>
                                {{ experience.street }}<br />
                                {{ experience.city }} {{ experience.state.name }}, {{ experience.zipcode }}
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% if user.isEducator or user.isStudent %}
                <div class="experience_registration">
                    {% if user.isEducator %}
                        {% if user.studentUsers|length > 0 %}

                            <table class="uk-table uk-table-justify uk-table-divider">
                                <tbody>
                                <tr>
                                    <th>Student</th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                                {% for studentUser in user.studentUsers %}
                                    <tr>
                                        <td>{{ studentUser.fullName }}</td>
                                        <td>
                                            {% set showPendingRegisterButton = true %}
                                            {% for request in experience.educatorRegisterStudentForCompanyExperienceRequests %}
                                                  {% if request.studentUser %}
                                                      {% if request.studentUser.id == studentUser.id %}
                                                          {% if request.approved %}
                                                              Approved
                                                              {% set showPendingRegisterButton = false %}
                                                              {% elseif request.denied %}
                                                                  Denied
                                                                  {% set showPendingRegisterButton = false %}
                                                              {% else %}
                                                                  Pending
                                                                  {% set showPendingRegisterButton = false %}
                                                          {% endif %}
                                                      {% else %}
                                                      {% endif %}
                                                  {% endif %}
                                            {% endfor %}
                                            {% if showPendingRegisterButton == true %}
                                                <form class="uk-inline" action="{{ path('company_experience_student_register', { "id": experience.id }) }}" method="POST">
                                                    <input type="hidden" name="studentId" value="{{ studentUser.id }}">
                                                    <button class="uk-button uk-button-primary uk-button-small uk-margin-small-right" type="submit">Register</button>
                                                </form>
                                            {% endif %}
                                            {% if showPendingRegisterButton == false %}
                                                <form class="uk-inline" action="{{ path('company_experience_student_deregister', { "id": experience.id }) }}" method="POST">
                                                    <input type="hidden" name="studentId" value="{{ studentUser.id }}">
                                                    <button class="uk-button uk-button-danger uk-button-small uk-margin-small-right" type="submit">Cancel</button>
                                                </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>You have not added your students in your <a href="{{ path('profile_edit', {'id': user.id}) }}">profile</a> yet.</p>
                        {% endif %}
                    {% endif %}

                    {% if user.isStudent %}
                        {% if user.educatorUsers|length > 0 %}
                            <p>Click below to tell your teacher about your interest in this event:</p>
                            {% for educator in user.educatorUsers %}
                                {% if user_can_chat_with_user( user, educator ) %}
                                    <button class="uk-button uk-button-default uk-button-small uk-margin-small-right" data-message-user-id="{{ educator.id }}" data-message="I am interested in {{ experience.title }} on {{ experience.startDateAndTime|date("F jS") }}">Chat with {{ educator.fullName }}</button>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p>No educators are linked to you yet.  Please speak directly with them about interest in this event.</p>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
            {% if user.isAdmin or ( user.company is defined and user.company.owner.id == user.id and user.company.id == experience.company.id ) %}
                <div class="experience_signups">
                    {% if experience.registrations|length > 0 %}
                        <table class="uk-table uk-table-divider">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>School</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for registration in experience.registrations %}
                                    <tr>
                                        <td>{{ registration.user.fullName }}</td>
                                        <td>
                                            {% if registration.user.professional %}
                                                {% if registration.user.company %}
                                                    {{ registration.user.company.name }}
                                                {% endif %}
                                            {% elseif registration.user %}
                                                {{ registration.user.school.name }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if registration.user.educator %}
                                                Educator &nbsp;&nbsp;&nbsp;
                                                {% if user_can_chat_with_user( user, registration.user ) %}
                                                    <button class="uk-button uk-button-default uk-button-small uk-margin-small-left uk-margin-small-right" data-message-user-id="{{ registration.user.id }}">Chat</button>
                                                {% endif %}
                                            {% elseif registration.user.professional %}
                                                Professional
                                            {% else %}
                                                Student
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No Sign Ups yet - check your <a href="{{ path('requests') }}">requests view</a> for possible registrations</p>
                    {% endif %}
                </div>
                <div class="experience_feedback">
                    {% if experience.feedback|length > 0 %}
                        <div class="uk-overflow-auto">
                            <table class="uk-table uk-table-divider">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Rating</th>
                                    <th>Insight</th>
                                    <th>Enjoyable</th>
                                    <th>Learned</th>
                                    <th>Recommendation</th>
                                    <th>Feedback</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% set cumulativeRating = 0 %}
                                {% set cumulativeInsight = 0 %}
                                {% set cumulativeEnjoyable = 0 %}
                                {% set cumulativeLearned = 0 %}
                                {% set cumulativeRecommendation = 0 %}

                                {% set cumulativePromoters = 0 %}
                                {% set cumulativePassives = 0 %}
                                {% set cumulativeDetractors = 0 %}

                                {% for feedback in experience.feedback %}

                                    {% set cumulativeRating = cumulativeRating + feedback.rating %}
                                    {% set cumulativeInsight = cumulativeInsight + feedback.providedCareerInsight %}
                                    {% set cumulativeEnjoyable = cumulativeEnjoyable + feedback.wasEnjoyableAndEngaging %}
                                    {% set cumulativeLearned = cumulativeLearned + feedback.learnSomethingNew %}
                                    {% set cumulativeRecommendation = cumulativeRecommendation + feedback.likelihoodToRecommendToFriend %}

                                    {# Determine Promoter, Detractors, and Passives #}
                                    {% if feedback.likelihoodToRecommendToFriend > 8 %}
                                        {% set cumulativePromoters = cumulativePromoters + 1 %}
                                    {% elseif feedback.likelihoodToRecommendToFriend < 7 %}
                                        {% set cumulativeDetractors = cumulativeDetractors + 1 %}
                                    {% else %}
                                        {% set cumulativePassives = cumulativePassives + 1 %}
                                    {% endif %}

                                    <tr>
                                        <td class="uk-text-nowrap">{{ feedback.user.educator ? "Educator" : "Student" }}</td>
                                        <td class="uk-text-nowrap">{{ feedback.rating }}</td>
                                        <td class="uk-text-nowrap">{{ feedback.providedCareerInsight == 1 ? "YES" : "NO" }}</td>
                                        <td class="uk-text-nowrap">{{ feedback.wasEnjoyableAndEngaging == 1 ? "YES" : "NO" }}</td>
                                        <td class="uk-text-nowrap">{{ feedback.learnSomethingNew == 1 ? "YES" : "NO" }}</td>
                                        <td class="uk-text-nowrap">{{ feedback.likelihoodToRecommendToFriend }}</td>
                                        <td>{{ feedback.additionalFeedback }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <h3>Data Breakdown:</h3>

                            {% set npmScore = (((cumulativePromoters / experience.feedback|length ) - (cumulativeDetractors / experience.feedback|length )) * 100)|round %}

                            <div class="uk-grid-small uk-text-center uk-text-left@m uk-flex-middle" uk-grid>
                                <div class="uk-width-1-1 uk-width-expand@m">
                                    <p>Net Promoter Score (NPS™) is one of the most widely used customer satisfaction tools in business today.</p>
                                    <a class="uk-button uk-button-default uk-button-small" href="#modal-nps-score" uk-toggle>More info</a>
                                    <div id="modal-nps-score" uk-modal>
                                        <div class="uk-modal-dialog uk-modal-body">
                                            <p>Developed by Bain & Co in 2006, it is based on one question:</p>
                                            <strong>“How likely is it that you would recommend us to a friend?”</strong>
                                            <p>which is then answered on a 0 through 10 scale from “not at all likely” to “extremely likely”. Respondents who reply with a 9 or 10 are viewed as promoters: strong enthusiasts for your product or service. Those answering 7 or 8 are categorized as passives: satisfied customers but not enthusiastic. Those providing a 0 through 6 score are detractors: unhappy customers. To calculate a NPS™, you take the percent of respondents who are promoters and subtract the percent of respondents who are detractors to give you a number between zero and one. NPS range from -100 to +100. Average NPS for guest instructors and site visit hosts in 2018-19 was 68.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-1 uk-width-auto@m">
                                    <div class="uk-align-center">
                                        <div class="react-gauge-chart"
                                             data-bg-color="#cccccc"
                                             data-label="NPM Score"
                                             data-max="100"
                                             data-min="-100"
                                             data-value="{{ npmScore }}"
                                        ></div>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                <div class="uk-width-1-2 uk-width-1-3@m">
                                    <div class="uk-text-meta">Average Rating</div>
                                    <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeRating / experience.feedback|length )|round(1, 'floor') }}</h4>
                                </div>
                                <div class="uk-width-1-2 uk-width-1-3@m">
                                    <div class="uk-text-meta">Total Responses</div>
                                    <h4 class="uk-heading-small uk-margin-remove-top">{{ experience.feedback|length }}</h4>
                                </div>
                            </div>

                            <div class="uk-grid-small uk-text-center uk-text-left@m uk-margin" uk-grid>
                                <div class="uk-width-1-3">
                                    <div class="uk-text-meta">Linked to Classwork</div>
                                    <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeInsight / experience.feedback|length * 100 )|round(1, 'floor') }}%</h4>
                                </div>
                                <div class="uk-width-1-3">
                                    <div class="uk-text-meta">Enjoyable/Engaging</div>
                                    <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeEnjoyable / experience.feedback|length * 100 )|round(1, 'floor') }}%</h4>
                                </div>
                                <div class="uk-width-1-3">
                                    <div class="uk-text-meta">Learned Something</div>
                                    <h4 class="uk-heading-small uk-margin-remove-top">{{ ( cumulativeLearned / experience.feedback|length * 100 )|round(1, 'floor') }}%</h4>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p>No feedback has been submitted yet.</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
