{% extends 'baseAuthenticated.html.twig' %}

{% block title %}My Company{% endblock %}

{% block body %}

    <h1>My Company</h1>
    <a href="{{ path('company_edit', {id: user.company.id}) }}">Edit Company</a>



    <h2>Company Info</h2>
    <p>Address: {{ company.address }}</p>
    <p>Phone: {{ company.phone }}</p>
    <p>Brief company description: {{ company.shortDescription }}</p>
    <p>Linkedin: {{ company.companyLinkedinPage }}</p>
    <p>Primary contact: {{ company.primaryContact }}</p>


{% endblock %}
