{% extends 'baseAuthenticated.html.twig' %}

{% block title %}My Company{% endblock %}

{% block body %}

    <h1>My Company</h1>
    <a href="{{ path('company_edit', {id: user.company.id}) }}">Edit Company</a>



    <h2>Company Info</h2>
    <p>Address: {{ company.address }}</p>
    <p>Phone: {{ company.phone }}</p>
    <p>Brief company description: {{ company.shortDescription }}</p>
    <p>Linkedin: {{ company.companyLinkedinPage }}</p>
    <p>Primary contact: {{ company.primaryContact }}</p>

    <h2>Company Logo</h2>
    {% if company.logo is defined %}
        <img src="{{ asset(uploaded_asset(company.logoPath))|imagine_filter('squared_thumbnail_small') }}" height="100"/>
    {% endif %}

    <h2>Hero Image</h2>
    {% if company.heroImage is defined %}
        <img src="{{ asset(uploaded_asset(company.heroImagePath))|imagine_filter('squared_thumbnail_small') }}" height="100"/>
    {% endif %}

    <hr>

    <h2>Company Videos</h2>
    {% for video in company.companyVideos %}
        <iframe width="1135" height="454" src="{{ video.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endfor %}

    <h2>Company Documents</h2>

    {% for document in company.companyDocuments %}
        <a href="{{ asset(uploaded_asset(document.path)) }}" download>{{ document.path }}</a>
    {% endfor %}

{% endblock %}
