{% extends 'baseAuthenticated.html.twig' %}

{% form_theme educatorRegisterStudentForExperienceForm with ['form/fields.html.twig'] %}

{% block title %}Vew Company Experience{% endblock %}
{% block bodyClass %}page-company-experience-view{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/companies.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="uk-container">

        <div class="uk-section uk-section-muted">
            <div class="uk-padding">
                <h3>{{ experience.title }}</h3>
                {{ experience.about|raw }}
            </div>
        </div>

        <div class="uk-grid-small uk-flex-middle uk-margin" uk-grid>
            <div class="uk-width-expand">
                <div class="uk-align-right@l">
                    {% if user.company is defined and user.company.owner.id == user.id and user.company.id == experience.company.id %}
                        <a href="{{ path('company_experience_edit', {id: experience.id}) }}" class="uk-button uk-button-primary uk-button-small">Edit Event</a>
                        <form class="uk-inline" method="get" action="{{ path('company_experience_remove', {'id' : experience.id}) }}">
                            <button class="uk-button uk-button-danger uk-button-small" type="submit">Delete</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>

        <ul class="uk-tab" uk-switcher="connect: #tab-experience" uk-tab>
            <li class="uk-active"><a href="#experience-details">Experience</a></li>
            {% if experience.payment > 0 %}
                <li><a href="#experience-payment">Payment Info</a></li>
            {% endif %}
            {% if experience.experienceFiles|length %}
                <li><a href="#experience-attachments">Event Documents</a></li>
            {% endif %}
                <li><a href="#experience-contact">Contact</a></li>
            {% if user.isEducator %}
                <li><a href="#experience-registration">Registration</a></li>
            {% endif %}

        </ul>
        <div class="uk-switcher" id="tab-experience">
            <div class="experience_details">
                <table class="uk-table uk-table-justify uk-table-divider">
                    <tbody>
                    <tr>
                        <td>Title</td>
                        <td>{{ experience.title }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ experience.briefDescription }}</td>
                    </tr>
                    <tr>
                        <td>Available Spaces</td>
                        <td>{{ experience.availableSpaces }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% if experience.payment > 0 %}
                <div class="experience_payment">
                    <table class="uk-table uk-table-justify uk-table-divider">
                        <tbody>
                        <tr>
                            <td>Payment Amount</td>
                            <td>{{ experience.payment }}</td>
                        </tr>
                        <tr>
                            <td>Payment is Per</td>
                            <td>{{ experience.paymentShownIsPer }}</td>
                        </tr>
                        <tr>
                            <td>Available Spaces</td>
                            <td>{{ experience.availableSpaces }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if experience.experienceFiles|length %}
                <div class="experience_attachments">
                    <dl class="uk-description-list uk-description-list-divider">
                        {% for experienceResource in experience.experienceFiles %}
                            <div class="uk-grid uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <dt>{{ experienceResource.title }}</dt>
                                    <dd>{{ experienceResource.description }}</dd>
                                </div>
                                <div class="uk-width-auto">
                                    <a href="{{ asset(uploaded_asset(experienceResource.path)) }}" class="uk-button uk-button-default uk-button-small" target="_blank">View</a>
                                </div>
                            </div>
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}
            <div class="experience_contact">
                <table class="uk-table uk-table-justify uk-table-divider">
                    <tbody>
                    <tr>
                        <td>Event Coordinator</td>
                        <td>{{ experience.employeeContact.fullName }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{ experience.email }}">{{ experience.email }}</a></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            <p>
                                {{ experience.street }}<br />
                                {{ experience.city }} {{ experience.state.name }}, {{ experience.zipcode }}
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% if user.isEducator %}
                <div class="experience_registration">
                    {% if user.studentUsers|length > 0 %}
                        {{ form_start(educatorRegisterStudentForExperienceForm, {attr: {'novalidate' : 'novalidate'}}) }}
                        {% if form_errors(educatorRegisterStudentForExperienceForm) %}
                            <div class="uk-alert-danger" uk-alert>
                                <a class="uk-alert-close" uk-close></a>
                                <div>{{ form_errors(educatorRegisterStudentForExperienceForm) }}</div>
                            </div>
                        {% endif %}

                        <div class="page-company-edit__schools">
                            <div class="uk-width-xlarge">
                                <fieldset class="uk-fieldset">
                                    <div class="uk-margin">
                                        {{ form_label(educatorRegisterStudentForExperienceForm.studentUsers, 'Students*') }} &nbsp;&nbsp;<a class="uk-link-muted" data-select-all="educator_register_students_for_experience_form[studentUsers][]">Select All</a>
                                        {{ form_widget(educatorRegisterStudentForExperienceForm.studentUsers, {'attr': {'class': 'uk-checkboxes uk-checkboxes-newlines' ~ ( form_errors(educatorRegisterStudentForExperienceForm.studentUsers) ? ' uk-form-danger' : '' ) }}) }}
                                        <div class="clear"></div>
                                        {{ form_errors(educatorRegisterStudentForExperienceForm.studentUsers) }}
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <button class="uk-button uk-button-primary uk-button-small">Register Students</button>
                        </div>
                        {{ form_end(educatorRegisterStudentForExperienceForm) }}
                    {% else %}
                        <p>You have not added your students in your <a href="{{ path('profile_edit', {'id': user.id}) }}">profile</a> yet.</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
