{% extends 'baseAuthenticated.html.twig' %}

{#{% if educatorRegisterStudentForExperienceForm %}
    {% form_theme educatorRegisterStudentForExperienceForm with ['form/fields.html.twig'] %}
{% endif %}#}

{% block title %}View Company Experience{% endblock %}
{% block bodyClass %}page-company-experience-view{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/companies.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="uk-container">

        <div class="uk-section uk-section-muted">
            <div class="uk-padding">
                <h2 class="uk-margin-remove-bottom">{{ experience.company.name }}</h2>
                <h3 class="uk-margin-remove-top">{{ experience.title }}</h3>
                <h5>{{ experience.startDateAndTime|date("F jS \\a\\t g:ia") }} - {{ experience.endDateAndTime|date("F jS \\a\\t g:ia") }}</h5>
                {{ experience.about|raw }}
            </div>
        </div>

        <div class="uk-grid-small uk-flex-middle uk-margin" uk-grid>
            <div class="uk-width-expand">
                <div class="uk-align-right@l">
                    {% if user.isAdmin or ( user.company is defined and user.company.owner.id == user.id and user.company.id == experience.company.id ) %}
                        <a href="{{ path('company_experience_edit', {id: experience.id}) }}" class="uk-button uk-button-primary uk-button-small">Edit Event</a>
                        <form class="uk-inline" method="get" action="{{ path('company_experience_remove', {'id' : experience.id}) }}">
                            <button class="uk-button uk-button-danger uk-button-small" type="submit">Delete</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>

        <ul class="uk-tab" uk-switcher="connect: #tab-experience" uk-tab>
            <li class="uk-active"><a href="#experience-details">Experience</a></li>
            {% if experience.payment > 0 %}
                <li><a href="#experience-payment">Payment Info</a></li>
            {% endif %}
            {% if experience.experienceFiles|length %}
                <li><a href="#experience-attachments">Event Documents</a></li>
            {% endif %}
                <li><a href="#experience-contact">Contact</a></li>
            {% if user.isEducator or user.isStudent %}
                <li><a href="#experience-registration">Registration</a></li>
            {% endif %}
            {% if user.isAdmin or ( user.company is defined and user.company.owner.id == user.id and user.company.id == experience.company.id ) %}
                <li><a href="#experience-sign-ups">Sign Ups</a></li>
                <li><a href="#experience-feedback">Feedback</a></li>
            {% endif %}

        </ul>
        <div class="uk-switcher" id="tab-experience">
            <div class="experience_details">
                <table class="uk-table uk-table-justify uk-table-divider">
                    <tbody>
                        <tr>
                            <td>Title</td>
                            <td>{{ experience.title }}</td>
                        </tr>
                        <tr>
                            <td>Company</td>
                            <td>{{ experience.company.name }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ experience.briefDescription }}</td>
                        </tr>
                        <tr>
                            <td>Available Spaces</td>
                            <td>{{ experience.availableSpaces }}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>
                                <p>
                                    {{ experience.street }}<br />
                                    {{ experience.city }} {{ experience.state.name }}, {{ experience.zipcode }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>Start Time</td>
                            <td>{{ experience.startDateAndTime|date("F jS \\a\\t g:ia") }}</td>
                        </tr>
                        <tr>
                            <td>End Time</td>
                            <td>{{ experience.endDateAndTime|date("F jS \\a\\t g:ia") }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if experience.payment > 0 %}
                <div class="experience_payment">
                    <table class="uk-table uk-table-justify uk-table-divider">
                        <tbody>
                        <tr>
                            <td>Payment Amount</td>
                            <td>{{ experience.payment }}</td>
                        </tr>
                        <tr>
                            <td>Payment is Per</td>
                            <td>{{ experience.paymentShownIsPer }}</td>
                        </tr>
                        <tr>
                            <td>Available Spaces</td>
                            <td>{{ experience.availableSpaces }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if experience.experienceFiles|length %}
                <div class="experience_attachments">
                    <dl class="uk-description-list uk-description-list-divider">
                        {% for experienceResource in experience.experienceFiles %}
                            <div class="uk-grid uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <dt>{{ experienceResource.title }}</dt>
                                    <dd>{{ experienceResource.description }}</dd>
                                </div>
                                <div class="uk-width-auto">
                                    <a href="{{ asset(uploaded_asset(experienceResource.path)) }}" class="uk-button uk-button-default uk-button-small" target="_blank">View</a>
                                </div>
                            </div>
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}
            <div class="experience_contact">
                <table class="uk-table uk-table-justify uk-table-divider">
                    <tbody>
                    <tr>
                        <td>Event Coordinator</td>
                        <td>{{ experience.employeeContact.fullName }}
                            {% if user_can_chat_with_user( user, experience.employeeContact ) %}
                                <button class="uk-button uk-button-default uk-button-small uk-margin-small-left" data-message-user-id="{{ experience.employeeContact.id }}">Chat</button>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{ experience.email }}">{{ experience.email }}</a></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            <p>
                                {{ experience.street }}<br />
                                {{ experience.city }} {{ experience.state.name }}, {{ experience.zipcode }}
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% if user.isEducator or user.isStudent %}
                <div class="experience_registration">
                    {% if user.isEducator %}
                        {% if user.studentUsers|length > 0 %}
                            {{ form_start(educatorRegisterStudentForExperienceForm, {attr: {'novalidate' : 'novalidate'}}) }}
                            {% if form_errors(educatorRegisterStudentForExperienceForm) %}
                                <div class="uk-alert-danger" uk-alert>
                                    <a class="uk-alert-close" uk-close></a>
                                    <div>{{ form_errors(educatorRegisterStudentForExperienceForm) }}</div>
                                </div>
                            {% endif %}

                            <div class="page-company-edit__schools">
                                <div class="uk-width-xlarge">
                                    <fieldset class="uk-fieldset">
                                        <div class="uk-margin">
                                            {{ form_label(educatorRegisterStudentForExperienceForm.studentUsers, 'Students*') }} &nbsp;&nbsp;<a class="uk-link-muted" data-select-all="educator_register_students_for_experience_form[studentUsers][]">Select All</a>
                                            {{ form_widget(educatorRegisterStudentForExperienceForm.studentUsers, {'attr': {'class': 'uk-checkboxes uk-checkboxes-newlines' ~ ( form_errors(educatorRegisterStudentForExperienceForm.studentUsers) ? ' uk-form-danger' : '' ) }}) }}
                                            <div class="clear"></div>
                                            {{ form_errors(educatorRegisterStudentForExperienceForm.studentUsers) }}
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="uk-margin">
                                <button class="uk-button uk-button-primary uk-button-small">Register Students</button>
                            </div>
                            {{ form_end(educatorRegisterStudentForExperienceForm) }}
                        {% else %}
                            <p>You have not added your students in your <a href="{{ path('profile_edit', {'id': user.id}) }}">profile</a> yet.</p>
                        {% endif %}
                    {% endif %}

                    {% if user.isStudent %}
                        {% if user.educatorUsers|length > 0 %}
                            <p>Click below to tell your teacher about your interest in this event:</p>
                            {% for educator in user.educatorUsers %}
                                {% if user_can_chat_with_user( user, educator ) %}
                                    <button class="uk-button uk-button-default uk-button-small uk-margin-small-right" data-message-user-id="{{ educator.id }}" data-message="I am interested in {{ experience.title }} on {{ experience.startDateAndTime|date("F jS") }}">Chat with {{ educator.fullName }}</button>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p>No educators are linked to you yet.  Please speak directly with them about interest in this event.</p>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
            {% if user.isAdmin or ( user.company is defined and user.company.owner.id == user.id and user.company.id == experience.company.id ) %}
                <div class="experience_signups">
                    {% if experience.registrations|length > 0 %}
                        <table class="uk-table uk-table-divider">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>School</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for registration in experience.registrations %}
                                    <tr>
                                        <td>{{ registration.user.fullName }}</td>
                                        <td>{{ registration.user.school.name }}</td>
                                        <td>
                                            {% if registration.user.educator %}
                                                Educator &nbsp;&nbsp;&nbsp;
                                                {% if user_can_chat_with_user( user, registration.user ) %}
                                                    <button class="uk-button uk-button-default uk-button-small uk-margin-small-left uk-margin-small-right" data-message-user-id="{{ registration.user.id }}">Chat</button>
                                                {% endif %}
                                            {% else %}
                                                Student
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No Sign Ups yet - check your <a href="{{ path('requests') }}">requests view</a> for possible registrations</p>
                    {% endif %}
                </div>
                <div class="experience_feedback">
                    {% if experience.feedback|length > 0 %}
                        <div class="uk-overflow-auto">
                            <table class="uk-table uk-table-divider">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Rating</th>
                                    <th>Insight</th>
                                    <th>Enjoyable</th>
                                    <th>Learned</th>
                                    <th>Recommendation</th>
                                    <th>Feedback</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for feedback in experience.feedback %}
                                    <tr>
                                        <td class="uk-text-nowrap">{{ feedback.user.fullName }}</td>
                                        <td class="uk-text-nowrap">{{ feedback.rating }}</td>
                                        <td class="uk-text-nowrap">{{ feedback.providedCareerInsight == 1 ? "YES" : "NO" }}</td>
                                        <td class="uk-text-nowrap">{{ feedback.wasEnjoyableAndEngaging == 1 ? "YES" : "NO" }}</td>
                                        <td class="uk-text-nowrap">{{ feedback.learnSomethingNew == 1 ? "YES" : "NO" }}</td>
                                        <td class="uk-text-nowrap">{{ feedback.likelihoodToRecommendToFriend }}</td>
                                        <td>{{ feedback.additionalFeedback }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p>No feedback has been submitted yet.</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
