{% extends 'baseAuthenticated.html.twig' %}

{% block title %}View Company Experience{% endblock %}
{% block bodyClass %}page-company-experience-view{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/companies.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="uk-container">

        {% if experience.cancelled %}
            <div class="uk-alert-danger" uk-alert>
                <p>Experience has been cancelled.</p>
            </div>
        {% endif %}

        <div class="uk-section uk-section-muted">
            <div class="uk-padding">
                <h2 class="uk-margin-remove-bottom">{{ experience.company.name }}</h2>
                <h3 class="uk-margin-remove-top">{{ experience.title }}</h3>
                <h5>{{ experience.startDateAndTime|date("F jS \\a\\t g:ia") }} - {{ experience.endDateAndTime|date("F jS \\a\\t g:ia") }}</h5>
                {{ experience.about|raw }}

                {% for registration in user.getRegistrations %}
                  {% if registration.experience.id == experience.id %}
                  <div class="react-calendar-button"
                       data-event-start-time="{{ experience.startDateAndTimeTimeStamp }}"
                       data-event-end-time="{{ experience.endDateAndTimeTimeStamp }}"
                       data-title="{{ experience.title }}"
                       data-description="{{ experience.briefDescription }}"
                       data-location="{{ experience.getFormattedAddress }}"
                  ></div>
                  {% endif %}
                {% endfor %}

                {% if user.educator %}
                    <div id="educator_id">
                        <form class="uk-inline register_educator" method="post" action="{{ path('company_experience_educator_register', {'id' : experience.id}) }}">
                            <input type="hidden" name="userId" value="{{ user.id }}" />
                            {% if experience.isRegistered(user) and experience.educatorRegisterEducatorForCompanyExperienceRequests|length > 0 %}
                                <button class="uk-button uk-button-secondary uk-button-small disabled uk-margin-small-bottom" type="submit" disabled="disabled">Already Registered</button>
                            {% else %}
                                <button class="uk-button uk-button-secondary uk-button-small uk-margin-small-bottom" type="submit">Register Myself</button>
                            {% endif %}
                        </form>

                        <form class="uk-inline deregister_educator" method="post" action="{{ path('company_experience_educator_deregister', {'id' : experience.id}) }}">
                            <input type="hidden" name="userId" value="{{ user.id }}">
                            {% if experience.isRegistered(user) and experience.educatorRegisterEducatorForCompanyExperienceRequests|length > 0 %}
                                <button class="uk-button uk-button-danger uk-button-small disabled uk-margin-small-bottom" type="submit">Cancel Registration</button>
                            {% endif %}
                        </form>
                    </div>
                {% endif %}

                {% if user.schoolAdministrator %}
                    <div id="school_admin_id">                    
                        <form class="uk-inline register_school_admin" method="post" action="{{ path('company_experience_school_admin_register', {'id' : experience.id}) }}">
                            <input type="hidden" name="userId" value="{{ user.id }}" />
                            {% if experience.isRegistered(user) and experience.schoolAdminRegisterSAForCompanyExperienceRequests|length > 0 %}
                                <button class="uk-button uk-button-secondary uk-button-small disabled uk-margin-small-bottom" type="submit" disabled="disabled">Already Registered</button>
                            {% else %}
                                <button class="uk-button uk-button-secondary uk-button-small uk-margin-small-bottom" type="submit">Register Myself</button>
                            {% endif %}
                        </form>

                        <form class="uk-inline deregister_school_admin" method="post" action="{{ path('company_experience_school_admin_deregister', {'id' : experience.id}) }}">
                            <input type="hidden" name="userId" value="{{ user.id }}">
                            {% if experience.isRegistered(user) and experience.schoolAdminRegisterSAForCompanyExperienceRequests|length > 0 %}
                                <button class="uk-button uk-button-danger uk-button-small disabled uk-margin-small-bottom" type="submit">Cancel Registration</button>
                            {% endif %}
                        </form>
                    </div>
                {% endif %}

                {% if user.professional and experience.company.owner.id == user.id %}
                    <a class="uk-button uk-button-danger uk-button-small uk-margin-small-bottom" href="#live-feedback-url" uk-toggle>Live Feedback URL</a>
                    <br>
                    <div id="live-feedback-url" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h3>Live Feedback URL</h3>
                            <p>{{ url('experience_feedback', {'id' : experience.id}) }}</p>
                            <input style="display: none" id="feedback-url" type="text" value="{{ url('experience_feedback', {'id' : experience.id}) }}">

                            <button class="uk-button uk-button-danger" onclick="copyFeedbackUrl()" type="button">Copy</button>
                        </div>
                    </div>
                {% endif %}



            </div>
        </div>


        <div class="uk-grid-small uk-flex-middle uk-margin" uk-grid>
            <div class="uk-width-expand">
                <div class="uk-align-right@l">
                    <div style="display: inline-block" id="react-global-share"
                         data-user="{{ encode_user(user) }}"
                         data-message="Check out this upcoming experience: <a href='{{ absolute_url('company_experience_view', {id: experience.id}) }}'>{{ experience.title }}</a>">
                        Share this Experience
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-grid-small uk-flex-middle uk-margin" uk-grid>
            <div class="uk-width-expand">
                <div class="uk-align-right@l">

                   {# {% if not user.student %}
                        <div style="display: inline-block" class="react-global-share"
                             data-user="{{ encode_user(user) }}"
                             data-message="Check out this upcoming experience: <a href='{{ path('company_experience_view', {id: experience.id}) }}'>{{ experience.title }}</a>">
                            Share this Experience
                        </div>
                    {% endif %}#}

                    {% if user.isAdmin or ( user.company is defined and user.company and user.company.owner.id == user.id and user.company.id == experience.company.id ) %}
                        <a href="{{ path('company_experience_edit', {id: experience.id}) }}" class="uk-button uk-button-primary uk-button-small">Edit Experience</a>
                        <a class="uk-button uk-button-danger uk-button-small" href="#modal-remove-company-event" uk-toggle>Cancel Experience</a>

                        <div id="modal-remove-company-event" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <h3>Cancel Experience</h3>
                                <form class="uk-inline" method="get" action="{{ path('company_experience_remove', {'id' : experience.id}) }}">

                                    <label class="uk-form-label">Cancellation Message (this will be sent to all users currently registered to attend your experience):</label>

                                    <textarea class="uk-textarea" name="cancellationMessage" style="width: 100%"></textarea>

                                    <p>
                                        <button class="uk-button uk-button-default uk-modal-close" type="button">Close Window</button>
                                        <button class="uk-button uk-button-danger" type="submit">Cancel Experience</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    {% elseif user.isEducator and user.studentUsers|length > 0 %}
                        <a class="uk-button uk-button-primary uk-button-small" href="#modal-bulk-send-to-students" uk-toggle>Forward to your students</a>

                        <div id="modal-bulk-send-to-students" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <h3>Forward to your students</h3>
                                <form class="uk-inline" method="post" action="{{ path('company_experience_bulk_notify', {'id' : experience.id}) }}">

                                    <label class="uk-form-label">Select your students:</label>

                                    <div class="uk-form-controls">
                                        {% for studentUser in user.studentUsers %}
                                            <label class="uk-form-label">
                                                <input class="uk-checkbox" type="checkbox" name="students[]" value="{{ studentUser.id }}" />
                                                {{ studentUser.firstName }} {{ studentUser.lastName }}
                                            </label>
                                            <br />
                                        {% endfor %}
                                    </div>

                                    <label class="uk-form-label">Add a message to send to your students:</label>

                                    <textarea class="uk-textarea" name="message" style="width: 100%"></textarea>

                                    <p>
                                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                        <button class="uk-button uk-button-primary" type="submit">Send</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <ul class="uk-tab" uk-switcher="connect: #tab-experience" uk-tab>
            <li class="uk-active"><a href="#experience-details">Experience</a></li>
            {% if user.isStudent %}
            {% else %}
                {% if experience.payment > 0 %}
                    <li><a href="#experience-payment">Payment Info</a></li>
                {% endif %}
            {% endif %}
            {% if experience.experienceFiles|length %}
                <li><a href="#experience-attachments">Experience Documents</a></li>
            {% endif %}
                <li><a href="#experience-contact">Contact</a></li>
            {% if user.isEducator or user.isStudent %}
                <li><a href="#experience-registration">Registration</a></li>
            {% endif %}
            {% if user.isAdmin or ( user.company is defined and user.company and user.company.owner.id == user.id and user.company.id == experience.company.id ) %}
                <li><a href="#experience-sign-ups">Sign Ups</a></li>
            {% endif %}

        </ul>
        <div class="uk-switcher" id="tab-experience">
            <div class="experience_details">
                <table class="uk-table uk-table-justify uk-table-divider">
                    <tbody>
                        <tr>
                            <td>Title</td>
                            <td>{{ experience.title }}</td>
                        </tr>
                        <tr>
                            <td>Company</td>
                            <td>{{ experience.company.name }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ experience.briefDescription }}</td>
                        </tr>
                        <tr>
                            <td>Available Spaces (Once the company approves registrations this count will go down)</td>
                            <td>{{ experience.availableSpaces }}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>
                                <p>
                                    {{ experience.street }}<br />
                                    {{ experience.city }} {{ experience.state.name }}, {{ experience.zipcode }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>Start Time</td>
                            <td>{{ experience.startDateAndTime|date("F jS \\a\\t g:ia") }}</td>
                        </tr>
                        <tr>
                            <td>End Time</td>
                            <td>{{ experience.endDateAndTime|date("F jS \\a\\t g:ia") }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if experience.payment > 0 %}
                <div class="experience_payment">
                    <table class="uk-table uk-table-justify uk-table-divider">
                        <tbody>
                        <tr>
                            <td>Payment Amount</td>
                            <td>{{ experience.payment }}</td>
                        </tr>
                        <tr>
                            <td>Payment is Per</td>
                            <td>{{ experience.paymentShownIsPer }}</td>
                        </tr>
                        <tr>
                            <td>Available Spaces (Once the company approves registrations this count will go down)</td>
                            <td>{{ experience.availableSpaces }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if experience.experienceFiles|length %}
                <div class="experience_attachments">
                    <dl class="uk-description-list uk-description-list-divider">
                        {% for experienceResource in experience.experienceFiles %}
                            <div class="uk-grid uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <dt>{{ experienceResource.title }}</dt>
                                    <dd>{{ experienceResource.description }}</dd>
                                </div>
                                <div class="uk-width-auto">
                                    {% if experienceResource.linkToWebsite %}
                                        <a href="{{ experienceResource.linkToWebsite }}" class="uk-button uk-button-default uk-button-small" target="_blank">View</a>
                                    {% else %}
                                        <a href="{{ asset(uploaded_asset(experienceResource.path)) }}" class="uk-button uk-button-default uk-button-small" target="_blank">View</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}
            <div class="experience_contact">
                <table class="uk-table uk-table-justify uk-table-divider">
                    <tbody>
                    <tr>
                        <td>Experience Coordinator</td>
                        <td>
                            {% if experience.employeeContact and experience.employeeContact.fullName %}
                                {{ experience.employeeContact.fullName }}
                            {% endif %}

                            {% if experience.employeeContact and experience.employeeContact.fullName %}
                                {% if user_can_chat_with_user( user, experience.employeeContact ) %}
                                    <button class="uk-button uk-button-default uk-button-small uk-margin-small-left" data-message-user-id="{{ experience.employeeContact.id }}">Chat</button>
                                {% endif %}
                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{ experience.email }}">{{ experience.email }}</a></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            <p>
                                {{ experience.street }}<br />
                                {{ experience.city }} {{ experience.state.name }}, {{ experience.zipcode }}
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% if user.isEducator or user.isStudent %}
                <div class="experience_registration">
                    {% if user.isEducator %}
                        {% if user.studentUsers|length > 0 %}

                            <table class="uk-table uk-table-justify uk-table-divider">
                                <tbody>
                                <tr>
                                    <th>Student</th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                                {% for studentUser in user.activeStudentUsers %}
                                    <tr>
                                        <td>{{ studentUser.fullName }}</td>
                                        <td id="student_{{ studentUser.id }}">
                                            {% set showPendingRegisterButton = true %}
                                            {% for request in experience.educatorRegisterStudentForCompanyExperienceRequests %}
                                                  {% if request.studentUser %}
                                                      {% if request.studentUser.id == studentUser.id %}
                                                          {% if request.approved %}
                                                              Approved
                                                              {% set showPendingRegisterButton = false %}
                                                              {% elseif request.denied %}
                                                                  Denied
                                                                  {% set showPendingRegisterButton = false %}
                                                              {% else %}
                                                                  Pending
                                                                  {% set showPendingRegisterButton = false %}
                                                          {% endif %}
                                                      {% else %}
                                                      {% endif %}
                                                  {% endif %}
                                            {% endfor %}
                                            {% if showPendingRegisterButton == true %}
                                                <form class="uk-inline register" action="{{ path('company_experience_student_register', { "id": experience.id }) }}" method="POST">
                                                    <input type="hidden" name="studentId" value="{{ studentUser.id }}">
                                                    <button class="uk-button uk-button-primary uk-button-small uk-margin-small-right" type="submit">Register</button>
                                                </form>
                                            {% endif %}
                                            {% if showPendingRegisterButton == false %}
                                                <form class="uk-inline deregister" action="{{ path('company_experience_student_deregister', { "id": experience.id }) }}" method="POST">
                                                    <input type="hidden" name="studentId" value="{{ studentUser.id }}">
                                                    <button class="uk-button uk-button-danger uk-button-small uk-margin-small-right" type="submit">Cancel</button>
                                                </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>You have not added your students in your <a href="{{ path('profile_edit', {'id': user.id}) }}">profile</a> yet.</p>
                        {% endif %}
                    {% endif %}

                    {% if user.isStudent %}
                        {% if user.educatorUsers|length > 0 %}
                            <p>Click below to tell your teacher about your interest in this experience:</p>
                            {% for educator in user.educatorUsers %}
                                {% if user_can_chat_with_user( user, educator ) %}
                                    <button class="uk-button uk-button-default uk-button-small uk-margin-small-right" data-message-user-id="{{ educator.id }}" data-message="I am interested in {{ experience.title }} on {{ experience.startDateAndTime|date("F jS") }}">Chat with {{ educator.fullName }}</button>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p>No educators are linked to you yet.  Please speak directly with them about interest in this experience.</p>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
            {% if user.isAdmin or ( user.company is defined and user.company and user.company.owner.id == user.id and user.company.id == experience.company.id ) %}
                <div class="experience_signups">
                    {% if experience.registrations|length > 0 %}
                        <table class="uk-table uk-table-divider">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>School</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for registration in experience.registrations %}
                                    <tr>
                                        <td>{{ registration.user.fullName }}</td>
                                        <td>
                                            {% if registration.user.professional %}
                                                {% if registration.user.company %}
                                                    {{ registration.user.company.name }}
                                                {% endif %}
                                            {% elseif registration.user %}
                                                {{ registration.user.school.name }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if registration.user.educator %}
                                                Educator &nbsp;&nbsp;&nbsp;
                                                {% if user_can_chat_with_user( user, registration.user ) %}
                                                    <button class="uk-button uk-button-default uk-button-small uk-margin-small-left uk-margin-small-right" data-message-user-id="{{ registration.user.id }}">Chat</button>
                                                {% endif %}
                                            {% elseif registration.user.professional %}
                                                Professional
                                            {% else %}
                                                Student
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No Sign Ups yet - check your <a href="{{ path('requests') }}">requests view</a> for possible registrations</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        // Student Registering

        $(document).on('submit', '.register', function(e){
          var student_id = $(this).children().first().val();
          e.preventDefault();
          $.post( $(this).attr('action'), { studentId: student_id }, function(data){
            if(data.status === "success") {
                if(data.approval === true) {
                    $('#student_' + student_id).html( 'Pending <form class="uk-inline deregister" action="{{ path('company_experience_student_deregister', { "id": experience.id }) }}" method="POST"><input type="hidden" name="studentId" value="' + data.student_id + '"><button class="uk-button uk-button-danger uk-button-small uk-margin-small-right" type="submit">Cancel</button></form>' );
                } else {
                    $('#student_' + student_id).html( 'Approved <form class="uk-inline deregister" action="{{ path('company_experience_student_deregister', { "id": experience.id }) }}" method="POST"><input type="hidden" name="studentId" value="' + data.student_id + '"><button class="uk-button uk-button-danger uk-button-small uk-margin-small-right" type="submit">Cancel</button></form>' );
                    // send completion request
                    $.post('/dashboard/requests/' + data.request_id + '/approve', { 'request': data.request_id }, function(data){});
                }
            }
          });
        });

        $(document).on('submit', '.deregister', function(e){
          var student_id = $(this).children().first().val();
          e.preventDefault();
          $.post( $(this).attr('action'), { studentId: student_id }, function(data){
            if(data.status === "success") {
              $('#student_' + student_id).html( '<form class="uk-inline register" action="{{ path('company_experience_student_register', { "id": experience.id }) }}" method="POST"><input type="hidden" name="studentId" value="' + data.student_id + '"><button class="uk-button uk-button-primary uk-button-small uk-margin-small-right" type="submit">Register</button></form>' );
            }
          });
        });


        // Educator Registering

        $(document).on('submit', '.register_educator', function(e){
          var educator_id = $(this).children().first().val();
          e.preventDefault();
          $.post( $(this).attr('action'), { educatorId: educator_id }, function(data){
            if(data.status === "success") {
                if(data.approval === true) {
                    $('#educator_id').html( 'Pending <form class="uk-inline deregister_educator" action="{{ path('company_experience_educator_deregister', { "id": experience.id }) }}" method="POST"><input type="hidden" name="educatorId" value="' + data.educator_id + '"><button class="uk-button uk-button-danger uk-button-small uk-margin-small-right" type="submit">Cancel</button></form>' );
                } else {
                    $('#educator_id').html( '<form class="uk-inline" method="post" action="#"><button class="uk-button uk-button-secondary uk-button-small disabled" type="submit" disabled="disabled">Already Registered</button></form> <form class="uk-inline deregister_educator" action="{{ path('company_experience_educator_deregister', { "id": experience.id }) }}" method="POST"><input type="hidden" name="educatorId" value="' + data.educator_id + '"><button class="uk-button uk-button-danger uk-button-small uk-margin-small-right" type="submit">Cancel Registration</button></form>' );
                    // send completion request
                    $.post('/dashboard/requests/' + data.request_id + '/approve', { 'request': data.request_id }, function(data){});
                }
            }
          });
        });

        $(document).on('submit', '.deregister_educator', function(e){
          var educator_id = $(this).children().first().val();
          e.preventDefault();
          $.post( $(this).attr('action'), { educatorId: educator_id }, function(data){
            if(data.status === "success") {
              $('#educator_id').html( '<form class="uk-inline register_educator" action="{{ path('company_experience_educator_register', { "id": experience.id }) }}" method="POST"><input type="hidden" name="educatorId" value="' + data.educator_id + '"><button class="uk-button uk-button-secondary uk-button-small uk-margin-small-right" type="submit">Register Myself</button></form>' );
            }
          });
        });


        // School Admin Registering

        $(document).on('submit', '.register_school_admin', function(e){
          var school_admin_id = $(this).children().first().val();
          e.preventDefault();
          $.post( $(this).attr('action'), { schoolAdminId: school_admin_id }, function(data){
            if(data.status === "success") {
                if(data.approval === true) {
                    $('#school_admin_id').html( 'Pending <form class="uk-inline deregister_school_admin" action="{{ path('company_experience_school_admin_deregister', { "id": experience.id }) }}" method="POST"><input type="hidden" name="schoolAdminId" value="' + data.school_admin_id + '"><button class="uk-button uk-button-danger uk-button-small uk-margin-small-right" type="submit">Cancel</button></form>' );
                } else {
                    $('#school_admin_id').html( '<form class="uk-inline" method="post" action="#"><button class="uk-button uk-button-secondary uk-button-small disabled" type="submit" disabled="disabled">Already Registered</button></form> <form class="uk-inline deregister_school_admin" action="{{ path('company_experience_school_admin_deregister', { "id": experience.id }) }}" method="POST"><input type="hidden" name="schoolAdminId" value="' + data.school_admin_id + '"><button class="uk-button uk-button-danger uk-button-small uk-margin-small-right" type="submit">Cancel Registration</button></form>' );
                    // send completion request
                    $.post('/dashboard/requests/' + data.request_id + '/approve', { 'request': data.request_id }, function(data){});
                }
            }
          });
        });

        $(document).on('submit', '.deregister_school_admin', function(e){
          var school_admin_id = $(this).children().first().val();
          e.preventDefault();
          $.post( $(this).attr('action'), { schoolAdminId: school_admin_id }, function(data){
            if(data.status === "success") {
              $('#school_admin_id').html( '<form class="uk-inline register_school_admin" action="{{ path('company_experience_school_admin_register', { "id": experience.id }) }}" method="POST"><input type="hidden" name="schoolAdminId" value="' + data.school_admin_id + '"><button class="uk-button uk-button-secondary uk-button-small uk-margin-small-right" type="submit">Register Myself</button></form>' );
            }
          });
        });


        function fallbackCopyTextToClipboard(text) {
            var textArea = document.createElement("textarea");
            textArea.value = text;

            // Avoid scrolling to bottom
            textArea.style.top = "0";
            textArea.style.left = "0";
            textArea.style.position = "fixed";

            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                console.log('Fallback: Copying text command was ' + msg);
            } catch (err) {
                console.error('Fallback: Oops, unable to copy', err);
            }

            document.body.removeChild(textArea);
        }
        function copyTextToClipboard(text) {
            if (!navigator.clipboard) {
                fallbackCopyTextToClipboard(text);
                return;
            }
            navigator.clipboard.writeText(text).then(function() {
                console.log('Async: Copying to clipboard was successful!');
            }, function(err) {
                console.error('Async: Could not copy text: ', err);
            });
        }


        function copyFeedbackUrl() {
            var feedbackUrl = document.getElementById("feedback-url");
            copyTextToClipboard(feedbackUrl.value);
            window.alert("Url " + feedbackUrl.value + " copied to clipboard.");
        }

    </script>


{% endblock %}
