<div>
    <p>
        You have made a request to create a new company {{ request.company.name }}
    </p>

    <p>{{ request.company.emailAddress }}</p>
    <p>{{ request.company.website }}</p>
    <p>{{ request.company.phone }}</p>
    <p>{{ request.company.primaryIndustry.name }}</p>

    <p>Status: {% if request.approved %}Approved{% else %}Pending Approval{% endif %}</p>
</div>