{% extends 'baseAuthenticated.html.twig' %}

{% form_theme form with _self %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/experience.js') }}"></script>
{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
 {% endblock %}

{% block title %}Edit Experience{% endblock %}

{% block body %}

    <div class="uk-container js-form">

        <div uk-grid>
            <div class="uk-width-1-1 uk-width-medium@m">
                <ul id="test" class="uk-tab-left"
                    uk-tab="connect: #tab-account-inner; animation: uk-animation-fade">
                    <li><a href="#experience-details" id="experience-details">Edit Experience</a></li>
                    {% if experience.isRecurring %}
                        <li><a href="#experience-schedule" id="experience-schedule">Schedule</a></li>
                    {% endif %}
                    <li><a href="#experience-attachments" id="experience-attachments">Attachments</a>
                </ul>
            </div>
            <div class="uk-width-1-1 uk-width-expand@m">
                <div id="tab-account-inner" class="uk-switcher">

                    <div class="experience_details">
                        {% if experience.isRecurring and experience.childEvents|length %}
                            <div class="experience_schedule">
                                <div uk-alert>
                                    <a class="uk-alert-close" uk-close></a>
                                    <h3>Please note:</h3>
                                    <dl class="uk-description-list">
                                        <dt>Any edits made here will not automatically be visible on future recurring experiences.</dt>
                                        <dd>To ensure your new information is also visible for future dates, make sure you select `Save Schedule` on the schedule tab.</dd>
                                    </dl>
                                </div>
                            </div>
                        {% endif %}
                        {% include 'experience/partials/_form.html.twig' %}
                    </div>

                    {% if experience.isRecurring %}
                        <div class="experience_schedule" style="position: relative">
                            <h2>Schedule</h2>
                            <div uk-alert>
                                <a class="uk-alert-close" uk-close></a>
                                <h3>Helpful Notes:</h3>

                                <dl class="uk-description-list">
                                    <dt>Will modifying the recurring event schedule affect past events or upcoming events with registrations?</dt>
                                    <dd>Changing the recurring event schedule will NOT affect past events or upcoming events with registrations.</dd>
                                    <dt>How do I make changes to a single event in the recurring event schedule without affecting all of the events?</dt>
                                    <dd>After you have set a schedule, click on any event in the calendar shown below to preview, modify, or delete that specific individual event.</dd>
                                </dl>
                            </div>
                            <div id="react-events-schedule" data-schedule="{{ experience.schedule|json_encode }}" data-render-calendar="true" data-experience="{{ experience.id }}"></div>
                        </div>
                    {% endif %}

                    <div class="js-resource-component experience_attachments">
                        <div class="uk-width-xlarge">
                            <p>Resources are meant to provide any additional material for your attendees.</p>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-text-center uk-placeholder">
                                <button data-url="{{ path('api_resource_new', {experienceId: experience.id}) }}"
                                        class="uk-button uk-button-default uk-button-small js-add-resource-button"
                                        type="button">Add a Resource
                                </button>

                                <div id="js-resource-component-modal" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body">
                                        {# ADD RESOURCE HERE FROM AJAX REQUEST #}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="js-resource-list-container" id="experienceResources">
                                {% for experienceResource in experience.experienceResources %}
                                    <div id="resource-{{ experienceResource.id }}" class="uk-grid uk-flex-middle"
                                         uk-grid>
                                        <div class="uk-width-expand">
                                            <dt>{{ experienceResource.title }}</dt>
                                            <dd>{{ experienceResource.description }}</dd>
                                        </div>
                                        <div class="uk-width-auto">
                                            {% if experienceResource.fileName %}
                                                <a href="{{ asset(uploaded_asset(experienceResource.path)) }}"
                                                   class="uk-button uk-button-default uk-button-small view" download>View</a>
                                            {% else %}
                                                <a href="{{ experienceResource.linkToWebsite }}"
                                                   class="uk-button uk-button-default uk-button-small view"
                                                   target="_blank view">View</a>
                                            {% endif %}
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="javascript:void(0)"
                                               data-url="{{ path('api_resource_edit', {'id' : experienceResource.id }) }}?experienceId={{ experience.id }}"
                                               class="uk-button uk-button-default uk-button-small js-edit-resource-button">Edit</a>
                                        </div>
                                        <button class="js-delete-resource-button" type="button"
                                                data-url="{{ path('api_resource_delete', {'id' : experienceResource.id }) }}"
                                                uk-close></button>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
