{% extends 'baseAuthenticated.html.twig' %}

{% block title %}View School Experience{% endblock %}
{% block bodyClass %}page-school-experience-view{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/experience_view.js') }}"></script>
{% endblock %}

{% block body %}

    {# SHARE EXPERIENCE OFF CANVAS #}
    <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-large">

            <div>
                <h3>Share Experience</h3>
                <button class="uk-offcanvas-close" type="button" uk-close></button>
            </div>

            <div id="react-global-share"
                 data-user="{{ encode_user(user) }}"
                 data-experience="{{ experience.id }}"
                 data-message="Check out this upcoming experience: <a href='{{ url('experience_view', {id: experience.id}) }}'>{{ experience.title }}</a>">
                Share this Experience
            </div>
        </div>
    </div>


    <div class="uk-container">

        <div class="uk-section-muted uk-text-center">
            <div class="uk-padding" style="position: relative">

                <h2 class="uk-margin-remove-bottom" style="font-weight: bold">{{ experience.title }}</h2>
                <br>

                {# <span class="uk-label uk-label-success">Number of current registrations: {{ experience.registrations|length }}</span> #}

                {% if experience.isSchoolExperience %}
                    <h3 class="uk-margin-remove-top">Coordinated By: {{ experience.school.name }}</h3>
                {% endif %}

                {% if experience.isCompanyExperience %}
                    <h3 class="uk-margin-remove-top">Coordinated By: {{ experience.company.name }}</h3>
                {% endif %}

                {# non recurring event #}
                {% if experience.isRecurring is same as(false) and experience.startDateAndTime and experience.endDateAndTime %}
                    <h5 style="{{ experience.cancelled ? 'text-decoration: line-through' : '' }}">
                        {{ experience.startDateAndTime|date("F jS Y \\a\\t g:ia") }}
                        - {{ experience.endDateAndTime|date("F jS Y \\a\\t g:ia") }}
                    </h5>
                {% endif %}

                {% if experience.isRecurring %}
                    <h5 class="uk-text-bold">Upcoming Events:</h5>

                    {% if experience.upcomingChildEvents|length %}
                        <div class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1" uk-slider>
                            <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
                                {% for childEvent in experience.upcomingChildEvents %}
                                    <li style="{{ childEvent.cancelled ? 'text-decoration: line-through' : '' }}">
                                        <a style="text-decoration: underline" target="_blank"
                                           href="{{ path('experience_view', {id: childEvent.id}) }}">{{ childEvent.startDateAndTime|date("F jS Y \\a\\t g:ia") }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <a class="uk-position-center-left uk-slidenav-large" href="#"
                               uk-slidenav-previous uk-slider-item="previous"></a>
                            <a class="uk-position-center-right uk-slidenav-large" href="#" uk-slidenav-next
                               uk-slider-item="next"></a>
                        </div>
                    {% else %}
                        {% if authorizationVoter.canEditExperience(user, experience) %}
                            <p style="font-style: italic">There are no upcoming events scheduled. <a target="_blank"
                                                                                                     href="{{ path('experience_edit', {id: experience.id}) }}">Click
                                    here to setup
                                    your recurring event schedule</a></p>
                        {% else %}
                            <p style="font-style: italic">There are no upcoming events scheduled.</p>
                        {% endif %}
                    {% endif %}

                {% endif %}



                {{ experience.about|customStripTags|raw }}

                {% if experience.cancelled %}
                    <div class="uk-alert-danger" uk-alert>
                        <p style="font-weight: bold">Experience has been cancelled. Please reach out to the experience
                            coordinator for any further questions.</p>
                    </div>
                {% endif %}

                <hr>

                {# REGISTER FOR EXPERIENCE #}
                {% set registration = get_user_registered_for_experience(user, experience) %}

                {% if registration and registration.approved %}

                    {% if experience.isRecurring is same as(false) and experience.isExpired is same as(false) %}
                        <div class="uk-alert-success" uk-alert>
                            <p style="font-weight: bold">You are registered for this event. Please reach out to the
                                experience coordinator for any further questions</p>
                        </div>
                    {% endif %}

                    {% if authorizationVoter.canUnregisterForExperience(user, experience) %}
                        <a class="uk-button uk-button-xl uk-button-danger uk-margin"
                           href="{{ path('experience_unregister', {'id': experience.id}) }}">Unregister
                            For
                            Experience</a>
                    {% endif %}

                {% endif %}

                {% if registration and registration.status == constant('App\\Entity\\Request::REQUEST_STATUS_PENDING') %}
                    <div class="uk-alert-primary" uk-alert>
                        <p style="font-weight: bold">{{ registration.statusLabel }} Please reach out to the experience
                            coordinator for any
                            further
                            questions.</p>
                    </div>
                {% endif %}

                {% if registration and registration.status == constant('App\\Entity\\Request::REQUEST_STATUS_DENIED') %}
                    <div class="uk-alert-danger" uk-alert>
                        <p style="font-weight: bold">{{ registration.statusLabel }} Please reach out to the experience
                            coordinator for any
                            further
                            questions.</p>
                    </div>
                {% endif %}

                {% if experience.isRecurring is same as(false) and experience.endDateAndTime and experience.endDateAndTime < date() %}
                    <div class="uk-alert-danger" uk-alert>
                        <p style="font-weight: bold">This is a past event and can no longer be registered for. Please
                            reach out to the experience coordinator for any further questions.</p>
                    </div>
                {% endif %}

                {# REGISTER EXPERIENCE #}
                {% if authorizationVoter.canRegisterForExperience(user, experience) %}
                    <a class="uk-button uk-button-xl uk-button-primary uk-margin"
                       href="{{ path('experience_register', {'id': experience.id}) }}">Register For
                        Experience</a>
                {% else %}

                    {% set errorMessage = authorizationVoter.cannotRegisterForExperienceError(user, experience) %}

                    {% if errorMessage %}
                        <div class="uk-alert-danger" uk-alert>
                            <p style="font-weight: bold">{{ errorMessage }}</p>
                        </div>
                    {% endif %}

                {% endif %}

                {# SHARE EXPERIENCE #}
                {% if authorizationVoter.canRegisterForExperience(user, experience) %}
                    <button class="uk-button uk-button-primary uk-button-xl uk-margin" type="button"
                            uk-toggle="target: #offcanvas-flip">Share Experience
                    </button>
                {% endif %}

                {# ADD TO CALENDAR #}
                {% if authorizationVoter.canAddExperienceToCalendar(user, experience) %}
                    <div class="react-calendar-button uk-inline"
                         data-event-start-time="{{ experience.startDateAndTimeTimeStamp }}"
                         data-event-end-time="{{ experience.endDateAndTimeTimeStamp }}"
                         data-title="{{ experience.title }}"
                         data-description="{{ experience.briefDescription }}"
                         data-location="{{ experience.getFormattedAddress }}"
                    ></div>
                {% endif %}

                {% if authorizationVoter.canRegisterStudentsForExperience(user, experience) %}
                    <a class="uk-button uk-button-xl uk-button-primary uk-margin"
                       href="{{ path('students_manage_entry', {'event-register': experience.id}) }}">Register
                        Students</a>
                {% endif %}

                {# EDIT/CANCEL EXPERIENCE #}
                {% if authorizationVoter.canEditExperience(user, experience) %}

                    <button class="uk-button uk-button-primary" type="button">Manage Experience</button>
                    <div uk-dropdown class="uk-text-left">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a target="_blank" href="{{ path('experience_edit', {id: experience.id}) }}">Edit
                                    Experience</a></li>

                            {% if authorizationVoter.canCancelExperience(user, experience) %}
                                <li><a href="#modal-cancel-event-{{ experience.id }}" uk-toggle>Cancel Experience</a>
                                </li>
                            {% endif %}

                            {% if authorizationVoter.canDeleteExperience(user, experience) %}
                                <li><a href="#modal-delete-event-{{ experience.id }}" uk-toggle>Delete Experience</a>
                                </li>
                            {% endif %}

                            <li><a href="#live-feedback-url-modal" uk-toggle>Copy Feedback URL</a></li>

                            {% if experience.isRecurring is same as(false) %}
                                <li><a href="{{ path('experience_registrations', {id: experience.id}) }}">View
                                        Registrations</a></li>
                            {% endif %}
                        </ul>
                    </div>

                    {% if authorizationVoter.canCancelExperience(user, experience) %}
                        {% include 'experience/partials/_cancelModal.html.twig' %}
                    {% endif %}

                    {% if authorizationVoter.canDeleteExperience(user, experience) %}
                        {% include 'experience/partials/_deleteModal.html.twig' %}
                    {% endif %}


                    {% include 'experience/partials/_liveFeedbackModal.html.twig' %}

                {% endif %}

                <a class="uk-button uk-button-xl uk-button-primary uk-margin"
                   href="{{ path('feedback_v2_new', {'uuid': experience.uuid}) }}" target="_blank">Give
                    Feedback</a>

                <hr>

            </div>

        </div>


        <div class="uk-section-default uk-text-center">
            <div class="uk-padding">

                <dl class="uk-description-list">
                    <dt>Location</dt>
                    <dd><a style="text-decoration: underline; font-weight: bold"
                           href="http://maps.google.com/?q={{ experience.formattedAddress }}"
                           target="_blank">{{ experience.formattedAddress }}</a></dd>
                    <dd>
                        <a style="text-decoration: underline; font-weight: bold"
                           href="http://maps.google.com/?q={{ experience.formattedAddress }}" target="_blank">Get
                            Directions
                            to Event</a>
                    </dd>

                    {% if experience.coordinator %}
                        <dt>Experience Coordinator</dt>
                        <dd>
                            <a style="text-decoration: underline; font-weight: bold"
                               href="mailto:{{ experience.coordinator.email }}">{{ experience.coordinator.fullName }}</a>
                        </dd>
                        <dd>
                            <a style="text-decoration: underline; font-weight: bold"
                               href="mailto:{{ experience.coordinator.email }}">{{ experience.coordinator.email }}</a>
                        </dd>
                    {% endif %}

                    {% if experience.isRecurring is same as(false) %}
                        <dt>Number of Registrations</dt>

                        {% if experience.registrations|length == 1 %}
                            <dd>There is <strong>1</strong> person registered for this event!</dd>
                        {% elseif experience.registrations|length > 1 %}
                            <dd>There are <strong>{{ experience.registrations|length }}</strong> people registered for
                                this
                                event!
                            </dd>
                        {% else %}
                            <dd>No one has registered for this event. Be among the <strong>first</strong> to register!
                            </dd>
                        {% endif %}
                    {% endif %}

                    {% if experience.tags|length %}
                        <dt>Tags</dt>
                        {% for tag in experience.tags %}
                            <span class="uk-badge">{{ tag.name }}</span>
                        {% endfor %}
                    {% endif %}
                </dl>
            </div>
        </div>

        {# GOOGLE MAP #}
        <div class="uk-section-default">
            {% if experience.latitude and experience.longitude %}
                <div class="company__location">
                    {# <p><a class="uk-button uk-button-primary uk-button-small"
                      href="http://maps.google.com/?q={{ experience.street }},{{ experience.city }},{{ experience.zipcode }}"
                      target="_blank">Directions to Event</a></p> #}
                    <div class="react-google-map" data-latitude="{{ experience.latitude }}"
                         data-longitude="{{ experience.longitude }}"
                         data-experiences="{{ encode_experiences([experience]) }}"
                         data-marker-icon="{{ experience.mapMarkerIcon }}"
                    ></div>
                </div>
            {% endif %}
        </div>

        {# RESOURCES #}
        {% if experience.experienceResources|length %}
            <hr class="uk-divider-icon uk-margin-large-top">
            {% include 'experience/partials/_eventMaterial.html.twig' %}
        {% endif %}


         {#<hr class="uk-divider-icon uk-margin-large-top">
        {% include 'experience/partials/_feedback.html.twig' %}#}

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>

        $(document).on("click", "#toggle-feedback", function (e) {
            e.preventDefault();
            var val = $(this).data('value');
            var user = $(this).data('user');
            $.post('{{ path('toggle_school_feedback_view', { "id": experience.id }) }}', {
                val: val,
                user: user
            }, function (data) {
                if (data.status == "success") {
                    if (data.canView == 1) {
                        $("#view_feedback").html('<a href="#" id="toggle-feedback" data-value="0" data-user="' + user + '" class="uk-button uk-button-primary uk-button-small">Yes</a>');
                    } else {
                        $("#view_feedback").html('<a href="#" id="toggle-feedback" data-value="1" data-user="' + user + '" class="uk-button uk-button-danger uk-button-small">No</a>');
                    }
                }
            });
        });

        function fallbackCopyTextToClipboard(text) {
            var textArea = document.createElement("textarea");
            textArea.value = text;

            // Avoid scrolling to bottom
            textArea.style.top = "0";
            textArea.style.left = "0";
            textArea.style.position = "fixed";

            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                console.log('Fallback: Copying text command was ' + msg);
            } catch (err) {
                console.error('Fallback: Oops, unable to copy', err);
            }

            document.body.removeChild(textArea);
        }

        function copyTextToClipboard(text) {
            if (!navigator.clipboard) {
                fallbackCopyTextToClipboard(text);
                return;
            }
            navigator.clipboard.writeText(text).then(function () {
                console.log('Async: Copying to clipboard was successful!');
            }, function (err) {
                console.error('Async: Could not copy text: ', err);
            });
        }


        function copyFeedbackUrl() {
            var feedbackUrl = document.getElementById("feedback-url");
            copyTextToClipboard(feedbackUrl.value);
            window.alert("Url " + feedbackUrl.value + " copied to clipboard.");
        }

    </script>

{% endblock %}
