{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Edit Region{% endblock %}
{% block bodyClass %}page-state-coordinator{% endblock %}

{% block body %}
    <div class="uk-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-1">

                <div class="uk-width-xlarge">

                    {% include 'flash/messages.html.twig' %}

                    <h3>Edit Region</h3>

                    {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

                    {% if form_errors(form) %}
                        <div class="uk-alert-danger" uk-alert>
                            <a class="uk-alert-close" uk-close></a>
                            <div>{{ form_errors(form) }}</div>
                        </div>
                    {% endif %}

                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            {{ form_label(form.name, 'Name*') }}
                            {{ form_widget(form.name, {'attr': {'class': 'uk-input' ~ ( form_errors(form.name) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.friendlyName, 'Friendly Name*') }}
                            {{ form_widget(form.friendlyName, {'attr': {'class': 'uk-input' ~ ( form_errors(form.friendlyName) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.friendlyName) }}
                        </div>
                        <div class="uk-margin">
                            <button class="uk-button uk-button-primary uk-button-small">Save Region</button>
                        </div>
                    </fieldset>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
