{% extends 'baseAuthenticated.html.twig' %}

{% form_theme form _self %}

{% block title %}Edit School{% endblock %}

{% block body %}
    {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}
    {% if form_errors(form) %}
        {{ form_errors(form) }}
    {% endif %}
    {{ form_row(form.name) }}
    {{ form_row(form.address) }}
    {{ form_row(form.email) }}
    {{ form_row(form.overviewAndBackground) }}


    {{ form_label(form.videos.name, 'Name*') }}
    {{ form_widget(form.videos.name, {'attr': {'class': 'uk-input' ~ ( form_errors(form.videos.name) ? ' uk-form-danger' : '' ) }}) }}
    {{ form_errors(form.videos.name) }}

    {{ form_label(form.videos.videoId, 'Youtube Video ID*') }}
    {{ form_widget(form.videos.videoId, {'attr': {'class': 'uk-input' ~ ( form_errors(form.videos.videoId) ? ' uk-form-danger' : '' ) }}) }}
    {{ form_errors(form.videos.videoId) }}

    {% if school.schoolVideos|length > 0 %}
        <div class="uk-margin">
            <h4>Current Videos</h4>
            <div class="uk-child-width-1-3@m" uk-grid="masonry: true" uk-lightbox="animation: slide; video-autoplay: 1">
                {% for video in school.schoolVideos %}
                    <div>
                        <a class="uk-inline" href="https://www.youtube.com/watch?v={{ video.videoId }}">
                            <img src="http://i.ytimg.com/vi/{{ video.videoId }}/hqdefault.jpg" alt="">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <input type="submit" value="Update School">
    {{ form_end(form) }}
{% endblock %}
