{% extends 'baseAuthenticated.html.twig' %}

{% form_theme form _self %}

{% block title %}Edit School{% endblock %}
{% block bodyClass %}page-school-edit{% endblock %}

{% block body %}


    <div class="uk-container">

        {% include 'flash/messages.html.twig' %}

        {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

        <ul class="uk-tab" uk-switcher="connect: #tab-edit-school" uk-tab>
            <li class="uk-active"><a href="#school-details">Edit School</a></li>
            <li><a href="#school-photos">Photos</a></li>
            <li><a href="#school-videos">Videos</a></li>
            <li><a href="#school-resources">Resources</a></li>
        </ul>

        {% if form_errors(form) %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <div>{{ form_errors(form) }}</div>
            </div>
        {% endif %}

        <div class="uk-switcher" id="tab-edit-school">
            <div class="page-school-edit__details">
                <div class="uk-width-xlarge">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            {{ form_label(form.name, 'Name*') }}
                            {{ form_widget(form.name, {'attr': {'class': 'uk-input' ~ ( form_errors(form.name) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.email, 'Email*') }}
                            {{ form_widget(form.email, {'attr': {'class': 'uk-input' ~ ( form_errors(form.email) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.overviewAndBackground, 'Overview and Background*') }}
                            <div data-wysiwyg="[name='edit_school[overviewAndBackground]']" class="{{ ( form_errors(form.overviewAndBackground) ? 'wysiwyg-error' : '' ) }}"></div>
                            <div style="display: none;">
                                {{ form_widget(form.overviewAndBackground) }}
                            </div>
                            {{ form_errors(form.overviewAndBackground) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.street, 'Street*') }}
                            {{ form_widget(form.street, {'attr': {'class': 'uk-input' ~ ( form_errors(form.street) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.street) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.city, 'City*') }}
                            {{ form_widget(form.city, {'attr': {'class': 'uk-input' ~ ( form_errors(form.city) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.city) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.state, 'State*') }}
                            {{ form_widget(form.state, {'attr': {'class': 'uk-input' ~ ( form_errors(form.state) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.state) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.zipcode, 'Zip*') }}
                            {{ form_widget(form.zipcode, {'attr': {'class': 'uk-input' ~ ( form_errors(form.zipcode) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.zipcode) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.schoolLinkedinPage, 'School LinkedIn Page') }}
                            {{ form_widget(form.schoolLinkedinPage, {'attr': {'class': 'uk-input' ~ ( form_errors(form.schoolLinkedinPage) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.schoolLinkedinPage) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.website, 'Website*') }}
                            {{ form_widget(form.website, {'attr': {'class': 'uk-input' ~ ( form_errors(form.website) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.website) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.phone, 'Phone*') }}
                            {{ form_widget(form.phone, {'attr': {'class': 'uk-input' ~ ( form_errors(form.phone) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.phone) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.shortDescription, 'Short Description*') }}
                            {{ form_widget(form.shortDescription, {'attr': {'class': 'uk-textarea' ~ ( form_errors(form.shortDescription) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.shortDescription) }}
                        </div>
                        <div class="uk-margin uk-grid" uk-grid>
                            {% if school.thumbnailImage %}
                                <div class="uk-width-small">
                                    <img id="schoolThumbnailImage" src="{{ asset(uploaded_asset(school.thumbnailImagePath))|imagine_filter('squared_thumbnail_small') }}" />
                                </div>
                            {% endif %}
                            <div class="uk-width-expand">
                                <label>School Thumbnail</label>
                                <div class="uk-text-meta">Upload a square image if possible.  Will auto resize to 300x300.</div>
                                <div data-upload-url="{{ path('school_thumbnail_add', { id: school.id }) }}" data-type="image:schoolThumbnailImage"></div>
                            </div>
                        </div>
                        <div class="uk-margin uk-grid" uk-grid>
                            {% if school.featuredImage %}
                                <div class="uk-width-small">
                                    <img id="schoolFeaturedImage" src="{{ asset(uploaded_asset(school.featuredImagePath))|imagine_filter('squared_thumbnail_small') }}" />
                                </div>
                            {% endif %}
                            <div class="uk-width-expand">
                                <label>School Featured Image</label>
                                <div class="uk-text-meta">Ideal size for school banner is 1680x300 with central focal point.</div>
                                <div data-upload-url="{{ path('school_featured_add', { id: school.id }) }}" data-type="image:schoolFeaturedImage"></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="page-school-edit__photos">

                <div class="uk-width-1-1">
                    <h4>Add Additional Photos</h4>
                    <div data-upload-url="{{ path('school_photos_add', { id: school.id }) }}" data-type="multiple:image:schoolPhotos">
                        <div class="page-school-edit__uploaded-photos">
                            <button type="button" data-remove="{{ url('school_photo_remove', {id: 'UPLOAD_ID'}) }}" uk-close></button>
                            <img src="UPLOAD_URL" />
                        </div>
                    </div>
                </div>

                {% if school.schoolPhotos|length %}
                    <h4>Current Photos</h4>
                {% endif %}
                <div id="schoolPhotos" class="uk-grid uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-3" uk-grid>
                    {% if school.schoolPhotos|length %}
                        {% for schoolPhoto in school.schoolPhotos %}
                            <div class="page-school-edit__uploaded-photos">
                                <button type="button" data-remove="{{ url('school_photo_remove', {'id': schoolPhoto.id}) }}" uk-close></button>
                                <img src="{{ asset(uploaded_asset(schoolPhoto.path))|imagine_filter('squared_thumbnail_small') }}" />
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="page-school-edit__videos">
                <div class="uk-width-xlarge">
                    <p>Videos can help showcase how awesome your school is.  Upload your videos to Youtube and then attach them here.</p>
                </div>
                <div class="uk-margin">
                    <div class="uk-text-center uk-placeholder">
                        <a class="uk-button uk-button-default uk-button-small" href="#modal-add-school-video" uk-toggle>Add a Video</a>
                        <div id="modal-add-school-video" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <h3>Add a Video</h3>

                                <div class="uk-margin">
                                    <label for="edit_school_add_video_name" class="required">Name*</label>
                                    <input type="text" id="edit_school_add_video_name" name="name" required="required" class="uk-input" />
                                </div>

                                <div class="uk-margin">
                                    <label for="edit_school_add_video_id" class="required">Youtube Video ID*</label>
                                    <div class="uk-position-relative">
                                        <span class="uk-form-icon" uk-icon="icon: video-camera"></span>
                                        <input class="uk-input" id="edit_school_add_video_id" name="videoId" required="required" type="text">
                                    </div>

                                </div>

                                <p class="uk-text-right">
                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                    <input class="uk-button uk-button-primary" type="submit" value="Save" data-action="{{ path('school_video_add', {'id' : school.id}) }}" />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="schoolVideosTemplate" style="display: none;">
                        <div class="school-video">
                            <a class="uk-inline" href="https://www.youtube.com/watch?v=VIDEO_ID">
                                <img src="http://i.ytimg.com/vi/VIDEO_ID/hqdefault.jpg" alt="">
                                <div class="school-video__overlay">
                                    <div class="school-video__overlay-title">
                                        VIDEO_NAME
                                    </div>
                                </div>
                            </a>
                            <button type="button" data-remove="{{ path('school_video_remove', {'id' : 'RESOURCE_ID' }) }}" uk-close></button>
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    {% if school.schoolVideos|length %}
                        <h4>Current Videos</h4>
                    {% endif %}
                    <div id="schoolVideos" class="uk-child-width-1-3@m" uk-grid="masonry: true" uk-lightbox="animation: slide; video-autoplay: 1">
                        {% if school.schoolVideos|length %}
                            {% for video in school.schoolVideos %}
                                <div class="school-video">
                                    <a class="uk-inline" href="https://www.youtube.com/watch?v={{ video.videoId }}">
                                        <img src="http://i.ytimg.com/vi/{{ video.videoId }}/hqdefault.jpg" alt="">
                                        <div class="school-video__overlay">
                                            <div class="school-video__overlay-title">
                                                {{ video.name }}
                                            </div>
                                        </div>
                                    </a>
                                    <button type="button" data-remove="{{ path('school_video_remove', {'id' : video.id }) }}" uk-close></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="page-school-edit__resources">
                <div class="uk-width-xlarge">
                    <p>Resources are meant to provide helpful resources to understand more about your school.</p>
                </div>
                <div class="uk-margin">
                    <div class="uk-text-center uk-placeholder">
                        <a class="uk-button uk-button-default uk-button-small" href="#modal-add-school-resource" uk-toggle>Add a Resource</a>
                        <div id="modal-add-school-resource" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <h3>Add a Resource</h3>

                                <div class="uk-margin">
                                    <label for="edit_school_add_resource_title" class="required">Name*</label>
                                    <input type="text" id="edit_school_add_resource_title" name="title" required="required" class="uk-input" />
                                </div>

                                <div class="uk-margin">
                                    <label for="edit_school_add_resource_description" class="required">Description*</label>
                                    <input type="text" id="edit_school_add_resource_title" name="description" required="required" class="uk-textarea" />
                                </div>

                                <div class="uk-margin">
                                    <label>Resource File*</label><br />
                                    <div uk-form-custom="target: true">
                                        <input class="uk-button uk-button-primary uk-button-small" type="file" name="resource">
                                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                                    </div>
                                </div>

                                <p class="uk-text-right">
                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                    <input class="uk-button uk-button-primary" type="submit" value="Save" data-action="{{ path('school_resource_add', {'id' : school.id}) }}" />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="schoolResourcesTemplate" style="display: none;">
                        <div class="uk-grid uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <dt>RESOURCE_TITLE</dt>
                                <dd>RESOURCE_DESCRIPTION</dd>
                            </div>
                            <div class="uk-width-auto">
                                <a href="RESOURCE_URL" class="uk-button uk-button-default uk-button-small" target="_blank">View</a>
                            </div>
                            <button type="button" data-remove="{{ path('school_resource_remove', {'id' : 'RESOURCE_ID' }) }}" uk-close></button>
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    {% if school.schoolResources|length %}
                        <h4>Current Resources</h4>
                    {% endif %}
                    <div id="schoolResources">
                        {% if school.schoolResources|length %}
                            {% for schoolResource in school.schoolResources %}
                                <div class="uk-grid uk-flex-middle" uk-grid>
                                    <div class="uk-width-expand">
                                        <dt>{{ schoolResource.title }}</dt>
                                        <dd>{{ schoolResource.description }}</dd>
                                    </div>
                                    <div class="uk-width-auto">
                                        <a href="{{ asset(uploaded_asset(schoolResource.path)) }}" class="uk-button uk-button-default uk-button-small" target="_blank">View</a>
                                    </div>
                                    <button type="button" data-remove="{{ path('school_resource_remove', {'id' : schoolResource.id }) }}" uk-close></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-button-small">Save</button>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
