{% extends 'baseAuthenticated.html.twig' %}

{% form_theme form _self %}

{% block title %}Import Educators{% endblock %}

{% block body %}

    <div class="uk-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-1">
                <!-- PROFILE -->
                <div class="profile-card-wrapper">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            <h3 class="uk-card-title uk-margin-remove-bottom">Import Educators</h3>
                            <p class="uk-margin-remove-top">
                                Educators are imported from a CSV file, download our <a class="uk-link" href="{{ asset('build/static/educator-import-example.csv') }}" download="">sample one</a> to get started.
                            </p>
                        </div>
                        <div class="uk-card-body">

                            <h3>Import Process</h3>
                            <p>Download the <a class="uk-link" href="{{ asset('build/static/educator-import-example.csv') }}" download="">sample CSV</a>, and customize for your Educators.</p>
                            <p>Required Fields:</p>

                            <table class="uk-table uk-table-divider">
                                <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Educator ID</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>The Educator's first name</td>
                                    <td>The Educator's last name</td>
                                    <td>A unique identifier for the Educator (educator id)</td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="uk-text-meta">Note: Once the import process is completed, you will receive a confirmation email with usernames generated for your Educators.  Default password for login will be the first 3 letters of their last name, followed by their Educator ID, followed by an exclamation point.</div>

                            <br /><br />

                            {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

                            {% if form_errors(form) %}
                                <div class="uk-alert-danger" uk-alert>
                                    <a class="uk-alert-close" uk-close></a>
                                    <div>{{ form_errors(form) }}</div>
                                </div>
                            {% endif %}

                            <div class="uk-margin">
                                {{ form_label(form.file, 'CSV File*') }}<br />
                                <div uk-form-custom="target: true">
                                    {{ form_widget(form.file, {'attr': {'class': 'uk-button uk-button-primary uk-button-small' ~ ( form_errors(form.file) ? ' uk-form-danger' : '' ) }}) }}
                                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                                </div>
                                {{ form_errors(form.file) }}
                            </div>

                            <div class="uk-margin">
                                <button class="uk-button uk-button-primary uk-button-small uk-margin-small-right" type="submit">Import</button>
                            </div>


                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>

                    <br>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            <h3 class="uk-card-title uk-margin-remove-bottom">Teacher Ids</h3>
                            <p class="uk-margin-remove-top">
                                Optional Educator ID to mass update educators that already exist in the system
                            </p>
                        </div>
                        <div class="uk-card-body">
                            <h3>Educator Ids</h3>
                            <br>
                            {% for educator in school.educatorUsers %}
                                <p>{{ educator.fullName }} - {{ educator.id }}</p>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
