{% extends 'baseAuthenticated.html.twig' %}

{% form_theme form _self %}

{% block title %}Import Educators{% endblock %}

{% block body %}

    <h1>Import Educators</h1>
    {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}
    {% if form_errors(form) %}
        {{ form_errors(form) }}
    {% endif %}
    {{ form_row(form.file) }}
    <input type="submit" value="Import">
    {{ form_rest(form) }}
    {{ form_end(form) }}

    <a href="{{ asset('build/static/educator-import-example.csv') }}" download="">Example CSV Template</a>

{% endblock %}
