{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Manage Students{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div id="js-bulk-action-modal" uk-modal>
    </div>

    <div class="uk-container js-manage-users-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-1">

                {% if eventRegister %}
                    <ul class="uk-breadcrumb">
                        <li><a href="{{ path('dashboard') }}">Home</a></li>
                        <li>
                            <a href="{{ path('experience_view', {id: eventRegister.id}) }}">Event: {{ eventRegister.title }}</a>
                        </li>
                        <li><span href="">Student Registration</span></li>
                    </ul>
                {% else %}
                    <ul class="uk-breadcrumb">
                        <li><a href="{{ path('dashboard') }}">Home</a></li>
                        <li><span href="">Manage Students</span></li>
                    </ul>
                {% endif %}


                <div class="uk-section-small uk-section-default header">
                    <div class="uk-container uk-container-large">

                        {% if eventRegister %}
                            <h2>STUDENT REGISTRATION - <small>{{ school.name }}</small></h2>
                            <dl class="uk-description-list">
                                <dt>Event Name</dt>
                                <dd>{{ eventRegister.title }}</dd>
                                <dt>Event Dates</dt>
                                <dd>{{ eventRegister.startDateAndTime|date("F jS Y \\a\\t g:ia") }}
                                    - {{ eventRegister.endDateAndTime|date("F jS Y \\a\\t g:ia") }}</dd>
                            </dl>

                        {% else %}
                            <h2>MANAGE STUDENTS - <small>{{ school.name }}</small></h2>
                        {% endif %}

                        <hr>

                        {% if eventRegister is null %}
                            <a href="{{ path('school_student_import', { "id": school.id }) }}"
                               class="uk-button uk-button-primary uk-button-medium uk-float-right">Import Students</a>
                        {% endif %}

                        {{ knp_pagination_render(pagination, 'pagination/school_switcher.html.twig', {}, {'schools': schools, 'school': school}) }}

                        <hr>
                    </div>
                </div>


                {{ form_start(form, {'attr': {'class': 'uk-grid-small', 'uk-grid': 'uk-grid'}}) }}
                <div class="uk-width-1-4@s">
                    {{ form_widget(form.firstName, {'attr': {'class': 'uk-input', 'placeholder': 'First Name'}}) }}
                </div>
                <div class="uk-width-1-4@s">
                    {{ form_widget(form.lastName, {'attr': {'class': 'uk-input', 'placeholder': 'Last Name'}}) }}
                </div>
                <div class="uk-width-1-4@s">
                    {{ form_widget(form.email, {'attr': {'class': 'uk-input', 'placeholder': 'Email'}}) }}
                </div>
                <div class="uk-width-1-4@s">
                    {{ form_widget(form.username, {'attr': {'class': 'uk-input', 'placeholder': 'Username'}}) }}
                </div>
                <div class="uk-width-1-4@s">
                    {{ form_widget(form.educatorUsers, {'attr': {'class': 'uk-input', 'placeholder': 'Filter By Supervising Educator'}}) }}
                </div>
                <div class="uk-width-1-4@s">
                    {{ form_widget(form.graduatingYear, {'attr': {'class': 'uk-input', 'placeholder': 'Filter By Graduating Year'}}) }}
                </div>

                {% if eventRegister %}
                    <input type="hidden" name="event-register" value="{{ eventRegister.id }}">
                {% endif %}

                {% if form.registrationStatus is defined %}
                    <div class="uk-width-1-4@s">
                        {{ form_widget(form.registrationStatus , {'attr': {'class': 'uk-input', 'placeholder': 'Filter By Registration Status'}}) }}
                    </div>
                {% endif %}

                <div class="uk-width-1-4@s">
                    <button class="uk-button uk-button-primary">Search</button>
                    <a class="uk-button uk-button-default" href="{{ clearFormUrl }}">Clear</a>
                </div>
                {{ form_end(form) }}
            </div>

            <div style="margin-top:50px" class="uk-width-2-3">
                {{ knp_pagination_render(pagination, 'pagination/custom_pagination.html.twig') }}
            </div>

            <div style="margin-top:50px; position: relative" class="uk-width-1-3">
                {{ knp_pagination_render(pagination, 'pagination/items_per_page.html.twig') }}
                <div style="position: absolute; transform: translate(-50%,-50%); top: 50%">Total
                    Students: {{ pagination.getTotalItemCount }}</div>
            </div>

            <div style="margin-top:50px" class="uk-width-1-2">
                {{ knp_pagination_render(pagination, 'pagination/manage_students_bulk_actions.html.twig', {}, {'eventRegister': eventRegister}) }}
            </div>

            <div class="uk-width-1-1 uk-overflow-auto" style="font-size: 0.8em">
                <table class="uk-table uk-table-small uk-table-divider" style="width: 1400px;">
                    <tr>
                        <th>
                            <input class="js-select-all-users" type="checkbox"/>
                        </th>
                        <th>Student</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Supervising Teacher(s)</th>

                        {% if eventRegister %}
                            <th>Registration Status</th>
                        {% else %}
                            <th>Temp Password</th>
                            <th>Graduation Year</th>
                            <th>School</th>
                        {% endif %}

                        <th colspan="2"></th>
                    </tr>

                    {% for studentUser in pagination %}


                        <tr id="user_{{ studentUser.id }}">

                            <td>
                                <input type="checkbox" class="group-edit-supervising-teacher"
                                       name="user[]"
                                       data-name="{{ studentUser.firstName }} {{ studentUser.lastName }}"
                                       value="{{ studentUser.id }}"/>
                            </td>

                            <td>
                                <img class="uk-border-circle" width="25" height="25"
                                     src="{{ ( attribute(studentUser, 'photo') is defined and studentUser.photo ) ? asset(uploaded_asset(studentUser.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                                {{ studentUser.lastName }}, {{ studentUser.firstName }}<br>
                                {{ excerpt_length( studentUser.briefBio, 100 ) }}
                            </td>

                            <td>{{ studentUser.email ? studentUser.email : "N/A" }}</td>

                            <td>{{ studentUser.username ? studentUser.username : "N/A" }}</td>

                            <td>
                                {% set educatorIds = [] %}
                                {% for educator in studentUser.educatorUsers %}
                                    {% set educatorIds = educatorIds|merge([{ id: educator.id }]) %}
                                {% endfor %}

                                {% for educator in studentUser.educatorUsers %}
                                    <dt>{{ educator.lastName }} {{ educator.firstName }}{{ not loop.last ? ',' }}</dt>
                                {% endfor %}
                            </td>

                            {% if eventRegister %}
                                <td>
                                    {% if eventRegister.registered(studentUser) %}
                                        <span class="uk-label uk-label-success">Registered</span>
                                    {% else %}
                                        <span class="uk-label uk-label-danger">Not Registered</span>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>{{ studentUser.tempPassword ?  studentUser.tempPassword : "N/A" }}</td>
                                <td>{{ studentUser.graduatingYear }}</td>
                                <td>{{ studentUser.school.name }}</td>
                            {% endif %}

                            <td colspan="2">
                                <a target="_blank" href="{{ path('profile_edit', { "id": studentUser.id }) }}"
                                   class="uk-button uk-button-default uk-button-small"
                                   style="margin-bottom: 8px;">Edit</a>
                                <a target="_blank" href="{{ path('profile_index', { "id": studentUser.id }) }}"
                                   class="uk-button uk-button-default uk-button-small"
                                   style="margin-bottom: 8px;">View</a>
                            </td>
                        </tr>

                    {% endfor %}

                </table>
            </div>

            <div class="uk-width-2-3">
                {{ knp_pagination_render(pagination, 'pagination/custom_pagination.html.twig') }}
            </div>

            <div class="uk-width-1-3" style="position: relative">
                {{ knp_pagination_render(pagination, 'pagination/items_per_page.html.twig') }}
            </div>

            <div id="bulk-editing" style="display:none">
                <button class="uk-button uk-button-primary" id="bulk-edit-teachers">Bulk Edit Supervising Teachers
                </button>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/manage_students.js') }}"></script>
{% endblock %}



