{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Manage Educators{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div id="js-bulk-action-modal" uk-modal>
    </div>

    <div class="uk-container js-manage-users-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-1">

                <ul class="uk-breadcrumb">
                    <li><a href="{{ path('dashboard') }}">Home</a></li>
                    <li><span href="">Manage Educators</span></li>
                </ul>

                <div class="uk-section-small uk-section-default header">
                    <div class="uk-container uk-container-large">
                        <h2>MANAGE Educators - <small>{{ school.name }}</small></h2>

                        <hr>
                         <a href="{{ path('school_educator_import', { "id": school.id }) }}" class="uk-button uk-button-primary uk-button-medium uk-float-right">Import Educators</a>

                        <select id="js-school-administrator-schools" class="uk-select"
                                style="width: 300px; margin-right: 10px">
                            {% for schoolOption in schools %}
                                <option {{ schoolOption.id == school.id ? 'selected' : '' }}
                                        value="{{ path('educators_manage', {id: schoolOption.id}) }}">{{ schoolOption.name }}</option>
                            {% endfor %}
                        </select>
                        <hr>
                    </div>
                </div>


                {{ form_start(form, {'attr': {'class': 'uk-grid-small', 'uk-grid': 'uk-grid'}}) }}
                <div class="uk-width-1-4@s">
                    {{ form_widget(form.firstName, {'attr': {'class': 'uk-input', 'placeholder': 'First Name'}}) }}
                </div>
                <div class="uk-width-1-4@s">
                    {{ form_widget(form.lastName, {'attr': {'class': 'uk-input', 'placeholder': 'Last Name'}}) }}
                </div>
                <div class="uk-width-1-4@s">
                    {{ form_widget(form.email, {'attr': {'class': 'uk-input', 'placeholder': 'Email'}}) }}
                </div>
                <div class="uk-width-1-4@s">
                    {{ form_widget(form.username, {'attr': {'class': 'uk-input', 'placeholder': 'Username'}}) }}
                </div>

                <div class="uk-width-1-4@s">
                    <button class="uk-button uk-button-primary">Search</button>
                    <a class="uk-button uk-button-default" href="{{ clearFormUrl }}">Clear</a>
                </div>
                {{ form_end(form) }}
            </div>

            <div style="margin-top:50px" class="uk-width-2-3">
                {{ knp_pagination_render(pagination, 'pagination/custom_pagination.html.twig') }}
            </div>

            <div style="margin-top:50px; position: relative" class="uk-width-1-3">
                {{ knp_pagination_render(pagination, 'pagination/items_per_page.html.twig') }}
                <div style="position: absolute; transform: translate(-50%,-50%); top: 50%">Total
                    Student: {{ pagination.getTotalItemCount }}</div>
            </div>

            {# <div style="margin-top:50px" class="uk-width-1-2">
                {{ knp_pagination_render(pagination, 'pagination/manage_students_bulk_actions.html.twig') }}
            </div> #}

            <div class="uk-width-1-1 uk-overflow-auto" style="font-size: 0.8em">
                <table class="uk-table uk-table-small uk-table-divider" style="width: 1400px;">
                    <tr>
                        <th>
                            <input class="js-select-all-users" type="checkbox"/>
                        </th>
                        <th>Educator</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Temp Password</th>
                        <th>School</th>
                        <th colspan="2"></th>
                    </tr>

                    {% for educatorUser in pagination %}

                        <tr id="user_{{ educatorUser.id }}">

                            <td>
                                <input type="checkbox" class="group-edit-supervising-teacher"
                                       name="user[]"
                                       data-name="{{ educatorUser.firstName }} {{ educatorUser.lastName }}"
                                       value="{{ educatorUser.id }}"/>
                            </td>

                            <td>
                                <img class="uk-border-circle" width="25" height="25"
                                     src="{{ ( attribute(educatorUser, 'photo') is defined and educatorUser.photo ) ? asset(uploaded_asset(educatorUser.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                                {{ educatorUser.lastName }}, {{ educatorUser.firstName }}<br>
                                {{ excerpt_length( educatorUser.briefBio, 100 ) }}
                            </td>

                            <td>{{ educatorUser.email ? educatorUser.email : "N/A" }}</td>

                            <td>{{ educatorUser.username ? educatorUser.username : "N/A" }}</td>

                            <td>{{ educatorUser.tempPassword ?  educatorUser.tempPassword : "N/A" }}</td>

                            <td>{{ educatorUser.school.name }}</td>

                            <td colspan="2">
                                <a target="_blank" href="{{ path('profile_edit', { "id": educatorUser.id }) }}"
                                   class="uk-button uk-button-default uk-button-small"
                                   style="margin-bottom: 8px;">Edit</a>
                                <a target="_blank" href="{{ path('profile_index', { "id": educatorUser.id }) }}"
                                   class="uk-button uk-button-default uk-button-small"
                                   style="margin-bottom: 8px;">View</a>
                            </td>
                        </tr>

                    {% endfor %}

                </table>
            </div>

            <div class="uk-width-2-3">
                {{ knp_pagination_render(pagination, 'pagination/custom_pagination.html.twig') }}
            </div>

            <div class="uk-width-1-3" style="position: relative">
                {{ knp_pagination_render(pagination, 'pagination/items_per_page.html.twig') }}
            </div>

            <div id="bulk-editing" style="display:none">
                <button class="uk-button uk-button-primary" id="bulk-edit-teachers">Bulk Edit Supervising Teachers
                </button>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/manage_educators.js') }}"></script>
{% endblock %}



