{% extends 'baseAuthenticated.html.twig' %}

{% block title %}New School{% endblock %}
{% block bodyClass %}page-create-school{% endblock %}

{% block body %}

    <div class="uk-container">

        {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

        <div class="uk-width-xlarge">

            {% if form_errors(form) %}
                <div class="uk-alert-danger" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <div>{{ form_errors(form) }}</div>
                </div>
            {% endif %}

            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <h3>Create a New School</h3>
                </div>
                <div class="uk-margin">
                    {{ form_label(form.name, 'School Name*') }}
                    {{ form_widget(form.name, {'attr': {'class': 'uk-input' ~ ( form_errors(form.name) ? ' uk-form-danger' : '' ) }}) }}
                    {{ form_errors(form.name) }}
                </div>

                <div class="uk-margin">
                    {{ form_label(form.street, 'Street') }}
                    {{ form_widget(form.street, {'attr': {'class': 'uk-input' ~ ( form_errors(form.street) ? ' uk-form-danger' : '' ) }}) }}
                    {{ form_errors(form.street) }}
                </div>
                <div class="uk-margin">
                    {{ form_label(form.city, 'City') }}
                    {{ form_widget(form.city, {'attr': {'class': 'uk-input' ~ ( form_errors(form.city) ? ' uk-form-danger' : '' ) }}) }}
                    {{ form_errors(form.city) }}
                </div>
                <div class="uk-margin">
                    {{ form_label(form.state, 'State') }}
                    {{ form_widget(form.state, {'attr': {'class': 'uk-input' ~ ( form_errors(form.state) ? ' uk-form-danger' : '' ) }}) }}
                    {{ form_errors(form.state) }}
                </div>
                <div class="uk-margin">
                    {{ form_label(form.zipcode, 'Zip') }}
                    {{ form_widget(form.zipcode, {'attr': {'class': 'uk-input' ~ ( form_errors(form.zipcode) ? ' uk-form-danger' : '' ) }}) }}
                    {{ form_errors(form.zipcode) }}
                </div>

                <div class="uk-margin">
                    {{ form_label(form.zipcode, 'Zipcode*') }}
                    {{ form_widget(form.zipcode, {'attr': {'class': 'uk-input' ~ ( form_errors(form.zipcode) ? ' uk-form-danger' : '' ) }}) }}
                    {{ form_errors(form.zipcode) }}
                </div>
                <div class="uk-margin">
                    <button class="uk-button uk-button-primary uk-button-small" type="submit">Create School</button>
                </div>
            </fieldset>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
