{% extends 'baseAuthenticated.html.twig' %}

{% form_theme form _self %}

{% block title %}Import Students{% endblock %}

{% block body %}

    <div class="uk-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-1">

                <ul class="uk-breadcrumb">
                    <li><a href="{{ path('dashboard') }}">Home</a></li>
                    <li><a href="{{ path('students_manage', {id: school.id}) }}">Manage Students</a></li>
                    <li><span href="">Import Students</span></li>
                </ul>

                <!-- PROFILE -->
                <div class="profile-card-wrapper">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            <h3 class="uk-card-title uk-margin-remove-bottom">Import Students</h3>
                            <p class="uk-margin-remove-top">
                                <a class="uk-link" href="{{ asset('build/static/student_example_csv.csv') }}" download="">CSV Sample</a> <br>
                                <a class="uk-link" href="{{ asset('build/static/student_example.xlsx') }}" download="">EXCEL Sample</a>
                            </p>
                        </div>
                        <div class="uk-card-body">

                            <h3>Import Process</h3>
                            <p>Required Fields:</p>

                            <table class="uk-table uk-table-divider">
                                <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Graduating Year</th>
                                    <th>Educator Number</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>The Student's first name</td>
                                    <td>The Student's last name</td>
                                    <td>Graduating year for the student</td>
                                    <td>Educator Number. See list below for current educator numbers for this school.</td>
                                </tr>
                                </tbody>
                            </table>

                            <p>Any students entered without a first or last name will not be processed.</p>
                            <div class="uk-text-meta">Note: Once the import process is completed, you will receive a confirmation email with usernames and temporary passwords generated for your Students to login to their account.</div>

                            <br /><br />

                            {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

                            {% if form_errors(form) %}
                                <div class="uk-alert-danger" uk-alert>
                                    <a class="uk-alert-close" uk-close></a>
                                    <div>{{ form_errors(form) }}</div>
                                </div>
                            {% endif %}

                            <div class="uk-margin">
                                {{ form_label(form.file, 'CSV or Excel File*') }}<br />
                                <div uk-form-custom="target: true">
                                    {{ form_widget(form.file, {'attr': {'class': 'uk-button uk-button-primary uk-button-small' ~ ( form_errors(form.file) ? ' uk-form-danger' : '' ) }}) }}
                                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                                </div>
                                {{ form_errors(form.file) }}
                            </div>

                            <div class="uk-margin">
                                <button class="uk-button uk-button-primary uk-button-small uk-margin-small-right" type="submit">Import</button>
                            </div>


                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>

                    <br>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            <h3>Educator Number</h3>
                            <p class="uk-margin-remove-top">
                                When associating educators with students on the import, you need to add the educator number to the "Educator Number" column on the import
                            </p>
                        </div>
                        <div class="uk-card-body">
                            <br>
                            {% for educator in school.educatorUsers %}
                            <p>{{ educator.fullName }} - {{ educator.id }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
