{% extends 'baseAuthenticated.html.twig' %}

{% block title %}User Import Tool{% endblock %}
{% block bodyClass %}page-feedback{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/user_import.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .user-import-final-back-button {
            position: absolute;
            top: 80px;
            right: 240px;
        }

    </style>

{% endblock %}

{% block body %}

    <div class="uk-container">

        <ul class="uk-breadcrumb">
            <li><a href="{{ path('dashboard') }}">Home</a></li>
            <li><span href="">Import Users</span></li>
        </ul>

        {% if flow.steps[flow.getCurrentStepNumber() - 1].name == 'user_info_step' %}
            {% set errorMessage = '' %}
            {% for flashMessage in app.session.flashbag.get('importError') %}
                {% set errorMessage = flashMessage %}
            {% endfor %}
            {% if errorMessage %}
                <div class="uk-container uk-margin-bottom">
                    <div class="uk-alert-error uk-margin" uk-alert>
                        <p>{{ errorMessage }}</p>
                    </div>
                </div>
            {% endif %}

        {% endif %}

        {% if form.vars.notice is defined and form.vars.notice is not null %}
            <div class="uk-alert-danger" uk-alert>
                <p>{{ form.vars.notice }}</p>
            </div>
        {% endif %}

        {% set uk_width = 'uk-width-3-4@m' %}

        {% if flow.steps[flow.getCurrentStepNumber() - 1].name == 'user_info_step' %}
            {% set uk_width = '' %}
        {% endif %}


        <div class="uk-margin-medium-top uk-card uk-card-default uk-card-body uk-margin-auto {{ uk_width }}">

            <div class="uk-text-danger" style="float:right;">* indicates required</div>
            <br>
            <br>

            {% if flow.steps[flow.getCurrentStepNumber() - 1].name == 'file_info_step' %}
                <div uk-lightbox>
                    <div style="float: right;">
                        <a href="https://youtu.be/yyMsHK8Z7VY" data-caption="YouTube" data-attrs="width: 1280; height: 720;">HELP VIDEO <span uk-icon="video-camera"></span></a>
                    </div>
                </div>
            {% endif %}

            {% if type %}
                <h2>Import {{ type|capitalize ~ 's'}}</h2>
            {% else %}
                <h2>Import Users</h2>
            {% endif %}

            {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

            {{ form_errors(form) }}

            {% include flow.steps[flow.getCurrentStepNumber() - 1].template %}

            {{ form_rest(form) }}


            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}
