{% extends 'baseAuthenticated.html.twig' %}

{% block title %}View School{% endblock %}
{% block bodyClass %}page-school-view{% endblock %}
{% block flashMessage %}{% endblock %}

{% block body %}

    <div class="page-school-view__featured-image uk-height-medium uk-flex uk-flex-right uk-flex-bottom uk-background-cover uk-light"
         data-src="{{ school.featuredImageURL }}" uk-img>

        <div class="uk-width-1-1" style="background: rgba(0,0,0,0.6)">
            <div class="uk-container">
                <div class="uk-padding-small">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3>{{ school.name }}</h3>
                        </div>
                        <div class="uk-width-auto">
                            <div class="uk-align-right">
                                <div class="react-favorite-school uk-inline" data-school-id="{{ school.id }}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-container">

        {% include 'flash/messages.html.twig' %}

        <div class="uk-margin">
            <ul class="uk-breadcrumb">
                <li><a href="/">Dashboard</a></li>
                <li><a href="{{ path('school_index') }}">Schools</a></li>
                <li><span>{{ school.name }}</span></li>
            </ul>
        </div>

        <div class="uk-grid-small uk-flex-middle uk-margin" uk-grid>
            <div class="uk-width-expand">
                <div class="uk-align-right@l">
                    {% if school.canCreateExperiences(user) %}
                        <a href="{{ path('school_experience_create', {id: school.id}) }}" class="uk-button uk-button-default uk-button-small">Create Event</a>
                    {% endif %}
                    {% if user.isRegionalCoordinator and user.canEditSchool(school) %}
                    <form action="{{ path('school_delete', { "id": school.id }) }}" method="POST">
                        <button style="float: right" class="uk-button uk-button-danger uk-button-small uk-margin-small-right" type="submit">Remove</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>


        <ul data-uk-tab="{connect: '#tab-school-detail'}" uk-switcher>
            <li class="uk-active"><a href="#school-summary">Summary</a></li>
            <li><a href="#school-events">Events</a></li>
            {% if school.latitude and school.longitude %}
                <li><a href="#school-location">Location</a></li>
            {% endif %}
            {% if school.schoolPhotos|length %}
                <li><a href="#school-photos">Photos</a></li>
            {% endif %}
            {% if school.schoolVideos|length %}
                <li><a href="#school-videos">Videos</a></li>
            {% endif %}
            {% if school.schoolResources|length %}
                <li><a href="#school-resources">Resources</a></li>
            {% endif %}
            {% if school.educatorUsers|length %}
                <li><a href="#school-educators">Educators</a></li>
            {% endif %}
            {% if volunteeringCompanies|length %}
                <li><a href="#school-companies">Companies</a></li>
            {% endif %}
        </ul>

        <div class="uk-switcher" id="tab-school-detail">
            <div class="school__summary uk-flex">
                <div class="uk-width-2-3">
                    <div class="uk-margin">
                        {{ school.overviewAndBackground|raw }}
                    </div>
                    <div class="school-links uk-margin">
                        {% if school.website %}
                            <a href="{{ school.website }}" target="_blank" class="uk-icon-button uk-margin-small-right" data-uk-icon="world"></a>
                        {% endif %}
                        {% if school.phone %}
                            <a href="tel:{{ school.phone }}" class="uk-icon-button uk-margin-small-right" data-uk-icon="receiver"></a>
                        {% endif %}
                        {% if school.email %}
                            <a href="mailto:{{ school.email }}" class="uk-icon-button uk-margin-small-right" data-uk-icon="mail"></a>
                        {% endif %}
                        {% if school.schoolLinkedInPage %}
                            <a href="{{ school.schoolLinkedInPage }}" target="_blank" class="uk-icon-button uk-margin-small-right" data-uk-icon="linkedin"></a>
                        {% endif %}
                    </div>
                </div>
                <div class="uk-width-1-3">
                    {% if school.getSchoolAdministrators|length > 0 %}
                        {% for admin in school.getSchoolAdministrators %}
                            <div class="uk-margin">
                                <h3 class="uk-heading-line uk-text-center"><span>School Administrator</span></h3>
                                <p class="uk-text-meta">
                                    <strong>{{ admin.getFullName }}</strong><br />
                                    <a href="mailto:{{ admin.email }}">{{ admin.email }}</a><br />
                                </p>
                            </div>
                        {% endfor %}
                        {% if school.phone %}
                            <a href="tel:{{ school.phone }}" class="uk-button uk-button-primary uk-button-small">Call Us</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="school__events">
                {% if user.isSchoolAdministrator or user.isAdmin %}
                    <p><a class="uk-button uk-button-primary uk-button-small" href="{{ path('school_experience_create', {'id': school.id}) }}">Create an Event</a></p>
                {% endif %}
                <div class="react-events-calendar" data-school-id="{{ school.id }}"></div>
            </div>
            {% if school.latitude and school.longitude %}
                <div class="school__location">
                    <p><a class="uk-button uk-button-primary uk-button-small" href="http://maps.google.com/?q={{ school.street }},{{ school.city }},{{ school.zipcode }}" target="_blank">Directions to School</a></p>
                    <div class="react-google-map" data-latitude="{{ school.latitude }}" data-longitude="{{ school.longitude }}" data-schools="{{ encode_schools( [school] ) }}" data-companies="{{ encode_companies( volunteeringCompanies ) }}"></div>
                </div>
            {% endif %}
            {% if school.schoolPhotos|length %}
                <div class="school__photos">
                    <div class="uk-grid uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-3" uk-grid="masonry: true" uk-lightbox="animation: slide">
                        {% for schoolPhoto in school.schoolPhotos %}
                            <div>
                                <a class="uk-inline" href="{{ asset(uploaded_asset(schoolPhoto.path)) }}">
                                    <img src="{{ asset(uploaded_asset(schoolPhoto.path))|imagine_filter('squared_thumbnail_small') }}" />
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if school.schoolVideos|length %}
                <div class="school__videos">
                    <div class="uk-child-width-1-3@m" uk-grid="masonry: true" uk-lightbox="animation: slide; video-autoplay: 1">
                        {% for video in school.schoolVideos %}
                            <div>
                                <a class="uk-inline" href="https://www.youtube.com/watch?v={{ video.videoId }}">
                                    <img src="http://i.ytimg.com/vi/{{ video.videoId }}/hqdefault.jpg" alt="">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if school.schoolResources|length %}
                <div class="school__resources">
                    <dl class="uk-description-list uk-description-list-divider">
                        {% for schoolResource in school.schoolResources %}
                            <div class="uk-grid uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <dt>{{ schoolResource.title }}</dt>
                                    <dd>{{ schoolResource.description }}</dd>
                                </div>
                                <div class="uk-width-auto">
                                    <a href="{{ asset(uploaded_asset(schoolResource.path)) }}" class="uk-button uk-button-default uk-button-small" target="_blank">View</a>
                                </div>
                            </div>
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}
            {% if school.educatorUsers|length %}
                <div class="school__educators">
                    <dl class="uk-description-list uk-description-list-divider">
                        {% for educatorUser in school.educatorUsers %}
                            <div class="uk-grid uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(educatorUser, 'photo') is defined and educatorUser.photo ) ? asset(uploaded_asset(educatorUser.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                                </div>
                                <div class="uk-width-expand">
                                    <dt>{{ educatorUser.firstName }} {{ educatorUser.lastName }}</dt>
                                </div>
                                <div class="uk-width-auto">
                                    <a href="{{ path('profile_index', { "id": educatorUser.id }) }}" class="uk-button uk-button-default uk-button-small">View</a>
                                </div>
                            </div>
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}
            {% if volunteeringCompanies|length %}
                <div class="school__companies">
                    <dl class="uk-description-list uk-description-list-divider">
                        {% for company in volunteeringCompanies %}
                            <div class="uk-grid uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <dt>{{ company.name }}</dt>
                                </div>
                                <div class="uk-width-auto">
                                    <a href="{{ path('company_view', { "id": company.id }) }}" class="uk-button uk-button-default uk-button-small">View</a>
                                </div>
                            </div>
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}
        </div>
    </div>



{% endblock %}
