{% extends 'baseAuthenticated.html.twig' %}

{% block title %}View School Experience{% endblock %}
{% block bodyClass %}page-school-experience-view{% endblock %}

{% block body %}

    <div class="uk-container">

        <div class="uk-section uk-section-muted">
            <div class="uk-padding">
                <h2 class="uk-margin-remove-bottom">{{ experience.school.name }}</h2>
                <h3 class="uk-margin-remove-top">{{ experience.title }}</h3>
                <h5>{{ experience.startDateAndTime|date("F jS \\a\\t g:ia") }} - {{ experience.endDateAndTime|date("F jS \\a\\t g:ia") }}</h5>
                {{ experience.about|raw }}

                {% if user.isProfessional or user.isStudent %}
                <form class="uk-inline" method="post" action="{{ path('school_experience_register', {'id' : experience.id}) }}">
                    {% if experience.isRegistered(user) %}
                        <button class="uk-button uk-button-secondary uk-button-small disabled" type="submit">Already Registered</button>
                    {% else %}
                        <button class="uk-button uk-button-secondary uk-button-small" type="submit">Register</button>
                    {% endif %}
                </form>

                <form class="uk-inline" method="post" action="{{ path('school_experience_deregister', {'id' : experience.id}) }}">
                    <input type="hidden" name="userId" value="{{ user.id }}">
                    {% if experience.isRegistered(user) %}
                        <button class="uk-button uk-button-danger uk-button-small disabled" type="submit">Cancel Registration</button>
                    {% endif %}
                </form>
                {% endif %}
            </div>
        </div>

        <div class="uk-grid-small uk-flex-middle uk-margin" uk-grid>
            <div class="uk-width-expand">
                <div class="uk-align-right@l">
                    {% if user.isAdmin or user.isSchoolAdministrator %}
                        <a href="{{ path('school_experience_edit', {id: experience.id}) }}" class="uk-button uk-button-primary uk-button-small">Edit Event</a>

                        <a class="uk-button uk-button-danger uk-button-small" href="#modal-remove-company-event" uk-toggle>Notify Companies of Event</a>
                        <br>
                        <div id="modal-remove-company-event" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <h3>Notify Companies of Event</h3>
                                <form class="uk-inline" action="{{ path('school_notify_companies', { "id": experience.id }) }}" method="POST">

                                    <label class="uk-form-label">Select Companies to Notify.</label>

                                    <div class="uk-margin">
                                        <select class="uk-select" name="companies[]" id="companies" multiple="multiple">
                                            {% for company in school.companies %}
                                                <option value="{{ company.id }}">{{ company.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <label>Custom Cancellation Message</label>
                                    <textarea class="uk-textarea" name="customMessage" style="width: 100%"></textarea>

                                    <p>
                                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                        <button class="uk-button uk-button-danger" type="submit">Send</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                        <br>
                        <div id="event-professional-notify" data-user="{{ encode_user(user) }}" data-experienceId="{{ experience.id }}"></div>
                    {% endif %}
                </div>
            </div>
        </div>


        <ul class="uk-tab" uk-switcher="connect: #tab-experience" uk-tab>
            <li class="uk-active"><a href="#experience-details">Experience</a></li>
            {% if experience.payment > 0 %}
                <li><a href="#experience-payment">Payment Info</a></li>
            {% endif %}
            {% if experience.experienceFiles|length %}
                <li><a href="#experience-attachments">Event Documents</a></li>
            {% endif %}
            <li><a href="#experience-registrations">Registrations</a></li>
            <li><a href="#experience-contact">Contact</a></li>
        </ul>
        <div class="uk-switcher" id="tab-experience">
            <div class="experience_details">
                <table class="uk-table uk-table-justify uk-table-divider">
                    <tbody>
                        <tr>
                            <td>Title</td>
                            <td>{{ experience.title }}</td>
                        </tr>
                        <tr>
                            <td>School</td>
                            <td>{{ experience.school.name }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ experience.briefDescription }}</td>
                        </tr>
                        <tr>
                            <td>Student Available Spaces</td>
                            <td>{{ experience.availableStudentSpaces }}</td>
                        </tr>
                        <tr>
                            <td>Professional Available Spaces</td>
                            <td>{{ experience.availableProfessionalSpaces }}</td>
                        </tr>
                        <tr>
                            <td>Start Time</td>
                            <td>{{ experience.startDateAndTime|date("F jS \\a\\t g:ia") }}</td>
                        </tr>
                        <tr>
                            <td>End Time</td>
                            <td>{{ experience.endDateAndTime|date("F jS \\a\\t g:ia") }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if experience.payment > 0 %}
                <div class="experience_payment">
                    <table class="uk-table uk-table-justify uk-table-divider">
                        <tbody>
                        <tr>
                            <td>Payment Amount</td>
                            <td>{{ experience.payment }}</td>
                        </tr>
                        <tr>
                            <td>Payment is Per</td>
                            <td>{{ experience.paymentShownIsPer }}</td>
                        </tr>
                        <tr>
                            <td>Available Spaces</td>
                            <td>{{ experience.availableSpaces }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if experience.experienceFiles|length %}
                <div class="experience_attachments">
                    <dl class="uk-description-list uk-description-list-divider">
                        {% for experienceResource in experience.experienceFiles %}
                            <div class="uk-grid uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <dt>{{ experienceResource.title }}</dt>
                                    <dd>{{ experienceResource.description }}</dd>
                                </div>
                                <div class="uk-width-auto">
                                    <a href="{{ asset(uploaded_asset(experienceResource.path)) }}" class="uk-button uk-button-default uk-button-small" target="_blank">View</a>
                                </div>
                            </div>
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}
            <div class="experience_registrations">
                <h3>Students</h3>
                <div class="uk-width-xlarge">
                    {% for request in experience.userRegisterForSchoolExperienceRequests %}
                        {% if request.user.student %}
                            <div class="uk-grid uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <dt>{{ request.user.firstName }} {{ request.user.lastName }}</dt>
                                </div>
                                <div class="uk-width-auto">
                                    <a href="{{ path('profile_index', { "id": request.user.id }) }}" class="uk-button uk-button-default uk-button-small">View</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <h3>Professionals</h3>
                <div class="uk-width-xlarge">
                    {% for request in experience.userRegisterForSchoolExperienceRequests %}
                        {% if request.user.professional %}
                            <div class="uk-grid uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <dt>{{ request.user.firstName }} {{ request.user.lastName }}</dt>
                                </div>
                                <div class="uk-width-auto">
                                    <a href="{{ path('profile_index', { "id": request.user.id }) }}" class="uk-button uk-button-default uk-button-small">View</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="experience_contact">
                <table class="uk-table uk-table-justify uk-table-divider">
                    <tbody>
                    <tr>
                        <td>Event Coordinator</td>
                        <td>{{ experience.schoolContact.fullName }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{ experience.email }}">{{ experience.email }}</a></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            <p>
                                {{ experience.street }}<br />
                                {{ experience.city }} {{ experience.state.name }}, {{ experience.zipcode }}
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
