{% extends 'baseAuthenticated.html.twig' %}

{% block title %}View School Experience{% endblock %}
{% block bodyClass %}page-school-experience-view{% endblock %}

{% block body %}

    <div class="uk-container">

        {% if experience.cancelled %}
            <div class="uk-alert-danger" uk-alert>
                <p>Experience has been cancelled.</p>
            </div>
        {% endif %}

        <div class="uk-section uk-section-muted">
            <div class="uk-padding">
                <h2 class="uk-margin-remove-bottom">{{ experience.school.name }}</h2>
                <h3 class="uk-margin-remove-top">{{ experience.title }}</h3>
                <h5>{{ experience.startDateAndTime|date("F jS \\a\\t g:ia") }} - {{ experience.endDateAndTime|date("F jS \\a\\t g:ia") }}</h5>
                {{ experience.about|raw }}
                
                {% if user.isProfessional or user.isStudent %}

                  {% for registration in user.getRegistrations %}
                    {% if registration.experience.id == experience.id %}
                    <div class="react-calendar-button uk-inline"
                         data-event-start-time="{{ experience.startDateAndTimeTimeStamp }}"
                         data-event-end-time="{{ experience.endDateAndTimeTimeStamp }}"
                         data-title="{{ experience.title }}"
                         data-description="{{ experience.briefDescription }}"
                         data-location="{{ experience.getFormattedAddress }}"
                    ></div>
                    {% endif %}
                  {% endfor %}

                  <form class="uk-inline" method="post" action="{{ path('school_experience_register', {'id' : experience.id}) }}">
                      {% if experience.isRegistered(user) %}
                          <button class="uk-button uk-button-secondary uk-button-small disabled uk-margin-small-bottom" type="submit">Already Registered</button>
                      {% else %}
                          <button class="uk-button uk-button-secondary uk-button-small uk-margin-small-bottom" type="submit">Register</button>
                      {% endif %}
                  </form>

                  <form class="uk-inline" method="post" action="{{ path('school_experience_deregister', {'id' : experience.id}) }}">
                      <input type="hidden" name="userId" value="{{ user.id }}">
                      {% if experience.isRegistered(user) %}
                          <button class="uk-button uk-button-danger uk-button-small disabled uk-margin-small-bottom" type="submit">Cancel Registration</button>
                      {% endif %}
                  </form>

                {% endif %}

                {% if user.educator %}
                    <a class="uk-button uk-button-danger uk-button-small" href="#modal-remove-company-event" uk-toggle>Live Feedback URL</a>
                    <br>
                    <div id="modal-remove-company-event" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h3>Live Feedback URL</h3>

                            <p>{{ url('experience_feedback', {'id' : experience.id}) }}</p>
                            <input style="display: none" id="feedback-url" type="text" value="{{ url('experience_feedback', {'id' : experience.id}) }}">

                            <button class="uk-button uk-button-danger" onclick="copyFeedbackUrl()" type="button">Copy</button>

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="uk-grid-small uk-flex-middle uk-margin" uk-grid>
            <div class="uk-width-expand">
                <div class="uk-align-right@l">

                    {% if not user.student %}
                        <div style="display: inline-block" class="react-global-share"
                             data-user="{{ encode_user(user) }}"
                             data-message="Check out this upcoming experience: <a href='{{ path('school_experience_view', {id: experience.id}) }}'>{{ experience.title }}</a>">
                            Share this Experience
                        </div>
                    {% endif %}

                    {% if user.isAdmin or user.isSchoolAdministrator %}
                        <a href="{{ path('school_experience_edit', {id: experience.id}) }}" class="uk-button uk-button-primary uk-button-small">Edit Experience</a>
                        <a class="uk-button uk-button-primary uk-button-small uk-button-danger" href="#modal-notify-professionals" uk-toggle>Notify Professionals of Experience</a>

                        <a class="uk-button uk-button-danger uk-button-small" href="#modal-notify-companies" uk-toggle>Notify Companies of Experience</a>

                        <a class="uk-button uk-button-danger uk-button-small" href="#modal-remove-school-event-{{ experience.id }}" uk-toggle>Delete</a>

                        <div id="modal-remove-school-event-{{ experience.id }}" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <h3>Delete Experience</h3>
                                <form class="uk-inline" method="post" action="{{ path('school_experience_remove', { "id": experience.id }) }}" >

                                    <label class="uk-form-label">Cancellation Message (this will be sent to all users currently registered to attend your experience):</label>
                                    <input type="hidden" name="schoolAdminId" value="{{ user.id }}">
                                    <textarea class="uk-textarea" name="cancellationMessage" style="width: 100%"></textarea>
                                    <p>
                                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                        <button class="uk-button uk-button-danger" type="submit">Remove</button>
                                    </p>
                                </form>
                            </div>
                        </div>

                        <div id="modal-notify-companies" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <form class="uk-inline" action="{{ path('school_notify_companies', { "id": experience.id }) }}" method="POST">
                                    <input type="hidden" name="schoolAdminId" value="{{ user.id }}">

                                    <label class="uk-form-label">Select companies to notify:</label>

                                    <div class="uk-form-controls">
                                        {% if companies.count > 0 %}
                                            {% for company in companies %}
                                                <label class="uk-form-label">
                                                    <input class="uk-checkbox" type="checkbox" name="companies[]" value="{{ company.id }}" />
                                                    {{ company.name }}
                                                </label>
                                                <br />
                                            {% endfor %}
                                        {% else %}
                                            No companies associated with school
                                        {% endif %}
                                    </div>

                                    <label class="uk-form-label">Add a message to send to selected companies:</label>

                                    <textarea class="uk-textarea" name="message" style="width: 100%"></textarea>

                                    <p>
                                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                        <button class="uk-button uk-button-primary" type="submit">Send</button>
                                    </p>
                                </form>
                            </div>
                        </div>


                        <div id="modal-notify-professionals" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <form class="uk-inline" action="{{ path('school_notify_professionals', { "id": experience.id }) }}" method="POST">
                                    <input type="hidden" name="schoolAdminId" value="{{ user.id }}">

                                    <div class="uk-form-controls">

                                        <label class="uk-form-label">Filter by industry:</label>

                                        <select class="uk-select" id="primaryIndustrySelect">
                                            <option value="">Select an Industry</option>
                                            {% for industry in primaryIndustries %}
                                                <option value="{{industry.id}}">{{industry.name}}</option>
                                            {% endfor %}
                                        </select>

                                        <p></p>

                                        <select class="uk-select" id="secondaryIndustrySelect">
                                            <option value="">Select a Secondary Industry</option>
                                            {% for industry in secondaryIndustries %}
                                                <option value="{{industry.id}}" data-industry="{{industry.primaryIndustry.id}}">{{industry.name}}</option>
                                            {% endfor %}
                                        </select>

                                        <p></p>

                                        <label class="uk-form-label">Filter by company:</label>

                                        <select class="uk-select" id="companySelect">
                                            <option value="">Select a Company</option>
                                        </select>

                                        <p></p>

                                        {% if professionals.count > 0 %}
                                            <label class="uk-form-label">Select professionals to notify:</label>
                                            <div class="uk-column-1-2">
                                                {% for professional in professionals %}
                                                    {% set industryArray = [] %}
                                                    {% for industry in professional.secondaryIndustries %}
                                                        {% set industryArray = industryArray|merge([industry.id]) %}
                                                    {% endfor %}

                                                    <label class="uk-form-label professionalUserCheckbox" data-primary-industry="{{ professional.primaryIndustry.id }}" data-industries="{{ industryArray|json_encode() }}" data-company="{{ professional.company ? professional.company.name : '' }}" style="display:block">
                                                        <input class="uk-checkbox professionalUserCheckboxInput" type="checkbox" name="professionals[]" value="{{ professional.id }}" data-professional-name="{{ professional.firstName }} {{ professional.lastName }}" />
                                                        {{ professional.firstName }} {{ professional.lastName }}
                                                    </label>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            No professionals associated with school
                                        {% endif %}

                                        <br />
                                        <div id="selectedProfessionalsContainer" style="display:none">
                                            <label class="uk-form-label">Selected Professionals:</label>
                                            <ul id="selectedProfessionals"></ul>
                                        </div>
                                    </div>

                                    <label class="uk-form-label">Add a message to send to selected professionals:</label>

                                    <textarea class="uk-textarea" name="message" style="width: 100%"></textarea>

                                    <p>
                                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                        <button class="uk-button uk-button-primary" type="submit">Send</button>
                                    </p>
                                </form>
                            </div>
                        </div>

                    {% elseif user.isEducator and user.studentUsers|length > 0 %}
                        <a class="uk-button uk-button-primary uk-button-small" href="#modal-bulk-send-to-students" uk-toggle>Forward to your students</a>

                        <div id="modal-bulk-send-to-students" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                                <h3>Forward to your students</h3>
                                <form class="uk-inline" method="post" action="{{ path('school_experience_bulk_notify', {'id' : experience.id}) }}">

                                    <label class="uk-form-label">Select your students:</label>

                                    <div class="uk-form-controls">
                                        {% for studentUser in user.studentUsers %}
                                            <label class="uk-form-label">
                                                <input class="uk-checkbox" type="checkbox" name="students[]" value="{{ studentUser.id }}" />
                                                {{ studentUser.firstName }} {{ studentUser.lastName }}
                                            </label>
                                            <br />
                                        {% endfor %}
                                    </div>

                                    <label class="uk-form-label">Add a message to send to your students:</label>

                                    <textarea class="uk-textarea" name="message" style="width: 100%"></textarea>

                                    <p>
                                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                        <button class="uk-button uk-button-primary" type="submit">Send</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    {% endif %}

                  {#  {% if user.educator and user.school %}
                        <div class="event-users-notify uk-display-inline-block" data-url="{{ path('get_students') }}?school={{ user.school.id }}" data-title="Notify Students Of Experience" data-user="{{ encode_user(user) }}" data-experienceId="{{ experience.id }}"></div>
                    {% endif %}#}

                </div>
            </div>
        </div>


        <ul class="uk-tab" uk-switcher="connect: #tab-experience" uk-tab>
            <li class="uk-active"><a href="#experience-details">Experience</a></li>
            {% if user.isStudent %}
            {% else %}
                {% if experience.payment > 0 %}
                    <li><a href="#experience-payment">Payment Info</a></li>
                {% endif %}
            {% endif %}
            {% if experience.experienceFiles|length %}
                <li><a href="#experience-attachments">Experience Documents</a></li>
            {% endif %}
            {% if user.isEducator or user.isSchoolAdministrator %}
                <li><a href="#experience-registrations">Registrations</a></li>
                {% if user.isEducator %}<li><a href="#available-students-to-register">Available Students To Register</a></li>{% endif %}
            {% endif %}
            <li><a href="#experience-contact">Contact</a></li>
        </ul>
        <div class="uk-switcher" id="tab-experience">
            <div class="experience_details">
                <table class="uk-table uk-table-justify uk-table-divider">
                    <tbody>
                        <tr>
                            <td>Title</td>
                            <td>{{ experience.title }}</td>
                        </tr>
                        <tr>
                            <td>School</td>
                            <td>{{ experience.school.name }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ experience.briefDescription }}</td>
                        </tr>
                        <tr>
                            <td>Student Available Spaces</td>
                            <td>{{ experience.availableStudentSpaces }}</td>
                        </tr>
                        <tr>
                            <td>Professional Available Spaces</td>
                            <td>{{ experience.availableProfessionalSpaces }}</td>
                        </tr>
                        <tr>
                            <td>Start Time</td>
                            <td>{{ experience.startDateAndTime|date("F jS \\a\\t g:ia") }}</td>
                        </tr>
                        <tr>
                            <td>End Time</td>
                            <td>{{ experience.endDateAndTime|date("F jS \\a\\t g:ia") }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if experience.payment > 0 %}
                <div class="experience_payment">
                    <table class="uk-table uk-table-justify uk-table-divider">
                        <tbody>
                        <tr>
                            <td>Payment Amount</td>
                            <td>{{ experience.payment }}</td>
                        </tr>
                        <tr>
                            <td>Payment is Per</td>
                            <td>{{ experience.paymentShownIsPer }}</td>
                        </tr>
                        <tr>
                            <td>Available Spaces</td>
                            <td>{{ experience.availableSpaces }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if experience.experienceFiles|length %}
                <div class="experience_attachments">
                    <dl class="uk-description-list uk-description-list-divider">
                        {% for experienceResource in experience.experienceFiles %}
                            <div class="uk-grid uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <dt>{{ experienceResource.title }}</dt>
                                    <dd>{{ experienceResource.description }}</dd>
                                </div>
                                <div class="uk-width-auto">
                                    <a href="{{ asset(uploaded_asset(experienceResource.path)) }}" class="uk-button uk-button-default uk-button-small" target="_blank">View</a>
                                </div>
                            </div>
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}
            <div class="experience_registrations">
                <h3>Students</h3>
                <div class="uk-width-1">
                    {% for request in experience.userRegisterForSchoolExperienceRequests %}
                    {% set showPendingRegisterButton = true %}
                        {% if request.user.student %}
                            {% if request.approved %}
                                Approved
                                {% set showPendingRegisterButton = false %}
                            {% elseif request.denied %}
                                Denied
                                {% set showPendingRegisterButton = false %}
                            {% else %}
                                Pending
                                {% set showPendingRegisterButton = false %}
                            {% endif %}

                            <div class="uk-grid uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <dt>{{ request.user.firstName }} {{ request.user.lastName }}</dt>
                                </div>
                                <div class="uk-width-auto">
                                    {% if is_granted('view', request.user) %}
                                            <a href="{{ path('profile_index', { "id": request.user.id }) }}" class="uk-button uk-button-default uk-button-small">View</a>
                                    {% endif %}

                                    {% if showPendingRegisterButton == false %}
                                        {% if is_granted('edit', request.user) %}
                                                <form class="uk-inline" method="post" action="{{ path('school_experience_deregister', {'id' : experience.id}) }}">
                                                    <input type="hidden" name="userId" value="{{ request.user.id }}">
                                                    <button class="uk-button uk-button-danger uk-button-small disabled" type="submit">Cancel Registration</button>
                                                </form>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>

                <h3>Professionals</h3>
                <div class="uk-width-1">
                    {% for request in experience.userRegisterForSchoolExperienceRequests %}
                        {% if request.user.professional %}

                            {% if request.approved %}
                                Approved
                                {% set showPendingRegisterButton = false %}
                            {% elseif request.denied %}
                                Denied
                                {% set showPendingRegisterButton = false %}
                            {% else %}
                                Pending
                                {% set showPendingRegisterButton = false %}
                            {% endif %}



                            <div class="uk-grid uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <dt>{{ request.user.firstName }} {{ request.user.lastName }}</dt>
                                </div>
                                <div class="uk-width-auto">
                                    <a href="{{ path('profile_index', { "id": request.user.id }) }}" class="uk-button uk-button-default uk-button-small">View</a>

                                    {% if showPendingRegisterButton == false %}
                                        {% if is_granted('edit', request.user) and request.schoolExperience.registered(request.user) %}
                                            <form class="uk-inline" method="post" action="{{ path('school_experience_deregister', {'id' : experience.id}) }}">
                                                <input type="hidden" name="userId" value="{{ request.user.id }}">
                                                <button class="uk-button uk-button-danger uk-button-small disabled" type="submit">Cancel Registration</button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            {% if user.isEducator %}

            <div class="available_students_to_register">
                <h3>Students</h3>
                <div class="uk-width-xlarge">

                    {% if user.studentUsers|length > 0 %}
                        <table class="uk-table uk-table-justify uk-table-divider">
                            <tbody>
                            <tr>
                                <th>Student</th>
                                <th>
                                    Status
                                </th>
                            </tr>
                            {% for studentUser in user.studentUsers %}
                                <tr>
                                    <td>{{ studentUser.fullName }}</td>
                                    <td>
                                        {% set showPendingRegisterButton = true %}
                                        {% for request in experience.userRegisterForSchoolExperienceRequests %}
                                            {% if request.user %}
                                            {% if request.user.id == studentUser.id %}
                                                {% if request.approved %}
                                                    Approved
                                                    {% set showPendingRegisterButton = false %}
                                                {% elseif request.denied %}
                                                    Denied
                                                    {% set showPendingRegisterButton = false %}
                                                {% else %}
                                                    Pending
                                                    {% set showPendingRegisterButton = false %}
                                                {% endif %}
                                            {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if showPendingRegisterButton == true %}
                                            <form class="uk-inline" action="{{ path('school_experience_register', { "id": experience.id }) }}" method="POST">
                                                <input type="hidden" name="userId" value="{{ studentUser.id }}">
                                                <button class="uk-button uk-button-primary uk-button-small uk-margin-small-right" type="submit">Register</button>
                                            </form>
                                        {% endif %}
                                        {% if showPendingRegisterButton == false %}
                                            <form class="uk-inline" action="{{ path('school_experience_deregister', { "id": experience.id }) }}" method="POST">
                                                <input type="hidden" name="userId" value="{{ studentUser.id }}">
                                                <button class="uk-button uk-button-danger uk-button-small uk-margin-small-right" type="submit">Cancel</button>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>You have not added your students in your <a href="{{ path('profile_edit', {'id': user.id}) }}">profile</a> yet.</p>
                    {% endif %}
                </div>
            </div>

            {% endif %}


            <div class="experience_contact">
                <table class="uk-table uk-table-justify uk-table-divider">
                    <tbody>
                    <tr>
                        <td>Experience Coordinator</td>
                        <td>{{ experience.schoolContact.fullName }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{ experience.email }}">{{ experience.email }}</a></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            <p>
                                {{ experience.street }}<br />
                                {{ experience.city }} {{ experience.state.name }}, {{ experience.zipcode }}
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        var selectedProfessionals = [];
        var companies = [];

        $('.professionalUserCheckbox').each(function() {
            var company = $( this ).data('company');
            if (company && companies.indexOf(company) === -1) {
                companies.push(company);
                $('#companySelect').append('<option value="' + company + '">' + company + '</option>');
            }
        });


        $('#secondaryIndustrySelect').prop( 'disabled', true );

        $('#primaryIndustrySelect').on('change', function() {
            debugger;
            $('.professionalUserCheckbox').show();
            $('#secondaryIndustrySelect option[value=""]').prop( 'selected', true );
            $('#companySelect option[value=""]').prop( 'selected', true );
            var industry = $('#primaryIndustrySelect').val();
            if (industry) {
                debugger;
                $('#secondaryIndustrySelect').prop( 'disabled', false );

                $('#secondaryIndustrySelect option').hide();
                $('#secondaryIndustrySelect option[data-industry="' + industry +'"]').show();

                debugger;

                $('.professionalUserCheckbox').hide();

                $('.professionalUserCheckbox').each(function(index) {

                    var primaryIndustry = $( this ).data('primary-industry');
                    debugger;

                    if(industry == primaryIndustry) {
                        debugger;
                        $( this ).show();
                    }
                });



            } else {
                $('#secondaryIndustrySelect').prop( 'disabled', true );
            }
        });

        $('#secondaryIndustrySelect').on('change', function() {
            debugger;
            $('.professionalUserCheckbox').show();
            var secondaryIndustry = parseInt($('#secondaryIndustrySelect').val());
            if (secondaryIndustry) {
                $('.professionalUserCheckbox').hide();

                $('.professionalUserCheckbox').each(function(index) {
                    debugger;
                    var myIndustries = $( this ).data('industries');
                    if (myIndustries.indexOf(secondaryIndustry) > -1) {
                        $( this ).show();
                    }
                });
            } else {
            }
        });

        $('#companySelect').on('change', function() {
            $('#primaryIndustrySelect option[value=""]').prop( 'selected', true );
            $('#secondaryIndustrySelect option[value=""]').prop( 'selected', true );
            var company = $('#companySelect').val();
            $('.professionalUserCheckbox').hide();
            if (company) {
                $('.professionalUserCheckbox').each(function(index) {
                    var myCompany = $( this ).data('company');
                    if (myCompany === company) {
                        $( this ).show();
                    }
                });
            }
        });

        $('.professionalUserCheckboxInput').on('change', function() {
            var name = $( this ).data('professional-name');
            if ($( this ).prop('checked')) {
                selectedProfessionals.push(name);
            } else {
                var index = selectedProfessionals.indexOf(name);
                if (index !== -1) {
                    selectedProfessionals.splice(index, 1);
                }
            }

            if (selectedProfessionals.length > 0) {
                $('#selectedProfessionalsContainer').show();
            } else {
                $('#selectedProfessionalsContainer').hide();
            }

            $('#selectedProfessionals').empty();

            $.each(selectedProfessionals, function(index, value){
                $('#selectedProfessionals').append('<li>' + value + '</li>');
            });
        });

    </script>

    <script>

        function fallbackCopyTextToClipboard(text) {
            var textArea = document.createElement("textarea");
            textArea.value = text;

            // Avoid scrolling to bottom
            textArea.style.top = "0";
            textArea.style.left = "0";
            textArea.style.position = "fixed";

            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                console.log('Fallback: Copying text command was ' + msg);
            } catch (err) {
                console.error('Fallback: Oops, unable to copy', err);
            }

            document.body.removeChild(textArea);
        }
        function copyTextToClipboard(text) {
            if (!navigator.clipboard) {
                fallbackCopyTextToClipboard(text);
                return;
            }
            navigator.clipboard.writeText(text).then(function() {
                console.log('Async: Copying to clipboard was successful!');
            }, function(err) {
                console.error('Async: Could not copy text: ', err);
            });
        }


        function copyFeedbackUrl() {
            var feedbackUrl = document.getElementById("feedback-url");
            copyTextToClipboard(feedbackUrl.value);
            window.alert("Url " + feedbackUrl.value + " copied to clipboard.");
        }

    </script>

{% endblock %}
