{% include 'email/partial/emailHeader.html.twig' %}

<h2>Unread Messages</h2>
{% for chatMessage in chatMessages %}
    <h4>Total unread messages from: {{ chatMessage.first_name }} {{ chatMessage.last_name }}: {{ chatMessage.unread_messages }}</h4>
    {% for message in chatMessage.chat_messages %}
        <p>{{ message.sent_at }}</p>
        <p>{{ message.body }}</p>
    {% endfor %}
<hr>
{% endfor %}

{% include 'email/partial/emailFooter.html.twig' %}