{{ form_start(form, {attr: {'id': 'experience-form', 'novalidate' : 'novalidate'}}) }}

{% if form_errors(form) %}
    <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <div>{{ form_errors(form) }}</div>
    </div>
{% endif %}

<div class="uk-text-danger" style="float:right;">* indicates required</div>

<br>
<fieldset class="uk-fieldset uk-margin">

    <legend class="uk-legend">
        Basic Info
    </legend>

    <div class="uk-margin">
        <label>Experience Title<span class="uk-text-danger">*</span></label>
        {{ form_widget(form.title, {'attr': {'class': 'uk-input' ~ ( form_errors(form.title) ? ' uk-form-danger' : '' ) }}) }}
        {{ form_errors(form.title) }}
    </div>

    <div class="uk-margin">
        <label>Experience Description<span class="uk-text-danger">*</span></label>
        <div class="uk-text-meta">
            {% if experience.companyExperience %}
                Add more details to your event like your schedule, sponsors, or featured guests.
            {% elseif experience.schoolExperience %}
                Provide details about the event, and if required, how many professionals you
                need to volunteer.
            {% endif %}
        </div>

        {% if experience.companyExperience %}

            <div data-wysiwyg="[name='experience[about]']"
                 data-placeholder="What does it mean to be a volunteer EMT? What other areas of work will this help me to advance myself or help someone else? Learn about the wide range of careers in emergency medical services.

Many people start their career in EMS as a volunteer and then go on to become fire paramedics, flight paramedics, nurses and even doctors. Volunteer EMTs are always needed, no matter how big or small the city. Learn how you might be able to help your city and what it takes to become an EMT."

                 class="{{ ( form_errors(form.about) ? 'wysiwyg-error' : '' ) }}"></div>

        {% elseif experience.schoolExperience %}
            <div data-wysiwyg="[name='experience[about]']"
                 data-placeholder="We will hold mock job interviews for 11th and 12th grade students in the west gym. Get ready for the workforce by learning from local professionals about how to interview well and practice being interviewed yourself.

PROFESSIONALS - We need 5 executives with experience conducting job interviews to share their advice and conduct short mock interviews with groups of students."

                 class="{{ ( form_errors(form.about) ? 'wysiwyg-error' : '' ) }}"></div>
        {% endif %}

        <div style="display: none;">
            {{ form_widget(form.about) }}
        </div>
        {{ form_errors(form.about) }}
    </div>

    <div class="uk-margin">
        <label>Experience Type<span class="uk-text-danger">*</span></label>
        {{ form_widget(form.type, {'attr': {'class': 'uk-select' ~ ( form_errors(form.type) ? ' uk-form-danger' : '' ) }}) }}
        {{ form_errors(form.type) }}
    </div>

    {% if form.schoolContact is defined %}
        <div class="uk-margin">
            <label>Experience Organizer<span class="uk-text-danger">*</span></label>
            {{ form_widget(form.schoolContact, {'attr': {'class': 'uk-select' ~ ( form_errors(form.schoolContact) ? ' uk-form-danger' : '' ) }}) }}
            {{ form_errors(form.schoolContact) }}
        </div>
    {% endif %}

    {% if form.employeeContact is defined %}
        <div class="uk-margin">
            <label>Experience Organizer<span class="uk-text-danger">*</span></label>
            {{ form_widget(form.employeeContact, {'attr': {'class': 'uk-select' ~ ( form_errors(form.employeeContact) ? ' uk-form-danger' : '' ) }}) }}
            {{ form_errors(form.employeeContact) }}
        </div>
    {% endif %}

    <div class="uk-margin" style="position: relative">
        <label style="font-weight: bold">Tags</label>
        <div class="uk-text-meta">Improve discoverability of your event by adding tags relevant to
            the subject matter such as industry, career, or workplace skill. <br><span class="uk-text-primary"> Press enter to add a tag.</span>
        </div>
        {{ form_widget(form.tags, {'attr': {'class': 'tagify--outside' ~ ( form_errors(form.tags) ? ' uk-form-danger' : '' ) }}) }}

        {# {{ dump(form.tags.vars) }} #}

        <span class="js-tags-count"
              style="position: absolute; top: 120px">{{ experience.tags|length }}/10 tags.</span>
    </div>

</fieldset>

<hr>

<fieldset class="uk-fieldset uk-margin">

    <legend class="uk-legend">
        Location
    </legend>

    <div class="uk-text-meta">
        Help people in the area discover your event and let attendees know where to show up.
    </div>

    <div class="uk-margin">
        <label>Experience Address<span class="uk-text-danger">*</span></label>
        {{ form_widget(form.addressSearch, {'id': 'experienceAddressSearch', 'attr': {'autocomplete': 'off', 'readonly': 'readonly', 'class': 'uk-input' }}) }}
        <div class="clear"></div>
        {{ form_errors(form.addressSearch) }}
    </div>

    <div id="map" data-latitude="{{ experience.latitude }}" data-longitude="{{ experience.longitude }}"
         style="display:none; height: 200px; width: 500px"></div>

</fieldset>

<hr>

<fieldset class="uk-fieldset uk-margin">

    <legend class="uk-legend">
        Date and time
    </legend>

    <div class="uk-text-meta">
        Tell event-goers when your event starts and ends so they can make plans to attend.
    </div>

    <div class="uk-margin uk-grid">
        <div class="uk-width-2-5">
            <label>Start Date<span class="uk-text-danger">*</span></label>
            {{ form_widget(form.startDate, {'attr': {'class': 'uk-input' ~ ( form_errors(form.startDate) ? ' uk-form-danger' : '' ) }}) }}
            {{ form_errors(form.startDate) }}
        </div>

        <div class="uk-width-1-5">
            <label>Start Time<span class="uk-text-danger">*</span></label>
            {{ form_widget(form.startTime, {'attr': {'class': 'uk-select' ~ ( form_errors(form.startTime) ? ' uk-form-danger' : '' ) }}) }}
            {{ form_errors(form.startTime) }}
        </div>
    </div>

    <div class="uk-margin uk-grid">
        <div class="uk-width-2-5">
            <label>End Date<span class="uk-text-danger">*</span></label>
            {{ form_widget(form.endDate, {'attr': {'class': 'uk-input' ~ ( form_errors(form.endDate) ? ' uk-form-danger' : '' ) }}) }}
            {{ form_errors(form.endDate) }}
        </div>

        <div class="uk-width-1-5">
            <label>End Time<span class="uk-text-danger">*</span></label>
            {{ form_widget(form.endTime, {'attr': {'class': 'uk-select' ~ ( form_errors(form.endTime) ? ' uk-form-danger' : '' ) }}) }}
            {{ form_errors(form.endTime) }}
        </div>
    </div>

    <div class="uk-margin uk-grid">
        <div class="uk-width-2-5">
            <label>Timezone<span class="uk-text-danger">*</span></label>
            {{ form_widget(form.timezone, {'attr': {'class': 'uk-input' ~ ( form_errors(form.timezone) ? ' uk-form-danger' : '' ) }}) }}
            {{ form_errors(form.timezone) }}
        </div>
    </div>

</fieldset>

<div class="uk-margin">
    <button class="uk-button uk-button-primary">
        Save
    </button>
</div>

{{ form_end(form) }}