{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Professionals{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-1 uk-child-width-1-2@l" uk-grid>
            {% for pro in professionalUsers %}
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(pro, 'photo') is defined and pro.photo ) ? asset(uploaded_asset(pro.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                                </div>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">{{ pro.getFullName }}</h3>
                                    <p class="uk-text-meta uk-margin-remove-top">
                                        {{ pro.isProfessional ? "Professional" : '' }}
                                        {{ pro.isEducator ? "Educator" : '' }}
                                        {{ pro.isStudent ? "Student" : '' }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            {% if pro.isProfessional %}
                                {{ pro.briefBio|raw }}
                            {% endif %}
                            <div class="professional-links">
                                <a href="mailto:{{ pro.email }}" class="uk-icon-button uk-margin-small-right" uk-icon="mail"></a>
                                {% if pro.isProfessional and pro.getPhone %}
                                    <a href="tel:{{ pro.getPhone }}" class="uk-icon-button uk-margin-small-right" uk-icon="receiver"></a>
                                {% endif %}
                                {% if pro.isProfessional and pro.getLinkedinProfile %}
                                    <a href="{{ pro.getLinkedinProfile }}" class="uk-icon-button uk-margin-small-right" uk-icon="linkedin" target="_blank"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/professionals.js') }}"></script>
{% endblock %}

