{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Feedback{% endblock %}
{% block bodyClass %}page-feedback{% endblock %}

{% block body %}


    <div class="form-page">

        <div class="uk-container uk-container-small">

            <div class="required-text"><span class="uk-text-danger">*</span> indicates required</div>

            <div class="uk-section" uk-height-viewport>
                <div class="uk-width-1-1">
                    <div class="uk-container">
                        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                            <div class="uk-width-1-1@m">
                                <div class="uk-margin uk-margin-auto">

                                    {% set successMessage = '' %}
                                    {% for flashMessage in app.session.flashbag.get('success') %}
                                        {% set successMessage = flashMessage %}
                                        <div class="uk-alert-success uk-margin" uk-alert>
                                            <a class="uk-alert-close" uk-close></a>
                                            <p>{{ successMessage }}</p>
                                        </div>
                                        <br>
                                        <br>
                                    {% endfor %}

                                    {% set errorMessage = '' %}
                                    {% for flashMessage in app.session.flashbag.get('error') %}
                                        {% set errorMessage = flashMessage %}
                                        <div class="uk-alert-danger" uk-alert>
                                            <a class="uk-alert-close" uk-close></a>
                                            <p>{{ errorMessage }}</p>
                                        </div>
                                        <br>
                                        <br>
                                    {% endfor %}


                                    <div class="uk-grid header">
                                        <div class="uk-width-expand@m">
                                            <div class="uk-grid">
                                                <div class="uk-width-1-1">
                                                    <h1>Give Feedback</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>


                                    <fieldset class="uk-fieldset">
                                        <div class="uk-margin">
                                            <label for="{{ form.eventType.vars.id }}" class="required">What type of event are
                                                you giving feedback for?<span class="uk-text-danger">*</span></label>
                                            {{ form_widget(form.eventType, {'attr': {'class': 'uk-input' ~ ( form_errors(form.eventType) ? ' uk-form-danger' : '' ) }}) }}
                                            {{ form_errors(form.eventType) }}
                                        </div>
                                    </fieldset>

                                    {{ form_rest(form) }}

                                    {{ form_end(form) }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    {# <div class="uk-container">
        {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

        {% if form_errors(form) %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <div>{{ form_errors(form) }}</div>
            </div>
        {% endif %}

        <h1>Give Feedback</h1>
        <div class="uk-text-danger" style="float:right; margin-top: -50px">* indicates required</div>

        <fieldset class="uk-fieldset">

            <div class="uk-grid">

                <div class="uk-width-2-3">
                    <div class="uk-margin">
                        <label for="{{ form.eventType.vars.id }}" class="required">What type of event are you giving feedback for?<span class="uk-text-danger">*</span></label>
                        {{ form_widget(form.eventType, {'attr': {'class': 'uk-input' ~ ( form_errors(form.eventType) ? ' uk-form-danger' : '' ) }}) }}
                        {{ form_errors(form.eventType) }}
                    </div>
                </div>

            </div>
        </fieldset> #}


    {# <fieldset class="uk-padding" {% if experienceHasFeedback %}disabled="disabled"{% endif %}>

            {% if experienceHasFeedback %}
                <h3>Viewing your feedback for {{ experience.title }}</h3>
            {% else %}
                <h3>Giving feedback for {{ experience.title }}</h3>
            {% endif %}

            <div class="uk-width-xlarge">
                <div>
                    {{ form_label(form.feedback.rating, 'Rate your overall experience*') }}
                    {{ form_widget(form.feedback.rating, {'attr': {'class': 'uk-hidden' }}) }}
                    <div class="react-form-smile-rating" data-disabled="{{ experienceHasFeedback }}" data-name="generic_feedback_form[feedback][rating]" data-value="{{ feedback.rating }}"></div>
                    {% if form_errors(form.feedback.rating) %}
                        <div class="uk-form-danger">
                            {{ form_errors(form.feedback.rating) }}
                        </div>
                    {% endif %}
                </div>
                <div class="uk-margin">
                    {{ form_widget(form.feedback.providedCareerInsight, {'attr': {'class': 'uk-hidden' }}) }}
                    {{ form_widget(form.feedback.wasEnjoyableAndEngaging, {'attr': {'class': 'uk-hidden' }}) }}
                    {{ form_widget(form.feedback.learnSomethingNew, {'attr': {'class': 'uk-hidden' }}) }}

                    <label>Choose all that apply</label>
                    <div class="react-form-choose-all-that-apply" data-disabled="{{ experienceHasFeedback }}" data-fields='[
                        { "name": "generic_feedback_form[feedback][providedCareerInsight]", "label": "Provided Career Insight", "value": "{{ feedback.providedCareerInsight ? feedback.providedCareerInsight : false }}", "activeImage": "{{ asset('build/images/insight-active.png') }}", "image": "{{ asset('build/images/insight-inactive.png') }}" },
                        { "name": "generic_feedback_form[feedback][wasEnjoyableAndEngaging]", "label": "Enjoyable and Engaging", "value": "{{ feedback.wasEnjoyableAndEngaging ? feedback.wasEnjoyableAndEngaging : false }}", "activeImage": "{{ asset('build/images/engaging-active.png') }}", "image": "{{ asset('build/images/engaging-inactive.png') }}" },
                        { "name": "generic_feedback_form[feedback][learnSomethingNew]", "label": "Learned Something New", "value": "{{ feedback.learnSomethingNew ? feedback.learnSomethingNew : false }}", "activeImage": "{{ asset('build/images/learn-active.png') }}", "image": "{{ asset('build/images/learn-inactive.png') }}" }
                    ]'></div>
                </div>
                <div class="uk-margin">
                    {{ form_label(form.feedback.likelihoodToRecommendToFriend, 'How likely are you to recommend this guest instructor to a fellow teacher*') }}
                    {{ form_widget(form.feedback.likelihoodToRecommendToFriend, {'attr': {'class': '' ~ ( form_errors(form.feedback.likelihoodToRecommendToFriend) ? ' uk-form-danger' : '' ) }}) }}
                    <div class="react-form-range" data-name="generic_feedback_form[feedback][likelihoodToRecommendToFriend]" data-value="{{ feedback.likelihoodToRecommendToFriend }}" data-disabled="{{ experienceHasFeedback }}"></div>
                    {{ form_errors(form.feedback.likelihoodToRecommendToFriend) }}
                </div>
                <div class="uk-margin">
                    {{ form_label(form.feedback.additionalFeedback, 'Any specific thoughts, feedback, teaching tips to improve?') }}
                    {{ form_widget(form.feedback.additionalFeedback, {'attr': {'class': 'uk-textarea' ~ ( form_errors(form.feedback.additionalFeedback) ? ' uk-form-danger' : '' ) }}) }}
                    {{ form_errors(form.feedback.additionalFeedback) }}
                </div>
            </div>

            <div class="uk-margin">
                <button class="uk-button uk-button-primary uk-button-small">Submit</button>
            </div>
        </fieldset> #}

    {{ form_end(form) }}

    </div>

{% endblock %}
