{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Feedback{% endblock %}
{% block bodyClass %}page-feedback{% endblock %}

{% block body %}

    <div class="uk-container js-form">

        {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

        {% if form_errors(form) %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <div>{{ form_errors(form) }}</div>
            </div>
        {% endif %}

        <fieldset {% if experienceHasFeedback %}disabled="disabled"{% endif %}>

            {% if experienceHasFeedback %}
                <h3>Viewing your feedback for {{ experience.title }}</h3>
            {% else %}
                <h3>Giving feedback for {{ experience.title }}</h3>
            {% endif %}

            <div class="uk-width-xlarge">
                <div>
                    {{ form_label(form.feedback.rating, 'Rate your overall experience*') }}
                    {{ form_widget(form.feedback.rating, {'attr': {'class': '' ~ ( form_errors(form.feedback.rating) ? ' uk-form-danger' : '' ) }}) }}
                    {{ form_errors(form.feedback.rating) }}
                </div>
                <div class="uk-margin">
                    {{ form_label(form.feedback.providedCareerInsight, 'Did the experience provide career insights*') }}
                    {{ form_widget(form.feedback.providedCareerInsight, {'attr': {'class': '' ~ ( form_errors(form.feedback.providedCareerInsight) ? ' uk-form-danger' : '' ) }}) }}
                    {{ form_errors(form.feedback.providedCareerInsight) }}
                </div>
                <div class="uk-margin">
                    {{ form_label(form.feedback.wasEnjoyableAndEngaging, 'Was the experience enjoyable and engaging*') }}
                    {{ form_widget(form.feedback.wasEnjoyableAndEngaging, {'attr': {'class': '' ~ ( form_errors(form.feedback.wasEnjoyableAndEngaging) ? ' uk-form-danger' : '' ) }}) }}
                    {{ form_errors(form.feedback.wasEnjoyableAndEngaging) }}
                </div>
                <div class="uk-margin">
                    {{ form_label(form.feedback.learnSomethingNew, 'Did you learn something new*') }}
                    {{ form_widget(form.feedback.learnSomethingNew, {'attr': {'class': '' ~ ( form_errors(form.feedback.learnSomethingNew) ? ' uk-form-danger' : '' ) }}) }}
                    {{ form_errors(form.feedback.learnSomethingNew) }}
                </div>
                <div class="uk-margin">
                    {{ form_label(form.interestInWorkingForCompany, 'After this experience, my interest in working for this company or industry is*') }}
                    {{ form_widget(form.interestInWorkingForCompany, {'attr': {'class': '' ~ ( form_errors(form.interestInWorkingForCompany) ? ' uk-form-danger' : '' ) }}) }}
                    {{ form_errors(form.interestInWorkingForCompany) }}
                </div>
                <div class="uk-margin">
                    {{ form_label(form.feedback.likelihoodToRecommendToFriend, 'How likely are you to recommend this experience to a friend*') }}
                    {{ form_widget(form.feedback.likelihoodToRecommendToFriend, {'attr': {'class': '' ~ ( form_errors(form.feedback.likelihoodToRecommendToFriend) ? ' uk-form-danger' : '' ) }}) }}
                    {{ form_errors(form.feedback.likelihoodToRecommendToFriend) }}
                </div>
                <div class="uk-margin">
                    {{ form_label(form.feedback.additionalFeedback, 'Additional Feedback (Optional)') }}
                    {{ form_widget(form.feedback.additionalFeedback, {'attr': {'class': 'uk-textarea' ~ ( form_errors(form.feedback.additionalFeedback) ? ' uk-form-danger' : '' ) }}) }}
                    {{ form_errors(form.feedback.additionalFeedback) }}
                </div>
            </div>

            <div class="uk-margin">
                <button class="uk-button uk-button-primary uk-button-small">Submit</button>
            </div>

        </fieldset>

        {{ form_end(form) }}

    </div>

{% endblock %}
