{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Feedback{% endblock %}
{% block bodyClass %}page-feedback{% endblock %}

{% block body %}

    <div class="uk-container js-form">
        {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

        {% if form_errors(form) %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <div>{{ form_errors(form) }}</div>
            </div>
        {% endif %}

        <fieldset class="uk-padding" {% if experienceHasFeedback %}disabled="disabled"{% endif %}>

            {% if experienceHasFeedback %}
                <h3>Viewing your feedback for {{ experience.title }} on {{ experience.startDateAndTime|date("m/d/Y") }} </h3>
                <p>Your responses are now locked.  This is for viewing only.</p>
            {% else %}
                <h3>Giving feedback for {{ experience.title }} on {{ experience.startDateAndTime|date("m/d/Y") }}</h3>
            {% endif %}

            <div class="uk-width-xlarge">
                <div>
                    {{ form_label(form.feedback.rating, 'Rate your overall experience*') }}
                    {{ form_widget(form.feedback.rating, {'attr': {'class': 'uk-hidden' }}) }}
                    <div class="react-form-smile-rating" data-disabled="{{ experienceHasFeedback }}" data-name="student_review_school_experience_feedback_form[feedback][rating]" data-value="{{ feedback.rating }}"></div>
                    {% if form_errors(form.feedback.rating) %}
                        <div class="uk-form-danger">
                            {{ form_errors(form.feedback.rating) }}
                        </div>
                    {% endif %}
                </div>
                <div class="uk-margin">
                    {{ form_widget(form.feedback.providedCareerInsight, {'attr': {'class': 'uk-hidden' }}) }}
                    {{ form_widget(form.feedback.wasEnjoyableAndEngaging, {'attr': {'class': 'uk-hidden' }}) }}
                    {{ form_widget(form.feedback.learnSomethingNew, {'attr': {'class': 'uk-hidden' }}) }}

                    <label>Choose all that apply</label>
                    <div class="react-form-choose-all-that-apply" data-disabled="{{ experienceHasFeedback }}" data-fields='[
                        { "name": "student_review_school_experience_feedback_form[feedback][providedCareerInsight]", "label": "Provided Career Insights", "value": "{{ feedback.providedCareerInsight ? feedback.providedCareerInsight : false }}", "activeImage": "{{ asset('build/images/insight-active.png') }}", "image": "{{ asset('build/images/insight-inactive.png') }}" },
                        { "name": "student_review_school_experience_feedback_form[feedback][wasEnjoyableAndEngaging]", "label": "Enjoyable and Engaging", "value": "{{ feedback.wasEnjoyableAndEngaging ? feedback.wasEnjoyableAndEngaging : false }}", "activeImage": "{{ asset('build/images/engaging-active.png') }}", "image": "{{ asset('build/images/engaging-inactive.png') }}" },
                        { "name": "student_review_school_experience_feedback_form[feedback][learnSomethingNew]", "label": "Learned Something New", "value": "{{ feedback.learnSomethingNew ? feedback.learnSomethingNew : false }}", "activeImage": "{{ asset('build/images/learn-active.png') }}", "image": "{{ asset('build/images/learn-inactive.png') }}" }
                    ]'></div>
                </div>
                
                <div class="uk-margin">
                    {{ form_label(form.feedback.likelihoodToRecommendToFriend, 'How likely are you to recommend this school experience to a fellow student*') }}
                    {{ form_widget(form.feedback.likelihoodToRecommendToFriend, {'attr': {'class': '' ~ ( form_errors(form.feedback.likelihoodToRecommendToFriend) ? ' uk-form-danger' : '' ) }}) }}
                    <div class="react-form-range" data-name="student_review_school_experience_feedback_form[feedback][likelihoodToRecommendToFriend]" data-value="{{ feedback.likelihoodToRecommendToFriend }}" data-disabled="{{ experienceHasFeedback }}"></div>
                    {{ form_errors(form.feedback.likelihoodToRecommendToFriend) }}
                </div>
                <div class="uk-margin">
                    {{ form_label(form.feedback.additionalFeedback, 'Any specific thoughts, feedback to improve this experience? (Optional)') }}
                    {{ form_widget(form.feedback.additionalFeedback, {'attr': {'class': 'uk-textarea' ~ ( form_errors(form.feedback.additionalFeedback) ? ' uk-form-danger' : '' ) }}) }}
                    {{ form_errors(form.feedback.additionalFeedback) }}
                </div>
            </div>

            <div class="uk-margin">
                <button class="uk-button uk-button-primary uk-button-small">Submit</button>
            </div>

        </fieldset>

        {{ form_end(form) }}

    </div>

{% endblock %}
