{% extends 'baseAuthenticated.html.twig' %}

{% block title %}Feedback{% endblock %}
{% block bodyClass %}page-feedback{% endblock %}

{% block body %}

    <div class="uk-container">

        {% if successMessage %}
            <div class="uk-alert-success uk-margin" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>Feedback successfully submitted.</p>
            </div>
        {% endif %}

        {% if errorMessage %}
            <div class="uk-alert-error uk-margin" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ errorMessage }}</p>
            </div>
        {% endif %}

        {{ form_start(form, {attr: {'novalidate' : 'novalidate'}}) }}

        {% if form_errors(form) %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <div>{{ form_errors(form) }}</div>
            </div>
        {% endif %}

        <div class="uk-width-xlarge">
            <div>
                {{ form_label(form.feedback.rating, 'Rate your overall experience*') }}
                {{ form_widget(form.feedback.rating, {'attr': {'class': '' ~ ( form_errors(form.feedback.rating) ? ' uk-form-danger' : '' ) }}) }}
                {{ form_errors(form.feedback.rating) }}
            </div>
            <div class="uk-margin">
                {{ form_label(form.feedback.providedCareerInsight, 'Did the class provide career insights*') }}
                {{ form_widget(form.feedback.providedCareerInsight, {'attr': {'class': '' ~ ( form_errors(form.feedback.providedCareerInsight) ? ' uk-form-danger' : '' ) }}) }}
                {{ form_errors(form.feedback.providedCareerInsight) }}
            </div>
            <div class="uk-margin">
                {{ form_label(form.feedback.wasEnjoyableAndEngaging, 'Was the class enjoyable and engaging*') }}
                {{ form_widget(form.feedback.wasEnjoyableAndEngaging, {'attr': {'class': '' ~ ( form_errors(form.feedback.wasEnjoyableAndEngaging) ? ' uk-form-danger' : '' ) }}) }}
                {{ form_errors(form.feedback.wasEnjoyableAndEngaging) }}
            </div>
            <div class="uk-margin">
                {{ form_label(form.feedback.learnSomethingNew, 'Did you learn something new*') }}
                {{ form_widget(form.feedback.learnSomethingNew, {'attr': {'class': '' ~ ( form_errors(form.feedback.learnSomethingNew) ? ' uk-form-danger' : '' ) }}) }}
                {{ form_errors(form.feedback.learnSomethingNew) }}
            </div>
            <div class="uk-margin">
                {{ form_label(form.feedback.likelihoodToRecommendToFriend, 'How likely are you to recommend this guest instructor to a fellow teacher*') }}
                {{ form_widget(form.feedback.likelihoodToRecommendToFriend, {'attr': {'class': '' ~ ( form_errors(form.feedback.likelihoodToRecommendToFriend) ? ' uk-form-danger' : '' ) }}) }}
                {{ form_errors(form.feedback.likelihoodToRecommendToFriend) }}
            </div>
            <div class="uk-margin">
                {{ form_label(form.feedback.additionalFeedback, 'Additional Feedback (Optional)') }}
                {{ form_widget(form.feedback.additionalFeedback, {'attr': {'class': 'uk-textarea' ~ ( form_errors(form.feedback.additionalFeedback) ? ' uk-form-danger' : '' ) }}) }}
                {{ form_errors(form.feedback.additionalFeedback) }}
            </div>
        </div>

        <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-button-small">Submit</button>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
