{% extends 'baseAuthenticated.html.twig' %}

{% block title %}View Feedback{% endblock %}
{% block bodyClass %}page-view-feedback{% endblock %}

{% block body %}
    <div class="uk-container">
        <h2>Rate your overall experience</h2>
        {{ feedback.rating }}
        <h2>Did the class provide career insights</h2>
        {{ feedback.providedCareerInsight }}
        <h2>Was the class enjoyable and engaging</h2>
        {{ feedback.wasEnjoyableAndEngaging }}
        <h2>Did you learn something new</h2>
        {{ feedback.learnSomethingNew }}
        <h2>After this topic, my interest in working in this industry is</h2>
        {{ feedback.interestInWorkingInThisIndustry }}
        <h2>How likely are you to recommend this guest instructor to a friend</h2>
        {{ feedback.likelihoodToRecommendToFriend }}
        <h2>Additional Feedback (Optional)</h2>
        {{ feedback.additionalFeedback }}
    </div>
{% endblock %}