{% include 'email/partial/emailHeader.html.twig' %}

<p>You have <strong>{{ totalUnreadMessageCount['unread_messages'] }} unread messages</strong></p>
<hr style="margin-bottom: 25px;">

{% for unreadMessage in unreadMessageCountsForUser %}
    <div style="text-align: center; margin-bottom: 25px;">
        <p>{{ unreadMessage['unread_messages'] }} messages</p>
        <img class="uk-border-circle" width="40" height="40" src="{{ ( unreadMessage['user_sent_from_photo'] is not null ) ? asset(uploaded_asset('profile_photo/' ~ unreadMessage['user_sent_from_photo']))|imagine_filter('squared_thumbnail_small') : baseUrl ~ asset('build/images/avatar.png') }}"><br>
        <p><strong>{{ unreadMessage['user_sent_from_first_name'] }} {{ unreadMessage['user_sent_from_last_name'] }}</strong></p>
    </div>
{% endfor %}

<div>
    <a style="height: 40px; line-height: 40px; text-align: center; background-color: #1e87f0; color: #FFF; padding: 5px; display: inline-block; width: 300px; text-decoration: none;" href="{{ url('dashboard') }}">View messages</a>
</div>

{% include 'email/partial/emailFooter.html.twig' %}
