{% include 'email/partial/emailHeader.html.twig' %}

<p>{{ user.firstName }}, welcome to {{ user.site.baseUrl }}!</p>

<p>You’ve been set up as an School Administrator for {{ user.site.name }}. As a
    School Administrator, you’ll be able to edit your school profile and more!</p>

<p>We can’t wait to get you started on this fun adventure!</p>

<p>Click the link below to setup your password, and you’ll be on your way!</p>

<p><a href="{{ passwordSetUrl }}"><strong>{{ passwordSetUrl }}</strong></a></p>

{% include 'email/partial/emailFooter.html.twig' %}