<div id="offcanvas-menu" uk-offcanvas>
    <div class="uk-offcanvas-bar ">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <h3>Pintex Solutions <sup>(BETA)</sup></h3>
{#        <form class="uk-search uk-search-default" method="GET" action="/search.php">#}
{#            <span uk-search-icon></span>#}
{#            <input class="uk-search-input" name="s" type="search" placeholder="Search...">#}
{#        </form>#}

        <hr />

        <ul class="uk-nav uk-nav-default">

            <li><a href="/">Home</a></li>
            <li><a href="{{ path('lesson_index') }}">Lessons</a></li>
{#            <li><a href="#">Schools</a></li>#}
            <li><a href="{{ path('company_index') }}">Companies</a></li>
            <li><a href="{{ path('professional_index') }}">Professionals</a></li>
{#            <li><a href="#">My Library</a></li>#}
            <li><a href="{{ path('requests') }}">Requests</a></li>
{#            <li><a href="#">Advanced Search</a></li>#}

            <li class="uk-nav-divider"></li>

            <li class="uk-nav-header">Account</li>
            <li><a href="{{ path('profile_edit', {'id': user.id}) }}"><span class="uk-margin-small-right" uk-icon="icon: user"></span> My Account</a></li>
            <li><a href="{{ path('app_logout') }}"><span class="uk-margin-small-right" uk-icon="icon: forward"></span> Logout</a></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: question"></span> Need Help?</a></li>
        </ul>
    </div>
</div>

<div class="main-navigation uk-background-muted">
    <div class="uk-container">
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-width-1-1 uk-width-1-2@m">
                <div class="nav-overlay uk-navbar-left">
                    <span uk-icon="icon: menu; ratio: 1.5" uk-toggle="target: #offcanvas-menu"></span>
                    <a class="uk-navbar-item uk-logo" href="/">Pintex Solutions <sup>(BETA)</sup></a>
                </div>
            </div>
            <div class="uk-width-1-1 uk-width-1-2@m uk-visible@m uk-flex uk-flex-right uk-flex-middle">
                <div>
                    <div class="main-navigation__meta uk-inline">
                        <a href="{{ path('requests') }}" class="main-navigation__meta-requests">
{#                            <span class="main-navigation__meta-requests-num">2</span>#}
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </a>
                        <span class="main-navigation__meta-profile">
                            <img class="uk-border-circle" width="40" height="40" src="{{ ( attribute(user, 'photo') is defined and user.photo ) ? asset(uploaded_asset(user.photoPath))|imagine_filter('squared_thumbnail_small') : asset('build/images/avatar.png') }}">
                            <div uk-dropdown>
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="{{ path('profile_edit', {'id': user.id}) }}">My Account</a></li>
                                    <li><a href="{{ path('app_logout') }}">Logout</a></li>
                                </ul>
                            </div>
                        </span>
                    </div>
                    <form class="main-navigation__search uk-search uk-search-default">
                        <span uk-search-icon></span>
                        <input class="uk-search-input" type="search" placeholder="Search...">
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="knowledge-base uk-flex uk-flex-middle uk-flex-center">
    <i class="fa fa-question" aria-hidden="true"></i>
</div>